In [25]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import geopy.distance as geodis

In [4]:
path = "E:/tableau_data/"
local_path = './data/'
bike_file = "2019-citi-data.csv"
bike_file_with_date = "2019-citi-data_with_date.csv"
weather_file = "NYC_weather_data_2019.csv"
weather_bike_file = '2019_citi_data_weather.csv'
bike_station_id_2019 = 'bike_station_id_name_index_2019.csv'
bike_station_id_2020 = 'bike_station_id_name_index_2020.csv'
trip_count_average_duration_distance = 'average_trip_duration_count_distance_2019.csv'
unique_trips_distance = 'unique_trips_distance_2019.csv'
daily_trips_duration_count = 'daily_trips_duration_count_2019.csv'

In [5]:
bike_df = pd.read_csv(path+bike_file)

In [6]:
weather_df = pd.read_csv(path + weather_file)

In [7]:
bike_df

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20551692,2019-12-31 23:58:18.0160,2019-12-31 23:59:51.6360,3141.0,1 Ave & E 68 St,40.765005,-73.958185,3142.0,1 Ave & E 62 St,40.761227,-73.960940,28734,Subscriber,1985,2
20551693,2019-12-31 23:58:59.8960,2020-01-01 00:12:06.3460,490.0,8 Ave & W 33 St,40.751551,-73.993934,513.0,W 56 St & 10 Ave,40.768254,-73.988639,41418,Subscriber,1991,1
20551694,2019-12-31 23:59:03.6950,2020-01-01 00:04:54.8730,3349.0,Grand Army Plaza & Plaza St West,40.672968,-73.970880,3368.0,5 Ave & 3 St,40.672816,-73.983524,27746,Subscriber,1935,2
20551695,2019-12-31 23:59:21.3610,2020-01-01 00:25:32.9420,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,28506,Subscriber,1980,1
20551696,2019-12-31 23:59:55.2960,2020-01-01 00:05:05.7270,3351.0,E 102 St & 1 Ave,40.786995,-73.941648,3379.0,E 103 St & Lexington Ave,40.790305,-73.947558,21013,Subscriber,1969,0

In [8]:
bike_df['starttime'] = pd.to_datetime(bike_df['starttime'])
bike_df['stoptime'] = pd.to_datetime(bike_df['stoptime'])

In [9]:
bike_df['date'] = bike_df['starttime'].dt.date

In [10]:
bike_df['duration(hr)'] = (bike_df['stoptime'] - bike_df['starttime']).dt.seconds / 3600

In [11]:
bike_df['date']

0           2019-01-01
1           2019-01-01
2           2019-01-01
3           2019-01-01
4           2019-01-01
               ...
20551692    2019-12-31
20551693    2019-12-31
20551694    2019-12-31
20551695    2019-12-31
20551696    2019-12-31
Name: date, Length: 20551697, dtype: object

In [12]:
bike_df.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date,duration(hr)
0,2019-01-01 00:01:47.401,2019-01-01 00:07:07.581,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1,2019-01-01,0.088889
1,2019-01-01 00:04:43.736,2019-01-01 00:10:00.608,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1,2019-01-01,0.087778
2,2019-01-01 00:06:03.997,2019-01-01 00:15:55.438,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1,2019-01-01,0.164167
3,2019-01-01 00:07:03.545,2019-01-01 00:52:22.650,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1,2019-01-01,0.755278
4,2019-01-01 00:07:35.945,2019-01-01 00:12:39.502,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1,2019-01-01,0.084167

In [13]:
bike_df['start station id'].dtypes

dtype('float64')

In [14]:
#there are some station ids that are not numbers.  Need to fix.
bike_df['start station id'].fillna(0, inplace = True)
bike_df['end station id'].fillna(0, inplace = True)

In [15]:
bike_df['end station id'].isna()

0           False
1           False
2           False
3           False
4           False
            ...
20551692    False
20551693    False
20551694    False
20551695    False
20551696    False
Name: end station id, Length: 20551697, dtype: bool

In [16]:
#check that there are no more na
k = 0
for row in bike_df['end station id']:
    k=k+1
    if pd.isna(row):
        print(k,row)

In [17]:
#convert to int
bike_df['start station id'] = bike_df['start station id'].astype(int)

In [18]:
#convert to int
bike_df['end station id'] = bike_df['end station id'].astype(int)

In [19]:
bike_df

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date,duration(hr)
0,2019-01-01 00:01:47.401,2019-01-01 00:07:07.581,3160,Central Park West & W 76 St,40.778968,-73.973747,3283,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1,2019-01-01,0.088889
1,2019-01-01 00:04:43.736,2019-01-01 00:10:00.608,519,Pershing Square North,40.751873,-73.977706,518,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1,2019-01-01,0.087778
2,2019-01-01 00:06:03.997,2019-01-01 00:15:55.438,3171,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1,2019-01-01,0.164167
3,2019-01-01 00:07:03.545,2019-01-01 00:52:22.650,504,1 Ave & E 16 St,40.732219,-73.981656,3709,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1,2019-01-01,0.755278
4,2019-01-01 00:07:35.945,2019-01-01 00:12:39.502,229,Great Jones St,40.727434,-73.993790,503,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1,2019-01-01,0.084167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20551692,2019-12-31 23:58:18.016,2019-12-31 23:59:51.636,3141,1 Ave & E 68 St,40.765005,-73.958185,3142,1 Ave & E 62 St,40.761227,-73.960940,28734,Subscriber,1985,2,2019-12-31,0.025833
20551693,2019-12-31 23:58:59.896,2020-01-01 00:12:06.346,490,8 Ave & W 33 St,40.751551,-73.993934,513,W 56 St & 10 Ave,40.768254,-73.988639,41418,Subscriber,1991,1,2019-12-31,0.218333
20551694,2019-12-31 23:59:03.695,2020-01-01 00:04:54.873,3349,Grand Army Plaza & Plaza St West,40.672968,-73.970880,3368,5 Ave & 3 St,40.672816,-73.983524,27746,Subscriber,1935,2,2019-12-31,0.097500
20551695,2019-12-31 23:59:21.361,2020-01-01 00:25:32.942,252,MacDougal St & Washington Sq,40.732264,-73.998522,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,28506,Subscriber,1980,1,2019-12-31,0.436389
20551696,2019-12-31 23:59:55.296,2020-01-01 00:05:05.727,3351,E 102 St & 1 Ave,40.786995,-73.941648,3379,E 103 St & Lexington Ave,40.790305,-73.947558,21013,Subscriber,1969,0,2019-12-31,0.086111

In [20]:
bike_df['usertype'].unique()

array(['Subscriber', 'Customer'], dtype=object)

In [23]:
bike_df

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date,duration(hr)
0,2019-01-01 00:01:47.401,2019-01-01 00:07:07.581,3160,Central Park West & W 76 St,40.778968,-73.973747,3283,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1,2019-01-01,0.088889
1,2019-01-01 00:04:43.736,2019-01-01 00:10:00.608,519,Pershing Square North,40.751873,-73.977706,518,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1,2019-01-01,0.087778
2,2019-01-01 00:06:03.997,2019-01-01 00:15:55.438,3171,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1,2019-01-01,0.164167
3,2019-01-01 00:07:03.545,2019-01-01 00:52:22.650,504,1 Ave & E 16 St,40.732219,-73.981656,3709,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1,2019-01-01,0.755278
4,2019-01-01 00:07:35.945,2019-01-01 00:12:39.502,229,Great Jones St,40.727434,-73.993790,503,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1,2019-01-01,0.084167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20551692,2019-12-31 23:58:18.016,2019-12-31 23:59:51.636,3141,1 Ave & E 68 St,40.765005,-73.958185,3142,1 Ave & E 62 St,40.761227,-73.960940,28734,Subscriber,1985,2,2019-12-31,0.025833
20551693,2019-12-31 23:58:59.896,2020-01-01 00:12:06.346,490,8 Ave & W 33 St,40.751551,-73.993934,513,W 56 St & 10 Ave,40.768254,-73.988639,41418,Subscriber,1991,1,2019-12-31,0.218333
20551694,2019-12-31 23:59:03.695,2020-01-01 00:04:54.873,3349,Grand Army Plaza & Plaza St West,40.672968,-73.970880,3368,5 Ave & 3 St,40.672816,-73.983524,27746,Subscriber,1935,2,2019-12-31,0.097500
20551695,2019-12-31 23:59:21.361,2020-01-01 00:25:32.942,252,MacDougal St & Washington Sq,40.732264,-73.998522,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,28506,Subscriber,1980,1,2019-12-31,0.436389
20551696,2019-12-31 23:59:55.296,2020-01-01 00:05:05.727,3351,E 102 St & 1 Ave,40.786995,-73.941648,3379,E 103 St & Lexington Ave,40.790305,-73.947558,21013,Subscriber,1969,0,2019-12-31,0.086111

In [41]:
bike_df['subscriber'] = 0
bike_df['customer'] = 0
bike_df['male'] = 0
bike_df['female'] = 0

In [74]:
bike_df

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,...,birth year,gender,date,duration(hr),subscriber,customer,male,female,"(0, subscriber)","(0, customer)"
0,2019-01-01 00:01:47.401,2019-01-01 00:07:07.581,3160,Central Park West & W 76 St,40.778968,-73.973747,3283,W 89 St & Columbus Ave,40.788221,-73.970416,...,1971,1,2019-01-01,0.088889,1,0,1,0,1,0
1,2019-01-01 00:04:43.736,2019-01-01 00:10:00.608,519,Pershing Square North,40.751873,-73.977706,518,E 39 St & 2 Ave,40.747804,-73.973442,...,1964,1,2019-01-01,0.087778,1,0,1,0,1,0
2,2019-01-01 00:06:03.997,2019-01-01 00:15:55.438,3171,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154,E 77 St & 3 Ave,40.773142,-73.958562,...,1987,1,2019-01-01,0.164167,1,0,1,0,1,0
3,2019-01-01 00:07:03.545,2019-01-01 00:52:22.650,504,1 Ave & E 16 St,40.732219,-73.981656,3709,W 15 St & 6 Ave,40.738046,-73.996430,...,1990,1,2019-01-01,0.755278,1,0,1,0,1,0
4,2019-01-01 00:07:35.945,2019-01-01 00:12:39.502,229,Great Jones St,40.727434,-73.993790,503,E 20 St & Park Ave,40.738274,-73.987520,...,1979,1,2019-01-01,0.084167,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20551692,2019-12-31 23:58:18.016,2019-12-31 23:59:51.636,3141,1 Ave & E 68 St,40.765005,-73.958185,3142,1 Ave & E 62 St,40.761227,-73.960940,...,1985,2,2019-12-31,0.025833,0,0,0,0,1,0
20551693,2019-12-31 23:58:59.896,2020-01-01 00:12:06.346,490,8 Ave & W 33 St,40.751551,-73.993934,513,W 56 St & 10 Ave,40.768254,-73.988639,...,1991,1,2019-12-31,0.218333,0,0,0,0,1,0
20551694,2019-12-31 23:59:03.695,2020-01-01 00:04:54.873,3349,Grand Army Plaza & Plaza St West,40.672968,-73.970880,3368,5 Ave & 3 St,40.672816,-73.983524,...,1935,2,2019-12-31,0.097500,0,0,0,0,1,0
20551695,2019-12-31 23:59:21.361,2020-01-01 00:25:32.942,252,MacDougal St & Washington Sq,40.732264,-73.998522,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,...,1980,1,2019-12-31,0.436389,0,0,0,0,1,0
20551696,2019-12-31 23:59:55.296,2020-01-01 00:05:05.727,3351,E 102 St & 1 Ave,40.786995,-73.941648,3379,E 103 St & Lexington Ave,40.790305,-73.947558,...,1969,0,2019-12-31,0.086111,0,0,0,0,1,0

In [75]:
bike_df.columns

Index([              'starttime',                'stoptime',
              'start station id',      'start station name',
        'start station latitude', 'start station longitude',
                'end station id',        'end station name',
          'end station latitude',   'end station longitude',
                        'bikeid',                'usertype',
                    'birth year',                  'gender',
                          'date',            'duration(hr)',
                    'subscriber',                'customer',
                          'male',                  'female',
               (0, 'subscriber'),           (0, 'customer')],
      dtype='object')

In [82]:
gender_subscriber_df = bike_df[['gender','usertype']]

In [87]:
gender_subscriber_df.head(25)

    gender    usertype  subscriber  customer  male  female
0        1  Subscriber         1.0       0.0   1.0     0.0
1        1  Subscriber         1.0       0.0   1.0     0.0
2        1  Subscriber         1.0       0.0   1.0     0.0
3        1  Subscriber         1.0       0.0   1.0     0.0
4        1  Subscriber         1.0       0.0   1.0     0.0
5        2  Subscriber         1.0       0.0   0.0     1.0
6        1  Subscriber         1.0       0.0   1.0     0.0
7        1  Subscriber         1.0       0.0   1.0     0.0
8        2  Subscriber         1.0       0.0   0.0     1.0
9        1  Subscriber         1.0       0.0   1.0     0.0
10       1  Subscriber         1.0       0.0   1.0     0.0
11       2  Subscriber         1.0       0.0   0.0     1.0
12       1  Subscriber         1.0       0.0   1.0     0.0
13       1  Subscriber         1.0       0.0   1.0     0.0
14       1  Subscriber         1.0       0.0   1.0     0.0
15       1  Subscriber         1.0       0.0   1.0     0.0
16       1  Subscriber         1.0       0.0   1.0     0.0
17       1  Subscriber         1.0       0.0   1.0     0.0
18       0  Subscriber         1.0       0.0   0.0     0.0
19       1  Subscriber         1.0       0.0   1.0     0.0
20       2    Customer         0.0       1.0   0.0     1.0
21       1  Subscriber         1.0       0.0   1.0     0.0
22       1  Subscriber         1.0       0.0   1.0     0.0
23       2  Subscriber         1.0       0.0   0.0     1.0
24       1  Subscriber         1.0       0.0   1.0     0.0

In [88]:
df_length = len(gender_subscriber_df)

In [95]:
#divide the main_df into 1000 pieces in a list
df_increment = int(df_length / 1000)
df_increment_mod = np.mod(df_length,  1000)
print(df_increment)
print(df_increment_mod)

20551
697

In [113]:
gender_subscription_df_list = []

for i in range(0, 1000):
    print(gender_subscriber_df.loc[(df_increment*i):(df_increment*i + df_increment-1), :])
    inter_df = gender_subscriber_df.loc[(df_increment*i):(df_increment*i + df_increment-1), :].copy()
    for index, row in inter_df.iterrows():
        i=i+1
        #print(row)
        #print(index)
        #print('usertype', bike_df.loc[index, 'usertype'])
        #print('gender', bike_df.loc[index, 'gender'])
        if row['usertype'] == 'Subscriber':
            inter_df.loc[index, 'subscriber'] = 1
            inter_df.loc[index, 'customer'] = 0
        elif row['usertype'] == 'Customer':
            inter_df.loc[index, 'subscriber'] = 0
            inter_df.loc[index, 'customer'] = 1
        else:
            inter_df.loc[index, 'subscriber'] = 0
            inter_df.loc[index, 'customer'] = 0

        if row['gender'] == 1:
            inter_df.loc[index, 'male'] = 1
            inter_df.loc[index, 'female'] = 0
        elif row['gender'] == 2:
            inter_df.loc[index, 'female'] = 1
            inter_df.loc[index, 'male'] = 0
        else:
            inter_df.loc[index, 'female'] = 0
            inter_df.loc[index, 'male'] = 0

        if i == 10000:
            print('i=', i)
            i = 0
    gender_subscription_df_list.append(gender_subscriber_df.loc[(df_increment*i):(df_increment*i + df_increment), :])

       gender    usertype  subscriber  customer  male  female
0           1  Subscriber         1.0       0.0   1.0     0.0
1           1  Subscriber         1.0       0.0   1.0     0.0
2           1  Subscriber         1.0       0.0   1.0     0.0
3           1  Subscriber         1.0       0.0   1.0     0.0
4           1  Subscriber         1.0       0.0   1.0     0.0
...       ...         ...         ...       ...   ...     ...
20546       1  Subscriber         NaN       NaN   NaN     NaN
20547       1    Customer         NaN       NaN   NaN     NaN
20548       2    Customer         NaN       NaN   NaN     NaN
20549       2  Subscriber         NaN       NaN   NaN     NaN
20550       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
       gender    usertype  subscriber  customer  male  female
20551       1    Customer         0.0       1.0   1.0     0.0
20552       0    Customer         0.0       1.0   0.0     0.0
20553       1    Customer         0.0       1.0   1.0     0.0
20554       2  Subscriber         1.0       0.0   0.0     1.0
20555       1  Subscriber         1.0       0.0   1.0     0.0
...       ...         ...         ...       ...   ...     ...
41097       0  Subscriber         NaN       NaN   NaN     NaN
41098       2  Subscriber         NaN       NaN   NaN     NaN
41099       1  Subscriber         NaN       NaN   NaN     NaN
41100       1  Subscriber         NaN       NaN   NaN     NaN
41101       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
       gender    usertype  subscriber  customer  male  female
41102       1  Subscriber         1.0       0.0   1.0     0.0
41103       1  Subscriber         1.0       0.0   1.0     0.0
41104       2  Subscriber         1.0       0.0   0.0     1.0
41105       2  Subscriber         1.0       0.0   0.0     1.0
41106       0    Customer         0.0       1.0   0.0     0.0
...       ...         ...         ...       ...   ...     ...
61648       1  Subscriber         NaN       NaN   NaN     NaN
61649       2  Subscriber         NaN       NaN   NaN     NaN
61650       1  Subscriber         NaN       NaN   NaN     NaN
61651       1  Subscriber         NaN       NaN   NaN     NaN
61652       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
       gender    usertype  subscriber  customer  male  female
61653       1  Subscriber         1.0       0.0   1.0     0.0
61654       2  Subscriber         1.0       0.0   0.0     1.0
61655       1  Subscriber         1.0       0.0   1.0     0.0
61656       1  Subscriber         1.0       0.0   1.0     0.0
61657       1  Subscriber         1.0       0.0   1.0     0.0
...       ...         ...         ...       ...   ...     ...
82199       1  Subscriber         NaN       NaN   NaN     NaN
82200       2  Subscriber         NaN       NaN   NaN     NaN
82201       1  Subscriber         NaN       NaN   NaN     NaN
82202       1  Subscriber         NaN       NaN   NaN     NaN
82203       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
82204        1  Subscriber         1.0       0.0   1.0     0.0
82205        1  Subscriber         1.0       0.0   1.0     0.0
82206        2    Customer         0.0       1.0   0.0     1.0
82207        1  Subscriber         1.0       0.0   1.0     0.0
82208        1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
102750       1  Subscriber         NaN       NaN   NaN     NaN
102751       2  Subscriber         NaN       NaN   NaN     NaN
102752       1  Subscriber         NaN       NaN   NaN     NaN
102753       2  Subscriber         NaN       NaN   NaN     NaN
102754       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
102755       1  Subscriber         1.0       0.0   1.0     0.0
102756       2  Subscriber         1.0       0.0   0.0     1.0
102757       1  Subscriber         1.0       0.0   1.0     0.0
102758       1  Subscriber         1.0       0.0   1.0     0.0
102759       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
123301       1  Subscriber         NaN       NaN   NaN     NaN
123302       1    Customer         NaN       NaN   NaN     NaN
123303       1  Subscriber         NaN       NaN   NaN     NaN
123304       1  Subscriber         NaN       NaN   NaN     NaN
123305       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
123306       2  Subscriber         1.0       0.0   0.0     1.0
123307       1  Subscriber         1.0       0.0   1.0     0.0
123308       1  Subscriber         1.0       0.0   1.0     0.0
123309       1  Subscriber         1.0       0.0   1.0     0.0
123310       2  Subscriber         1.0       0.0   0.0     1.0
...        ...         ...         ...       ...   ...     ...
143852       1  Subscriber         NaN       NaN   NaN     NaN
143853       1  Subscriber         NaN       NaN   NaN     NaN
143854       1  Subscriber         NaN       NaN   NaN     NaN
143855       1  Subscriber         NaN       NaN   NaN     NaN
143856       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
143857       1  Subscriber         1.0       0.0   1.0     0.0
143858       1  Subscriber         1.0       0.0   1.0     0.0
143859       2  Subscriber         1.0       0.0   0.0     1.0
143860       2  Subscriber         1.0       0.0   0.0     1.0
143861       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
164403       1  Subscriber         NaN       NaN   NaN     NaN
164404       2  Subscriber         NaN       NaN   NaN     NaN
164405       1  Subscriber         NaN       NaN   NaN     NaN
164406       1    Customer         NaN       NaN   NaN     NaN
164407       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
164408       2  Subscriber         1.0       0.0   0.0     1.0
164409       1  Subscriber         1.0       0.0   1.0     0.0
164410       1  Subscriber         1.0       0.0   1.0     0.0
164411       1  Subscriber         1.0       0.0   1.0     0.0
164412       2  Subscriber         1.0       0.0   0.0     1.0
...        ...         ...         ...       ...   ...     ...
184954       2  Subscriber         NaN       NaN   NaN     NaN
184955       1  Subscriber         NaN       NaN   NaN     NaN
184956       1  Subscriber         NaN       NaN   NaN     NaN
184957       1  Subscriber         NaN       NaN   NaN     NaN
184958       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
184959       1  Subscriber         1.0       0.0   1.0     0.0
184960       1  Subscriber         1.0       0.0   1.0     0.0
184961       1  Subscriber         1.0       0.0   1.0     0.0
184962       1    Customer         0.0       1.0   1.0     0.0
184963       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
205505       1  Subscriber         NaN       NaN   NaN     NaN
205506       1  Subscriber         NaN       NaN   NaN     NaN
205507       1  Subscriber         NaN       NaN   NaN     NaN
205508       1  Subscriber         NaN       NaN   NaN     NaN
205509       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
205510       1  Subscriber         1.0       0.0   1.0     0.0
205511       2  Subscriber         1.0       0.0   0.0     1.0
205512       1  Subscriber         1.0       0.0   1.0     0.0
205513       2  Subscriber         1.0       0.0   0.0     1.0
205514       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
226056       2  Subscriber         NaN       NaN   NaN     NaN
226057       1  Subscriber         NaN       NaN   NaN     NaN
226058       1  Subscriber         NaN       NaN   NaN     NaN
226059       1  Subscriber         NaN       NaN   NaN     NaN
226060       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
226061       1  Subscriber         1.0       0.0   1.0     0.0
226062       1  Subscriber         1.0       0.0   1.0     0.0
226063       1  Subscriber         1.0       0.0   1.0     0.0
226064       1  Subscriber         1.0       0.0   1.0     0.0
226065       0    Customer         0.0       1.0   0.0     0.0
...        ...         ...         ...       ...   ...     ...
246607       1  Subscriber         NaN       NaN   NaN     NaN
246608       1  Subscriber         NaN       NaN   NaN     NaN
246609       2  Subscriber         NaN       NaN   NaN     NaN
246610       1  Subscriber         NaN       NaN   NaN     NaN
246611       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
246612       1  Subscriber         1.0       0.0   1.0     0.0
246613       1  Subscriber         1.0       0.0   1.0     0.0
246614       1  Subscriber         1.0       0.0   1.0     0.0
246615       1  Subscriber         1.0       0.0   1.0     0.0
246616       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
267158       1  Subscriber         NaN       NaN   NaN     NaN
267159       1  Subscriber         NaN       NaN   NaN     NaN
267160       2  Subscriber         NaN       NaN   NaN     NaN
267161       2  Subscriber         NaN       NaN   NaN     NaN
267162       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
267163       1  Subscriber         1.0       0.0   1.0     0.0
267164       1  Subscriber         1.0       0.0   1.0     0.0
267165       1  Subscriber         1.0       0.0   1.0     0.0
267166       1  Subscriber         1.0       0.0   1.0     0.0
267167       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
287709       1  Subscriber         NaN       NaN   NaN     NaN
287710       2  Subscriber         NaN       NaN   NaN     NaN
287711       1  Subscriber         NaN       NaN   NaN     NaN
287712       2  Subscriber         NaN       NaN   NaN     NaN
287713       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
287714       2  Subscriber         1.0       0.0   0.0     1.0
287715       1  Subscriber         1.0       0.0   1.0     0.0
287716       1  Subscriber         1.0       0.0   1.0     0.0
287717       1  Subscriber         1.0       0.0   1.0     0.0
287718       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
308260       1  Subscriber         NaN       NaN   NaN     NaN
308261       1  Subscriber         NaN       NaN   NaN     NaN
308262       2  Subscriber         NaN       NaN   NaN     NaN
308263       1  Subscriber         NaN       NaN   NaN     NaN
308264       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
308265       1  Subscriber         1.0       0.0   1.0     0.0
308266       0    Customer         0.0       1.0   0.0     0.0
308267       1  Subscriber         1.0       0.0   1.0     0.0
308268       1  Subscriber         1.0       0.0   1.0     0.0
308269       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
328811       1  Subscriber         NaN       NaN   NaN     NaN
328812       1  Subscriber         NaN       NaN   NaN     NaN
328813       2  Subscriber         NaN       NaN   NaN     NaN
328814       1  Subscriber         NaN       NaN   NaN     NaN
328815       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
328816       1  Subscriber         1.0       0.0   1.0     0.0
328817       1  Subscriber         1.0       0.0   1.0     0.0
328818       1  Subscriber         1.0       0.0   1.0     0.0
328819       2  Subscriber         1.0       0.0   0.0     1.0
328820       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
349362       1  Subscriber         NaN       NaN   NaN     NaN
349363       1  Subscriber         NaN       NaN   NaN     NaN
349364       1  Subscriber         NaN       NaN   NaN     NaN
349365       2  Subscriber         NaN       NaN   NaN     NaN
349366       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
349367       1  Subscriber         1.0       0.0   1.0     0.0
349368       1  Subscriber         1.0       0.0   1.0     0.0
349369       1  Subscriber         1.0       0.0   1.0     0.0
349370       1  Subscriber         1.0       0.0   1.0     0.0
349371       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
369913       1  Subscriber         NaN       NaN   NaN     NaN
369914       1  Subscriber         NaN       NaN   NaN     NaN
369915       1  Subscriber         NaN       NaN   NaN     NaN
369916       1  Subscriber         NaN       NaN   NaN     NaN
369917       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
369918       2  Subscriber         1.0       0.0   0.0     1.0
369919       1  Subscriber         1.0       0.0   1.0     0.0
369920       1  Subscriber         1.0       0.0   1.0     0.0
369921       1  Subscriber         1.0       0.0   1.0     0.0
369922       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
390464       2  Subscriber         NaN       NaN   NaN     NaN
390465       1  Subscriber         NaN       NaN   NaN     NaN
390466       1  Subscriber         NaN       NaN   NaN     NaN
390467       2  Subscriber         NaN       NaN   NaN     NaN
390468       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
390469       2  Subscriber         1.0       0.0   0.0     1.0
390470       0    Customer         0.0       1.0   0.0     0.0
390471       1  Subscriber         1.0       0.0   1.0     0.0
390472       1  Subscriber         1.0       0.0   1.0     0.0
390473       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
411015       1  Subscriber         NaN       NaN   NaN     NaN
411016       1  Subscriber         NaN       NaN   NaN     NaN
411017       2  Subscriber         NaN       NaN   NaN     NaN
411018       2  Subscriber         NaN       NaN   NaN     NaN
411019       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
411020       1  Subscriber         1.0       0.0   1.0     0.0
411021       1  Subscriber         1.0       0.0   1.0     0.0
411022       1  Subscriber         1.0       0.0   1.0     0.0
411023       1  Subscriber         1.0       0.0   1.0     0.0
411024       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
431566       1  Subscriber         NaN       NaN   NaN     NaN
431567       1  Subscriber         NaN       NaN   NaN     NaN
431568       1  Subscriber         NaN       NaN   NaN     NaN
431569       1  Subscriber         NaN       NaN   NaN     NaN
431570       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
431571       2    Customer         0.0       1.0   0.0     1.0
431572       1  Subscriber         1.0       0.0   1.0     0.0
431573       1  Subscriber         1.0       0.0   1.0     0.0
431574       2  Subscriber         1.0       0.0   0.0     1.0
431575       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
452117       2  Subscriber         NaN       NaN   NaN     NaN
452118       1  Subscriber         NaN       NaN   NaN     NaN
452119       1  Subscriber         NaN       NaN   NaN     NaN
452120       1  Subscriber         NaN       NaN   NaN     NaN
452121       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
452122       1  Subscriber         1.0       0.0   1.0     0.0
452123       1  Subscriber         1.0       0.0   1.0     0.0
452124       1  Subscriber         1.0       0.0   1.0     0.0
452125       1  Subscriber         1.0       0.0   1.0     0.0
452126       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
472668       1  Subscriber         NaN       NaN   NaN     NaN
472669       2  Subscriber         NaN       NaN   NaN     NaN
472670       1  Subscriber         NaN       NaN   NaN     NaN
472671       1  Subscriber         NaN       NaN   NaN     NaN
472672       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
472673       1  Subscriber         1.0       0.0   1.0     0.0
472674       1  Subscriber         1.0       0.0   1.0     0.0
472675       1  Subscriber         1.0       0.0   1.0     0.0
472676       1  Subscriber         1.0       0.0   1.0     0.0
472677       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
493219       1  Subscriber         NaN       NaN   NaN     NaN
493220       2  Subscriber         NaN       NaN   NaN     NaN
493221       1  Subscriber         NaN       NaN   NaN     NaN
493222       1  Subscriber         NaN       NaN   NaN     NaN
493223       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
493224       1  Subscriber         1.0       0.0   1.0     0.0
493225       1  Subscriber         1.0       0.0   1.0     0.0
493226       1  Subscriber         1.0       0.0   1.0     0.0
493227       1  Subscriber         1.0       0.0   1.0     0.0
493228       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
513770       1  Subscriber         NaN       NaN   NaN     NaN
513771       1  Subscriber         NaN       NaN   NaN     NaN
513772       1  Subscriber         NaN       NaN   NaN     NaN
513773       2  Subscriber         NaN       NaN   NaN     NaN
513774       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
513775       1  Subscriber         1.0       0.0   1.0     0.0
513776       1  Subscriber         1.0       0.0   1.0     0.0
513777       1  Subscriber         1.0       0.0   1.0     0.0
513778       1  Subscriber         1.0       0.0   1.0     0.0
513779       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
534321       1  Subscriber         NaN       NaN   NaN     NaN
534322       1  Subscriber         NaN       NaN   NaN     NaN
534323       1  Subscriber         NaN       NaN   NaN     NaN
534324       1  Subscriber         NaN       NaN   NaN     NaN
534325       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
534326       1  Subscriber         1.0       0.0   1.0     0.0
534327       1  Subscriber         1.0       0.0   1.0     0.0
534328       1  Subscriber         1.0       0.0   1.0     0.0
534329       1  Subscriber         1.0       0.0   1.0     0.0
534330       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
554872       2  Subscriber         NaN       NaN   NaN     NaN
554873       1  Subscriber         NaN       NaN   NaN     NaN
554874       2  Subscriber         NaN       NaN   NaN     NaN
554875       1  Subscriber         NaN       NaN   NaN     NaN
554876       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
554877       1  Subscriber         1.0       0.0   1.0     0.0
554878       1  Subscriber         1.0       0.0   1.0     0.0
554879       2  Subscriber         1.0       0.0   0.0     1.0
554880       2  Subscriber         1.0       0.0   0.0     1.0
554881       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
575423       1  Subscriber         NaN       NaN   NaN     NaN
575424       1  Subscriber         NaN       NaN   NaN     NaN
575425       1  Subscriber         NaN       NaN   NaN     NaN
575426       2  Subscriber         NaN       NaN   NaN     NaN
575427       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
575428       1  Subscriber         1.0       0.0   1.0     0.0
575429       1  Subscriber         1.0       0.0   1.0     0.0
575430       1  Subscriber         1.0       0.0   1.0     0.0
575431       1  Subscriber         1.0       0.0   1.0     0.0
575432       2  Subscriber         1.0       0.0   0.0     1.0
...        ...         ...         ...       ...   ...     ...
595974       1  Subscriber         NaN       NaN   NaN     NaN
595975       1  Subscriber         NaN       NaN   NaN     NaN
595976       1  Subscriber         NaN       NaN   NaN     NaN
595977       2  Subscriber         NaN       NaN   NaN     NaN
595978       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
595979       1  Subscriber         1.0       0.0   1.0     0.0
595980       1  Subscriber         1.0       0.0   1.0     0.0
595981       1  Subscriber         1.0       0.0   1.0     0.0
595982       1  Subscriber         1.0       0.0   1.0     0.0
595983       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
616525       1  Subscriber         NaN       NaN   NaN     NaN
616526       2  Subscriber         NaN       NaN   NaN     NaN
616527       1  Subscriber         NaN       NaN   NaN     NaN
616528       1  Subscriber         NaN       NaN   NaN     NaN
616529       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
616530       1  Subscriber         1.0       0.0   1.0     0.0
616531       1  Subscriber         1.0       0.0   1.0     0.0
616532       2  Subscriber         1.0       0.0   0.0     1.0
616533       1  Subscriber         1.0       0.0   1.0     0.0
616534       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
637076       1  Subscriber         NaN       NaN   NaN     NaN
637077       1  Subscriber         NaN       NaN   NaN     NaN
637078       1  Subscriber         NaN       NaN   NaN     NaN
637079       1  Subscriber         NaN       NaN   NaN     NaN
637080       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
637081       1  Subscriber         1.0       0.0   1.0     0.0
637082       2  Subscriber         1.0       0.0   0.0     1.0
637083       1  Subscriber         1.0       0.0   1.0     0.0
637084       2  Subscriber         1.0       0.0   0.0     1.0
637085       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
657627       1  Subscriber         NaN       NaN   NaN     NaN
657628       1  Subscriber         NaN       NaN   NaN     NaN
657629       1  Subscriber         NaN       NaN   NaN     NaN
657630       2  Subscriber         NaN       NaN   NaN     NaN
657631       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
657632       1  Subscriber         1.0       0.0   1.0     0.0
657633       1  Subscriber         1.0       0.0   1.0     0.0
657634       1  Subscriber         1.0       0.0   1.0     0.0
657635       1  Subscriber         1.0       0.0   1.0     0.0
657636       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
678178       1  Subscriber         NaN       NaN   NaN     NaN
678179       2  Subscriber         NaN       NaN   NaN     NaN
678180       1  Subscriber         NaN       NaN   NaN     NaN
678181       1  Subscriber         NaN       NaN   NaN     NaN
678182       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
678183       1  Subscriber         1.0       0.0   1.0     0.0
678184       1  Subscriber         1.0       0.0   1.0     0.0
678185       1  Subscriber         1.0       0.0   1.0     0.0
678186       1  Subscriber         1.0       0.0   1.0     0.0
678187       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
698729       2  Subscriber         NaN       NaN   NaN     NaN
698730       1  Subscriber         NaN       NaN   NaN     NaN
698731       2  Subscriber         NaN       NaN   NaN     NaN
698732       1  Subscriber         NaN       NaN   NaN     NaN
698733       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
698734       2  Subscriber         1.0       0.0   0.0     1.0
698735       1  Subscriber         1.0       0.0   1.0     0.0
698736       2  Subscriber         1.0       0.0   0.0     1.0
698737       1  Subscriber         1.0       0.0   1.0     0.0
698738       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
719280       1  Subscriber         NaN       NaN   NaN     NaN
719281       1  Subscriber         NaN       NaN   NaN     NaN
719282       2  Subscriber         NaN       NaN   NaN     NaN
719283       1  Subscriber         NaN       NaN   NaN     NaN
719284       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
719285       1  Subscriber         1.0       0.0   1.0     0.0
719286       1  Subscriber         1.0       0.0   1.0     0.0
719287       1  Subscriber         1.0       0.0   1.0     0.0
719288       1  Subscriber         1.0       0.0   1.0     0.0
719289       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
739831       2  Subscriber         NaN       NaN   NaN     NaN
739832       2  Subscriber         NaN       NaN   NaN     NaN
739833       1  Subscriber         NaN       NaN   NaN     NaN
739834       1  Subscriber         NaN       NaN   NaN     NaN
739835       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
739836       0    Customer         0.0       1.0   0.0     0.0
739837       1  Subscriber         1.0       0.0   1.0     0.0
739838       0  Subscriber         1.0       0.0   0.0     0.0
739839       1  Subscriber         1.0       0.0   1.0     0.0
739840       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
760382       1  Subscriber         NaN       NaN   NaN     NaN
760383       1  Subscriber         NaN       NaN   NaN     NaN
760384       2  Subscriber         NaN       NaN   NaN     NaN
760385       2  Subscriber         NaN       NaN   NaN     NaN
760386       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
760387       2  Subscriber         1.0       0.0   0.0     1.0
760388       1  Subscriber         1.0       0.0   1.0     0.0
760389       2  Subscriber         1.0       0.0   0.0     1.0
760390       1  Subscriber         1.0       0.0   1.0     0.0
760391       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
780933       1  Subscriber         NaN       NaN   NaN     NaN
780934       1  Subscriber         NaN       NaN   NaN     NaN
780935       1    Customer         NaN       NaN   NaN     NaN
780936       1  Subscriber         NaN       NaN   NaN     NaN
780937       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
780938       1  Subscriber         1.0       0.0   1.0     0.0
780939       1  Subscriber         1.0       0.0   1.0     0.0
780940       1  Subscriber         1.0       0.0   1.0     0.0
780941       1  Subscriber         1.0       0.0   1.0     0.0
780942       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
801484       1  Subscriber         NaN       NaN   NaN     NaN
801485       1  Subscriber         NaN       NaN   NaN     NaN
801486       2  Subscriber         NaN       NaN   NaN     NaN
801487       2  Subscriber         NaN       NaN   NaN     NaN
801488       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
801489       1  Subscriber         1.0       0.0   1.0     0.0
801490       1  Subscriber         1.0       0.0   1.0     0.0
801491       1  Subscriber         1.0       0.0   1.0     0.0
801492       1  Subscriber         1.0       0.0   1.0     0.0
801493       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
822035       2  Subscriber         NaN       NaN   NaN     NaN
822036       2  Subscriber         NaN       NaN   NaN     NaN
822037       1  Subscriber         NaN       NaN   NaN     NaN
822038       1  Subscriber         NaN       NaN   NaN     NaN
822039       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
822040       2  Subscriber         1.0       0.0   0.0     1.0
822041       1  Subscriber         1.0       0.0   1.0     0.0
822042       1  Subscriber         1.0       0.0   1.0     0.0
822043       1  Subscriber         1.0       0.0   1.0     0.0
822044       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
842586       1  Subscriber         NaN       NaN   NaN     NaN
842587       1  Subscriber         NaN       NaN   NaN     NaN
842588       1  Subscriber         NaN       NaN   NaN     NaN
842589       2  Subscriber         NaN       NaN   NaN     NaN
842590       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
842591       0    Customer         0.0       1.0   0.0     0.0
842592       1  Subscriber         1.0       0.0   1.0     0.0
842593       1  Subscriber         1.0       0.0   1.0     0.0
842594       1  Subscriber         1.0       0.0   1.0     0.0
842595       2  Subscriber         1.0       0.0   0.0     1.0
...        ...         ...         ...       ...   ...     ...
863137       1  Subscriber         NaN       NaN   NaN     NaN
863138       1  Subscriber         NaN       NaN   NaN     NaN
863139       1  Subscriber         NaN       NaN   NaN     NaN
863140       2  Subscriber         NaN       NaN   NaN     NaN
863141       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
863142       1  Subscriber         1.0       0.0   1.0     0.0
863143       1  Subscriber         1.0       0.0   1.0     0.0
863144       1  Subscriber         1.0       0.0   1.0     0.0
863145       2  Subscriber         1.0       0.0   0.0     1.0
863146       2  Subscriber         1.0       0.0   0.0     1.0
...        ...         ...         ...       ...   ...     ...
883688       1  Subscriber         NaN       NaN   NaN     NaN
883689       2  Subscriber         NaN       NaN   NaN     NaN
883690       1  Subscriber         NaN       NaN   NaN     NaN
883691       2  Subscriber         NaN       NaN   NaN     NaN
883692       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
883693       1  Subscriber         1.0       0.0   1.0     0.0
883694       1  Subscriber         1.0       0.0   1.0     0.0
883695       1  Subscriber         1.0       0.0   1.0     0.0
883696       1  Subscriber         1.0       0.0   1.0     0.0
883697       2  Subscriber         1.0       0.0   0.0     1.0
...        ...         ...         ...       ...   ...     ...
904239       1  Subscriber         NaN       NaN   NaN     NaN
904240       1  Subscriber         NaN       NaN   NaN     NaN
904241       1  Subscriber         NaN       NaN   NaN     NaN
904242       1  Subscriber         NaN       NaN   NaN     NaN
904243       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
904244       1  Subscriber         1.0       0.0   1.0     0.0
904245       1  Subscriber         1.0       0.0   1.0     0.0
904246       1  Subscriber         1.0       0.0   1.0     0.0
904247       2  Subscriber         1.0       0.0   0.0     1.0
904248       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
924790       1  Subscriber         NaN       NaN   NaN     NaN
924791       1  Subscriber         NaN       NaN   NaN     NaN
924792       1  Subscriber         NaN       NaN   NaN     NaN
924793       2  Subscriber         NaN       NaN   NaN     NaN
924794       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
924795       1  Subscriber         1.0       0.0   1.0     0.0
924796       1  Subscriber         1.0       0.0   1.0     0.0
924797       1  Subscriber         1.0       0.0   1.0     0.0
924798       1  Subscriber         1.0       0.0   1.0     0.0
924799       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
945341       2  Subscriber         NaN       NaN   NaN     NaN
945342       1  Subscriber         NaN       NaN   NaN     NaN
945343       1  Subscriber         NaN       NaN   NaN     NaN
945344       1  Subscriber         NaN       NaN   NaN     NaN
945345       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
945346       2  Subscriber         1.0       0.0   0.0     1.0
945347       2  Subscriber         1.0       0.0   0.0     1.0
945348       1  Subscriber         1.0       0.0   1.0     0.0
945349       2  Subscriber         1.0       0.0   0.0     1.0
945350       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
965892       1  Subscriber         NaN       NaN   NaN     NaN
965893       1  Subscriber         NaN       NaN   NaN     NaN
965894       2  Subscriber         NaN       NaN   NaN     NaN
965895       1  Subscriber         NaN       NaN   NaN     NaN
965896       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
        gender    usertype  subscriber  customer  male  female
965897       1  Subscriber         1.0       0.0   1.0     0.0
965898       2  Subscriber         1.0       0.0   0.0     1.0
965899       1  Subscriber         1.0       0.0   1.0     0.0
965900       1  Subscriber         1.0       0.0   1.0     0.0
965901       1  Subscriber         1.0       0.0   1.0     0.0
...        ...         ...         ...       ...   ...     ...
986443       1  Subscriber         NaN       NaN   NaN     NaN
986444       1  Subscriber         NaN       NaN   NaN     NaN
986445       1  Subscriber         NaN       NaN   NaN     NaN
986446       1  Subscriber         NaN       NaN   NaN     NaN
986447       0  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
986448        1  Subscriber         1.0       0.0   1.0     0.0
986449        1  Subscriber         1.0       0.0   1.0     0.0
986450        1  Subscriber         1.0       0.0   1.0     0.0
986451        1  Subscriber         1.0       0.0   1.0     0.0
986452        1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1006994       1  Subscriber         NaN       NaN   NaN     NaN
1006995       1  Subscriber         NaN       NaN   NaN     NaN
1006996       2  Subscriber         NaN       NaN   NaN     NaN
1006997       1  Subscriber         NaN       NaN   NaN     NaN
1006998       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1006999       1  Subscriber         1.0       0.0   1.0     0.0
1007000       1  Subscriber         1.0       0.0   1.0     0.0
1007001       2  Subscriber         1.0       0.0   0.0     1.0
1007002       1  Subscriber         1.0       0.0   1.0     0.0
1007003       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1027545       1  Subscriber         NaN       NaN   NaN     NaN
1027546       1  Subscriber         NaN       NaN   NaN     NaN
1027547       2  Subscriber         NaN       NaN   NaN     NaN
1027548       2  Subscriber         NaN       NaN   NaN     NaN
1027549       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1027550       1  Subscriber         1.0       0.0   1.0     0.0
1027551       1  Subscriber         1.0       0.0   1.0     0.0
1027552       1  Subscriber         1.0       0.0   1.0     0.0
1027553       1  Subscriber         1.0       0.0   1.0     0.0
1027554       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1048096       1  Subscriber         NaN       NaN   NaN     NaN
1048097       1  Subscriber         NaN       NaN   NaN     NaN
1048098       1  Subscriber         NaN       NaN   NaN     NaN
1048099       1  Subscriber         NaN       NaN   NaN     NaN
1048100       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1048101       2  Subscriber         1.0       0.0   0.0     1.0
1048102       1  Subscriber         1.0       0.0   1.0     0.0
1048103       1  Subscriber         1.0       0.0   1.0     0.0
1048104       1  Subscriber         1.0       0.0   1.0     0.0
1048105       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1068647       1  Subscriber         NaN       NaN   NaN     NaN
1068648       1  Subscriber         NaN       NaN   NaN     NaN
1068649       1  Subscriber         NaN       NaN   NaN     NaN
1068650       2  Subscriber         NaN       NaN   NaN     NaN
1068651       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1068652       2  Subscriber         1.0       0.0   0.0     1.0
1068653       2  Subscriber         1.0       0.0   0.0     1.0
1068654       1  Subscriber         1.0       0.0   1.0     0.0
1068655       0    Customer         0.0       1.0   0.0     0.0
1068656       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1089198       0  Subscriber         NaN       NaN   NaN     NaN
1089199       1  Subscriber         NaN       NaN   NaN     NaN
1089200       1  Subscriber         NaN       NaN   NaN     NaN
1089201       2  Subscriber         NaN       NaN   NaN     NaN
1089202       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1089203       1  Subscriber         1.0       0.0   1.0     0.0
1089204       1  Subscriber         1.0       0.0   1.0     0.0
1089205       1  Subscriber         1.0       0.0   1.0     0.0
1089206       1  Subscriber         1.0       0.0   1.0     0.0
1089207       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
1109749       1  Subscriber         NaN       NaN   NaN     NaN
1109750       1  Subscriber         NaN       NaN   NaN     NaN
1109751       1  Subscriber         NaN       NaN   NaN     NaN
1109752       1  Subscriber         NaN       NaN   NaN     NaN
1109753       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1109754       1  Subscriber         1.0       0.0   1.0     0.0
1109755       1  Subscriber         1.0       0.0   1.0     0.0
1109756       2  Subscriber         1.0       0.0   0.0     1.0
1109757       2  Subscriber         1.0       0.0   0.0     1.0
1109758       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1130300       2  Subscriber         NaN       NaN   NaN     NaN
1130301       0    Customer         NaN       NaN   NaN     NaN
1130302       1  Subscriber         NaN       NaN   NaN     NaN
1130303       1  Subscriber         NaN       NaN   NaN     NaN
1130304       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1130305       1  Subscriber         1.0       0.0   1.0     0.0
1130306       0  Subscriber         1.0       0.0   0.0     0.0
1130307       2  Subscriber         1.0       0.0   0.0     1.0
1130308       1  Subscriber         1.0       0.0   1.0     0.0
1130309       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1150851       1  Subscriber         NaN       NaN   NaN     NaN
1150852       1  Subscriber         NaN       NaN   NaN     NaN
1150853       1  Subscriber         NaN       NaN   NaN     NaN
1150854       1  Subscriber         NaN       NaN   NaN     NaN
1150855       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1150856       1  Subscriber         1.0       0.0   1.0     0.0
1150857       1  Subscriber         1.0       0.0   1.0     0.0
1150858       2  Subscriber         1.0       0.0   0.0     1.0
1150859       1  Subscriber         1.0       0.0   1.0     0.0
1150860       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1171402       2  Subscriber         NaN       NaN   NaN     NaN
1171403       1  Subscriber         NaN       NaN   NaN     NaN
1171404       1  Subscriber         NaN       NaN   NaN     NaN
1171405       1  Subscriber         NaN       NaN   NaN     NaN
1171406       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1171407       1  Subscriber         1.0       0.0   1.0     0.0
1171408       1  Subscriber         1.0       0.0   1.0     0.0
1171409       1  Subscriber         1.0       0.0   1.0     0.0
1171410       1  Subscriber         1.0       0.0   1.0     0.0
1171411       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
1191953       1  Subscriber         NaN       NaN   NaN     NaN
1191954       1  Subscriber         NaN       NaN   NaN     NaN
1191955       1  Subscriber         NaN       NaN   NaN     NaN
1191956       2  Subscriber         NaN       NaN   NaN     NaN
1191957       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1191958       1  Subscriber         1.0       0.0   1.0     0.0
1191959       1  Subscriber         1.0       0.0   1.0     0.0
1191960       2  Subscriber         1.0       0.0   0.0     1.0
1191961       2  Subscriber         1.0       0.0   0.0     1.0
1191962       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1212504       1  Subscriber         NaN       NaN   NaN     NaN
1212505       1  Subscriber         NaN       NaN   NaN     NaN
1212506       2  Subscriber         NaN       NaN   NaN     NaN
1212507       1  Subscriber         NaN       NaN   NaN     NaN
1212508       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1212509       1  Subscriber         1.0       0.0   1.0     0.0
1212510       1  Subscriber         1.0       0.0   1.0     0.0
1212511       2    Customer         0.0       1.0   0.0     1.0
1212512       1  Subscriber         1.0       0.0   1.0     0.0
1212513       0    Customer         0.0       1.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
1233055       1  Subscriber         NaN       NaN   NaN     NaN
1233056       1  Subscriber         NaN       NaN   NaN     NaN
1233057       1  Subscriber         NaN       NaN   NaN     NaN
1233058       1  Subscriber         NaN       NaN   NaN     NaN
1233059       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1233060       0  Subscriber         1.0       0.0   0.0     0.0
1233061       1  Subscriber         1.0       0.0   1.0     0.0
1233062       1  Subscriber         1.0       0.0   1.0     0.0
1233063       1  Subscriber         1.0       0.0   1.0     0.0
1233064       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
1253606       1  Subscriber         NaN       NaN   NaN     NaN
1253607       1  Subscriber         NaN       NaN   NaN     NaN
1253608       1  Subscriber         NaN       NaN   NaN     NaN
1253609       2  Subscriber         NaN       NaN   NaN     NaN
1253610       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1253611       1  Subscriber         1.0       0.0   1.0     0.0
1253612       2  Subscriber         1.0       0.0   0.0     1.0
1253613       1  Subscriber         1.0       0.0   1.0     0.0
1253614       2  Subscriber         1.0       0.0   0.0     1.0
1253615       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1274157       1  Subscriber         NaN       NaN   NaN     NaN
1274158       2  Subscriber         NaN       NaN   NaN     NaN
1274159       2  Subscriber         NaN       NaN   NaN     NaN
1274160       1  Subscriber         NaN       NaN   NaN     NaN
1274161       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1274162       1  Subscriber         1.0       0.0   1.0     0.0
1274163       1  Subscriber         1.0       0.0   1.0     0.0
1274164       1  Subscriber         1.0       0.0   1.0     0.0
1274165       1  Subscriber         1.0       0.0   1.0     0.0
1274166       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
1294708       1  Subscriber         NaN       NaN   NaN     NaN
1294709       1  Subscriber         NaN       NaN   NaN     NaN
1294710       1    Customer         NaN       NaN   NaN     NaN
1294711       1  Subscriber         NaN       NaN   NaN     NaN
1294712       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1294713       1  Subscriber         1.0       0.0   1.0     0.0
1294714       1  Subscriber         1.0       0.0   1.0     0.0
1294715       1  Subscriber         1.0       0.0   1.0     0.0
1294716       2  Subscriber         1.0       0.0   0.0     1.0
1294717       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1315259       2  Subscriber         NaN       NaN   NaN     NaN
1315260       1  Subscriber         NaN       NaN   NaN     NaN
1315261       1  Subscriber         NaN       NaN   NaN     NaN
1315262       1  Subscriber         NaN       NaN   NaN     NaN
1315263       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1315264       1  Subscriber         1.0       0.0   1.0     0.0
1315265       1  Subscriber         1.0       0.0   1.0     0.0
1315266       1  Subscriber         1.0       0.0   1.0     0.0
1315267       1  Subscriber         1.0       0.0   1.0     0.0
1315268       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
1335810       1  Subscriber         NaN       NaN   NaN     NaN
1335811       1  Subscriber         NaN       NaN   NaN     NaN
1335812       1  Subscriber         NaN       NaN   NaN     NaN
1335813       2  Subscriber         NaN       NaN   NaN     NaN
1335814       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1335815       1  Subscriber         1.0       0.0   1.0     0.0
1335816       1  Subscriber         1.0       0.0   1.0     0.0
1335817       1  Subscriber         1.0       0.0   1.0     0.0
1335818       0  Subscriber         1.0       0.0   0.0     0.0
1335819       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1356361       2    Customer         NaN       NaN   NaN     NaN
1356362       1  Subscriber         NaN       NaN   NaN     NaN
1356363       1  Subscriber         NaN       NaN   NaN     NaN
1356364       1  Subscriber         NaN       NaN   NaN     NaN
1356365       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1356366       1  Subscriber         1.0       0.0   1.0     0.0
1356367       0  Subscriber         1.0       0.0   0.0     0.0
1356368       1  Subscriber         1.0       0.0   1.0     0.0
1356369       1  Subscriber         1.0       0.0   1.0     0.0
1356370       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1376912       1  Subscriber         NaN       NaN   NaN     NaN
1376913       2  Subscriber         NaN       NaN   NaN     NaN
1376914       1  Subscriber         NaN       NaN   NaN     NaN
1376915       2  Subscriber         NaN       NaN   NaN     NaN
1376916       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1376917       1  Subscriber         1.0       0.0   1.0     0.0
1376918       1  Subscriber         1.0       0.0   1.0     0.0
1376919       2  Subscriber         1.0       0.0   0.0     1.0
1376920       1  Subscriber         1.0       0.0   1.0     0.0
1376921       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1397463       1  Subscriber         NaN       NaN   NaN     NaN
1397464       1  Subscriber         NaN       NaN   NaN     NaN
1397465       2  Subscriber         NaN       NaN   NaN     NaN
1397466       1  Subscriber         NaN       NaN   NaN     NaN
1397467       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1397468       1  Subscriber         1.0       0.0   1.0     0.0
1397469       1  Subscriber         1.0       0.0   1.0     0.0
1397470       1  Subscriber         1.0       0.0   1.0     0.0
1397471       1  Subscriber         1.0       0.0   1.0     0.0
1397472       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1418014       1  Subscriber         NaN       NaN   NaN     NaN
1418015       0  Subscriber         NaN       NaN   NaN     NaN
1418016       1  Subscriber         NaN       NaN   NaN     NaN
1418017       1  Subscriber         NaN       NaN   NaN     NaN
1418018       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1418019       1  Subscriber         1.0       0.0   1.0     0.0
1418020       1  Subscriber         1.0       0.0   1.0     0.0
1418021       1  Subscriber         1.0       0.0   1.0     0.0
1418022       1  Subscriber         1.0       0.0   1.0     0.0
1418023       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1438565       2  Subscriber         NaN       NaN   NaN     NaN
1438566       1  Subscriber         NaN       NaN   NaN     NaN
1438567       1  Subscriber         NaN       NaN   NaN     NaN
1438568       0  Subscriber         NaN       NaN   NaN     NaN
1438569       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1438570       1  Subscriber         1.0       0.0   1.0     0.0
1438571       1  Subscriber         1.0       0.0   1.0     0.0
1438572       2  Subscriber         1.0       0.0   0.0     1.0
1438573       1  Subscriber         1.0       0.0   1.0     0.0
1438574       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1459116       1  Subscriber         NaN       NaN   NaN     NaN
1459117       2  Subscriber         NaN       NaN   NaN     NaN
1459118       2  Subscriber         NaN       NaN   NaN     NaN
1459119       2  Subscriber         NaN       NaN   NaN     NaN
1459120       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1459121       1  Subscriber         1.0       0.0   1.0     0.0
1459122       1  Subscriber         1.0       0.0   1.0     0.0
1459123       2  Subscriber         1.0       0.0   0.0     1.0
1459124       1  Subscriber         1.0       0.0   1.0     0.0
1459125       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
1479667       1  Subscriber         NaN       NaN   NaN     NaN
1479668       2  Subscriber         NaN       NaN   NaN     NaN
1479669       1  Subscriber         NaN       NaN   NaN     NaN
1479670       1  Subscriber         NaN       NaN   NaN     NaN
1479671       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1479672       1  Subscriber         1.0       0.0   1.0     0.0
1479673       1  Subscriber         1.0       0.0   1.0     0.0
1479674       1  Subscriber         1.0       0.0   1.0     0.0
1479675       2  Subscriber         1.0       0.0   0.0     1.0
1479676       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1500218       2  Subscriber         NaN       NaN   NaN     NaN
1500219       2  Subscriber         NaN       NaN   NaN     NaN
1500220       1  Subscriber         NaN       NaN   NaN     NaN
1500221       2  Subscriber         NaN       NaN   NaN     NaN
1500222       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1500223       0  Subscriber         1.0       0.0   0.0     0.0
1500224       2  Subscriber         1.0       0.0   0.0     1.0
1500225       1  Subscriber         1.0       0.0   1.0     0.0
1500226       1  Subscriber         1.0       0.0   1.0     0.0
1500227       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1520769       2  Subscriber         NaN       NaN   NaN     NaN
1520770       2  Subscriber         NaN       NaN   NaN     NaN
1520771       1  Subscriber         NaN       NaN   NaN     NaN
1520772       1  Subscriber         NaN       NaN   NaN     NaN
1520773       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1520774       1    Customer         0.0       1.0   1.0     0.0
1520775       1  Subscriber         1.0       0.0   1.0     0.0
1520776       1  Subscriber         1.0       0.0   1.0     0.0
1520777       2  Subscriber         1.0       0.0   0.0     1.0
1520778       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1541320       1  Subscriber         NaN       NaN   NaN     NaN
1541321       1  Subscriber         NaN       NaN   NaN     NaN
1541322       2  Subscriber         NaN       NaN   NaN     NaN
1541323       1  Subscriber         NaN       NaN   NaN     NaN
1541324       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1541325       0    Customer         0.0       1.0   0.0     0.0
1541326       1    Customer         0.0       1.0   1.0     0.0
1541327       1  Subscriber         1.0       0.0   1.0     0.0
1541328       1  Subscriber         1.0       0.0   1.0     0.0
1541329       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
1561871       1  Subscriber         NaN       NaN   NaN     NaN
1561872       2  Subscriber         NaN       NaN   NaN     NaN
1561873       1  Subscriber         NaN       NaN   NaN     NaN
1561874       1  Subscriber         NaN       NaN   NaN     NaN
1561875       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1561876       2  Subscriber         1.0       0.0   0.0     1.0
1561877       1  Subscriber         1.0       0.0   1.0     0.0
1561878       1  Subscriber         1.0       0.0   1.0     0.0
1561879       1  Subscriber         1.0       0.0   1.0     0.0
1561880       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1582422       1  Subscriber         NaN       NaN   NaN     NaN
1582423       2  Subscriber         NaN       NaN   NaN     NaN
1582424       1  Subscriber         NaN       NaN   NaN     NaN
1582425       1  Subscriber         NaN       NaN   NaN     NaN
1582426       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1582427       1  Subscriber         1.0       0.0   1.0     0.0
1582428       1  Subscriber         1.0       0.0   1.0     0.0
1582429       1  Subscriber         1.0       0.0   1.0     0.0
1582430       1  Subscriber         1.0       0.0   1.0     0.0
1582431       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1602973       1  Subscriber         NaN       NaN   NaN     NaN
1602974       2  Subscriber         NaN       NaN   NaN     NaN
1602975       1  Subscriber         NaN       NaN   NaN     NaN
1602976       1  Subscriber         NaN       NaN   NaN     NaN
1602977       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1602978       1  Subscriber         1.0       0.0   1.0     0.0
1602979       1  Subscriber         1.0       0.0   1.0     0.0
1602980       1  Subscriber         1.0       0.0   1.0     0.0
1602981       1  Subscriber         1.0       0.0   1.0     0.0
1602982       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1623524       2  Subscriber         NaN       NaN   NaN     NaN
1623525       1  Subscriber         NaN       NaN   NaN     NaN
1623526       1  Subscriber         NaN       NaN   NaN     NaN
1623527       1  Subscriber         NaN       NaN   NaN     NaN
1623528       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1623529       1  Subscriber         1.0       0.0   1.0     0.0
1623530       2  Subscriber         1.0       0.0   0.0     1.0
1623531       1  Subscriber         1.0       0.0   1.0     0.0
1623532       1  Subscriber         1.0       0.0   1.0     0.0
1623533       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1644075       1  Subscriber         NaN       NaN   NaN     NaN
1644076       1  Subscriber         NaN       NaN   NaN     NaN
1644077       1  Subscriber         NaN       NaN   NaN     NaN
1644078       1  Subscriber         NaN       NaN   NaN     NaN
1644079       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1644080       1  Subscriber         1.0       0.0   1.0     0.0
1644081       1  Subscriber         1.0       0.0   1.0     0.0
1644082       1  Subscriber         1.0       0.0   1.0     0.0
1644083       1  Subscriber         1.0       0.0   1.0     0.0
1644084       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1664626       1  Subscriber         NaN       NaN   NaN     NaN
1664627       1  Subscriber         NaN       NaN   NaN     NaN
1664628       2  Subscriber         NaN       NaN   NaN     NaN
1664629       2  Subscriber         NaN       NaN   NaN     NaN
1664630       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1664631       1  Subscriber         1.0       0.0   1.0     0.0
1664632       1  Subscriber         1.0       0.0   1.0     0.0
1664633       1  Subscriber         1.0       0.0   1.0     0.0
1664634       1  Subscriber         1.0       0.0   1.0     0.0
1664635       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1685177       2  Subscriber         NaN       NaN   NaN     NaN
1685178       1  Subscriber         NaN       NaN   NaN     NaN
1685179       1  Subscriber         NaN       NaN   NaN     NaN
1685180       1  Subscriber         NaN       NaN   NaN     NaN
1685181       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1685182       1  Subscriber         1.0       0.0   1.0     0.0
1685183       2    Customer         0.0       1.0   0.0     1.0
1685184       2  Subscriber         1.0       0.0   0.0     1.0
1685185       1  Subscriber         1.0       0.0   1.0     0.0
1685186       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1705728       2  Subscriber         NaN       NaN   NaN     NaN
1705729       1  Subscriber         NaN       NaN   NaN     NaN
1705730       1  Subscriber         NaN       NaN   NaN     NaN
1705731       1  Subscriber         NaN       NaN   NaN     NaN
1705732       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1705733       1  Subscriber         1.0       0.0   1.0     0.0
1705734       1  Subscriber         1.0       0.0   1.0     0.0
1705735       1  Subscriber         1.0       0.0   1.0     0.0
1705736       1  Subscriber         1.0       0.0   1.0     0.0
1705737       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1726279       1  Subscriber         NaN       NaN   NaN     NaN
1726280       0    Customer         NaN       NaN   NaN     NaN
1726281       2  Subscriber         NaN       NaN   NaN     NaN
1726282       2  Subscriber         NaN       NaN   NaN     NaN
1726283       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1726284       1  Subscriber         1.0       0.0   1.0     0.0
1726285       1  Subscriber         1.0       0.0   1.0     0.0
1726286       2  Subscriber         1.0       0.0   0.0     1.0
1726287       1  Subscriber         1.0       0.0   1.0     0.0
1726288       0    Customer         0.0       1.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
1746830       1  Subscriber         NaN       NaN   NaN     NaN
1746831       0  Subscriber         NaN       NaN   NaN     NaN
1746832       1  Subscriber         NaN       NaN   NaN     NaN
1746833       1  Subscriber         NaN       NaN   NaN     NaN
1746834       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1746835       2    Customer         0.0       1.0   0.0     1.0
1746836       1  Subscriber         1.0       0.0   1.0     0.0
1746837       2  Subscriber         1.0       0.0   0.0     1.0
1746838       1  Subscriber         1.0       0.0   1.0     0.0
1746839       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1767381       1  Subscriber         NaN       NaN   NaN     NaN
1767382       1  Subscriber         NaN       NaN   NaN     NaN
1767383       1  Subscriber         NaN       NaN   NaN     NaN
1767384       1  Subscriber         NaN       NaN   NaN     NaN
1767385       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1767386       1  Subscriber         1.0       0.0   1.0     0.0
1767387       1  Subscriber         1.0       0.0   1.0     0.0
1767388       1  Subscriber         1.0       0.0   1.0     0.0
1767389       1  Subscriber         1.0       0.0   1.0     0.0
1767390       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1787932       1  Subscriber         NaN       NaN   NaN     NaN
1787933       1  Subscriber         NaN       NaN   NaN     NaN
1787934       1  Subscriber         NaN       NaN   NaN     NaN
1787935       1  Subscriber         NaN       NaN   NaN     NaN
1787936       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1787937       1  Subscriber         1.0       0.0   1.0     0.0
1787938       1  Subscriber         1.0       0.0   1.0     0.0
1787939       2  Subscriber         1.0       0.0   0.0     1.0
1787940       1  Subscriber         1.0       0.0   1.0     0.0
1787941       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1808483       1    Customer         NaN       NaN   NaN     NaN
1808484       1  Subscriber         NaN       NaN   NaN     NaN
1808485       1  Subscriber         NaN       NaN   NaN     NaN
1808486       1  Subscriber         NaN       NaN   NaN     NaN
1808487       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1808488       1  Subscriber         1.0       0.0   1.0     0.0
1808489       1  Subscriber         1.0       0.0   1.0     0.0
1808490       2  Subscriber         1.0       0.0   0.0     1.0
1808491       1  Subscriber         1.0       0.0   1.0     0.0
1808492       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1829034       1  Subscriber         NaN       NaN   NaN     NaN
1829035       1  Subscriber         NaN       NaN   NaN     NaN
1829036       1  Subscriber         NaN       NaN   NaN     NaN
1829037       2  Subscriber         NaN       NaN   NaN     NaN
1829038       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1829039       1  Subscriber         1.0       0.0   1.0     0.0
1829040       1  Subscriber         1.0       0.0   1.0     0.0
1829041       1  Subscriber         1.0       0.0   1.0     0.0
1829042       1  Subscriber         1.0       0.0   1.0     0.0
1829043       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1849585       1  Subscriber         NaN       NaN   NaN     NaN
1849586       1  Subscriber         NaN       NaN   NaN     NaN
1849587       1  Subscriber         NaN       NaN   NaN     NaN
1849588       1  Subscriber         NaN       NaN   NaN     NaN
1849589       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1849590       1  Subscriber         1.0       0.0   1.0     0.0
1849591       2  Subscriber         1.0       0.0   0.0     1.0
1849592       1  Subscriber         1.0       0.0   1.0     0.0
1849593       1  Subscriber         1.0       0.0   1.0     0.0
1849594       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1870136       2  Subscriber         NaN       NaN   NaN     NaN
1870137       1  Subscriber         NaN       NaN   NaN     NaN
1870138       2  Subscriber         NaN       NaN   NaN     NaN
1870139       1  Subscriber         NaN       NaN   NaN     NaN
1870140       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1870141       1  Subscriber         1.0       0.0   1.0     0.0
1870142       1  Subscriber         1.0       0.0   1.0     0.0
1870143       1  Subscriber         1.0       0.0   1.0     0.0
1870144       1  Subscriber         1.0       0.0   1.0     0.0
1870145       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1890687       1  Subscriber         NaN       NaN   NaN     NaN
1890688       2  Subscriber         NaN       NaN   NaN     NaN
1890689       1  Subscriber         NaN       NaN   NaN     NaN
1890690       1  Subscriber         NaN       NaN   NaN     NaN
1890691       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1890692       1  Subscriber         1.0       0.0   1.0     0.0
1890693       1  Subscriber         1.0       0.0   1.0     0.0
1890694       1  Subscriber         1.0       0.0   1.0     0.0
1890695       2  Subscriber         1.0       0.0   0.0     1.0
1890696       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
1911238       1  Subscriber         NaN       NaN   NaN     NaN
1911239       1  Subscriber         NaN       NaN   NaN     NaN
1911240       1  Subscriber         NaN       NaN   NaN     NaN
1911241       1  Subscriber         NaN       NaN   NaN     NaN
1911242       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1911243       1  Subscriber         1.0       0.0   1.0     0.0
1911244       1  Subscriber         1.0       0.0   1.0     0.0
1911245       1  Subscriber         1.0       0.0   1.0     0.0
1911246       2  Subscriber         1.0       0.0   0.0     1.0
1911247       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
1931789       1  Subscriber         NaN       NaN   NaN     NaN
1931790       1  Subscriber         NaN       NaN   NaN     NaN
1931791       1  Subscriber         NaN       NaN   NaN     NaN
1931792       1  Subscriber         NaN       NaN   NaN     NaN
1931793       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1931794       1  Subscriber         1.0       0.0   1.0     0.0
1931795       1  Subscriber         1.0       0.0   1.0     0.0
1931796       1  Subscriber         1.0       0.0   1.0     0.0
1931797       2  Subscriber         1.0       0.0   0.0     1.0
1931798       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
1952340       1  Subscriber         NaN       NaN   NaN     NaN
1952341       2  Subscriber         NaN       NaN   NaN     NaN
1952342       2  Subscriber         NaN       NaN   NaN     NaN
1952343       2  Subscriber         NaN       NaN   NaN     NaN
1952344       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1952345       2  Subscriber         1.0       0.0   0.0     1.0
1952346       1  Subscriber         1.0       0.0   1.0     0.0
1952347       1  Subscriber         1.0       0.0   1.0     0.0
1952348       2    Customer         0.0       1.0   0.0     1.0
1952349       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
1972891       2    Customer         NaN       NaN   NaN     NaN
1972892       1  Subscriber         NaN       NaN   NaN     NaN
1972893       1  Subscriber         NaN       NaN   NaN     NaN
1972894       2  Subscriber         NaN       NaN   NaN     NaN
1972895       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1972896       1  Subscriber         1.0       0.0   1.0     0.0
1972897       2  Subscriber         1.0       0.0   0.0     1.0
1972898       0    Customer         0.0       1.0   0.0     0.0
1972899       1  Subscriber         1.0       0.0   1.0     0.0
1972900       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
1993442       1  Subscriber         NaN       NaN   NaN     NaN
1993443       1  Subscriber         NaN       NaN   NaN     NaN
1993444       2  Subscriber         NaN       NaN   NaN     NaN
1993445       2  Subscriber         NaN       NaN   NaN     NaN
1993446       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
1993447       1  Subscriber         1.0       0.0   1.0     0.0
1993448       1  Subscriber         1.0       0.0   1.0     0.0
1993449       1    Customer         0.0       1.0   1.0     0.0
1993450       1  Subscriber         1.0       0.0   1.0     0.0
1993451       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
2013993       1  Subscriber         NaN       NaN   NaN     NaN
2013994       1  Subscriber         NaN       NaN   NaN     NaN
2013995       1  Subscriber         NaN       NaN   NaN     NaN
2013996       2  Subscriber         NaN       NaN   NaN     NaN
2013997       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2013998       1  Subscriber         1.0       0.0   1.0     0.0
2013999       1  Subscriber         1.0       0.0   1.0     0.0
2014000       1  Subscriber         1.0       0.0   1.0     0.0
2014001       1  Subscriber         1.0       0.0   1.0     0.0
2014002       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
2034544       1  Subscriber         NaN       NaN   NaN     NaN
2034545       1  Subscriber         NaN       NaN   NaN     NaN
2034546       2  Subscriber         NaN       NaN   NaN     NaN
2034547       1  Subscriber         NaN       NaN   NaN     NaN
2034548       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2034549       1  Subscriber         1.0       0.0   1.0     0.0
2034550       1  Subscriber         1.0       0.0   1.0     0.0
2034551       2  Subscriber         1.0       0.0   0.0     1.0
2034552       1  Subscriber         1.0       0.0   1.0     0.0
2034553       1    Customer         0.0       1.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
2055095       1  Subscriber         NaN       NaN   NaN     NaN
2055096       1  Subscriber         NaN       NaN   NaN     NaN
2055097       2  Subscriber         NaN       NaN   NaN     NaN
2055098       1  Subscriber         NaN       NaN   NaN     NaN
2055099       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2055100       1  Subscriber         1.0       0.0   1.0     0.0
2055101       1  Subscriber         1.0       0.0   1.0     0.0
2055102       1  Subscriber         1.0       0.0   1.0     0.0
2055103       2  Subscriber         1.0       0.0   0.0     1.0
2055104       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
2075646       2  Subscriber         NaN       NaN   NaN     NaN
2075647       1  Subscriber         NaN       NaN   NaN     NaN
2075648       1  Subscriber         NaN       NaN   NaN     NaN
2075649       1  Subscriber         NaN       NaN   NaN     NaN
2075650       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2075651       1  Subscriber         1.0       0.0   1.0     0.0
2075652       2  Subscriber         1.0       0.0   0.0     1.0
2075653       1  Subscriber         1.0       0.0   1.0     0.0
2075654       1  Subscriber         1.0       0.0   1.0     0.0
2075655       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
2096197       2  Subscriber         NaN       NaN   NaN     NaN
2096198       2  Subscriber         NaN       NaN   NaN     NaN
2096199       1  Subscriber         NaN       NaN   NaN     NaN
2096200       1  Subscriber         NaN       NaN   NaN     NaN
2096201       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2096202       2  Subscriber         1.0       0.0   0.0     1.0
2096203       1  Subscriber         1.0       0.0   1.0     0.0
2096204       1  Subscriber         1.0       0.0   1.0     0.0
2096205       1  Subscriber         1.0       0.0   1.0     0.0
2096206       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
2116748       1  Subscriber         NaN       NaN   NaN     NaN
2116749       1  Subscriber         NaN       NaN   NaN     NaN
2116750       1  Subscriber         NaN       NaN   NaN     NaN
2116751       1  Subscriber         NaN       NaN   NaN     NaN
2116752       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2116753       1  Subscriber         1.0       0.0   1.0     0.0
2116754       1  Subscriber         1.0       0.0   1.0     0.0
2116755       1  Subscriber         1.0       0.0   1.0     0.0
2116756       1  Subscriber         1.0       0.0   1.0     0.0
2116757       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
2137299       2    Customer         NaN       NaN   NaN     NaN
2137300       1  Subscriber         NaN       NaN   NaN     NaN
2137301       2  Subscriber         NaN       NaN   NaN     NaN
2137302       1    Customer         NaN       NaN   NaN     NaN
2137303       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2137304       2  Subscriber         1.0       0.0   0.0     1.0
2137305       2  Subscriber         1.0       0.0   0.0     1.0
2137306       2  Subscriber         1.0       0.0   0.0     1.0
2137307       1  Subscriber         1.0       0.0   1.0     0.0
2137308       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
2157850       1  Subscriber         NaN       NaN   NaN     NaN
2157851       2  Subscriber         NaN       NaN   NaN     NaN
2157852       1  Subscriber         NaN       NaN   NaN     NaN
2157853       2  Subscriber         NaN       NaN   NaN     NaN
2157854       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2157855       1  Subscriber         1.0       0.0   1.0     0.0
2157856       1  Subscriber         1.0       0.0   1.0     0.0
2157857       1  Subscriber         1.0       0.0   1.0     0.0
2157858       1  Subscriber         1.0       0.0   1.0     0.0
2157859       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
2178401       2  Subscriber         NaN       NaN   NaN     NaN
2178402       1    Customer         NaN       NaN   NaN     NaN
2178403       1    Customer         NaN       NaN   NaN     NaN
2178404       1    Customer         NaN       NaN   NaN     NaN
2178405       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2178406       0    Customer         0.0       1.0   0.0     0.0
2178407       2  Subscriber         1.0       0.0   0.0     1.0
2178408       0    Customer         0.0       1.0   0.0     0.0
2178409       1    Customer         0.0       1.0   1.0     0.0
2178410       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
2198952       1  Subscriber         NaN       NaN   NaN     NaN
2198953       1  Subscriber         NaN       NaN   NaN     NaN
2198954       1  Subscriber         NaN       NaN   NaN     NaN
2198955       1  Subscriber         NaN       NaN   NaN     NaN
2198956       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2198957       1  Subscriber         1.0       0.0   1.0     0.0
2198958       1  Subscriber         1.0       0.0   1.0     0.0
2198959       1  Subscriber         1.0       0.0   1.0     0.0
2198960       1  Subscriber         1.0       0.0   1.0     0.0
2198961       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
2219503       1  Subscriber         NaN       NaN   NaN     NaN
2219504       0  Subscriber         NaN       NaN   NaN     NaN
2219505       1  Subscriber         NaN       NaN   NaN     NaN
2219506       1  Subscriber         NaN       NaN   NaN     NaN
2219507       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2219508       1  Subscriber         1.0       0.0   1.0     0.0
2219509       1  Subscriber         1.0       0.0   1.0     0.0
2219510       1  Subscriber         1.0       0.0   1.0     0.0
2219511       1  Subscriber         1.0       0.0   1.0     0.0
2219512       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
2240054       1  Subscriber         NaN       NaN   NaN     NaN
2240055       2  Subscriber         NaN       NaN   NaN     NaN
2240056       2  Subscriber         NaN       NaN   NaN     NaN
2240057       1  Subscriber         NaN       NaN   NaN     NaN
2240058       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2240059       1  Subscriber         1.0       0.0   1.0     0.0
2240060       1  Subscriber         1.0       0.0   1.0     0.0
2240061       2  Subscriber         1.0       0.0   0.0     1.0
2240062       1  Subscriber         1.0       0.0   1.0     0.0
2240063       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
2260605       1  Subscriber         NaN       NaN   NaN     NaN
2260606       2  Subscriber         NaN       NaN   NaN     NaN
2260607       1  Subscriber         NaN       NaN   NaN     NaN
2260608       1  Subscriber         NaN       NaN   NaN     NaN
2260609       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2260610       1  Subscriber         1.0       0.0   1.0     0.0
2260611       2  Subscriber         1.0       0.0   0.0     1.0
2260612       1  Subscriber         1.0       0.0   1.0     0.0
2260613       1  Subscriber         1.0       0.0   1.0     0.0
2260614       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
2281156       1  Subscriber         NaN       NaN   NaN     NaN
2281157       1  Subscriber         NaN       NaN   NaN     NaN
2281158       2  Subscriber         NaN       NaN   NaN     NaN
2281159       1  Subscriber         NaN       NaN   NaN     NaN
2281160       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2281161       2  Subscriber         1.0       0.0   0.0     1.0
2281162       1  Subscriber         1.0       0.0   1.0     0.0
2281163       0  Subscriber         1.0       0.0   0.0     0.0
2281164       2  Subscriber         1.0       0.0   0.0     1.0
2281165       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
2301707       1  Subscriber         NaN       NaN   NaN     NaN
2301708       2  Subscriber         NaN       NaN   NaN     NaN
2301709       1  Subscriber         NaN       NaN   NaN     NaN
2301710       1  Subscriber         NaN       NaN   NaN     NaN
2301711       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2301712       1  Subscriber         1.0       0.0   1.0     0.0
2301713       2    Customer         0.0       1.0   0.0     1.0
2301714       1  Subscriber         1.0       0.0   1.0     0.0
2301715       1  Subscriber         1.0       0.0   1.0     0.0
2301716       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
2322258       1  Subscriber         NaN       NaN   NaN     NaN
2322259       1  Subscriber         NaN       NaN   NaN     NaN
2322260       1  Subscriber         NaN       NaN   NaN     NaN
2322261       1  Subscriber         NaN       NaN   NaN     NaN
2322262       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2322263       2  Subscriber         1.0       0.0   0.0     1.0
2322264       1  Subscriber         1.0       0.0   1.0     0.0
2322265       1  Subscriber         1.0       0.0   1.0     0.0
2322266       1  Subscriber         1.0       0.0   1.0     0.0
2322267       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
2342809       1  Subscriber         NaN       NaN   NaN     NaN
2342810       1    Customer         NaN       NaN   NaN     NaN
2342811       1  Subscriber         NaN       NaN   NaN     NaN
2342812       2  Subscriber         NaN       NaN   NaN     NaN
2342813       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2342814       2  Subscriber         1.0       0.0   0.0     1.0
2342815       1  Subscriber         1.0       0.0   1.0     0.0
2342816       1  Subscriber         1.0       0.0   1.0     0.0
2342817       1  Subscriber         1.0       0.0   1.0     0.0
2342818       2    Customer         0.0       1.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
2363360       1  Subscriber         NaN       NaN   NaN     NaN
2363361       2  Subscriber         NaN       NaN   NaN     NaN
2363362       1  Subscriber         NaN       NaN   NaN     NaN
2363363       2  Subscriber         NaN       NaN   NaN     NaN
2363364       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2363365       0    Customer         0.0       1.0   0.0     0.0
2363366       2  Subscriber         1.0       0.0   0.0     1.0
2363367       2  Subscriber         1.0       0.0   0.0     1.0
2363368       1  Subscriber         1.0       0.0   1.0     0.0
2363369       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
2383911       2  Subscriber         NaN       NaN   NaN     NaN
2383912       2  Subscriber         NaN       NaN   NaN     NaN
2383913       0  Subscriber         NaN       NaN   NaN     NaN
2383914       1  Subscriber         NaN       NaN   NaN     NaN
2383915       2    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2383916       2  Subscriber         1.0       0.0   0.0     1.0
2383917       1  Subscriber         1.0       0.0   1.0     0.0
2383918       1  Subscriber         1.0       0.0   1.0     0.0
2383919       2  Subscriber         1.0       0.0   0.0     1.0
2383920       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
2404462       1  Subscriber         NaN       NaN   NaN     NaN
2404463       1  Subscriber         NaN       NaN   NaN     NaN
2404464       1  Subscriber         NaN       NaN   NaN     NaN
2404465       1  Subscriber         NaN       NaN   NaN     NaN
2404466       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2404467       1  Subscriber         1.0       0.0   1.0     0.0
2404468       1  Subscriber         1.0       0.0   1.0     0.0
2404469       1  Subscriber         1.0       0.0   1.0     0.0
2404470       1  Subscriber         1.0       0.0   1.0     0.0
2404471       0    Customer         0.0       1.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
2425013       1  Subscriber         NaN       NaN   NaN     NaN
2425014       1  Subscriber         NaN       NaN   NaN     NaN
2425015       1  Subscriber         NaN       NaN   NaN     NaN
2425016       1  Subscriber         NaN       NaN   NaN     NaN
2425017       0  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2425018       1  Subscriber         1.0       0.0   1.0     0.0
2425019       1  Subscriber         1.0       0.0   1.0     0.0
2425020       1  Subscriber         1.0       0.0   1.0     0.0
2425021       1  Subscriber         1.0       0.0   1.0     0.0
2425022       1    Customer         0.0       1.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
2445564       1  Subscriber         NaN       NaN   NaN     NaN
2445565       1  Subscriber         NaN       NaN   NaN     NaN
2445566       1  Subscriber         NaN       NaN   NaN     NaN
2445567       2  Subscriber         NaN       NaN   NaN     NaN
2445568       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2445569       1  Subscriber         1.0       0.0   1.0     0.0
2445570       1  Subscriber         1.0       0.0   1.0     0.0
2445571       1  Subscriber         1.0       0.0   1.0     0.0
2445572       1  Subscriber         1.0       0.0   1.0     0.0
2445573       0  Subscriber         1.0       0.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
2466115       2  Subscriber         NaN       NaN   NaN     NaN
2466116       1  Subscriber         NaN       NaN   NaN     NaN
2466117       1  Subscriber         NaN       NaN   NaN     NaN
2466118       1  Subscriber         NaN       NaN   NaN     NaN
2466119       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2466120       2  Subscriber         1.0       0.0   0.0     1.0
2466121       1  Subscriber         1.0       0.0   1.0     0.0
2466122       1  Subscriber         1.0       0.0   1.0     0.0
2466123       1  Subscriber         1.0       0.0   1.0     0.0
2466124       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
2486666       2  Subscriber         NaN       NaN   NaN     NaN
2486667       0    Customer         NaN       NaN   NaN     NaN
2486668       1  Subscriber         NaN       NaN   NaN     NaN
2486669       1  Subscriber         NaN       NaN   NaN     NaN
2486670       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2486671       2  Subscriber         1.0       0.0   0.0     1.0
2486672       1  Subscriber         1.0       0.0   1.0     0.0
2486673       2  Subscriber         1.0       0.0   0.0     1.0
2486674       1  Subscriber         1.0       0.0   1.0     0.0
2486675       0    Customer         0.0       1.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
2507217       1  Subscriber         NaN       NaN   NaN     NaN
2507218       1  Subscriber         NaN       NaN   NaN     NaN
2507219       1  Subscriber         NaN       NaN   NaN     NaN
2507220       1  Subscriber         NaN       NaN   NaN     NaN
2507221       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2507222       0    Customer         0.0       1.0   0.0     0.0
2507223       2  Subscriber         1.0       0.0   0.0     1.0
2507224       1  Subscriber         1.0       0.0   1.0     0.0
2507225       1  Subscriber         1.0       0.0   1.0     0.0
2507226       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
2527768       2  Subscriber         NaN       NaN   NaN     NaN
2527769       2  Subscriber         NaN       NaN   NaN     NaN
2527770       1  Subscriber         NaN       NaN   NaN     NaN
2527771       1  Subscriber         NaN       NaN   NaN     NaN
2527772       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2527773       2  Subscriber         1.0       0.0   0.0     1.0
2527774       1  Subscriber         1.0       0.0   1.0     0.0
2527775       2  Subscriber         1.0       0.0   0.0     1.0
2527776       1    Customer         0.0       1.0   1.0     0.0
2527777       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
2548319       2  Subscriber         NaN       NaN   NaN     NaN
2548320       2  Subscriber         NaN       NaN   NaN     NaN
2548321       0    Customer         NaN       NaN   NaN     NaN
2548322       0    Customer         NaN       NaN   NaN     NaN
2548323       0  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2548324       1    Customer         0.0       1.0   1.0     0.0
2548325       1  Subscriber         1.0       0.0   1.0     0.0
2548326       1  Subscriber         1.0       0.0   1.0     0.0
2548327       1  Subscriber         1.0       0.0   1.0     0.0
2548328       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
2568870       2  Subscriber         NaN       NaN   NaN     NaN
2568871       1  Subscriber         NaN       NaN   NaN     NaN
2568872       1  Subscriber         NaN       NaN   NaN     NaN
2568873       2  Subscriber         NaN       NaN   NaN     NaN
2568874       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2568875       1  Subscriber         1.0       0.0   1.0     0.0
2568876       2  Subscriber         1.0       0.0   0.0     1.0
2568877       1  Subscriber         1.0       0.0   1.0     0.0
2568878       1  Subscriber         1.0       0.0   1.0     0.0
2568879       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
2589421       1  Subscriber         NaN       NaN   NaN     NaN
2589422       2  Subscriber         NaN       NaN   NaN     NaN
2589423       2  Subscriber         NaN       NaN   NaN     NaN
2589424       2  Subscriber         NaN       NaN   NaN     NaN
2589425       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2589426       2  Subscriber         1.0       0.0   0.0     1.0
2589427       1  Subscriber         1.0       0.0   1.0     0.0
2589428       1  Subscriber         1.0       0.0   1.0     0.0
2589429       2  Subscriber         1.0       0.0   0.0     1.0
2589430       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
2609972       1  Subscriber         NaN       NaN   NaN     NaN
2609973       1  Subscriber         NaN       NaN   NaN     NaN
2609974       2  Subscriber         NaN       NaN   NaN     NaN
2609975       1  Subscriber         NaN       NaN   NaN     NaN
2609976       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2609977       1  Subscriber         1.0       0.0   1.0     0.0
2609978       1  Subscriber         1.0       0.0   1.0     0.0
2609979       1  Subscriber         1.0       0.0   1.0     0.0
2609980       0  Subscriber         1.0       0.0   0.0     0.0
2609981       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
2630523       1  Subscriber         NaN       NaN   NaN     NaN
2630524       1    Customer         NaN       NaN   NaN     NaN
2630525       1  Subscriber         NaN       NaN   NaN     NaN
2630526       2  Subscriber         NaN       NaN   NaN     NaN
2630527       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2630528       1  Subscriber         1.0       0.0   1.0     0.0
2630529       1  Subscriber         1.0       0.0   1.0     0.0
2630530       1  Subscriber         1.0       0.0   1.0     0.0
2630531       2  Subscriber         1.0       0.0   0.0     1.0
2630532       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
2651074       0  Subscriber         NaN       NaN   NaN     NaN
2651075       1  Subscriber         NaN       NaN   NaN     NaN
2651076       1  Subscriber         NaN       NaN   NaN     NaN
2651077       1  Subscriber         NaN       NaN   NaN     NaN
2651078       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2651079       1  Subscriber         1.0       0.0   1.0     0.0
2651080       1  Subscriber         1.0       0.0   1.0     0.0
2651081       1  Subscriber         1.0       0.0   1.0     0.0
2651082       2  Subscriber         1.0       0.0   0.0     1.0
2651083       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
2671625       1  Subscriber         NaN       NaN   NaN     NaN
2671626       2  Subscriber         NaN       NaN   NaN     NaN
2671627       1  Subscriber         NaN       NaN   NaN     NaN
2671628       1  Subscriber         NaN       NaN   NaN     NaN
2671629       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2671630       1  Subscriber         1.0       0.0   1.0     0.0
2671631       1  Subscriber         1.0       0.0   1.0     0.0
2671632       1  Subscriber         1.0       0.0   1.0     0.0
2671633       2  Subscriber         1.0       0.0   0.0     1.0
2671634       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
2692176       1  Subscriber         NaN       NaN   NaN     NaN
2692177       1  Subscriber         NaN       NaN   NaN     NaN
2692178       1  Subscriber         NaN       NaN   NaN     NaN
2692179       1    Customer         NaN       NaN   NaN     NaN
2692180       2    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2692181       1  Subscriber         1.0       0.0   1.0     0.0
2692182       1    Customer         0.0       1.0   1.0     0.0
2692183       2  Subscriber         1.0       0.0   0.0     1.0
2692184       1  Subscriber         1.0       0.0   1.0     0.0
2692185       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
2712727       1  Subscriber         NaN       NaN   NaN     NaN
2712728       1  Subscriber         NaN       NaN   NaN     NaN
2712729       1  Subscriber         NaN       NaN   NaN     NaN
2712730       1  Subscriber         NaN       NaN   NaN     NaN
2712731       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2712732       1    Customer         0.0       1.0   1.0     0.0
2712733       1  Subscriber         1.0       0.0   1.0     0.0
2712734       1  Subscriber         1.0       0.0   1.0     0.0
2712735       1  Subscriber         1.0       0.0   1.0     0.0
2712736       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
2733278       2  Subscriber         NaN       NaN   NaN     NaN
2733279       1  Subscriber         NaN       NaN   NaN     NaN
2733280       1  Subscriber         NaN       NaN   NaN     NaN
2733281       1  Subscriber         NaN       NaN   NaN     NaN
2733282       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2733283       2  Subscriber         1.0       0.0   0.0     1.0
2733284       1  Subscriber         1.0       0.0   1.0     0.0
2733285       1  Subscriber         1.0       0.0   1.0     0.0
2733286       1  Subscriber         1.0       0.0   1.0     0.0
2733287       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
2753829       1  Subscriber         NaN       NaN   NaN     NaN
2753830       2  Subscriber         NaN       NaN   NaN     NaN
2753831       1  Subscriber         NaN       NaN   NaN     NaN
2753832       1  Subscriber         NaN       NaN   NaN     NaN
2753833       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2753834       1  Subscriber         1.0       0.0   1.0     0.0
2753835       1  Subscriber         1.0       0.0   1.0     0.0
2753836       1  Subscriber         1.0       0.0   1.0     0.0
2753837       0    Customer         0.0       1.0   0.0     0.0
2753838       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
2774380       1  Subscriber         NaN       NaN   NaN     NaN
2774381       1  Subscriber         NaN       NaN   NaN     NaN
2774382       1  Subscriber         NaN       NaN   NaN     NaN
2774383       1    Customer         NaN       NaN   NaN     NaN
2774384       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2774385       1  Subscriber         1.0       0.0   1.0     0.0
2774386       1  Subscriber         1.0       0.0   1.0     0.0
2774387       1  Subscriber         1.0       0.0   1.0     0.0
2774388       1  Subscriber         1.0       0.0   1.0     0.0
2774389       0    Customer         0.0       1.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
2794931       1  Subscriber         NaN       NaN   NaN     NaN
2794932       2    Customer         NaN       NaN   NaN     NaN
2794933       1  Subscriber         NaN       NaN   NaN     NaN
2794934       0    Customer         NaN       NaN   NaN     NaN
2794935       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2794936       1  Subscriber         1.0       0.0   1.0     0.0
2794937       2  Subscriber         1.0       0.0   0.0     1.0
2794938       1  Subscriber         1.0       0.0   1.0     0.0
2794939       2  Subscriber         1.0       0.0   0.0     1.0
2794940       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
2815482       0    Customer         NaN       NaN   NaN     NaN
2815483       2  Subscriber         NaN       NaN   NaN     NaN
2815484       2  Subscriber         NaN       NaN   NaN     NaN
2815485       0    Customer         NaN       NaN   NaN     NaN
2815486       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2815487       2  Subscriber         1.0       0.0   0.0     1.0
2815488       1  Subscriber         1.0       0.0   1.0     0.0
2815489       1  Subscriber         1.0       0.0   1.0     0.0
2815490       1  Subscriber         1.0       0.0   1.0     0.0
2815491       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
2836033       1  Subscriber         NaN       NaN   NaN     NaN
2836034       1  Subscriber         NaN       NaN   NaN     NaN
2836035       1  Subscriber         NaN       NaN   NaN     NaN
2836036       1  Subscriber         NaN       NaN   NaN     NaN
2836037       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2836038       1  Subscriber         1.0       0.0   1.0     0.0
2836039       1  Subscriber         1.0       0.0   1.0     0.0
2836040       2  Subscriber         1.0       0.0   0.0     1.0
2836041       1  Subscriber         1.0       0.0   1.0     0.0
2836042       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
2856584       1  Subscriber         NaN       NaN   NaN     NaN
2856585       1  Subscriber         NaN       NaN   NaN     NaN
2856586       2  Subscriber         NaN       NaN   NaN     NaN
2856587       1  Subscriber         NaN       NaN   NaN     NaN
2856588       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2856589       1  Subscriber         1.0       0.0   1.0     0.0
2856590       2  Subscriber         1.0       0.0   0.0     1.0
2856591       1  Subscriber         1.0       0.0   1.0     0.0
2856592       1  Subscriber         1.0       0.0   1.0     0.0
2856593       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
2877135       2  Subscriber         NaN       NaN   NaN     NaN
2877136       1  Subscriber         NaN       NaN   NaN     NaN
2877137       1  Subscriber         NaN       NaN   NaN     NaN
2877138       1  Subscriber         NaN       NaN   NaN     NaN
2877139       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2877140       1  Subscriber         1.0       0.0   1.0     0.0
2877141       2  Subscriber         1.0       0.0   0.0     1.0
2877142       2  Subscriber         1.0       0.0   0.0     1.0
2877143       1  Subscriber         1.0       0.0   1.0     0.0
2877144       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
2897686       1  Subscriber         NaN       NaN   NaN     NaN
2897687       1  Subscriber         NaN       NaN   NaN     NaN
2897688       2  Subscriber         NaN       NaN   NaN     NaN
2897689       1  Subscriber         NaN       NaN   NaN     NaN
2897690       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2897691       1  Subscriber         1.0       0.0   1.0     0.0
2897692       1  Subscriber         1.0       0.0   1.0     0.0
2897693       1  Subscriber         1.0       0.0   1.0     0.0
2897694       2  Subscriber         1.0       0.0   0.0     1.0
2897695       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
2918237       1  Subscriber         NaN       NaN   NaN     NaN
2918238       2  Subscriber         NaN       NaN   NaN     NaN
2918239       2  Subscriber         NaN       NaN   NaN     NaN
2918240       2  Subscriber         NaN       NaN   NaN     NaN
2918241       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2918242       1  Subscriber         1.0       0.0   1.0     0.0
2918243       2  Subscriber         1.0       0.0   0.0     1.0
2918244       1  Subscriber         1.0       0.0   1.0     0.0
2918245       1  Subscriber         1.0       0.0   1.0     0.0
2918246       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
2938788       2  Subscriber         NaN       NaN   NaN     NaN
2938789       1  Subscriber         NaN       NaN   NaN     NaN
2938790       1  Subscriber         NaN       NaN   NaN     NaN
2938791       1  Subscriber         NaN       NaN   NaN     NaN
2938792       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2938793       1  Subscriber         1.0       0.0   1.0     0.0
2938794       1  Subscriber         1.0       0.0   1.0     0.0
2938795       2  Subscriber         1.0       0.0   0.0     1.0
2938796       1  Subscriber         1.0       0.0   1.0     0.0
2938797       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
2959339       1  Subscriber         NaN       NaN   NaN     NaN
2959340       2  Subscriber         NaN       NaN   NaN     NaN
2959341       1  Subscriber         NaN       NaN   NaN     NaN
2959342       0    Customer         NaN       NaN   NaN     NaN
2959343       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2959344       0    Customer         0.0       1.0   0.0     0.0
2959345       1  Subscriber         1.0       0.0   1.0     0.0
2959346       1  Subscriber         1.0       0.0   1.0     0.0
2959347       1  Subscriber         1.0       0.0   1.0     0.0
2959348       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
2979890       1  Subscriber         NaN       NaN   NaN     NaN
2979891       1  Subscriber         NaN       NaN   NaN     NaN
2979892       2  Subscriber         NaN       NaN   NaN     NaN
2979893       1  Subscriber         NaN       NaN   NaN     NaN
2979894       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
2979895       1  Subscriber         1.0       0.0   1.0     0.0
2979896       1  Subscriber         1.0       0.0   1.0     0.0
2979897       1  Subscriber         1.0       0.0   1.0     0.0
2979898       2  Subscriber         1.0       0.0   0.0     1.0
2979899       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
3000441       1  Subscriber         NaN       NaN   NaN     NaN
3000442       1  Subscriber         NaN       NaN   NaN     NaN
3000443       1  Subscriber         NaN       NaN   NaN     NaN
3000444       1  Subscriber         NaN       NaN   NaN     NaN
3000445       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3000446       1    Customer         0.0       1.0   1.0     0.0
3000447       2  Subscriber         1.0       0.0   0.0     1.0
3000448       1  Subscriber         1.0       0.0   1.0     0.0
3000449       1  Subscriber         1.0       0.0   1.0     0.0
3000450       0  Subscriber         1.0       0.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
3020992       1  Subscriber         NaN       NaN   NaN     NaN
3020993       1  Subscriber         NaN       NaN   NaN     NaN
3020994       1  Subscriber         NaN       NaN   NaN     NaN
3020995       1  Subscriber         NaN       NaN   NaN     NaN
3020996       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3020997       1  Subscriber         1.0       0.0   1.0     0.0
3020998       1  Subscriber         1.0       0.0   1.0     0.0
3020999       1  Subscriber         1.0       0.0   1.0     0.0
3021000       2  Subscriber         1.0       0.0   0.0     1.0
3021001       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
3041543       1  Subscriber         NaN       NaN   NaN     NaN
3041544       1  Subscriber         NaN       NaN   NaN     NaN
3041545       1  Subscriber         NaN       NaN   NaN     NaN
3041546       1  Subscriber         NaN       NaN   NaN     NaN
3041547       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3041548       1  Subscriber         1.0       0.0   1.0     0.0
3041549       2  Subscriber         1.0       0.0   0.0     1.0
3041550       1  Subscriber         1.0       0.0   1.0     0.0
3041551       1  Subscriber         1.0       0.0   1.0     0.0
3041552       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
3062094       0  Subscriber         NaN       NaN   NaN     NaN
3062095       2    Customer         NaN       NaN   NaN     NaN
3062096       1  Subscriber         NaN       NaN   NaN     NaN
3062097       1    Customer         NaN       NaN   NaN     NaN
3062098       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3062099       1  Subscriber         1.0       0.0   1.0     0.0
3062100       1  Subscriber         1.0       0.0   1.0     0.0
3062101       1  Subscriber         1.0       0.0   1.0     0.0
3062102       2  Subscriber         1.0       0.0   0.0     1.0
3062103       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
3082645       1  Subscriber         NaN       NaN   NaN     NaN
3082646       2  Subscriber         NaN       NaN   NaN     NaN
3082647       2  Subscriber         NaN       NaN   NaN     NaN
3082648       1  Subscriber         NaN       NaN   NaN     NaN
3082649       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3082650       1  Subscriber         1.0       0.0   1.0     0.0
3082651       1  Subscriber         1.0       0.0   1.0     0.0
3082652       1  Subscriber         1.0       0.0   1.0     0.0
3082653       1  Subscriber         1.0       0.0   1.0     0.0
3082654       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
3103196       1  Subscriber         NaN       NaN   NaN     NaN
3103197       1  Subscriber         NaN       NaN   NaN     NaN
3103198       1  Subscriber         NaN       NaN   NaN     NaN
3103199       1    Customer         NaN       NaN   NaN     NaN
3103200       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3103201       1  Subscriber         1.0       0.0   1.0     0.0
3103202       1  Subscriber         1.0       0.0   1.0     0.0
3103203       2  Subscriber         1.0       0.0   0.0     1.0
3103204       1  Subscriber         1.0       0.0   1.0     0.0
3103205       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
3123747       1  Subscriber         NaN       NaN   NaN     NaN
3123748       1  Subscriber         NaN       NaN   NaN     NaN
3123749       2  Subscriber         NaN       NaN   NaN     NaN
3123750       1    Customer         NaN       NaN   NaN     NaN
3123751       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3123752       2  Subscriber         1.0       0.0   0.0     1.0
3123753       2  Subscriber         1.0       0.0   0.0     1.0
3123754       1  Subscriber         1.0       0.0   1.0     0.0
3123755       1  Subscriber         1.0       0.0   1.0     0.0
3123756       0    Customer         0.0       1.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
3144298       2  Subscriber         NaN       NaN   NaN     NaN
3144299       1  Subscriber         NaN       NaN   NaN     NaN
3144300       1  Subscriber         NaN       NaN   NaN     NaN
3144301       0  Subscriber         NaN       NaN   NaN     NaN
3144302       2    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3144303       2  Subscriber         1.0       0.0   0.0     1.0
3144304       1  Subscriber         1.0       0.0   1.0     0.0
3144305       1  Subscriber         1.0       0.0   1.0     0.0
3144306       2  Subscriber         1.0       0.0   0.0     1.0
3144307       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
3164849       0    Customer         NaN       NaN   NaN     NaN
3164850       1  Subscriber         NaN       NaN   NaN     NaN
3164851       1  Subscriber         NaN       NaN   NaN     NaN
3164852       0  Subscriber         NaN       NaN   NaN     NaN
3164853       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3164854       2  Subscriber         1.0       0.0   0.0     1.0
3164855       1  Subscriber         1.0       0.0   1.0     0.0
3164856       1    Customer         0.0       1.0   1.0     0.0
3164857       1  Subscriber         1.0       0.0   1.0     0.0
3164858       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
3185400       1  Subscriber         NaN       NaN   NaN     NaN
3185401       0    Customer         NaN       NaN   NaN     NaN
3185402       0    Customer         NaN       NaN   NaN     NaN
3185403       1  Subscriber         NaN       NaN   NaN     NaN
3185404       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3185405       1  Subscriber         1.0       0.0   1.0     0.0
3185406       1    Customer         0.0       1.0   1.0     0.0
3185407       1  Subscriber         1.0       0.0   1.0     0.0
3185408       1  Subscriber         1.0       0.0   1.0     0.0
3185409       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
3205951       2  Subscriber         NaN       NaN   NaN     NaN
3205952       1    Customer         NaN       NaN   NaN     NaN
3205953       1  Subscriber         NaN       NaN   NaN     NaN
3205954       1  Subscriber         NaN       NaN   NaN     NaN
3205955       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3205956       1  Subscriber         1.0       0.0   1.0     0.0
3205957       2  Subscriber         1.0       0.0   0.0     1.0
3205958       2  Subscriber         1.0       0.0   0.0     1.0
3205959       1  Subscriber         1.0       0.0   1.0     0.0
3205960       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
3226502       1  Subscriber         NaN       NaN   NaN     NaN
3226503       1  Subscriber         NaN       NaN   NaN     NaN
3226504       1  Subscriber         NaN       NaN   NaN     NaN
3226505       1  Subscriber         NaN       NaN   NaN     NaN
3226506       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3226507       1  Subscriber         1.0       0.0   1.0     0.0
3226508       1  Subscriber         1.0       0.0   1.0     0.0
3226509       1  Subscriber         1.0       0.0   1.0     0.0
3226510       2  Subscriber         1.0       0.0   0.0     1.0
3226511       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
3247053       1  Subscriber         NaN       NaN   NaN     NaN
3247054       1  Subscriber         NaN       NaN   NaN     NaN
3247055       1  Subscriber         NaN       NaN   NaN     NaN
3247056       2  Subscriber         NaN       NaN   NaN     NaN
3247057       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3247058       1  Subscriber         1.0       0.0   1.0     0.0
3247059       2  Subscriber         1.0       0.0   0.0     1.0
3247060       1  Subscriber         1.0       0.0   1.0     0.0
3247061       2  Subscriber         1.0       0.0   0.0     1.0
3247062       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
3267604       0    Customer         NaN       NaN   NaN     NaN
3267605       1  Subscriber         NaN       NaN   NaN     NaN
3267606       2  Subscriber         NaN       NaN   NaN     NaN
3267607       2  Subscriber         NaN       NaN   NaN     NaN
3267608       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3267609       1  Subscriber         1.0       0.0   1.0     0.0
3267610       1  Subscriber         1.0       0.0   1.0     0.0
3267611       1  Subscriber         1.0       0.0   1.0     0.0
3267612       1  Subscriber         1.0       0.0   1.0     0.0
3267613       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
3288155       1  Subscriber         NaN       NaN   NaN     NaN
3288156       1  Subscriber         NaN       NaN   NaN     NaN
3288157       1  Subscriber         NaN       NaN   NaN     NaN
3288158       1  Subscriber         NaN       NaN   NaN     NaN
3288159       0  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3288160       1  Subscriber         1.0       0.0   1.0     0.0
3288161       1  Subscriber         1.0       0.0   1.0     0.0
3288162       1  Subscriber         1.0       0.0   1.0     0.0
3288163       2  Subscriber         1.0       0.0   0.0     1.0
3288164       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
3308706       1  Subscriber         NaN       NaN   NaN     NaN
3308707       1  Subscriber         NaN       NaN   NaN     NaN
3308708       1  Subscriber         NaN       NaN   NaN     NaN
3308709       1  Subscriber         NaN       NaN   NaN     NaN
3308710       2    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3308711       1  Subscriber         1.0       0.0   1.0     0.0
3308712       1  Subscriber         1.0       0.0   1.0     0.0
3308713       1  Subscriber         1.0       0.0   1.0     0.0
3308714       1  Subscriber         1.0       0.0   1.0     0.0
3308715       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
3329257       2  Subscriber         NaN       NaN   NaN     NaN
3329258       1  Subscriber         NaN       NaN   NaN     NaN
3329259       1  Subscriber         NaN       NaN   NaN     NaN
3329260       1  Subscriber         NaN       NaN   NaN     NaN
3329261       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3329262       2  Subscriber         1.0       0.0   0.0     1.0
3329263       1  Subscriber         1.0       0.0   1.0     0.0
3329264       1  Subscriber         1.0       0.0   1.0     0.0
3329265       2  Subscriber         1.0       0.0   0.0     1.0
3329266       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
3349808       1  Subscriber         NaN       NaN   NaN     NaN
3349809       1  Subscriber         NaN       NaN   NaN     NaN
3349810       1  Subscriber         NaN       NaN   NaN     NaN
3349811       1  Subscriber         NaN       NaN   NaN     NaN
3349812       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3349813       1  Subscriber         1.0       0.0   1.0     0.0
3349814       1  Subscriber         1.0       0.0   1.0     0.0
3349815       1  Subscriber         1.0       0.0   1.0     0.0
3349816       1  Subscriber         1.0       0.0   1.0     0.0
3349817       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
3370359       1  Subscriber         NaN       NaN   NaN     NaN
3370360       2  Subscriber         NaN       NaN   NaN     NaN
3370361       2  Subscriber         NaN       NaN   NaN     NaN
3370362       1  Subscriber         NaN       NaN   NaN     NaN
3370363       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3370364       2  Subscriber         1.0       0.0   0.0     1.0
3370365       2  Subscriber         1.0       0.0   0.0     1.0
3370366       2  Subscriber         1.0       0.0   0.0     1.0
3370367       1  Subscriber         1.0       0.0   1.0     0.0
3370368       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
3390910       1  Subscriber         NaN       NaN   NaN     NaN
3390911       1  Subscriber         NaN       NaN   NaN     NaN
3390912       1  Subscriber         NaN       NaN   NaN     NaN
3390913       1  Subscriber         NaN       NaN   NaN     NaN
3390914       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3390915       1  Subscriber         1.0       0.0   1.0     0.0
3390916       1    Customer         0.0       1.0   1.0     0.0
3390917       1  Subscriber         1.0       0.0   1.0     0.0
3390918       1  Subscriber         1.0       0.0   1.0     0.0
3390919       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
3411461       1  Subscriber         NaN       NaN   NaN     NaN
3411462       1  Subscriber         NaN       NaN   NaN     NaN
3411463       0    Customer         NaN       NaN   NaN     NaN
3411464       2  Subscriber         NaN       NaN   NaN     NaN
3411465       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3411466       2  Subscriber         1.0       0.0   0.0     1.0
3411467       0    Customer         0.0       1.0   0.0     0.0
3411468       1  Subscriber         1.0       0.0   1.0     0.0
3411469       1  Subscriber         1.0       0.0   1.0     0.0
3411470       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
3432012       0  Subscriber         NaN       NaN   NaN     NaN
3432013       1  Subscriber         NaN       NaN   NaN     NaN
3432014       1  Subscriber         NaN       NaN   NaN     NaN
3432015       1  Subscriber         NaN       NaN   NaN     NaN
3432016       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3432017       1  Subscriber         1.0       0.0   1.0     0.0
3432018       1  Subscriber         1.0       0.0   1.0     0.0
3432019       1  Subscriber         1.0       0.0   1.0     0.0
3432020       1  Subscriber         1.0       0.0   1.0     0.0
3432021       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
3452563       2  Subscriber         NaN       NaN   NaN     NaN
3452564       1  Subscriber         NaN       NaN   NaN     NaN
3452565       2  Subscriber         NaN       NaN   NaN     NaN
3452566       2  Subscriber         NaN       NaN   NaN     NaN
3452567       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3452568       1  Subscriber         1.0       0.0   1.0     0.0
3452569       2  Subscriber         1.0       0.0   0.0     1.0
3452570       1  Subscriber         1.0       0.0   1.0     0.0
3452571       1  Subscriber         1.0       0.0   1.0     0.0
3452572       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
3473114       1  Subscriber         NaN       NaN   NaN     NaN
3473115       2  Subscriber         NaN       NaN   NaN     NaN
3473116       1  Subscriber         NaN       NaN   NaN     NaN
3473117       1  Subscriber         NaN       NaN   NaN     NaN
3473118       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3473119       1  Subscriber         1.0       0.0   1.0     0.0
3473120       1  Subscriber         1.0       0.0   1.0     0.0
3473121       2  Subscriber         1.0       0.0   0.0     1.0
3473122       1  Subscriber         1.0       0.0   1.0     0.0
3473123       0  Subscriber         1.0       0.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
3493665       1  Subscriber         NaN       NaN   NaN     NaN
3493666       1  Subscriber         NaN       NaN   NaN     NaN
3493667       1  Subscriber         NaN       NaN   NaN     NaN
3493668       1  Subscriber         NaN       NaN   NaN     NaN
3493669       0  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3493670       1    Customer         0.0       1.0   1.0     0.0
3493671       1    Customer         0.0       1.0   1.0     0.0
3493672       1  Subscriber         1.0       0.0   1.0     0.0
3493673       2  Subscriber         1.0       0.0   0.0     1.0
3493674       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
3514216       1  Subscriber         NaN       NaN   NaN     NaN
3514217       1  Subscriber         NaN       NaN   NaN     NaN
3514218       2  Subscriber         NaN       NaN   NaN     NaN
3514219       1  Subscriber         NaN       NaN   NaN     NaN
3514220       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3514221       2  Subscriber         1.0       0.0   0.0     1.0
3514222       1  Subscriber         1.0       0.0   1.0     0.0
3514223       1  Subscriber         1.0       0.0   1.0     0.0
3514224       1  Subscriber         1.0       0.0   1.0     0.0
3514225       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
3534767       0    Customer         NaN       NaN   NaN     NaN
3534768       0    Customer         NaN       NaN   NaN     NaN
3534769       1  Subscriber         NaN       NaN   NaN     NaN
3534770       1  Subscriber         NaN       NaN   NaN     NaN
3534771       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3534772       1  Subscriber         1.0       0.0   1.0     0.0
3534773       1  Subscriber         1.0       0.0   1.0     0.0
3534774       1  Subscriber         1.0       0.0   1.0     0.0
3534775       1  Subscriber         1.0       0.0   1.0     0.0
3534776       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
3555318       1  Subscriber         NaN       NaN   NaN     NaN
3555319       1  Subscriber         NaN       NaN   NaN     NaN
3555320       1  Subscriber         NaN       NaN   NaN     NaN
3555321       2  Subscriber         NaN       NaN   NaN     NaN
3555322       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3555323       2  Subscriber         1.0       0.0   0.0     1.0
3555324       2  Subscriber         1.0       0.0   0.0     1.0
3555325       1  Subscriber         1.0       0.0   1.0     0.0
3555326       0    Customer         0.0       1.0   0.0     0.0
3555327       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
3575869       1  Subscriber         NaN       NaN   NaN     NaN
3575870       1  Subscriber         NaN       NaN   NaN     NaN
3575871       1  Subscriber         NaN       NaN   NaN     NaN
3575872       1  Subscriber         NaN       NaN   NaN     NaN
3575873       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3575874       1  Subscriber         1.0       0.0   1.0     0.0
3575875       2  Subscriber         1.0       0.0   0.0     1.0
3575876       1    Customer         0.0       1.0   1.0     0.0
3575877       2  Subscriber         1.0       0.0   0.0     1.0
3575878       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
3596420       1  Subscriber         NaN       NaN   NaN     NaN
3596421       1  Subscriber         NaN       NaN   NaN     NaN
3596422       2  Subscriber         NaN       NaN   NaN     NaN
3596423       1  Subscriber         NaN       NaN   NaN     NaN
3596424       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3596425       2  Subscriber         1.0       0.0   0.0     1.0
3596426       1  Subscriber         1.0       0.0   1.0     0.0
3596427       2    Customer         0.0       1.0   0.0     1.0
3596428       2  Subscriber         1.0       0.0   0.0     1.0
3596429       0    Customer         0.0       1.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
3616971       1  Subscriber         NaN       NaN   NaN     NaN
3616972       1  Subscriber         NaN       NaN   NaN     NaN
3616973       1  Subscriber         NaN       NaN   NaN     NaN
3616974       2  Subscriber         NaN       NaN   NaN     NaN
3616975       2    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3616976       0    Customer         0.0       1.0   0.0     0.0
3616977       1  Subscriber         1.0       0.0   1.0     0.0
3616978       1  Subscriber         1.0       0.0   1.0     0.0
3616979       1  Subscriber         1.0       0.0   1.0     0.0
3616980       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
3637522       1  Subscriber         NaN       NaN   NaN     NaN
3637523       0    Customer         NaN       NaN   NaN     NaN
3637524       2  Subscriber         NaN       NaN   NaN     NaN
3637525       2  Subscriber         NaN       NaN   NaN     NaN
3637526       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3637527       1  Subscriber         1.0       0.0   1.0     0.0
3637528       1  Subscriber         1.0       0.0   1.0     0.0
3637529       1  Subscriber         1.0       0.0   1.0     0.0
3637530       1  Subscriber         1.0       0.0   1.0     0.0
3637531       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
3658073       1  Subscriber         NaN       NaN   NaN     NaN
3658074       2  Subscriber         NaN       NaN   NaN     NaN
3658075       1  Subscriber         NaN       NaN   NaN     NaN
3658076       1  Subscriber         NaN       NaN   NaN     NaN
3658077       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3658078       1  Subscriber         1.0       0.0   1.0     0.0
3658079       1  Subscriber         1.0       0.0   1.0     0.0
3658080       1  Subscriber         1.0       0.0   1.0     0.0
3658081       2  Subscriber         1.0       0.0   0.0     1.0
3658082       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
3678624       1  Subscriber         NaN       NaN   NaN     NaN
3678625       1    Customer         NaN       NaN   NaN     NaN
3678626       1    Customer         NaN       NaN   NaN     NaN
3678627       0    Customer         NaN       NaN   NaN     NaN
3678628       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3678629       1  Subscriber         1.0       0.0   1.0     0.0
3678630       1  Subscriber         1.0       0.0   1.0     0.0
3678631       1  Subscriber         1.0       0.0   1.0     0.0
3678632       1  Subscriber         1.0       0.0   1.0     0.0
3678633       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
3699175       1    Customer         NaN       NaN   NaN     NaN
3699176       2  Subscriber         NaN       NaN   NaN     NaN
3699177       1  Subscriber         NaN       NaN   NaN     NaN
3699178       1  Subscriber         NaN       NaN   NaN     NaN
3699179       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3699180       1  Subscriber         1.0       0.0   1.0     0.0
3699181       1  Subscriber         1.0       0.0   1.0     0.0
3699182       1  Subscriber         1.0       0.0   1.0     0.0
3699183       1  Subscriber         1.0       0.0   1.0     0.0
3699184       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
3719726       1  Subscriber         NaN       NaN   NaN     NaN
3719727       1  Subscriber         NaN       NaN   NaN     NaN
3719728       1  Subscriber         NaN       NaN   NaN     NaN
3719729       1  Subscriber         NaN       NaN   NaN     NaN
3719730       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3719731       1  Subscriber         1.0       0.0   1.0     0.0
3719732       1  Subscriber         1.0       0.0   1.0     0.0
3719733       1  Subscriber         1.0       0.0   1.0     0.0
3719734       1  Subscriber         1.0       0.0   1.0     0.0
3719735       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
3740277       1  Subscriber         NaN       NaN   NaN     NaN
3740278       1  Subscriber         NaN       NaN   NaN     NaN
3740279       1  Subscriber         NaN       NaN   NaN     NaN
3740280       2  Subscriber         NaN       NaN   NaN     NaN
3740281       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3740282       1  Subscriber         1.0       0.0   1.0     0.0
3740283       1  Subscriber         1.0       0.0   1.0     0.0
3740284       1  Subscriber         1.0       0.0   1.0     0.0
3740285       1    Customer         0.0       1.0   1.0     0.0
3740286       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
3760828       1  Subscriber         NaN       NaN   NaN     NaN
3760829       2  Subscriber         NaN       NaN   NaN     NaN
3760830       2  Subscriber         NaN       NaN   NaN     NaN
3760831       1  Subscriber         NaN       NaN   NaN     NaN
3760832       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3760833       2  Subscriber         1.0       0.0   0.0     1.0
3760834       1  Subscriber         1.0       0.0   1.0     0.0
3760835       1  Subscriber         1.0       0.0   1.0     0.0
3760836       1  Subscriber         1.0       0.0   1.0     0.0
3760837       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
3781379       1  Subscriber         NaN       NaN   NaN     NaN
3781380       2  Subscriber         NaN       NaN   NaN     NaN
3781381       1  Subscriber         NaN       NaN   NaN     NaN
3781382       1  Subscriber         NaN       NaN   NaN     NaN
3781383       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3781384       1  Subscriber         1.0       0.0   1.0     0.0
3781385       2  Subscriber         1.0       0.0   0.0     1.0
3781386       1  Subscriber         1.0       0.0   1.0     0.0
3781387       1  Subscriber         1.0       0.0   1.0     0.0
3781388       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
3801930       1  Subscriber         NaN       NaN   NaN     NaN
3801931       1  Subscriber         NaN       NaN   NaN     NaN
3801932       0  Subscriber         NaN       NaN   NaN     NaN
3801933       1  Subscriber         NaN       NaN   NaN     NaN
3801934       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3801935       0    Customer         0.0       1.0   0.0     0.0
3801936       1  Subscriber         1.0       0.0   1.0     0.0
3801937       1  Subscriber         1.0       0.0   1.0     0.0
3801938       1  Subscriber         1.0       0.0   1.0     0.0
3801939       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
3822481       2  Subscriber         NaN       NaN   NaN     NaN
3822482       0  Subscriber         NaN       NaN   NaN     NaN
3822483       1  Subscriber         NaN       NaN   NaN     NaN
3822484       2  Subscriber         NaN       NaN   NaN     NaN
3822485       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3822486       1  Subscriber         1.0       0.0   1.0     0.0
3822487       2  Subscriber         1.0       0.0   0.0     1.0
3822488       1  Subscriber         1.0       0.0   1.0     0.0
3822489       1  Subscriber         1.0       0.0   1.0     0.0
3822490       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
3843032       2  Subscriber         NaN       NaN   NaN     NaN
3843033       1  Subscriber         NaN       NaN   NaN     NaN
3843034       1  Subscriber         NaN       NaN   NaN     NaN
3843035       1    Customer         NaN       NaN   NaN     NaN
3843036       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3843037       1  Subscriber         1.0       0.0   1.0     0.0
3843038       1  Subscriber         1.0       0.0   1.0     0.0
3843039       1  Subscriber         1.0       0.0   1.0     0.0
3843040       0    Customer         0.0       1.0   0.0     0.0
3843041       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
3863583       1  Subscriber         NaN       NaN   NaN     NaN
3863584       2  Subscriber         NaN       NaN   NaN     NaN
3863585       2  Subscriber         NaN       NaN   NaN     NaN
3863586       1  Subscriber         NaN       NaN   NaN     NaN
3863587       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3863588       1  Subscriber         1.0       0.0   1.0     0.0
3863589       1  Subscriber         1.0       0.0   1.0     0.0
3863590       1  Subscriber         1.0       0.0   1.0     0.0
3863591       2  Subscriber         1.0       0.0   0.0     1.0
3863592       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
3884134       1  Subscriber         NaN       NaN   NaN     NaN
3884135       1  Subscriber         NaN       NaN   NaN     NaN
3884136       1  Subscriber         NaN       NaN   NaN     NaN
3884137       1  Subscriber         NaN       NaN   NaN     NaN
3884138       2    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3884139       1  Subscriber         1.0       0.0   1.0     0.0
3884140       2  Subscriber         1.0       0.0   0.0     1.0
3884141       1  Subscriber         1.0       0.0   1.0     0.0
3884142       1  Subscriber         1.0       0.0   1.0     0.0
3884143       1    Customer         0.0       1.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
3904685       1  Subscriber         NaN       NaN   NaN     NaN
3904686       1  Subscriber         NaN       NaN   NaN     NaN
3904687       1  Subscriber         NaN       NaN   NaN     NaN
3904688       1  Subscriber         NaN       NaN   NaN     NaN
3904689       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3904690       1  Subscriber         1.0       0.0   1.0     0.0
3904691       1  Subscriber         1.0       0.0   1.0     0.0
3904692       1  Subscriber         1.0       0.0   1.0     0.0
3904693       1  Subscriber         1.0       0.0   1.0     0.0
3904694       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
3925236       1  Subscriber         NaN       NaN   NaN     NaN
3925237       2  Subscriber         NaN       NaN   NaN     NaN
3925238       1  Subscriber         NaN       NaN   NaN     NaN
3925239       0  Subscriber         NaN       NaN   NaN     NaN
3925240       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3925241       2    Customer         0.0       1.0   0.0     1.0
3925242       1  Subscriber         1.0       0.0   1.0     0.0
3925243       2  Subscriber         1.0       0.0   0.0     1.0
3925244       1  Subscriber         1.0       0.0   1.0     0.0
3925245       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
3945787       1  Subscriber         NaN       NaN   NaN     NaN
3945788       0    Customer         NaN       NaN   NaN     NaN
3945789       1  Subscriber         NaN       NaN   NaN     NaN
3945790       2  Subscriber         NaN       NaN   NaN     NaN
3945791       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3945792       1  Subscriber         1.0       0.0   1.0     0.0
3945793       1  Subscriber         1.0       0.0   1.0     0.0
3945794       1  Subscriber         1.0       0.0   1.0     0.0
3945795       1  Subscriber         1.0       0.0   1.0     0.0
3945796       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
3966338       1  Subscriber         NaN       NaN   NaN     NaN
3966339       1  Subscriber         NaN       NaN   NaN     NaN
3966340       1  Subscriber         NaN       NaN   NaN     NaN
3966341       1  Subscriber         NaN       NaN   NaN     NaN
3966342       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3966343       1    Customer         0.0       1.0   1.0     0.0
3966344       1  Subscriber         1.0       0.0   1.0     0.0
3966345       2  Subscriber         1.0       0.0   0.0     1.0
3966346       1  Subscriber         1.0       0.0   1.0     0.0
3966347       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
3986889       1  Subscriber         NaN       NaN   NaN     NaN
3986890       1  Subscriber         NaN       NaN   NaN     NaN
3986891       2  Subscriber         NaN       NaN   NaN     NaN
3986892       2  Subscriber         NaN       NaN   NaN     NaN
3986893       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
3986894       2  Subscriber         1.0       0.0   0.0     1.0
3986895       1    Customer         0.0       1.0   1.0     0.0
3986896       2    Customer         0.0       1.0   0.0     1.0
3986897       1  Subscriber         1.0       0.0   1.0     0.0
3986898       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4007440       2  Subscriber         NaN       NaN   NaN     NaN
4007441       1    Customer         NaN       NaN   NaN     NaN
4007442       1  Subscriber         NaN       NaN   NaN     NaN
4007443       1  Subscriber         NaN       NaN   NaN     NaN
4007444       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4007445       1  Subscriber         1.0       0.0   1.0     0.0
4007446       1  Subscriber         1.0       0.0   1.0     0.0
4007447       1    Customer         0.0       1.0   1.0     0.0
4007448       0    Customer         0.0       1.0   0.0     0.0
4007449       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4027991       0    Customer         NaN       NaN   NaN     NaN
4027992       1  Subscriber         NaN       NaN   NaN     NaN
4027993       1  Subscriber         NaN       NaN   NaN     NaN
4027994       1  Subscriber         NaN       NaN   NaN     NaN
4027995       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4027996       1  Subscriber         1.0       0.0   1.0     0.0
4027997       1  Subscriber         1.0       0.0   1.0     0.0
4027998       1  Subscriber         1.0       0.0   1.0     0.0
4027999       0    Customer         0.0       1.0   0.0     0.0
4028000       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4048542       1  Subscriber         NaN       NaN   NaN     NaN
4048543       1    Customer         NaN       NaN   NaN     NaN
4048544       2  Subscriber         NaN       NaN   NaN     NaN
4048545       1  Subscriber         NaN       NaN   NaN     NaN
4048546       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4048547       0    Customer         0.0       1.0   0.0     0.0
4048548       1  Subscriber         1.0       0.0   1.0     0.0
4048549       0    Customer         0.0       1.0   0.0     0.0
4048550       1  Subscriber         1.0       0.0   1.0     0.0
4048551       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
4069093       0    Customer         NaN       NaN   NaN     NaN
4069094       2  Subscriber         NaN       NaN   NaN     NaN
4069095       1    Customer         NaN       NaN   NaN     NaN
4069096       1  Subscriber         NaN       NaN   NaN     NaN
4069097       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4069098       1  Subscriber         1.0       0.0   1.0     0.0
4069099       0    Customer         0.0       1.0   0.0     0.0
4069100       2  Subscriber         1.0       0.0   0.0     1.0
4069101       2  Subscriber         1.0       0.0   0.0     1.0
4069102       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
4089644       1    Customer         NaN       NaN   NaN     NaN
4089645       1  Subscriber         NaN       NaN   NaN     NaN
4089646       1  Subscriber         NaN       NaN   NaN     NaN
4089647       1    Customer         NaN       NaN   NaN     NaN
4089648       2    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4089649       2  Subscriber         1.0       0.0   0.0     1.0
4089650       2  Subscriber         1.0       0.0   0.0     1.0
4089651       1  Subscriber         1.0       0.0   1.0     0.0
4089652       1    Customer         0.0       1.0   1.0     0.0
4089653       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
4110195       1  Subscriber         NaN       NaN   NaN     NaN
4110196       1  Subscriber         NaN       NaN   NaN     NaN
4110197       1  Subscriber         NaN       NaN   NaN     NaN
4110198       1  Subscriber         NaN       NaN   NaN     NaN
4110199       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4110200       1  Subscriber         1.0       0.0   1.0     0.0
4110201       2  Subscriber         1.0       0.0   0.0     1.0
4110202       1  Subscriber         1.0       0.0   1.0     0.0
4110203       0  Subscriber         1.0       0.0   0.0     0.0
4110204       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
4130746       1  Subscriber         NaN       NaN   NaN     NaN
4130747       2  Subscriber         NaN       NaN   NaN     NaN
4130748       1  Subscriber         NaN       NaN   NaN     NaN
4130749       2  Subscriber         NaN       NaN   NaN     NaN
4130750       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4130751       2  Subscriber         1.0       0.0   0.0     1.0
4130752       2  Subscriber         1.0       0.0   0.0     1.0
4130753       1  Subscriber         1.0       0.0   1.0     0.0
4130754       1  Subscriber         1.0       0.0   1.0     0.0
4130755       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4151297       1  Subscriber         NaN       NaN   NaN     NaN
4151298       2  Subscriber         NaN       NaN   NaN     NaN
4151299       1  Subscriber         NaN       NaN   NaN     NaN
4151300       1  Subscriber         NaN       NaN   NaN     NaN
4151301       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4151302       1  Subscriber         1.0       0.0   1.0     0.0
4151303       2  Subscriber         1.0       0.0   0.0     1.0
4151304       1  Subscriber         1.0       0.0   1.0     0.0
4151305       2  Subscriber         1.0       0.0   0.0     1.0
4151306       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4171848       1    Customer         NaN       NaN   NaN     NaN
4171849       1  Subscriber         NaN       NaN   NaN     NaN
4171850       1  Subscriber         NaN       NaN   NaN     NaN
4171851       1  Subscriber         NaN       NaN   NaN     NaN
4171852       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4171853       0    Customer         0.0       1.0   0.0     0.0
4171854       1  Subscriber         1.0       0.0   1.0     0.0
4171855       1  Subscriber         1.0       0.0   1.0     0.0
4171856       1  Subscriber         1.0       0.0   1.0     0.0
4171857       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4192399       2  Subscriber         NaN       NaN   NaN     NaN
4192400       1  Subscriber         NaN       NaN   NaN     NaN
4192401       1  Subscriber         NaN       NaN   NaN     NaN
4192402       1  Subscriber         NaN       NaN   NaN     NaN
4192403       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4192404       1  Subscriber         1.0       0.0   1.0     0.0
4192405       1  Subscriber         1.0       0.0   1.0     0.0
4192406       1  Subscriber         1.0       0.0   1.0     0.0
4192407       2  Subscriber         1.0       0.0   0.0     1.0
4192408       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4212950       1  Subscriber         NaN       NaN   NaN     NaN
4212951       1  Subscriber         NaN       NaN   NaN     NaN
4212952       1  Subscriber         NaN       NaN   NaN     NaN
4212953       1  Subscriber         NaN       NaN   NaN     NaN
4212954       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4212955       2  Subscriber         1.0       0.0   0.0     1.0
4212956       2  Subscriber         1.0       0.0   0.0     1.0
4212957       1  Subscriber         1.0       0.0   1.0     0.0
4212958       1  Subscriber         1.0       0.0   1.0     0.0
4212959       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4233501       1  Subscriber         NaN       NaN   NaN     NaN
4233502       1  Subscriber         NaN       NaN   NaN     NaN
4233503       1  Subscriber         NaN       NaN   NaN     NaN
4233504       1  Subscriber         NaN       NaN   NaN     NaN
4233505       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4233506       1  Subscriber         1.0       0.0   1.0     0.0
4233507       1  Subscriber         1.0       0.0   1.0     0.0
4233508       2  Subscriber         1.0       0.0   0.0     1.0
4233509       1  Subscriber         1.0       0.0   1.0     0.0
4233510       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4254052       0    Customer         NaN       NaN   NaN     NaN
4254053       1  Subscriber         NaN       NaN   NaN     NaN
4254054       1  Subscriber         NaN       NaN   NaN     NaN
4254055       2  Subscriber         NaN       NaN   NaN     NaN
4254056       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4254057       1  Subscriber         1.0       0.0   1.0     0.0
4254058       1  Subscriber         1.0       0.0   1.0     0.0
4254059       1  Subscriber         1.0       0.0   1.0     0.0
4254060       1  Subscriber         1.0       0.0   1.0     0.0
4254061       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
4274603       2  Subscriber         NaN       NaN   NaN     NaN
4274604       1  Subscriber         NaN       NaN   NaN     NaN
4274605       1  Subscriber         NaN       NaN   NaN     NaN
4274606       1  Subscriber         NaN       NaN   NaN     NaN
4274607       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4274608       1  Subscriber         1.0       0.0   1.0     0.0
4274609       1  Subscriber         1.0       0.0   1.0     0.0
4274610       1  Subscriber         1.0       0.0   1.0     0.0
4274611       2  Subscriber         1.0       0.0   0.0     1.0
4274612       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4295154       2  Subscriber         NaN       NaN   NaN     NaN
4295155       1  Subscriber         NaN       NaN   NaN     NaN
4295156       1  Subscriber         NaN       NaN   NaN     NaN
4295157       1  Subscriber         NaN       NaN   NaN     NaN
4295158       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4295159       0    Customer         0.0       1.0   0.0     0.0
4295160       2  Subscriber         1.0       0.0   0.0     1.0
4295161       2  Subscriber         1.0       0.0   0.0     1.0
4295162       2  Subscriber         1.0       0.0   0.0     1.0
4295163       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4315705       2  Subscriber         NaN       NaN   NaN     NaN
4315706       1  Subscriber         NaN       NaN   NaN     NaN
4315707       1  Subscriber         NaN       NaN   NaN     NaN
4315708       2  Subscriber         NaN       NaN   NaN     NaN
4315709       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4315710       1  Subscriber         1.0       0.0   1.0     0.0
4315711       1  Subscriber         1.0       0.0   1.0     0.0
4315712       1  Subscriber         1.0       0.0   1.0     0.0
4315713       1  Subscriber         1.0       0.0   1.0     0.0
4315714       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4336256       1  Subscriber         NaN       NaN   NaN     NaN
4336257       0    Customer         NaN       NaN   NaN     NaN
4336258       1  Subscriber         NaN       NaN   NaN     NaN
4336259       1  Subscriber         NaN       NaN   NaN     NaN
4336260       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4336261       1  Subscriber         1.0       0.0   1.0     0.0
4336262       1  Subscriber         1.0       0.0   1.0     0.0
4336263       1  Subscriber         1.0       0.0   1.0     0.0
4336264       1  Subscriber         1.0       0.0   1.0     0.0
4336265       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4356807       0    Customer         NaN       NaN   NaN     NaN
4356808       1  Subscriber         NaN       NaN   NaN     NaN
4356809       0    Customer         NaN       NaN   NaN     NaN
4356810       1  Subscriber         NaN       NaN   NaN     NaN
4356811       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4356812       2  Subscriber         1.0       0.0   0.0     1.0
4356813       1  Subscriber         1.0       0.0   1.0     0.0
4356814       1  Subscriber         1.0       0.0   1.0     0.0
4356815       1  Subscriber         1.0       0.0   1.0     0.0
4356816       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4377358       2  Subscriber         NaN       NaN   NaN     NaN
4377359       1  Subscriber         NaN       NaN   NaN     NaN
4377360       1  Subscriber         NaN       NaN   NaN     NaN
4377361       2  Subscriber         NaN       NaN   NaN     NaN
4377362       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4377363       0  Subscriber         1.0       0.0   0.0     0.0
4377364       1  Subscriber         1.0       0.0   1.0     0.0
4377365       1  Subscriber         1.0       0.0   1.0     0.0
4377366       1  Subscriber         1.0       0.0   1.0     0.0
4377367       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4397909       1  Subscriber         NaN       NaN   NaN     NaN
4397910       1  Subscriber         NaN       NaN   NaN     NaN
4397911       1  Subscriber         NaN       NaN   NaN     NaN
4397912       2  Subscriber         NaN       NaN   NaN     NaN
4397913       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4397914       0    Customer         0.0       1.0   0.0     0.0
4397915       1  Subscriber         1.0       0.0   1.0     0.0
4397916       1  Subscriber         1.0       0.0   1.0     0.0
4397917       2  Subscriber         1.0       0.0   0.0     1.0
4397918       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4418460       2  Subscriber         NaN       NaN   NaN     NaN
4418461       1    Customer         NaN       NaN   NaN     NaN
4418462       1    Customer         NaN       NaN   NaN     NaN
4418463       1  Subscriber         NaN       NaN   NaN     NaN
4418464       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4418465       1  Subscriber         1.0       0.0   1.0     0.0
4418466       1  Subscriber         1.0       0.0   1.0     0.0
4418467       2    Customer         0.0       1.0   0.0     1.0
4418468       1  Subscriber         1.0       0.0   1.0     0.0
4418469       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
4439011       2  Subscriber         NaN       NaN   NaN     NaN
4439012       1  Subscriber         NaN       NaN   NaN     NaN
4439013       1  Subscriber         NaN       NaN   NaN     NaN
4439014       1  Subscriber         NaN       NaN   NaN     NaN
4439015       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4439016       1  Subscriber         1.0       0.0   1.0     0.0
4439017       2  Subscriber         1.0       0.0   0.0     1.0
4439018       2  Subscriber         1.0       0.0   0.0     1.0
4439019       1  Subscriber         1.0       0.0   1.0     0.0
4439020       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4459562       1  Subscriber         NaN       NaN   NaN     NaN
4459563       0    Customer         NaN       NaN   NaN     NaN
4459564       1  Subscriber         NaN       NaN   NaN     NaN
4459565       1    Customer         NaN       NaN   NaN     NaN
4459566       2    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4459567       2    Customer         0.0       1.0   0.0     1.0
4459568       1  Subscriber         1.0       0.0   1.0     0.0
4459569       0    Customer         0.0       1.0   0.0     0.0
4459570       1  Subscriber         1.0       0.0   1.0     0.0
4459571       0    Customer         0.0       1.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
4480113       1  Subscriber         NaN       NaN   NaN     NaN
4480114       1  Subscriber         NaN       NaN   NaN     NaN
4480115       0    Customer         NaN       NaN   NaN     NaN
4480116       2    Customer         NaN       NaN   NaN     NaN
4480117       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4480118       0    Customer         0.0       1.0   0.0     0.0
4480119       1  Subscriber         1.0       0.0   1.0     0.0
4480120       0  Subscriber         1.0       0.0   0.0     0.0
4480121       1  Subscriber         1.0       0.0   1.0     0.0
4480122       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
4500664       2  Subscriber         NaN       NaN   NaN     NaN
4500665       1  Subscriber         NaN       NaN   NaN     NaN
4500666       1    Customer         NaN       NaN   NaN     NaN
4500667       1  Subscriber         NaN       NaN   NaN     NaN
4500668       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4500669       2  Subscriber         1.0       0.0   0.0     1.0
4500670       1  Subscriber         1.0       0.0   1.0     0.0
4500671       1  Subscriber         1.0       0.0   1.0     0.0
4500672       2    Customer         0.0       1.0   0.0     1.0
4500673       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4521215       1  Subscriber         NaN       NaN   NaN     NaN
4521216       2  Subscriber         NaN       NaN   NaN     NaN
4521217       1  Subscriber         NaN       NaN   NaN     NaN
4521218       2  Subscriber         NaN       NaN   NaN     NaN
4521219       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4521220       1  Subscriber         1.0       0.0   1.0     0.0
4521221       1  Subscriber         1.0       0.0   1.0     0.0
4521222       1  Subscriber         1.0       0.0   1.0     0.0
4521223       1  Subscriber         1.0       0.0   1.0     0.0
4521224       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4541766       2    Customer         NaN       NaN   NaN     NaN
4541767       1  Subscriber         NaN       NaN   NaN     NaN
4541768       1  Subscriber         NaN       NaN   NaN     NaN
4541769       1  Subscriber         NaN       NaN   NaN     NaN
4541770       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4541771       2  Subscriber         1.0       0.0   0.0     1.0
4541772       1  Subscriber         1.0       0.0   1.0     0.0
4541773       1  Subscriber         1.0       0.0   1.0     0.0
4541774       1  Subscriber         1.0       0.0   1.0     0.0
4541775       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4562317       2  Subscriber         NaN       NaN   NaN     NaN
4562318       1  Subscriber         NaN       NaN   NaN     NaN
4562319       1  Subscriber         NaN       NaN   NaN     NaN
4562320       1  Subscriber         NaN       NaN   NaN     NaN
4562321       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4562322       0    Customer         0.0       1.0   0.0     0.0
4562323       1  Subscriber         1.0       0.0   1.0     0.0
4562324       1  Subscriber         1.0       0.0   1.0     0.0
4562325       1  Subscriber         1.0       0.0   1.0     0.0
4562326       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4582868       0  Subscriber         NaN       NaN   NaN     NaN
4582869       0    Customer         NaN       NaN   NaN     NaN
4582870       1  Subscriber         NaN       NaN   NaN     NaN
4582871       2  Subscriber         NaN       NaN   NaN     NaN
4582872       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4582873       1  Subscriber         1.0       0.0   1.0     0.0
4582874       0    Customer         0.0       1.0   0.0     0.0
4582875       2  Subscriber         1.0       0.0   0.0     1.0
4582876       0    Customer         0.0       1.0   0.0     0.0
4582877       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4603419       1  Subscriber         NaN       NaN   NaN     NaN
4603420       1  Subscriber         NaN       NaN   NaN     NaN
4603421       0    Customer         NaN       NaN   NaN     NaN
4603422       2  Subscriber         NaN       NaN   NaN     NaN
4603423       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4603424       1  Subscriber         1.0       0.0   1.0     0.0
4603425       2  Subscriber         1.0       0.0   0.0     1.0
4603426       1  Subscriber         1.0       0.0   1.0     0.0
4603427       2  Subscriber         1.0       0.0   0.0     1.0
4603428       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4623970       1  Subscriber         NaN       NaN   NaN     NaN
4623971       1  Subscriber         NaN       NaN   NaN     NaN
4623972       1  Subscriber         NaN       NaN   NaN     NaN
4623973       1  Subscriber         NaN       NaN   NaN     NaN
4623974       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4623975       1  Subscriber         1.0       0.0   1.0     0.0
4623976       1  Subscriber         1.0       0.0   1.0     0.0
4623977       1  Subscriber         1.0       0.0   1.0     0.0
4623978       1  Subscriber         1.0       0.0   1.0     0.0
4623979       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4644521       2    Customer         NaN       NaN   NaN     NaN
4644522       0    Customer         NaN       NaN   NaN     NaN
4644523       2  Subscriber         NaN       NaN   NaN     NaN
4644524       0    Customer         NaN       NaN   NaN     NaN
4644525       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4644526       1  Subscriber         1.0       0.0   1.0     0.0
4644527       1  Subscriber         1.0       0.0   1.0     0.0
4644528       0    Customer         0.0       1.0   0.0     0.0
4644529       2  Subscriber         1.0       0.0   0.0     1.0
4644530       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4665072       2  Subscriber         NaN       NaN   NaN     NaN
4665073       2  Subscriber         NaN       NaN   NaN     NaN
4665074       1  Subscriber         NaN       NaN   NaN     NaN
4665075       1  Subscriber         NaN       NaN   NaN     NaN
4665076       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4665077       1  Subscriber         1.0       0.0   1.0     0.0
4665078       1    Customer         0.0       1.0   1.0     0.0
4665079       1  Subscriber         1.0       0.0   1.0     0.0
4665080       0    Customer         0.0       1.0   0.0     0.0
4665081       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4685623       1  Subscriber         NaN       NaN   NaN     NaN
4685624       1  Subscriber         NaN       NaN   NaN     NaN
4685625       1  Subscriber         NaN       NaN   NaN     NaN
4685626       2  Subscriber         NaN       NaN   NaN     NaN
4685627       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4685628       1  Subscriber         1.0       0.0   1.0     0.0
4685629       1  Subscriber         1.0       0.0   1.0     0.0
4685630       1  Subscriber         1.0       0.0   1.0     0.0
4685631       1  Subscriber         1.0       0.0   1.0     0.0
4685632       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4706174       2    Customer         NaN       NaN   NaN     NaN
4706175       1  Subscriber         NaN       NaN   NaN     NaN
4706176       1  Subscriber         NaN       NaN   NaN     NaN
4706177       1  Subscriber         NaN       NaN   NaN     NaN
4706178       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4706179       1  Subscriber         1.0       0.0   1.0     0.0
4706180       1  Subscriber         1.0       0.0   1.0     0.0
4706181       1  Subscriber         1.0       0.0   1.0     0.0
4706182       2  Subscriber         1.0       0.0   0.0     1.0
4706183       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
4726725       0  Subscriber         NaN       NaN   NaN     NaN
4726726       1  Subscriber         NaN       NaN   NaN     NaN
4726727       1  Subscriber         NaN       NaN   NaN     NaN
4726728       1  Subscriber         NaN       NaN   NaN     NaN
4726729       0  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4726730       1  Subscriber         1.0       0.0   1.0     0.0
4726731       2  Subscriber         1.0       0.0   0.0     1.0
4726732       1  Subscriber         1.0       0.0   1.0     0.0
4726733       2    Customer         0.0       1.0   0.0     1.0
4726734       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
4747276       1  Subscriber         NaN       NaN   NaN     NaN
4747277       1  Subscriber         NaN       NaN   NaN     NaN
4747278       1  Subscriber         NaN       NaN   NaN     NaN
4747279       1  Subscriber         NaN       NaN   NaN     NaN
4747280       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4747281       1  Subscriber         1.0       0.0   1.0     0.0
4747282       1  Subscriber         1.0       0.0   1.0     0.0
4747283       2  Subscriber         1.0       0.0   0.0     1.0
4747284       1  Subscriber         1.0       0.0   1.0     0.0
4747285       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
4767827       1  Subscriber         NaN       NaN   NaN     NaN
4767828       1  Subscriber         NaN       NaN   NaN     NaN
4767829       1  Subscriber         NaN       NaN   NaN     NaN
4767830       1  Subscriber         NaN       NaN   NaN     NaN
4767831       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4767832       1  Subscriber         1.0       0.0   1.0     0.0
4767833       0    Customer         0.0       1.0   0.0     0.0
4767834       1  Subscriber         1.0       0.0   1.0     0.0
4767835       1  Subscriber         1.0       0.0   1.0     0.0
4767836       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4788378       1  Subscriber         NaN       NaN   NaN     NaN
4788379       1  Subscriber         NaN       NaN   NaN     NaN
4788380       2    Customer         NaN       NaN   NaN     NaN
4788381       1  Subscriber         NaN       NaN   NaN     NaN
4788382       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4788383       1  Subscriber         1.0       0.0   1.0     0.0
4788384       2  Subscriber         1.0       0.0   0.0     1.0
4788385       1  Subscriber         1.0       0.0   1.0     0.0
4788386       1  Subscriber         1.0       0.0   1.0     0.0
4788387       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4808929       1  Subscriber         NaN       NaN   NaN     NaN
4808930       1    Customer         NaN       NaN   NaN     NaN
4808931       0    Customer         NaN       NaN   NaN     NaN
4808932       2  Subscriber         NaN       NaN   NaN     NaN
4808933       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4808934       0    Customer         0.0       1.0   0.0     0.0
4808935       2    Customer         0.0       1.0   0.0     1.0
4808936       2  Subscriber         1.0       0.0   0.0     1.0
4808937       2  Subscriber         1.0       0.0   0.0     1.0
4808938       0    Customer         0.0       1.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
4829480       2  Subscriber         NaN       NaN   NaN     NaN
4829481       1  Subscriber         NaN       NaN   NaN     NaN
4829482       1  Subscriber         NaN       NaN   NaN     NaN
4829483       1    Customer         NaN       NaN   NaN     NaN
4829484       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4829485       2  Subscriber         1.0       0.0   0.0     1.0
4829486       1  Subscriber         1.0       0.0   1.0     0.0
4829487       2  Subscriber         1.0       0.0   0.0     1.0
4829488       2  Subscriber         1.0       0.0   0.0     1.0
4829489       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4850031       1  Subscriber         NaN       NaN   NaN     NaN
4850032       2  Subscriber         NaN       NaN   NaN     NaN
4850033       1    Customer         NaN       NaN   NaN     NaN
4850034       1  Subscriber         NaN       NaN   NaN     NaN
4850035       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4850036       2    Customer         0.0       1.0   0.0     1.0
4850037       2  Subscriber         1.0       0.0   0.0     1.0
4850038       0    Customer         0.0       1.0   0.0     0.0
4850039       1  Subscriber         1.0       0.0   1.0     0.0
4850040       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4870582       1  Subscriber         NaN       NaN   NaN     NaN
4870583       2  Subscriber         NaN       NaN   NaN     NaN
4870584       1  Subscriber         NaN       NaN   NaN     NaN
4870585       0    Customer         NaN       NaN   NaN     NaN
4870586       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4870587       0    Customer         0.0       1.0   0.0     0.0
4870588       1  Subscriber         1.0       0.0   1.0     0.0
4870589       1  Subscriber         1.0       0.0   1.0     0.0
4870590       1  Subscriber         1.0       0.0   1.0     0.0
4870591       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4891133       1  Subscriber         NaN       NaN   NaN     NaN
4891134       1  Subscriber         NaN       NaN   NaN     NaN
4891135       1  Subscriber         NaN       NaN   NaN     NaN
4891136       1  Subscriber         NaN       NaN   NaN     NaN
4891137       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4891138       1  Subscriber         1.0       0.0   1.0     0.0
4891139       2  Subscriber         1.0       0.0   0.0     1.0
4891140       1  Subscriber         1.0       0.0   1.0     0.0
4891141       1  Subscriber         1.0       0.0   1.0     0.0
4891142       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4911684       2  Subscriber         NaN       NaN   NaN     NaN
4911685       1  Subscriber         NaN       NaN   NaN     NaN
4911686       1    Customer         NaN       NaN   NaN     NaN
4911687       1  Subscriber         NaN       NaN   NaN     NaN
4911688       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4911689       2  Subscriber         1.0       0.0   0.0     1.0
4911690       0    Customer         0.0       1.0   0.0     0.0
4911691       1  Subscriber         1.0       0.0   1.0     0.0
4911692       2  Subscriber         1.0       0.0   0.0     1.0
4911693       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4932235       1  Subscriber         NaN       NaN   NaN     NaN
4932236       2  Subscriber         NaN       NaN   NaN     NaN
4932237       1  Subscriber         NaN       NaN   NaN     NaN
4932238       1  Subscriber         NaN       NaN   NaN     NaN
4932239       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4932240       2  Subscriber         1.0       0.0   0.0     1.0
4932241       1  Subscriber         1.0       0.0   1.0     0.0
4932242       1  Subscriber         1.0       0.0   1.0     0.0
4932243       2  Subscriber         1.0       0.0   0.0     1.0
4932244       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4952786       1  Subscriber         NaN       NaN   NaN     NaN
4952787       1  Subscriber         NaN       NaN   NaN     NaN
4952788       1  Subscriber         NaN       NaN   NaN     NaN
4952789       1  Subscriber         NaN       NaN   NaN     NaN
4952790       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4952791       2  Subscriber         1.0       0.0   0.0     1.0
4952792       2  Subscriber         1.0       0.0   0.0     1.0
4952793       1  Subscriber         1.0       0.0   1.0     0.0
4952794       1  Subscriber         1.0       0.0   1.0     0.0
4952795       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4973337       1  Subscriber         NaN       NaN   NaN     NaN
4973338       2  Subscriber         NaN       NaN   NaN     NaN
4973339       1    Customer         NaN       NaN   NaN     NaN
4973340       1  Subscriber         NaN       NaN   NaN     NaN
4973341       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4973342       1  Subscriber         1.0       0.0   1.0     0.0
4973343       1  Subscriber         1.0       0.0   1.0     0.0
4973344       2  Subscriber         1.0       0.0   0.0     1.0
4973345       1    Customer         0.0       1.0   1.0     0.0
4973346       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
4993888       2  Subscriber         NaN       NaN   NaN     NaN
4993889       1  Subscriber         NaN       NaN   NaN     NaN
4993890       1  Subscriber         NaN       NaN   NaN     NaN
4993891       1    Customer         NaN       NaN   NaN     NaN
4993892       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
4993893       1  Subscriber         1.0       0.0   1.0     0.0
4993894       1    Customer         0.0       1.0   1.0     0.0
4993895       2  Subscriber         1.0       0.0   0.0     1.0
4993896       2  Subscriber         1.0       0.0   0.0     1.0
4993897       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5014439       2  Subscriber         NaN       NaN   NaN     NaN
5014440       1  Subscriber         NaN       NaN   NaN     NaN
5014441       1  Subscriber         NaN       NaN   NaN     NaN
5014442       2  Subscriber         NaN       NaN   NaN     NaN
5014443       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5014444       2  Subscriber         1.0       0.0   0.0     1.0
5014445       1    Customer         0.0       1.0   1.0     0.0
5014446       2  Subscriber         1.0       0.0   0.0     1.0
5014447       1  Subscriber         1.0       0.0   1.0     0.0
5014448       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5034990       2  Subscriber         NaN       NaN   NaN     NaN
5034991       2  Subscriber         NaN       NaN   NaN     NaN
5034992       1  Subscriber         NaN       NaN   NaN     NaN
5034993       1  Subscriber         NaN       NaN   NaN     NaN
5034994       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5034995       1  Subscriber         1.0       0.0   1.0     0.0
5034996       1  Subscriber         1.0       0.0   1.0     0.0
5034997       1  Subscriber         1.0       0.0   1.0     0.0
5034998       1    Customer         0.0       1.0   1.0     0.0
5034999       0    Customer         0.0       1.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
5055541       1  Subscriber         NaN       NaN   NaN     NaN
5055542       1  Subscriber         NaN       NaN   NaN     NaN
5055543       1  Subscriber         NaN       NaN   NaN     NaN
5055544       1  Subscriber         NaN       NaN   NaN     NaN
5055545       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5055546       1  Subscriber         1.0       0.0   1.0     0.0
5055547       2  Subscriber         1.0       0.0   0.0     1.0
5055548       1  Subscriber         1.0       0.0   1.0     0.0
5055549       1  Subscriber         1.0       0.0   1.0     0.0
5055550       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5076092       0    Customer         NaN       NaN   NaN     NaN
5076093       2  Subscriber         NaN       NaN   NaN     NaN
5076094       1  Subscriber         NaN       NaN   NaN     NaN
5076095       1  Subscriber         NaN       NaN   NaN     NaN
5076096       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5076097       1  Subscriber         1.0       0.0   1.0     0.0
5076098       1  Subscriber         1.0       0.0   1.0     0.0
5076099       1  Subscriber         1.0       0.0   1.0     0.0
5076100       2  Subscriber         1.0       0.0   0.0     1.0
5076101       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5096643       1    Customer         NaN       NaN   NaN     NaN
5096644       1  Subscriber         NaN       NaN   NaN     NaN
5096645       1  Subscriber         NaN       NaN   NaN     NaN
5096646       1  Subscriber         NaN       NaN   NaN     NaN
5096647       2    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5096648       1    Customer         0.0       1.0   1.0     0.0
5096649       1  Subscriber         1.0       0.0   1.0     0.0
5096650       1  Subscriber         1.0       0.0   1.0     0.0
5096651       1  Subscriber         1.0       0.0   1.0     0.0
5096652       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5117194       1  Subscriber         NaN       NaN   NaN     NaN
5117195       1  Subscriber         NaN       NaN   NaN     NaN
5117196       1  Subscriber         NaN       NaN   NaN     NaN
5117197       1  Subscriber         NaN       NaN   NaN     NaN
5117198       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5117199       1  Subscriber         1.0       0.0   1.0     0.0
5117200       2  Subscriber         1.0       0.0   0.0     1.0
5117201       2  Subscriber         1.0       0.0   0.0     1.0
5117202       2  Subscriber         1.0       0.0   0.0     1.0
5117203       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
5137745       1  Subscriber         NaN       NaN   NaN     NaN
5137746       1  Subscriber         NaN       NaN   NaN     NaN
5137747       1  Subscriber         NaN       NaN   NaN     NaN
5137748       1  Subscriber         NaN       NaN   NaN     NaN
5137749       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5137750       1  Subscriber         1.0       0.0   1.0     0.0
5137751       1  Subscriber         1.0       0.0   1.0     0.0
5137752       1  Subscriber         1.0       0.0   1.0     0.0
5137753       1  Subscriber         1.0       0.0   1.0     0.0
5137754       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5158296       1  Subscriber         NaN       NaN   NaN     NaN
5158297       1  Subscriber         NaN       NaN   NaN     NaN
5158298       1  Subscriber         NaN       NaN   NaN     NaN
5158299       1  Subscriber         NaN       NaN   NaN     NaN
5158300       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5158301       1  Subscriber         1.0       0.0   1.0     0.0
5158302       2  Subscriber         1.0       0.0   0.0     1.0
5158303       2    Customer         0.0       1.0   0.0     1.0
5158304       1  Subscriber         1.0       0.0   1.0     0.0
5158305       1    Customer         0.0       1.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5178847       1  Subscriber         NaN       NaN   NaN     NaN
5178848       1  Subscriber         NaN       NaN   NaN     NaN
5178849       1  Subscriber         NaN       NaN   NaN     NaN
5178850       2  Subscriber         NaN       NaN   NaN     NaN
5178851       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5178852       1  Subscriber         1.0       0.0   1.0     0.0
5178853       1  Subscriber         1.0       0.0   1.0     0.0
5178854       2  Subscriber         1.0       0.0   0.0     1.0
5178855       1  Subscriber         1.0       0.0   1.0     0.0
5178856       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5199398       1  Subscriber         NaN       NaN   NaN     NaN
5199399       2  Subscriber         NaN       NaN   NaN     NaN
5199400       1  Subscriber         NaN       NaN   NaN     NaN
5199401       1  Subscriber         NaN       NaN   NaN     NaN
5199402       2    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5199403       2  Subscriber         1.0       0.0   0.0     1.0
5199404       2  Subscriber         1.0       0.0   0.0     1.0
5199405       0    Customer         0.0       1.0   0.0     0.0
5199406       1  Subscriber         1.0       0.0   1.0     0.0
5199407       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
5219949       2  Subscriber         NaN       NaN   NaN     NaN
5219950       1  Subscriber         NaN       NaN   NaN     NaN
5219951       1  Subscriber         NaN       NaN   NaN     NaN
5219952       0    Customer         NaN       NaN   NaN     NaN
5219953       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5219954       0    Customer         0.0       1.0   0.0     0.0
5219955       1  Subscriber         1.0       0.0   1.0     0.0
5219956       1  Subscriber         1.0       0.0   1.0     0.0
5219957       1  Subscriber         1.0       0.0   1.0     0.0
5219958       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5240500       0    Customer         NaN       NaN   NaN     NaN
5240501       1  Subscriber         NaN       NaN   NaN     NaN
5240502       1    Customer         NaN       NaN   NaN     NaN
5240503       0    Customer         NaN       NaN   NaN     NaN
5240504       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5240505       1  Subscriber         1.0       0.0   1.0     0.0
5240506       2    Customer         0.0       1.0   0.0     1.0
5240507       0    Customer         0.0       1.0   0.0     0.0
5240508       1  Subscriber         1.0       0.0   1.0     0.0
5240509       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5261051       1  Subscriber         NaN       NaN   NaN     NaN
5261052       2  Subscriber         NaN       NaN   NaN     NaN
5261053       1  Subscriber         NaN       NaN   NaN     NaN
5261054       1  Subscriber         NaN       NaN   NaN     NaN
5261055       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5261056       1  Subscriber         1.0       0.0   1.0     0.0
5261057       1  Subscriber         1.0       0.0   1.0     0.0
5261058       1  Subscriber         1.0       0.0   1.0     0.0
5261059       1  Subscriber         1.0       0.0   1.0     0.0
5261060       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5281602       2  Subscriber         NaN       NaN   NaN     NaN
5281603       1  Subscriber         NaN       NaN   NaN     NaN
5281604       1  Subscriber         NaN       NaN   NaN     NaN
5281605       1  Subscriber         NaN       NaN   NaN     NaN
5281606       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5281607       1  Subscriber         1.0       0.0   1.0     0.0
5281608       2  Subscriber         1.0       0.0   0.0     1.0
5281609       1  Subscriber         1.0       0.0   1.0     0.0
5281610       1  Subscriber         1.0       0.0   1.0     0.0
5281611       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5302153       1  Subscriber         NaN       NaN   NaN     NaN
5302154       1  Subscriber         NaN       NaN   NaN     NaN
5302155       1  Subscriber         NaN       NaN   NaN     NaN
5302156       1  Subscriber         NaN       NaN   NaN     NaN
5302157       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5302158       1    Customer         0.0       1.0   1.0     0.0
5302159       1  Subscriber         1.0       0.0   1.0     0.0
5302160       2  Subscriber         1.0       0.0   0.0     1.0
5302161       1  Subscriber         1.0       0.0   1.0     0.0
5302162       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5322704       2  Subscriber         NaN       NaN   NaN     NaN
5322705       2  Subscriber         NaN       NaN   NaN     NaN
5322706       0    Customer         NaN       NaN   NaN     NaN
5322707       2  Subscriber         NaN       NaN   NaN     NaN
5322708       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5322709       0    Customer         0.0       1.0   0.0     0.0
5322710       1  Subscriber         1.0       0.0   1.0     0.0
5322711       2  Subscriber         1.0       0.0   0.0     1.0
5322712       1  Subscriber         1.0       0.0   1.0     0.0
5322713       2    Customer         0.0       1.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
5343255       1  Subscriber         NaN       NaN   NaN     NaN
5343256       1  Subscriber         NaN       NaN   NaN     NaN
5343257       2  Subscriber         NaN       NaN   NaN     NaN
5343258       1  Subscriber         NaN       NaN   NaN     NaN
5343259       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5343260       1  Subscriber         1.0       0.0   1.0     0.0
5343261       2  Subscriber         1.0       0.0   0.0     1.0
5343262       2  Subscriber         1.0       0.0   0.0     1.0
5343263       1  Subscriber         1.0       0.0   1.0     0.0
5343264       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5363806       2  Subscriber         NaN       NaN   NaN     NaN
5363807       1  Subscriber         NaN       NaN   NaN     NaN
5363808       1  Subscriber         NaN       NaN   NaN     NaN
5363809       0    Customer         NaN       NaN   NaN     NaN
5363810       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5363811       2  Subscriber         1.0       0.0   0.0     1.0
5363812       2  Subscriber         1.0       0.0   0.0     1.0
5363813       1    Customer         0.0       1.0   1.0     0.0
5363814       1  Subscriber         1.0       0.0   1.0     0.0
5363815       1    Customer         0.0       1.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5384357       2  Subscriber         NaN       NaN   NaN     NaN
5384358       2  Subscriber         NaN       NaN   NaN     NaN
5384359       1  Subscriber         NaN       NaN   NaN     NaN
5384360       1  Subscriber         NaN       NaN   NaN     NaN
5384361       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5384362       1  Subscriber         1.0       0.0   1.0     0.0
5384363       2  Subscriber         1.0       0.0   0.0     1.0
5384364       2  Subscriber         1.0       0.0   0.0     1.0
5384365       1  Subscriber         1.0       0.0   1.0     0.0
5384366       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5404908       1  Subscriber         NaN       NaN   NaN     NaN
5404909       2  Subscriber         NaN       NaN   NaN     NaN
5404910       2  Subscriber         NaN       NaN   NaN     NaN
5404911       1  Subscriber         NaN       NaN   NaN     NaN
5404912       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5404913       1  Subscriber         1.0       0.0   1.0     0.0
5404914       1  Subscriber         1.0       0.0   1.0     0.0
5404915       2  Subscriber         1.0       0.0   0.0     1.0
5404916       1  Subscriber         1.0       0.0   1.0     0.0
5404917       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
5425459       2  Subscriber         NaN       NaN   NaN     NaN
5425460       1  Subscriber         NaN       NaN   NaN     NaN
5425461       1  Subscriber         NaN       NaN   NaN     NaN
5425462       1  Subscriber         NaN       NaN   NaN     NaN
5425463       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5425464       1  Subscriber         1.0       0.0   1.0     0.0
5425465       1  Subscriber         1.0       0.0   1.0     0.0
5425466       1    Customer         0.0       1.0   1.0     0.0
5425467       2  Subscriber         1.0       0.0   0.0     1.0
5425468       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5446010       1  Subscriber         NaN       NaN   NaN     NaN
5446011       1  Subscriber         NaN       NaN   NaN     NaN
5446012       2  Subscriber         NaN       NaN   NaN     NaN
5446013       1  Subscriber         NaN       NaN   NaN     NaN
5446014       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5446015       2  Subscriber         1.0       0.0   0.0     1.0
5446016       1  Subscriber         1.0       0.0   1.0     0.0
5446017       1  Subscriber         1.0       0.0   1.0     0.0
5446018       2  Subscriber         1.0       0.0   0.0     1.0
5446019       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
5466561       1  Subscriber         NaN       NaN   NaN     NaN
5466562       1  Subscriber         NaN       NaN   NaN     NaN
5466563       1    Customer         NaN       NaN   NaN     NaN
5466564       1  Subscriber         NaN       NaN   NaN     NaN
5466565       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5466566       1  Subscriber         1.0       0.0   1.0     0.0
5466567       1  Subscriber         1.0       0.0   1.0     0.0
5466568       2  Subscriber         1.0       0.0   0.0     1.0
5466569       1  Subscriber         1.0       0.0   1.0     0.0
5466570       1    Customer         0.0       1.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5487112       1  Subscriber         NaN       NaN   NaN     NaN
5487113       2  Subscriber         NaN       NaN   NaN     NaN
5487114       1  Subscriber         NaN       NaN   NaN     NaN
5487115       1  Subscriber         NaN       NaN   NaN     NaN
5487116       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5487117       1  Subscriber         1.0       0.0   1.0     0.0
5487118       1  Subscriber         1.0       0.0   1.0     0.0
5487119       2  Subscriber         1.0       0.0   0.0     1.0
5487120       1  Subscriber         1.0       0.0   1.0     0.0
5487121       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5507663       2  Subscriber         NaN       NaN   NaN     NaN
5507664       1  Subscriber         NaN       NaN   NaN     NaN
5507665       1  Subscriber         NaN       NaN   NaN     NaN
5507666       2  Subscriber         NaN       NaN   NaN     NaN
5507667       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5507668       1  Subscriber         1.0       0.0   1.0     0.0
5507669       1  Subscriber         1.0       0.0   1.0     0.0
5507670       1  Subscriber         1.0       0.0   1.0     0.0
5507671       2  Subscriber         1.0       0.0   0.0     1.0
5507672       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5528214       2  Subscriber         NaN       NaN   NaN     NaN
5528215       1  Subscriber         NaN       NaN   NaN     NaN
5528216       1  Subscriber         NaN       NaN   NaN     NaN
5528217       1  Subscriber         NaN       NaN   NaN     NaN
5528218       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5528219       2  Subscriber         1.0       0.0   0.0     1.0
5528220       1  Subscriber         1.0       0.0   1.0     0.0
5528221       1  Subscriber         1.0       0.0   1.0     0.0
5528222       1  Subscriber         1.0       0.0   1.0     0.0
5528223       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5548765       1  Subscriber         NaN       NaN   NaN     NaN
5548766       1  Subscriber         NaN       NaN   NaN     NaN
5548767       1  Subscriber         NaN       NaN   NaN     NaN
5548768       1  Subscriber         NaN       NaN   NaN     NaN
5548769       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5548770       1  Subscriber         1.0       0.0   1.0     0.0
5548771       1  Subscriber         1.0       0.0   1.0     0.0
5548772       1  Subscriber         1.0       0.0   1.0     0.0
5548773       1  Subscriber         1.0       0.0   1.0     0.0
5548774       0    Customer         0.0       1.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
5569316       1  Subscriber         NaN       NaN   NaN     NaN
5569317       2  Subscriber         NaN       NaN   NaN     NaN
5569318       1  Subscriber         NaN       NaN   NaN     NaN
5569319       2  Subscriber         NaN       NaN   NaN     NaN
5569320       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5569321       1  Subscriber         1.0       0.0   1.0     0.0
5569322       1  Subscriber         1.0       0.0   1.0     0.0
5569323       1  Subscriber         1.0       0.0   1.0     0.0
5569324       2  Subscriber         1.0       0.0   0.0     1.0
5569325       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5589867       2    Customer         NaN       NaN   NaN     NaN
5589868       1  Subscriber         NaN       NaN   NaN     NaN
5589869       2  Subscriber         NaN       NaN   NaN     NaN
5589870       1  Subscriber         NaN       NaN   NaN     NaN
5589871       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5589872       0    Customer         0.0       1.0   0.0     0.0
5589873       0    Customer         0.0       1.0   0.0     0.0
5589874       0    Customer         0.0       1.0   0.0     0.0
5589875       0    Customer         0.0       1.0   0.0     0.0
5589876       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5610418       1    Customer         NaN       NaN   NaN     NaN
5610419       1  Subscriber         NaN       NaN   NaN     NaN
5610420       2  Subscriber         NaN       NaN   NaN     NaN
5610421       1  Subscriber         NaN       NaN   NaN     NaN
5610422       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5610423       1  Subscriber         1.0       0.0   1.0     0.0
5610424       2  Subscriber         1.0       0.0   0.0     1.0
5610425       1  Subscriber         1.0       0.0   1.0     0.0
5610426       2  Subscriber         1.0       0.0   0.0     1.0
5610427       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
5630969       1  Subscriber         NaN       NaN   NaN     NaN
5630970       0    Customer         NaN       NaN   NaN     NaN
5630971       1    Customer         NaN       NaN   NaN     NaN
5630972       1  Subscriber         NaN       NaN   NaN     NaN
5630973       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5630974       1  Subscriber         1.0       0.0   1.0     0.0
5630975       2  Subscriber         1.0       0.0   0.0     1.0
5630976       0  Subscriber         1.0       0.0   0.0     0.0
5630977       2  Subscriber         1.0       0.0   0.0     1.0
5630978       0    Customer         0.0       1.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
5651520       1  Subscriber         NaN       NaN   NaN     NaN
5651521       2    Customer         NaN       NaN   NaN     NaN
5651522       2  Subscriber         NaN       NaN   NaN     NaN
5651523       1  Subscriber         NaN       NaN   NaN     NaN
5651524       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5651525       2  Subscriber         1.0       0.0   0.0     1.0
5651526       1  Subscriber         1.0       0.0   1.0     0.0
5651527       0    Customer         0.0       1.0   0.0     0.0
5651528       1  Subscriber         1.0       0.0   1.0     0.0
5651529       0    Customer         0.0       1.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
5672071       1  Subscriber         NaN       NaN   NaN     NaN
5672072       1  Subscriber         NaN       NaN   NaN     NaN
5672073       1  Subscriber         NaN       NaN   NaN     NaN
5672074       1  Subscriber         NaN       NaN   NaN     NaN
5672075       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5672076       0    Customer         0.0       1.0   0.0     0.0
5672077       2    Customer         0.0       1.0   0.0     1.0
5672078       2  Subscriber         1.0       0.0   0.0     1.0
5672079       1  Subscriber         1.0       0.0   1.0     0.0
5672080       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5692622       1  Subscriber         NaN       NaN   NaN     NaN
5692623       1  Subscriber         NaN       NaN   NaN     NaN
5692624       1  Subscriber         NaN       NaN   NaN     NaN
5692625       1  Subscriber         NaN       NaN   NaN     NaN
5692626       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5692627       2  Subscriber         1.0       0.0   0.0     1.0
5692628       1  Subscriber         1.0       0.0   1.0     0.0
5692629       1  Subscriber         1.0       0.0   1.0     0.0
5692630       1  Subscriber         1.0       0.0   1.0     0.0
5692631       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5713173       1  Subscriber         NaN       NaN   NaN     NaN
5713174       1  Subscriber         NaN       NaN   NaN     NaN
5713175       1  Subscriber         NaN       NaN   NaN     NaN
5713176       1  Subscriber         NaN       NaN   NaN     NaN
5713177       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5713178       1  Subscriber         1.0       0.0   1.0     0.0
5713179       1  Subscriber         1.0       0.0   1.0     0.0
5713180       2  Subscriber         1.0       0.0   0.0     1.0
5713181       1  Subscriber         1.0       0.0   1.0     0.0
5713182       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5733724       1  Subscriber         NaN       NaN   NaN     NaN
5733725       1  Subscriber         NaN       NaN   NaN     NaN
5733726       1  Subscriber         NaN       NaN   NaN     NaN
5733727       2  Subscriber         NaN       NaN   NaN     NaN
5733728       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5733729       2  Subscriber         1.0       0.0   0.0     1.0
5733730       1  Subscriber         1.0       0.0   1.0     0.0
5733731       1  Subscriber         1.0       0.0   1.0     0.0
5733732       1  Subscriber         1.0       0.0   1.0     0.0
5733733       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5754275       1  Subscriber         NaN       NaN   NaN     NaN
5754276       1  Subscriber         NaN       NaN   NaN     NaN
5754277       1  Subscriber         NaN       NaN   NaN     NaN
5754278       1  Subscriber         NaN       NaN   NaN     NaN
5754279       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5754280       2  Subscriber         1.0       0.0   0.0     1.0
5754281       1  Subscriber         1.0       0.0   1.0     0.0
5754282       1  Subscriber         1.0       0.0   1.0     0.0
5754283       2  Subscriber         1.0       0.0   0.0     1.0
5754284       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5774826       1  Subscriber         NaN       NaN   NaN     NaN
5774827       1  Subscriber         NaN       NaN   NaN     NaN
5774828       1  Subscriber         NaN       NaN   NaN     NaN
5774829       1  Subscriber         NaN       NaN   NaN     NaN
5774830       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5774831       1  Subscriber         1.0       0.0   1.0     0.0
5774832       1  Subscriber         1.0       0.0   1.0     0.0
5774833       2  Subscriber         1.0       0.0   0.0     1.0
5774834       2  Subscriber         1.0       0.0   0.0     1.0
5774835       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5795377       0    Customer         NaN       NaN   NaN     NaN
5795378       1  Subscriber         NaN       NaN   NaN     NaN
5795379       2  Subscriber         NaN       NaN   NaN     NaN
5795380       1  Subscriber         NaN       NaN   NaN     NaN
5795381       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5795382       1  Subscriber         1.0       0.0   1.0     0.0
5795383       1  Subscriber         1.0       0.0   1.0     0.0
5795384       2  Subscriber         1.0       0.0   0.0     1.0
5795385       1  Subscriber         1.0       0.0   1.0     0.0
5795386       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5815928       1  Subscriber         NaN       NaN   NaN     NaN
5815929       2  Subscriber         NaN       NaN   NaN     NaN
5815930       1  Subscriber         NaN       NaN   NaN     NaN
5815931       1  Subscriber         NaN       NaN   NaN     NaN
5815932       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5815933       2  Subscriber         1.0       0.0   0.0     1.0
5815934       1  Subscriber         1.0       0.0   1.0     0.0
5815935       1  Subscriber         1.0       0.0   1.0     0.0
5815936       0  Subscriber         1.0       0.0   0.0     0.0
5815937       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5836479       1  Subscriber         NaN       NaN   NaN     NaN
5836480       1    Customer         NaN       NaN   NaN     NaN
5836481       1  Subscriber         NaN       NaN   NaN     NaN
5836482       2  Subscriber         NaN       NaN   NaN     NaN
5836483       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5836484       1  Subscriber         1.0       0.0   1.0     0.0
5836485       1  Subscriber         1.0       0.0   1.0     0.0
5836486       0  Subscriber         1.0       0.0   0.0     0.0
5836487       1  Subscriber         1.0       0.0   1.0     0.0
5836488       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
5857030       1  Subscriber         NaN       NaN   NaN     NaN
5857031       2  Subscriber         NaN       NaN   NaN     NaN
5857032       2  Subscriber         NaN       NaN   NaN     NaN
5857033       1  Subscriber         NaN       NaN   NaN     NaN
5857034       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5857035       1  Subscriber         1.0       0.0   1.0     0.0
5857036       1  Subscriber         1.0       0.0   1.0     0.0
5857037       1  Subscriber         1.0       0.0   1.0     0.0
5857038       1  Subscriber         1.0       0.0   1.0     0.0
5857039       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5877581       1  Subscriber         NaN       NaN   NaN     NaN
5877582       1  Subscriber         NaN       NaN   NaN     NaN
5877583       1  Subscriber         NaN       NaN   NaN     NaN
5877584       1  Subscriber         NaN       NaN   NaN     NaN
5877585       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5877586       1  Subscriber         1.0       0.0   1.0     0.0
5877587       1  Subscriber         1.0       0.0   1.0     0.0
5877588       2  Subscriber         1.0       0.0   0.0     1.0
5877589       1  Subscriber         1.0       0.0   1.0     0.0
5877590       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5898132       2  Subscriber         NaN       NaN   NaN     NaN
5898133       1    Customer         NaN       NaN   NaN     NaN
5898134       2  Subscriber         NaN       NaN   NaN     NaN
5898135       2  Subscriber         NaN       NaN   NaN     NaN
5898136       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5898137       1  Subscriber         1.0       0.0   1.0     0.0
5898138       1  Subscriber         1.0       0.0   1.0     0.0
5898139       1  Subscriber         1.0       0.0   1.0     0.0
5898140       0  Subscriber         1.0       0.0   0.0     0.0
5898141       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
5918683       1  Subscriber         NaN       NaN   NaN     NaN
5918684       1    Customer         NaN       NaN   NaN     NaN
5918685       1  Subscriber         NaN       NaN   NaN     NaN
5918686       1  Subscriber         NaN       NaN   NaN     NaN
5918687       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5918688       2  Subscriber         1.0       0.0   0.0     1.0
5918689       1  Subscriber         1.0       0.0   1.0     0.0
5918690       1  Subscriber         1.0       0.0   1.0     0.0
5918691       2  Subscriber         1.0       0.0   0.0     1.0
5918692       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5939234       2  Subscriber         NaN       NaN   NaN     NaN
5939235       1  Subscriber         NaN       NaN   NaN     NaN
5939236       1  Subscriber         NaN       NaN   NaN     NaN
5939237       1  Subscriber         NaN       NaN   NaN     NaN
5939238       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5939239       1  Subscriber         1.0       0.0   1.0     0.0
5939240       2  Subscriber         1.0       0.0   0.0     1.0
5939241       2  Subscriber         1.0       0.0   0.0     1.0
5939242       2  Subscriber         1.0       0.0   0.0     1.0
5939243       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
5959785       0    Customer         NaN       NaN   NaN     NaN
5959786       0    Customer         NaN       NaN   NaN     NaN
5959787       0    Customer         NaN       NaN   NaN     NaN
5959788       0    Customer         NaN       NaN   NaN     NaN
5959789       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5959790       0    Customer         0.0       1.0   0.0     0.0
5959791       2  Subscriber         1.0       0.0   0.0     1.0
5959792       0    Customer         0.0       1.0   0.0     0.0
5959793       2  Subscriber         1.0       0.0   0.0     1.0
5959794       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
5980336       1  Subscriber         NaN       NaN   NaN     NaN
5980337       1  Subscriber         NaN       NaN   NaN     NaN
5980338       2  Subscriber         NaN       NaN   NaN     NaN
5980339       1  Subscriber         NaN       NaN   NaN     NaN
5980340       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
5980341       1  Subscriber         1.0       0.0   1.0     0.0
5980342       1  Subscriber         1.0       0.0   1.0     0.0
5980343       2  Subscriber         1.0       0.0   0.0     1.0
5980344       1  Subscriber         1.0       0.0   1.0     0.0
5980345       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
6000887       1  Subscriber         NaN       NaN   NaN     NaN
6000888       2  Subscriber         NaN       NaN   NaN     NaN
6000889       1  Subscriber         NaN       NaN   NaN     NaN
6000890       0    Customer         NaN       NaN   NaN     NaN
6000891       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6000892       1  Subscriber         1.0       0.0   1.0     0.0
6000893       1  Subscriber         1.0       0.0   1.0     0.0
6000894       2  Subscriber         1.0       0.0   0.0     1.0
6000895       1  Subscriber         1.0       0.0   1.0     0.0
6000896       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
6021438       1  Subscriber         NaN       NaN   NaN     NaN
6021439       2    Customer         NaN       NaN   NaN     NaN
6021440       2  Subscriber         NaN       NaN   NaN     NaN
6021441       0    Customer         NaN       NaN   NaN     NaN
6021442       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6021443       1  Subscriber         1.0       0.0   1.0     0.0
6021444       2  Subscriber         1.0       0.0   0.0     1.0
6021445       1  Subscriber         1.0       0.0   1.0     0.0
6021446       1  Subscriber         1.0       0.0   1.0     0.0
6021447       2    Customer         0.0       1.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
6041989       1  Subscriber         NaN       NaN   NaN     NaN
6041990       0    Customer         NaN       NaN   NaN     NaN
6041991       1  Subscriber         NaN       NaN   NaN     NaN
6041992       1  Subscriber         NaN       NaN   NaN     NaN
6041993       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6041994       0    Customer         0.0       1.0   0.0     0.0
6041995       1  Subscriber         1.0       0.0   1.0     0.0
6041996       1  Subscriber         1.0       0.0   1.0     0.0
6041997       2  Subscriber         1.0       0.0   0.0     1.0
6041998       0    Customer         0.0       1.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
6062540       2  Subscriber         NaN       NaN   NaN     NaN
6062541       1  Subscriber         NaN       NaN   NaN     NaN
6062542       1  Subscriber         NaN       NaN   NaN     NaN
6062543       2    Customer         NaN       NaN   NaN     NaN
6062544       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6062545       1  Subscriber         1.0       0.0   1.0     0.0
6062546       1  Subscriber         1.0       0.0   1.0     0.0
6062547       2  Subscriber         1.0       0.0   0.0     1.0
6062548       0    Customer         0.0       1.0   0.0     0.0
6062549       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
6083091       0    Customer         NaN       NaN   NaN     NaN
6083092       1  Subscriber         NaN       NaN   NaN     NaN
6083093       0    Customer         NaN       NaN   NaN     NaN
6083094       1  Subscriber         NaN       NaN   NaN     NaN
6083095       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6083096       2    Customer         0.0       1.0   0.0     1.0
6083097       1  Subscriber         1.0       0.0   1.0     0.0
6083098       0    Customer         0.0       1.0   0.0     0.0
6083099       2  Subscriber         1.0       0.0   0.0     1.0
6083100       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
6103642       1  Subscriber         NaN       NaN   NaN     NaN
6103643       2  Subscriber         NaN       NaN   NaN     NaN
6103644       2  Subscriber         NaN       NaN   NaN     NaN
6103645       1  Subscriber         NaN       NaN   NaN     NaN
6103646       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6103647       2  Subscriber         1.0       0.0   0.0     1.0
6103648       1  Subscriber         1.0       0.0   1.0     0.0
6103649       1  Subscriber         1.0       0.0   1.0     0.0
6103650       0  Subscriber         1.0       0.0   0.0     0.0
6103651       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
6124193       2  Subscriber         NaN       NaN   NaN     NaN
6124194       1  Subscriber         NaN       NaN   NaN     NaN
6124195       1  Subscriber         NaN       NaN   NaN     NaN
6124196       1  Subscriber         NaN       NaN   NaN     NaN
6124197       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6124198       2  Subscriber         1.0       0.0   0.0     1.0
6124199       1  Subscriber         1.0       0.0   1.0     0.0
6124200       1  Subscriber         1.0       0.0   1.0     0.0
6124201       1  Subscriber         1.0       0.0   1.0     0.0
6124202       2    Customer         0.0       1.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
6144744       1  Subscriber         NaN       NaN   NaN     NaN
6144745       1  Subscriber         NaN       NaN   NaN     NaN
6144746       1  Subscriber         NaN       NaN   NaN     NaN
6144747       1  Subscriber         NaN       NaN   NaN     NaN
6144748       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6144749       1  Subscriber         1.0       0.0   1.0     0.0
6144750       1  Subscriber         1.0       0.0   1.0     0.0
6144751       2  Subscriber         1.0       0.0   0.0     1.0
6144752       1  Subscriber         1.0       0.0   1.0     0.0
6144753       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
6165295       1  Subscriber         NaN       NaN   NaN     NaN
6165296       1  Subscriber         NaN       NaN   NaN     NaN
6165297       1  Subscriber         NaN       NaN   NaN     NaN
6165298       1  Subscriber         NaN       NaN   NaN     NaN
6165299       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6165300       1  Subscriber         1.0       0.0   1.0     0.0
6165301       2  Subscriber         1.0       0.0   0.0     1.0
6165302       1  Subscriber         1.0       0.0   1.0     0.0
6165303       1    Customer         0.0       1.0   1.0     0.0
6165304       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
6185846       2  Subscriber         NaN       NaN   NaN     NaN
6185847       1  Subscriber         NaN       NaN   NaN     NaN
6185848       1  Subscriber         NaN       NaN   NaN     NaN
6185849       0    Customer         NaN       NaN   NaN     NaN
6185850       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6185851       1  Subscriber         1.0       0.0   1.0     0.0
6185852       2  Subscriber         1.0       0.0   0.0     1.0
6185853       2  Subscriber         1.0       0.0   0.0     1.0
6185854       2  Subscriber         1.0       0.0   0.0     1.0
6185855       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
6206397       2  Subscriber         NaN       NaN   NaN     NaN
6206398       2  Subscriber         NaN       NaN   NaN     NaN
6206399       2  Subscriber         NaN       NaN   NaN     NaN
6206400       2  Subscriber         NaN       NaN   NaN     NaN
6206401       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6206402       1  Subscriber         1.0       0.0   1.0     0.0
6206403       1  Subscriber         1.0       0.0   1.0     0.0
6206404       1  Subscriber         1.0       0.0   1.0     0.0
6206405       2  Subscriber         1.0       0.0   0.0     1.0
6206406       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
6226948       2  Subscriber         NaN       NaN   NaN     NaN
6226949       1  Subscriber         NaN       NaN   NaN     NaN
6226950       1  Subscriber         NaN       NaN   NaN     NaN
6226951       2  Subscriber         NaN       NaN   NaN     NaN
6226952       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6226953       1  Subscriber         1.0       0.0   1.0     0.0
6226954       1  Subscriber         1.0       0.0   1.0     0.0
6226955       1  Subscriber         1.0       0.0   1.0     0.0
6226956       2  Subscriber         1.0       0.0   0.0     1.0
6226957       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
6247499       2  Subscriber         NaN       NaN   NaN     NaN
6247500       2    Customer         NaN       NaN   NaN     NaN
6247501       0    Customer         NaN       NaN   NaN     NaN
6247502       1  Subscriber         NaN       NaN   NaN     NaN
6247503       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6247504       1  Subscriber         1.0       0.0   1.0     0.0
6247505       1  Subscriber         1.0       0.0   1.0     0.0
6247506       0    Customer         0.0       1.0   0.0     0.0
6247507       0    Customer         0.0       1.0   0.0     0.0
6247508       0    Customer         0.0       1.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
6268050       1  Subscriber         NaN       NaN   NaN     NaN
6268051       1  Subscriber         NaN       NaN   NaN     NaN
6268052       1  Subscriber         NaN       NaN   NaN     NaN
6268053       1  Subscriber         NaN       NaN   NaN     NaN
6268054       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6268055       2  Subscriber         1.0       0.0   0.0     1.0
6268056       1  Subscriber         1.0       0.0   1.0     0.0
6268057       2  Subscriber         1.0       0.0   0.0     1.0
6268058       1  Subscriber         1.0       0.0   1.0     0.0
6268059       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
6288601       1    Customer         NaN       NaN   NaN     NaN
6288602       1  Subscriber         NaN       NaN   NaN     NaN
6288603       1  Subscriber         NaN       NaN   NaN     NaN
6288604       2  Subscriber         NaN       NaN   NaN     NaN
6288605       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6288606       1    Customer         0.0       1.0   1.0     0.0
6288607       1  Subscriber         1.0       0.0   1.0     0.0
6288608       1  Subscriber         1.0       0.0   1.0     0.0
6288609       1  Subscriber         1.0       0.0   1.0     0.0
6288610       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
6309152       1  Subscriber         NaN       NaN   NaN     NaN
6309153       2  Subscriber         NaN       NaN   NaN     NaN
6309154       1  Subscriber         NaN       NaN   NaN     NaN
6309155       1  Subscriber         NaN       NaN   NaN     NaN
6309156       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6309157       1  Subscriber         1.0       0.0   1.0     0.0
6309158       1  Subscriber         1.0       0.0   1.0     0.0
6309159       2  Subscriber         1.0       0.0   0.0     1.0
6309160       1  Subscriber         1.0       0.0   1.0     0.0
6309161       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
6329703       1  Subscriber         NaN       NaN   NaN     NaN
6329704       1  Subscriber         NaN       NaN   NaN     NaN
6329705       1  Subscriber         NaN       NaN   NaN     NaN
6329706       2    Customer         NaN       NaN   NaN     NaN
6329707       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6329708       1  Subscriber         1.0       0.0   1.0     0.0
6329709       1  Subscriber         1.0       0.0   1.0     0.0
6329710       1  Subscriber         1.0       0.0   1.0     0.0
6329711       1  Subscriber         1.0       0.0   1.0     0.0
6329712       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
6350254       1  Subscriber         NaN       NaN   NaN     NaN
6350255       2  Subscriber         NaN       NaN   NaN     NaN
6350256       1  Subscriber         NaN       NaN   NaN     NaN
6350257       2  Subscriber         NaN       NaN   NaN     NaN
6350258       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6350259       1  Subscriber         1.0       0.0   1.0     0.0
6350260       1  Subscriber         1.0       0.0   1.0     0.0
6350261       0    Customer         0.0       1.0   0.0     0.0
6350262       1    Customer         0.0       1.0   1.0     0.0
6350263       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
6370805       0    Customer         NaN       NaN   NaN     NaN
6370806       1  Subscriber         NaN       NaN   NaN     NaN
6370807       1    Customer         NaN       NaN   NaN     NaN
6370808       1  Subscriber         NaN       NaN   NaN     NaN
6370809       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6370810       1  Subscriber         1.0       0.0   1.0     0.0
6370811       1  Subscriber         1.0       0.0   1.0     0.0
6370812       1  Subscriber         1.0       0.0   1.0     0.0
6370813       1  Subscriber         1.0       0.0   1.0     0.0
6370814       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
6391356       1  Subscriber         NaN       NaN   NaN     NaN
6391357       1  Subscriber         NaN       NaN   NaN     NaN
6391358       1  Subscriber         NaN       NaN   NaN     NaN
6391359       1  Subscriber         NaN       NaN   NaN     NaN
6391360       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6391361       1  Subscriber         1.0       0.0   1.0     0.0
6391362       0    Customer         0.0       1.0   0.0     0.0
6391363       1  Subscriber         1.0       0.0   1.0     0.0
6391364       1  Subscriber         1.0       0.0   1.0     0.0
6391365       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
6411907       1  Subscriber         NaN       NaN   NaN     NaN
6411908       2  Subscriber         NaN       NaN   NaN     NaN
6411909       1  Subscriber         NaN       NaN   NaN     NaN
6411910       2  Subscriber         NaN       NaN   NaN     NaN
6411911       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6411912       0    Customer         0.0       1.0   0.0     0.0
6411913       2  Subscriber         1.0       0.0   0.0     1.0
6411914       2  Subscriber         1.0       0.0   0.0     1.0
6411915       1    Customer         0.0       1.0   1.0     0.0
6411916       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
6432458       1  Subscriber         NaN       NaN   NaN     NaN
6432459       1  Subscriber         NaN       NaN   NaN     NaN
6432460       2  Subscriber         NaN       NaN   NaN     NaN
6432461       1  Subscriber         NaN       NaN   NaN     NaN
6432462       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6432463       2  Subscriber         1.0       0.0   0.0     1.0
6432464       2  Subscriber         1.0       0.0   0.0     1.0
6432465       2  Subscriber         1.0       0.0   0.0     1.0
6432466       2  Subscriber         1.0       0.0   0.0     1.0
6432467       1    Customer         0.0       1.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
6453009       0    Customer         NaN       NaN   NaN     NaN
6453010       1  Subscriber         NaN       NaN   NaN     NaN
6453011       2    Customer         NaN       NaN   NaN     NaN
6453012       2    Customer         NaN       NaN   NaN     NaN
6453013       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6453014       2  Subscriber         1.0       0.0   0.0     1.0
6453015       2  Subscriber         1.0       0.0   0.0     1.0
6453016       1  Subscriber         1.0       0.0   1.0     0.0
6453017       1  Subscriber         1.0       0.0   1.0     0.0
6453018       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
6473560       1  Subscriber         NaN       NaN   NaN     NaN
6473561       1  Subscriber         NaN       NaN   NaN     NaN
6473562       0    Customer         NaN       NaN   NaN     NaN
6473563       1    Customer         NaN       NaN   NaN     NaN
6473564       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6473565       2  Subscriber         1.0       0.0   0.0     1.0
6473566       1  Subscriber         1.0       0.0   1.0     0.0
6473567       0    Customer         0.0       1.0   0.0     0.0
6473568       1  Subscriber         1.0       0.0   1.0     0.0
6473569       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
6494111       1    Customer         NaN       NaN   NaN     NaN
6494112       1  Subscriber         NaN       NaN   NaN     NaN
6494113       2  Subscriber         NaN       NaN   NaN     NaN
6494114       2  Subscriber         NaN       NaN   NaN     NaN
6494115       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6494116       1  Subscriber         1.0       0.0   1.0     0.0
6494117       1  Subscriber         1.0       0.0   1.0     0.0
6494118       1  Subscriber         1.0       0.0   1.0     0.0
6494119       1    Customer         0.0       1.0   1.0     0.0
6494120       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
6514662       1    Customer         NaN       NaN   NaN     NaN
6514663       2  Subscriber         NaN       NaN   NaN     NaN
6514664       1  Subscriber         NaN       NaN   NaN     NaN
6514665       1  Subscriber         NaN       NaN   NaN     NaN
6514666       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6514667       2  Subscriber         1.0       0.0   0.0     1.0
6514668       1  Subscriber         1.0       0.0   1.0     0.0
6514669       1    Customer         0.0       1.0   1.0     0.0
6514670       1  Subscriber         1.0       0.0   1.0     0.0
6514671       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
6535213       1  Subscriber         NaN       NaN   NaN     NaN
6535214       1  Subscriber         NaN       NaN   NaN     NaN
6535215       0    Customer         NaN       NaN   NaN     NaN
6535216       1    Customer         NaN       NaN   NaN     NaN
6535217       2    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6535218       1    Customer         0.0       1.0   1.0     0.0
6535219       1    Customer         0.0       1.0   1.0     0.0
6535220       0    Customer         0.0       1.0   0.0     0.0
6535221       1  Subscriber         1.0       0.0   1.0     0.0
6535222       2    Customer         0.0       1.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
6555764       1  Subscriber         NaN       NaN   NaN     NaN
6555765       1    Customer         NaN       NaN   NaN     NaN
6555766       2  Subscriber         NaN       NaN   NaN     NaN
6555767       2  Subscriber         NaN       NaN   NaN     NaN
6555768       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6555769       1  Subscriber         1.0       0.0   1.0     0.0
6555770       1  Subscriber         1.0       0.0   1.0     0.0
6555771       2  Subscriber         1.0       0.0   0.0     1.0
6555772       1  Subscriber         1.0       0.0   1.0     0.0
6555773       0    Customer         0.0       1.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
6576315       1    Customer         NaN       NaN   NaN     NaN
6576316       1  Subscriber         NaN       NaN   NaN     NaN
6576317       2  Subscriber         NaN       NaN   NaN     NaN
6576318       1  Subscriber         NaN       NaN   NaN     NaN
6576319       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6576320       2    Customer         0.0       1.0   0.0     1.0
6576321       1  Subscriber         1.0       0.0   1.0     0.0
6576322       1  Subscriber         1.0       0.0   1.0     0.0
6576323       0    Customer         0.0       1.0   0.0     0.0
6576324       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
6596866       1    Customer         NaN       NaN   NaN     NaN
6596867       1  Subscriber         NaN       NaN   NaN     NaN
6596868       1    Customer         NaN       NaN   NaN     NaN
6596869       1    Customer         NaN       NaN   NaN     NaN
6596870       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6596871       1  Subscriber         1.0       0.0   1.0     0.0
6596872       1    Customer         0.0       1.0   1.0     0.0
6596873       2  Subscriber         1.0       0.0   0.0     1.0
6596874       1  Subscriber         1.0       0.0   1.0     0.0
6596875       2    Customer         0.0       1.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
6617417       1    Customer         NaN       NaN   NaN     NaN
6617418       1  Subscriber         NaN       NaN   NaN     NaN
6617419       2  Subscriber         NaN       NaN   NaN     NaN
6617420       1  Subscriber         NaN       NaN   NaN     NaN
6617421       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6617422       2  Subscriber         1.0       0.0   0.0     1.0
6617423       1  Subscriber         1.0       0.0   1.0     0.0
6617424       1  Subscriber         1.0       0.0   1.0     0.0
6617425       1  Subscriber         1.0       0.0   1.0     0.0
6617426       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
6637968       2  Subscriber         NaN       NaN   NaN     NaN
6637969       0    Customer         NaN       NaN   NaN     NaN
6637970       1  Subscriber         NaN       NaN   NaN     NaN
6637971       2  Subscriber         NaN       NaN   NaN     NaN
6637972       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6637973       1  Subscriber         1.0       0.0   1.0     0.0
6637974       0    Customer         0.0       1.0   0.0     0.0
6637975       1    Customer         0.0       1.0   1.0     0.0
6637976       0    Customer         0.0       1.0   0.0     0.0
6637977       0    Customer         0.0       1.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
6658519       1  Subscriber         NaN       NaN   NaN     NaN
6658520       0    Customer         NaN       NaN   NaN     NaN
6658521       1    Customer         NaN       NaN   NaN     NaN
6658522       1  Subscriber         NaN       NaN   NaN     NaN
6658523       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6658524       2    Customer         0.0       1.0   0.0     1.0
6658525       1  Subscriber         1.0       0.0   1.0     0.0
6658526       2  Subscriber         1.0       0.0   0.0     1.0
6658527       0    Customer         0.0       1.0   0.0     0.0
6658528       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
6679070       1  Subscriber         NaN       NaN   NaN     NaN
6679071       1  Subscriber         NaN       NaN   NaN     NaN
6679072       1  Subscriber         NaN       NaN   NaN     NaN
6679073       1  Subscriber         NaN       NaN   NaN     NaN
6679074       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6679075       2  Subscriber         1.0       0.0   0.0     1.0
6679076       1  Subscriber         1.0       0.0   1.0     0.0
6679077       1  Subscriber         1.0       0.0   1.0     0.0
6679078       1  Subscriber         1.0       0.0   1.0     0.0
6679079       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
6699621       1  Subscriber         NaN       NaN   NaN     NaN
6699622       1  Subscriber         NaN       NaN   NaN     NaN
6699623       2  Subscriber         NaN       NaN   NaN     NaN
6699624       1  Subscriber         NaN       NaN   NaN     NaN
6699625       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6699626       1  Subscriber         1.0       0.0   1.0     0.0
6699627       1  Subscriber         1.0       0.0   1.0     0.0
6699628       2  Subscriber         1.0       0.0   0.0     1.0
6699629       2  Subscriber         1.0       0.0   0.0     1.0
6699630       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
6720172       1  Subscriber         NaN       NaN   NaN     NaN
6720173       1  Subscriber         NaN       NaN   NaN     NaN
6720174       2  Subscriber         NaN       NaN   NaN     NaN
6720175       1  Subscriber         NaN       NaN   NaN     NaN
6720176       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6720177       1  Subscriber         1.0       0.0   1.0     0.0
6720178       1    Customer         0.0       1.0   1.0     0.0
6720179       2  Subscriber         1.0       0.0   0.0     1.0
6720180       1  Subscriber         1.0       0.0   1.0     0.0
6720181       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
6740723       1  Subscriber         NaN       NaN   NaN     NaN
6740724       2  Subscriber         NaN       NaN   NaN     NaN
6740725       1  Subscriber         NaN       NaN   NaN     NaN
6740726       2  Subscriber         NaN       NaN   NaN     NaN
6740727       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6740728       2  Subscriber         1.0       0.0   0.0     1.0
6740729       2  Subscriber         1.0       0.0   0.0     1.0
6740730       1  Subscriber         1.0       0.0   1.0     0.0
6740731       1  Subscriber         1.0       0.0   1.0     0.0
6740732       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
6761274       1  Subscriber         NaN       NaN   NaN     NaN
6761275       1  Subscriber         NaN       NaN   NaN     NaN
6761276       1  Subscriber         NaN       NaN   NaN     NaN
6761277       1    Customer         NaN       NaN   NaN     NaN
6761278       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6761279       1  Subscriber         1.0       0.0   1.0     0.0
6761280       1  Subscriber         1.0       0.0   1.0     0.0
6761281       1  Subscriber         1.0       0.0   1.0     0.0
6761282       2  Subscriber         1.0       0.0   0.0     1.0
6761283       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
6781825       1  Subscriber         NaN       NaN   NaN     NaN
6781826       1  Subscriber         NaN       NaN   NaN     NaN
6781827       1  Subscriber         NaN       NaN   NaN     NaN
6781828       2  Subscriber         NaN       NaN   NaN     NaN
6781829       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6781830       1  Subscriber         1.0       0.0   1.0     0.0
6781831       2  Subscriber         1.0       0.0   0.0     1.0
6781832       2  Subscriber         1.0       0.0   0.0     1.0
6781833       1  Subscriber         1.0       0.0   1.0     0.0
6781834       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
6802376       1  Subscriber         NaN       NaN   NaN     NaN
6802377       1  Subscriber         NaN       NaN   NaN     NaN
6802378       1  Subscriber         NaN       NaN   NaN     NaN
6802379       1    Customer         NaN       NaN   NaN     NaN
6802380       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6802381       1  Subscriber         1.0       0.0   1.0     0.0
6802382       1  Subscriber         1.0       0.0   1.0     0.0
6802383       1  Subscriber         1.0       0.0   1.0     0.0
6802384       1  Subscriber         1.0       0.0   1.0     0.0
6802385       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
6822927       1  Subscriber         NaN       NaN   NaN     NaN
6822928       1  Subscriber         NaN       NaN   NaN     NaN
6822929       1  Subscriber         NaN       NaN   NaN     NaN
6822930       1  Subscriber         NaN       NaN   NaN     NaN
6822931       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6822932       1  Subscriber         1.0       0.0   1.0     0.0
6822933       1  Subscriber         1.0       0.0   1.0     0.0
6822934       1    Customer         0.0       1.0   1.0     0.0
6822935       0    Customer         0.0       1.0   0.0     0.0
6822936       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
6843478       1  Subscriber         NaN       NaN   NaN     NaN
6843479       0  Subscriber         NaN       NaN   NaN     NaN
6843480       1  Subscriber         NaN       NaN   NaN     NaN
6843481       1  Subscriber         NaN       NaN   NaN     NaN
6843482       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6843483       2  Subscriber         1.0       0.0   0.0     1.0
6843484       0    Customer         0.0       1.0   0.0     0.0
6843485       1  Subscriber         1.0       0.0   1.0     0.0
6843486       1  Subscriber         1.0       0.0   1.0     0.0
6843487       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
6864029       2    Customer         NaN       NaN   NaN     NaN
6864030       2  Subscriber         NaN       NaN   NaN     NaN
6864031       0    Customer         NaN       NaN   NaN     NaN
6864032       2    Customer         NaN       NaN   NaN     NaN
6864033       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6864034       2  Subscriber         1.0       0.0   0.0     1.0
6864035       1    Customer         0.0       1.0   1.0     0.0
6864036       0    Customer         0.0       1.0   0.0     0.0
6864037       1  Subscriber         1.0       0.0   1.0     0.0
6864038       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
6884580       1  Subscriber         NaN       NaN   NaN     NaN
6884581       1  Subscriber         NaN       NaN   NaN     NaN
6884582       1  Subscriber         NaN       NaN   NaN     NaN
6884583       1  Subscriber         NaN       NaN   NaN     NaN
6884584       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6884585       0  Subscriber         1.0       0.0   0.0     0.0
6884586       1  Subscriber         1.0       0.0   1.0     0.0
6884587       1  Subscriber         1.0       0.0   1.0     0.0
6884588       2  Subscriber         1.0       0.0   0.0     1.0
6884589       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
6905131       1  Subscriber         NaN       NaN   NaN     NaN
6905132       1  Subscriber         NaN       NaN   NaN     NaN
6905133       1  Subscriber         NaN       NaN   NaN     NaN
6905134       1    Customer         NaN       NaN   NaN     NaN
6905135       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6905136       2  Subscriber         1.0       0.0   0.0     1.0
6905137       2  Subscriber         1.0       0.0   0.0     1.0
6905138       0    Customer         0.0       1.0   0.0     0.0
6905139       1  Subscriber         1.0       0.0   1.0     0.0
6905140       0    Customer         0.0       1.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
6925682       0    Customer         NaN       NaN   NaN     NaN
6925683       1  Subscriber         NaN       NaN   NaN     NaN
6925684       0    Customer         NaN       NaN   NaN     NaN
6925685       0    Customer         NaN       NaN   NaN     NaN
6925686       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6925687       1  Subscriber         1.0       0.0   1.0     0.0
6925688       2  Subscriber         1.0       0.0   0.0     1.0
6925689       1  Subscriber         1.0       0.0   1.0     0.0
6925690       1  Subscriber         1.0       0.0   1.0     0.0
6925691       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
6946233       1  Subscriber         NaN       NaN   NaN     NaN
6946234       1  Subscriber         NaN       NaN   NaN     NaN
6946235       1  Subscriber         NaN       NaN   NaN     NaN
6946236       1  Subscriber         NaN       NaN   NaN     NaN
6946237       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6946238       1    Customer         0.0       1.0   1.0     0.0
6946239       1  Subscriber         1.0       0.0   1.0     0.0
6946240       1  Subscriber         1.0       0.0   1.0     0.0
6946241       1  Subscriber         1.0       0.0   1.0     0.0
6946242       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
6966784       1  Subscriber         NaN       NaN   NaN     NaN
6966785       1  Subscriber         NaN       NaN   NaN     NaN
6966786       1  Subscriber         NaN       NaN   NaN     NaN
6966787       2    Customer         NaN       NaN   NaN     NaN
6966788       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6966789       1  Subscriber         1.0       0.0   1.0     0.0
6966790       1    Customer         0.0       1.0   1.0     0.0
6966791       2  Subscriber         1.0       0.0   0.0     1.0
6966792       2  Subscriber         1.0       0.0   0.0     1.0
6966793       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
6987335       1  Subscriber         NaN       NaN   NaN     NaN
6987336       1  Subscriber         NaN       NaN   NaN     NaN
6987337       1  Subscriber         NaN       NaN   NaN     NaN
6987338       0    Customer         NaN       NaN   NaN     NaN
6987339       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
6987340       1  Subscriber         1.0       0.0   1.0     0.0
6987341       1  Subscriber         1.0       0.0   1.0     0.0
6987342       0    Customer         0.0       1.0   0.0     0.0
6987343       1  Subscriber         1.0       0.0   1.0     0.0
6987344       1    Customer         0.0       1.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7007886       1  Subscriber         NaN       NaN   NaN     NaN
7007887       0    Customer         NaN       NaN   NaN     NaN
7007888       1  Subscriber         NaN       NaN   NaN     NaN
7007889       0    Customer         NaN       NaN   NaN     NaN
7007890       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7007891       1  Subscriber         1.0       0.0   1.0     0.0
7007892       1  Subscriber         1.0       0.0   1.0     0.0
7007893       1  Subscriber         1.0       0.0   1.0     0.0
7007894       2  Subscriber         1.0       0.0   0.0     1.0
7007895       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7028437       2  Subscriber         NaN       NaN   NaN     NaN
7028438       1  Subscriber         NaN       NaN   NaN     NaN
7028439       1  Subscriber         NaN       NaN   NaN     NaN
7028440       1  Subscriber         NaN       NaN   NaN     NaN
7028441       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7028442       1  Subscriber         1.0       0.0   1.0     0.0
7028443       2    Customer         0.0       1.0   0.0     1.0
7028444       0    Customer         0.0       1.0   0.0     0.0
7028445       1  Subscriber         1.0       0.0   1.0     0.0
7028446       2    Customer         0.0       1.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
7048988       2  Subscriber         NaN       NaN   NaN     NaN
7048989       1  Subscriber         NaN       NaN   NaN     NaN
7048990       1  Subscriber         NaN       NaN   NaN     NaN
7048991       2    Customer         NaN       NaN   NaN     NaN
7048992       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7048993       2  Subscriber         1.0       0.0   0.0     1.0
7048994       1  Subscriber         1.0       0.0   1.0     0.0
7048995       1  Subscriber         1.0       0.0   1.0     0.0
7048996       0  Subscriber         1.0       0.0   0.0     0.0
7048997       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7069539       2  Subscriber         NaN       NaN   NaN     NaN
7069540       1  Subscriber         NaN       NaN   NaN     NaN
7069541       1  Subscriber         NaN       NaN   NaN     NaN
7069542       1  Subscriber         NaN       NaN   NaN     NaN
7069543       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7069544       0    Customer         0.0       1.0   0.0     0.0
7069545       1  Subscriber         1.0       0.0   1.0     0.0
7069546       1  Subscriber         1.0       0.0   1.0     0.0
7069547       2  Subscriber         1.0       0.0   0.0     1.0
7069548       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7090090       1  Subscriber         NaN       NaN   NaN     NaN
7090091       1  Subscriber         NaN       NaN   NaN     NaN
7090092       2  Subscriber         NaN       NaN   NaN     NaN
7090093       2  Subscriber         NaN       NaN   NaN     NaN
7090094       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7090095       2  Subscriber         1.0       0.0   0.0     1.0
7090096       1  Subscriber         1.0       0.0   1.0     0.0
7090097       1  Subscriber         1.0       0.0   1.0     0.0
7090098       2  Subscriber         1.0       0.0   0.0     1.0
7090099       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
7110641       1    Customer         NaN       NaN   NaN     NaN
7110642       1  Subscriber         NaN       NaN   NaN     NaN
7110643       1  Subscriber         NaN       NaN   NaN     NaN
7110644       0    Customer         NaN       NaN   NaN     NaN
7110645       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7110646       2  Subscriber         1.0       0.0   0.0     1.0
7110647       2  Subscriber         1.0       0.0   0.0     1.0
7110648       1  Subscriber         1.0       0.0   1.0     0.0
7110649       1  Subscriber         1.0       0.0   1.0     0.0
7110650       0    Customer         0.0       1.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
7131192       1  Subscriber         NaN       NaN   NaN     NaN
7131193       1  Subscriber         NaN       NaN   NaN     NaN
7131194       1  Subscriber         NaN       NaN   NaN     NaN
7131195       1  Subscriber         NaN       NaN   NaN     NaN
7131196       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7131197       2  Subscriber         1.0       0.0   0.0     1.0
7131198       1  Subscriber         1.0       0.0   1.0     0.0
7131199       1  Subscriber         1.0       0.0   1.0     0.0
7131200       1  Subscriber         1.0       0.0   1.0     0.0
7131201       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7151743       1  Subscriber         NaN       NaN   NaN     NaN
7151744       2  Subscriber         NaN       NaN   NaN     NaN
7151745       1  Subscriber         NaN       NaN   NaN     NaN
7151746       2    Customer         NaN       NaN   NaN     NaN
7151747       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7151748       1  Subscriber         1.0       0.0   1.0     0.0
7151749       1  Subscriber         1.0       0.0   1.0     0.0
7151750       1  Subscriber         1.0       0.0   1.0     0.0
7151751       1  Subscriber         1.0       0.0   1.0     0.0
7151752       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7172294       1    Customer         NaN       NaN   NaN     NaN
7172295       1  Subscriber         NaN       NaN   NaN     NaN
7172296       2  Subscriber         NaN       NaN   NaN     NaN
7172297       2  Subscriber         NaN       NaN   NaN     NaN
7172298       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7172299       1  Subscriber         1.0       0.0   1.0     0.0
7172300       1  Subscriber         1.0       0.0   1.0     0.0
7172301       1  Subscriber         1.0       0.0   1.0     0.0
7172302       1  Subscriber         1.0       0.0   1.0     0.0
7172303       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7192845       2  Subscriber         NaN       NaN   NaN     NaN
7192846       1  Subscriber         NaN       NaN   NaN     NaN
7192847       1  Subscriber         NaN       NaN   NaN     NaN
7192848       1  Subscriber         NaN       NaN   NaN     NaN
7192849       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7192850       2  Subscriber         1.0       0.0   0.0     1.0
7192851       2  Subscriber         1.0       0.0   0.0     1.0
7192852       1  Subscriber         1.0       0.0   1.0     0.0
7192853       1    Customer         0.0       1.0   1.0     0.0
7192854       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7213396       1  Subscriber         NaN       NaN   NaN     NaN
7213397       1  Subscriber         NaN       NaN   NaN     NaN
7213398       0    Customer         NaN       NaN   NaN     NaN
7213399       0  Subscriber         NaN       NaN   NaN     NaN
7213400       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7213401       2  Subscriber         1.0       0.0   0.0     1.0
7213402       1  Subscriber         1.0       0.0   1.0     0.0
7213403       1  Subscriber         1.0       0.0   1.0     0.0
7213404       2  Subscriber         1.0       0.0   0.0     1.0
7213405       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7233947       0    Customer         NaN       NaN   NaN     NaN
7233948       1  Subscriber         NaN       NaN   NaN     NaN
7233949       1    Customer         NaN       NaN   NaN     NaN
7233950       0    Customer         NaN       NaN   NaN     NaN
7233951       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7233952       2  Subscriber         1.0       0.0   0.0     1.0
7233953       1  Subscriber         1.0       0.0   1.0     0.0
7233954       2  Subscriber         1.0       0.0   0.0     1.0
7233955       0    Customer         0.0       1.0   0.0     0.0
7233956       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7254498       1  Subscriber         NaN       NaN   NaN     NaN
7254499       0    Customer         NaN       NaN   NaN     NaN
7254500       2  Subscriber         NaN       NaN   NaN     NaN
7254501       1  Subscriber         NaN       NaN   NaN     NaN
7254502       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7254503       1  Subscriber         1.0       0.0   1.0     0.0
7254504       1  Subscriber         1.0       0.0   1.0     0.0
7254505       1  Subscriber         1.0       0.0   1.0     0.0
7254506       1  Subscriber         1.0       0.0   1.0     0.0
7254507       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7275049       1  Subscriber         NaN       NaN   NaN     NaN
7275050       1  Subscriber         NaN       NaN   NaN     NaN
7275051       1  Subscriber         NaN       NaN   NaN     NaN
7275052       1  Subscriber         NaN       NaN   NaN     NaN
7275053       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7275054       1  Subscriber         1.0       0.0   1.0     0.0
7275055       1  Subscriber         1.0       0.0   1.0     0.0
7275056       1  Subscriber         1.0       0.0   1.0     0.0
7275057       2  Subscriber         1.0       0.0   0.0     1.0
7275058       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
7295600       2  Subscriber         NaN       NaN   NaN     NaN
7295601       2  Subscriber         NaN       NaN   NaN     NaN
7295602       1  Subscriber         NaN       NaN   NaN     NaN
7295603       1  Subscriber         NaN       NaN   NaN     NaN
7295604       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7295605       1  Subscriber         1.0       0.0   1.0     0.0
7295606       1    Customer         0.0       1.0   1.0     0.0
7295607       2  Subscriber         1.0       0.0   0.0     1.0
7295608       2  Subscriber         1.0       0.0   0.0     1.0
7295609       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
7316151       1  Subscriber         NaN       NaN   NaN     NaN
7316152       1  Subscriber         NaN       NaN   NaN     NaN
7316153       1  Subscriber         NaN       NaN   NaN     NaN
7316154       1  Subscriber         NaN       NaN   NaN     NaN
7316155       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7316156       1  Subscriber         1.0       0.0   1.0     0.0
7316157       1  Subscriber         1.0       0.0   1.0     0.0
7316158       1  Subscriber         1.0       0.0   1.0     0.0
7316159       1  Subscriber         1.0       0.0   1.0     0.0
7316160       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7336702       1  Subscriber         NaN       NaN   NaN     NaN
7336703       1  Subscriber         NaN       NaN   NaN     NaN
7336704       1  Subscriber         NaN       NaN   NaN     NaN
7336705       2  Subscriber         NaN       NaN   NaN     NaN
7336706       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7336707       2  Subscriber         1.0       0.0   0.0     1.0
7336708       1  Subscriber         1.0       0.0   1.0     0.0
7336709       2  Subscriber         1.0       0.0   0.0     1.0
7336710       1  Subscriber         1.0       0.0   1.0     0.0
7336711       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7357253       0    Customer         NaN       NaN   NaN     NaN
7357254       2  Subscriber         NaN       NaN   NaN     NaN
7357255       1  Subscriber         NaN       NaN   NaN     NaN
7357256       2  Subscriber         NaN       NaN   NaN     NaN
7357257       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7357258       1  Subscriber         1.0       0.0   1.0     0.0
7357259       1  Subscriber         1.0       0.0   1.0     0.0
7357260       2  Subscriber         1.0       0.0   0.0     1.0
7357261       1  Subscriber         1.0       0.0   1.0     0.0
7357262       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7377804       2  Subscriber         NaN       NaN   NaN     NaN
7377805       0    Customer         NaN       NaN   NaN     NaN
7377806       1  Subscriber         NaN       NaN   NaN     NaN
7377807       2  Subscriber         NaN       NaN   NaN     NaN
7377808       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7377809       1  Subscriber         1.0       0.0   1.0     0.0
7377810       1    Customer         0.0       1.0   1.0     0.0
7377811       2  Subscriber         1.0       0.0   0.0     1.0
7377812       1  Subscriber         1.0       0.0   1.0     0.0
7377813       1    Customer         0.0       1.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7398355       1  Subscriber         NaN       NaN   NaN     NaN
7398356       1  Subscriber         NaN       NaN   NaN     NaN
7398357       2  Subscriber         NaN       NaN   NaN     NaN
7398358       1  Subscriber         NaN       NaN   NaN     NaN
7398359       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7398360       1    Customer         0.0       1.0   1.0     0.0
7398361       1  Subscriber         1.0       0.0   1.0     0.0
7398362       1  Subscriber         1.0       0.0   1.0     0.0
7398363       1  Subscriber         1.0       0.0   1.0     0.0
7398364       0    Customer         0.0       1.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
7418906       1  Subscriber         NaN       NaN   NaN     NaN
7418907       1  Subscriber         NaN       NaN   NaN     NaN
7418908       1  Subscriber         NaN       NaN   NaN     NaN
7418909       1  Subscriber         NaN       NaN   NaN     NaN
7418910       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7418911       1  Subscriber         1.0       0.0   1.0     0.0
7418912       2    Customer         0.0       1.0   0.0     1.0
7418913       1  Subscriber         1.0       0.0   1.0     0.0
7418914       0    Customer         0.0       1.0   0.0     0.0
7418915       1    Customer         0.0       1.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7439457       1  Subscriber         NaN       NaN   NaN     NaN
7439458       2  Subscriber         NaN       NaN   NaN     NaN
7439459       1  Subscriber         NaN       NaN   NaN     NaN
7439460       2  Subscriber         NaN       NaN   NaN     NaN
7439461       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7439462       1  Subscriber         1.0       0.0   1.0     0.0
7439463       1  Subscriber         1.0       0.0   1.0     0.0
7439464       1    Customer         0.0       1.0   1.0     0.0
7439465       1  Subscriber         1.0       0.0   1.0     0.0
7439466       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7460008       1  Subscriber         NaN       NaN   NaN     NaN
7460009       2  Subscriber         NaN       NaN   NaN     NaN
7460010       1  Subscriber         NaN       NaN   NaN     NaN
7460011       1  Subscriber         NaN       NaN   NaN     NaN
7460012       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7460013       1  Subscriber         1.0       0.0   1.0     0.0
7460014       1  Subscriber         1.0       0.0   1.0     0.0
7460015       1  Subscriber         1.0       0.0   1.0     0.0
7460016       1  Subscriber         1.0       0.0   1.0     0.0
7460017       2    Customer         0.0       1.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
7480559       1  Subscriber         NaN       NaN   NaN     NaN
7480560       0    Customer         NaN       NaN   NaN     NaN
7480561       1  Subscriber         NaN       NaN   NaN     NaN
7480562       1  Subscriber         NaN       NaN   NaN     NaN
7480563       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7480564       1  Subscriber         1.0       0.0   1.0     0.0
7480565       2  Subscriber         1.0       0.0   0.0     1.0
7480566       2  Subscriber         1.0       0.0   0.0     1.0
7480567       1  Subscriber         1.0       0.0   1.0     0.0
7480568       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7501110       1  Subscriber         NaN       NaN   NaN     NaN
7501111       1  Subscriber         NaN       NaN   NaN     NaN
7501112       2  Subscriber         NaN       NaN   NaN     NaN
7501113       1  Subscriber         NaN       NaN   NaN     NaN
7501114       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7501115       2    Customer         0.0       1.0   0.0     1.0
7501116       0    Customer         0.0       1.0   0.0     0.0
7501117       1  Subscriber         1.0       0.0   1.0     0.0
7501118       1  Subscriber         1.0       0.0   1.0     0.0
7501119       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7521661       1  Subscriber         NaN       NaN   NaN     NaN
7521662       0    Customer         NaN       NaN   NaN     NaN
7521663       1  Subscriber         NaN       NaN   NaN     NaN
7521664       0    Customer         NaN       NaN   NaN     NaN
7521665       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7521666       1  Subscriber         1.0       0.0   1.0     0.0
7521667       1    Customer         0.0       1.0   1.0     0.0
7521668       1  Subscriber         1.0       0.0   1.0     0.0
7521669       1  Subscriber         1.0       0.0   1.0     0.0
7521670       0    Customer         0.0       1.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
7542212       1  Subscriber         NaN       NaN   NaN     NaN
7542213       2  Subscriber         NaN       NaN   NaN     NaN
7542214       1  Subscriber         NaN       NaN   NaN     NaN
7542215       1  Subscriber         NaN       NaN   NaN     NaN
7542216       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7542217       2  Subscriber         1.0       0.0   0.0     1.0
7542218       2  Subscriber         1.0       0.0   0.0     1.0
7542219       1  Subscriber         1.0       0.0   1.0     0.0
7542220       1  Subscriber         1.0       0.0   1.0     0.0
7542221       0    Customer         0.0       1.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
7562763       2  Subscriber         NaN       NaN   NaN     NaN
7562764       2  Subscriber         NaN       NaN   NaN     NaN
7562765       1  Subscriber         NaN       NaN   NaN     NaN
7562766       2  Subscriber         NaN       NaN   NaN     NaN
7562767       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7562768       1  Subscriber         1.0       0.0   1.0     0.0
7562769       1  Subscriber         1.0       0.0   1.0     0.0
7562770       1  Subscriber         1.0       0.0   1.0     0.0
7562771       0  Subscriber         1.0       0.0   0.0     0.0
7562772       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7583314       1  Subscriber         NaN       NaN   NaN     NaN
7583315       1  Subscriber         NaN       NaN   NaN     NaN
7583316       0    Customer         NaN       NaN   NaN     NaN
7583317       1  Subscriber         NaN       NaN   NaN     NaN
7583318       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7583319       1  Subscriber         1.0       0.0   1.0     0.0
7583320       1    Customer         0.0       1.0   1.0     0.0
7583321       2  Subscriber         1.0       0.0   0.0     1.0
7583322       2  Subscriber         1.0       0.0   0.0     1.0
7583323       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7603865       2  Subscriber         NaN       NaN   NaN     NaN
7603866       2  Subscriber         NaN       NaN   NaN     NaN
7603867       1  Subscriber         NaN       NaN   NaN     NaN
7603868       2  Subscriber         NaN       NaN   NaN     NaN
7603869       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7603870       1  Subscriber         1.0       0.0   1.0     0.0
7603871       1  Subscriber         1.0       0.0   1.0     0.0
7603872       1    Customer         0.0       1.0   1.0     0.0
7603873       1    Customer         0.0       1.0   1.0     0.0
7603874       1    Customer         0.0       1.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7624416       1    Customer         NaN       NaN   NaN     NaN
7624417       1    Customer         NaN       NaN   NaN     NaN
7624418       2  Subscriber         NaN       NaN   NaN     NaN
7624419       1  Subscriber         NaN       NaN   NaN     NaN
7624420       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7624421       1    Customer         0.0       1.0   1.0     0.0
7624422       2    Customer         0.0       1.0   0.0     1.0
7624423       1  Subscriber         1.0       0.0   1.0     0.0
7624424       1  Subscriber         1.0       0.0   1.0     0.0
7624425       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7644967       1  Subscriber         NaN       NaN   NaN     NaN
7644968       1  Subscriber         NaN       NaN   NaN     NaN
7644969       1  Subscriber         NaN       NaN   NaN     NaN
7644970       1  Subscriber         NaN       NaN   NaN     NaN
7644971       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7644972       1  Subscriber         1.0       0.0   1.0     0.0
7644973       1  Subscriber         1.0       0.0   1.0     0.0
7644974       2  Subscriber         1.0       0.0   0.0     1.0
7644975       1  Subscriber         1.0       0.0   1.0     0.0
7644976       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7665518       1  Subscriber         NaN       NaN   NaN     NaN
7665519       1  Subscriber         NaN       NaN   NaN     NaN
7665520       2  Subscriber         NaN       NaN   NaN     NaN
7665521       1  Subscriber         NaN       NaN   NaN     NaN
7665522       0  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7665523       1  Subscriber         1.0       0.0   1.0     0.0
7665524       1  Subscriber         1.0       0.0   1.0     0.0
7665525       2  Subscriber         1.0       0.0   0.0     1.0
7665526       2  Subscriber         1.0       0.0   0.0     1.0
7665527       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7686069       1  Subscriber         NaN       NaN   NaN     NaN
7686070       2  Subscriber         NaN       NaN   NaN     NaN
7686071       0  Subscriber         NaN       NaN   NaN     NaN
7686072       1  Subscriber         NaN       NaN   NaN     NaN
7686073       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7686074       2  Subscriber         1.0       0.0   0.0     1.0
7686075       1  Subscriber         1.0       0.0   1.0     0.0
7686076       2  Subscriber         1.0       0.0   0.0     1.0
7686077       1  Subscriber         1.0       0.0   1.0     0.0
7686078       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7706620       1  Subscriber         NaN       NaN   NaN     NaN
7706621       1  Subscriber         NaN       NaN   NaN     NaN
7706622       1    Customer         NaN       NaN   NaN     NaN
7706623       1  Subscriber         NaN       NaN   NaN     NaN
7706624       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7706625       1  Subscriber         1.0       0.0   1.0     0.0
7706626       1  Subscriber         1.0       0.0   1.0     0.0
7706627       1  Subscriber         1.0       0.0   1.0     0.0
7706628       1  Subscriber         1.0       0.0   1.0     0.0
7706629       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7727171       1  Subscriber         NaN       NaN   NaN     NaN
7727172       2  Subscriber         NaN       NaN   NaN     NaN
7727173       1  Subscriber         NaN       NaN   NaN     NaN
7727174       2  Subscriber         NaN       NaN   NaN     NaN
7727175       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7727176       2    Customer         0.0       1.0   0.0     1.0
7727177       1  Subscriber         1.0       0.0   1.0     0.0
7727178       1  Subscriber         1.0       0.0   1.0     0.0
7727179       0  Subscriber         1.0       0.0   0.0     0.0
7727180       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7747722       2  Subscriber         NaN       NaN   NaN     NaN
7747723       1  Subscriber         NaN       NaN   NaN     NaN
7747724       1  Subscriber         NaN       NaN   NaN     NaN
7747725       1  Subscriber         NaN       NaN   NaN     NaN
7747726       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7747727       1  Subscriber         1.0       0.0   1.0     0.0
7747728       1  Subscriber         1.0       0.0   1.0     0.0
7747729       1  Subscriber         1.0       0.0   1.0     0.0
7747730       1  Subscriber         1.0       0.0   1.0     0.0
7747731       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7768273       1  Subscriber         NaN       NaN   NaN     NaN
7768274       0    Customer         NaN       NaN   NaN     NaN
7768275       1  Subscriber         NaN       NaN   NaN     NaN
7768276       2  Subscriber         NaN       NaN   NaN     NaN
7768277       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7768278       1  Subscriber         1.0       0.0   1.0     0.0
7768279       0  Subscriber         1.0       0.0   0.0     0.0
7768280       1  Subscriber         1.0       0.0   1.0     0.0
7768281       2  Subscriber         1.0       0.0   0.0     1.0
7768282       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7788824       2  Subscriber         NaN       NaN   NaN     NaN
7788825       1  Subscriber         NaN       NaN   NaN     NaN
7788826       1  Subscriber         NaN       NaN   NaN     NaN
7788827       2  Subscriber         NaN       NaN   NaN     NaN
7788828       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7788829       0    Customer         0.0       1.0   0.0     0.0
7788830       2  Subscriber         1.0       0.0   0.0     1.0
7788831       2    Customer         0.0       1.0   0.0     1.0
7788832       0    Customer         0.0       1.0   0.0     0.0
7788833       0    Customer         0.0       1.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
7809375       1  Subscriber         NaN       NaN   NaN     NaN
7809376       1  Subscriber         NaN       NaN   NaN     NaN
7809377       1  Subscriber         NaN       NaN   NaN     NaN
7809378       1  Subscriber         NaN       NaN   NaN     NaN
7809379       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7809380       1  Subscriber         1.0       0.0   1.0     0.0
7809381       1  Subscriber         1.0       0.0   1.0     0.0
7809382       1  Subscriber         1.0       0.0   1.0     0.0
7809383       0    Customer         0.0       1.0   0.0     0.0
7809384       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
7829926       1  Subscriber         NaN       NaN   NaN     NaN
7829927       2  Subscriber         NaN       NaN   NaN     NaN
7829928       1  Subscriber         NaN       NaN   NaN     NaN
7829929       1  Subscriber         NaN       NaN   NaN     NaN
7829930       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7829931       1  Subscriber         1.0       0.0   1.0     0.0
7829932       2  Subscriber         1.0       0.0   0.0     1.0
7829933       1  Subscriber         1.0       0.0   1.0     0.0
7829934       1    Customer         0.0       1.0   1.0     0.0
7829935       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7850477       1    Customer         NaN       NaN   NaN     NaN
7850478       0    Customer         NaN       NaN   NaN     NaN
7850479       0    Customer         NaN       NaN   NaN     NaN
7850480       1  Subscriber         NaN       NaN   NaN     NaN
7850481       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7850482       1  Subscriber         1.0       0.0   1.0     0.0
7850483       2  Subscriber         1.0       0.0   0.0     1.0
7850484       1  Subscriber         1.0       0.0   1.0     0.0
7850485       1  Subscriber         1.0       0.0   1.0     0.0
7850486       0  Subscriber         1.0       0.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
7871028       1  Subscriber         NaN       NaN   NaN     NaN
7871029       1  Subscriber         NaN       NaN   NaN     NaN
7871030       2  Subscriber         NaN       NaN   NaN     NaN
7871031       2    Customer         NaN       NaN   NaN     NaN
7871032       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7871033       1  Subscriber         1.0       0.0   1.0     0.0
7871034       1  Subscriber         1.0       0.0   1.0     0.0
7871035       1    Customer         0.0       1.0   1.0     0.0
7871036       1  Subscriber         1.0       0.0   1.0     0.0
7871037       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
7891579       1  Subscriber         NaN       NaN   NaN     NaN
7891580       2  Subscriber         NaN       NaN   NaN     NaN
7891581       2  Subscriber         NaN       NaN   NaN     NaN
7891582       1  Subscriber         NaN       NaN   NaN     NaN
7891583       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7891584       1  Subscriber         1.0       0.0   1.0     0.0
7891585       2  Subscriber         1.0       0.0   0.0     1.0
7891586       1  Subscriber         1.0       0.0   1.0     0.0
7891587       1  Subscriber         1.0       0.0   1.0     0.0
7891588       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7912130       1  Subscriber         NaN       NaN   NaN     NaN
7912131       1    Customer         NaN       NaN   NaN     NaN
7912132       1  Subscriber         NaN       NaN   NaN     NaN
7912133       2  Subscriber         NaN       NaN   NaN     NaN
7912134       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7912135       1  Subscriber         1.0       0.0   1.0     0.0
7912136       1    Customer         0.0       1.0   1.0     0.0
7912137       0    Customer         0.0       1.0   0.0     0.0
7912138       1  Subscriber         1.0       0.0   1.0     0.0
7912139       0    Customer         0.0       1.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
7932681       1  Subscriber         NaN       NaN   NaN     NaN
7932682       1  Subscriber         NaN       NaN   NaN     NaN
7932683       1  Subscriber         NaN       NaN   NaN     NaN
7932684       1  Subscriber         NaN       NaN   NaN     NaN
7932685       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7932686       1  Subscriber         1.0       0.0   1.0     0.0
7932687       1  Subscriber         1.0       0.0   1.0     0.0
7932688       2  Subscriber         1.0       0.0   0.0     1.0
7932689       1  Subscriber         1.0       0.0   1.0     0.0
7932690       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7953232       1  Subscriber         NaN       NaN   NaN     NaN
7953233       1  Subscriber         NaN       NaN   NaN     NaN
7953234       1  Subscriber         NaN       NaN   NaN     NaN
7953235       1  Subscriber         NaN       NaN   NaN     NaN
7953236       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7953237       1  Subscriber         1.0       0.0   1.0     0.0
7953238       1  Subscriber         1.0       0.0   1.0     0.0
7953239       1  Subscriber         1.0       0.0   1.0     0.0
7953240       2  Subscriber         1.0       0.0   0.0     1.0
7953241       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
7973783       2    Customer         NaN       NaN   NaN     NaN
7973784       1  Subscriber         NaN       NaN   NaN     NaN
7973785       2  Subscriber         NaN       NaN   NaN     NaN
7973786       1  Subscriber         NaN       NaN   NaN     NaN
7973787       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7973788       2  Subscriber         1.0       0.0   0.0     1.0
7973789       2  Subscriber         1.0       0.0   0.0     1.0
7973790       1  Subscriber         1.0       0.0   1.0     0.0
7973791       2  Subscriber         1.0       0.0   0.0     1.0
7973792       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
7994334       0  Subscriber         NaN       NaN   NaN     NaN
7994335       1  Subscriber         NaN       NaN   NaN     NaN
7994336       1  Subscriber         NaN       NaN   NaN     NaN
7994337       1  Subscriber         NaN       NaN   NaN     NaN
7994338       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
7994339       2    Customer         0.0       1.0   0.0     1.0
7994340       2  Subscriber         1.0       0.0   0.0     1.0
7994341       2    Customer         0.0       1.0   0.0     1.0
7994342       1  Subscriber         1.0       0.0   1.0     0.0
7994343       1    Customer         0.0       1.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
8014885       2  Subscriber         NaN       NaN   NaN     NaN
8014886       1    Customer         NaN       NaN   NaN     NaN
8014887       1  Subscriber         NaN       NaN   NaN     NaN
8014888       1  Subscriber         NaN       NaN   NaN     NaN
8014889       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8014890       1  Subscriber         1.0       0.0   1.0     0.0
8014891       0    Customer         0.0       1.0   0.0     0.0
8014892       0    Customer         0.0       1.0   0.0     0.0
8014893       1  Subscriber         1.0       0.0   1.0     0.0
8014894       2    Customer         0.0       1.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
8035436       1  Subscriber         NaN       NaN   NaN     NaN
8035437       1  Subscriber         NaN       NaN   NaN     NaN
8035438       0    Customer         NaN       NaN   NaN     NaN
8035439       1  Subscriber         NaN       NaN   NaN     NaN
8035440       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8035441       1  Subscriber         1.0       0.0   1.0     0.0
8035442       1  Subscriber         1.0       0.0   1.0     0.0
8035443       1  Subscriber         1.0       0.0   1.0     0.0
8035444       1  Subscriber         1.0       0.0   1.0     0.0
8035445       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
8055987       2  Subscriber         NaN       NaN   NaN     NaN
8055988       2  Subscriber         NaN       NaN   NaN     NaN
8055989       1  Subscriber         NaN       NaN   NaN     NaN
8055990       1  Subscriber         NaN       NaN   NaN     NaN
8055991       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8055992       2  Subscriber         1.0       0.0   0.0     1.0
8055993       1  Subscriber         1.0       0.0   1.0     0.0
8055994       1    Customer         0.0       1.0   1.0     0.0
8055995       2    Customer         0.0       1.0   0.0     1.0
8055996       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
8076538       0    Customer         NaN       NaN   NaN     NaN
8076539       0    Customer         NaN       NaN   NaN     NaN
8076540       1  Subscriber         NaN       NaN   NaN     NaN
8076541       1  Subscriber         NaN       NaN   NaN     NaN
8076542       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8076543       1  Subscriber         1.0       0.0   1.0     0.0
8076544       0    Customer         0.0       1.0   0.0     0.0
8076545       2    Customer         0.0       1.0   0.0     1.0
8076546       0    Customer         0.0       1.0   0.0     0.0
8076547       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
8097089       1  Subscriber         NaN       NaN   NaN     NaN
8097090       1  Subscriber         NaN       NaN   NaN     NaN
8097091       1  Subscriber         NaN       NaN   NaN     NaN
8097092       2  Subscriber         NaN       NaN   NaN     NaN
8097093       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8097094       1  Subscriber         1.0       0.0   1.0     0.0
8097095       2  Subscriber         1.0       0.0   0.0     1.0
8097096       0  Subscriber         1.0       0.0   0.0     0.0
8097097       1  Subscriber         1.0       0.0   1.0     0.0
8097098       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
8117640       1  Subscriber         NaN       NaN   NaN     NaN
8117641       1  Subscriber         NaN       NaN   NaN     NaN
8117642       1  Subscriber         NaN       NaN   NaN     NaN
8117643       1  Subscriber         NaN       NaN   NaN     NaN
8117644       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8117645       1  Subscriber         1.0       0.0   1.0     0.0
8117646       1  Subscriber         1.0       0.0   1.0     0.0
8117647       1  Subscriber         1.0       0.0   1.0     0.0
8117648       2  Subscriber         1.0       0.0   0.0     1.0
8117649       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
8138191       1  Subscriber         NaN       NaN   NaN     NaN
8138192       1  Subscriber         NaN       NaN   NaN     NaN
8138193       1  Subscriber         NaN       NaN   NaN     NaN
8138194       1  Subscriber         NaN       NaN   NaN     NaN
8138195       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8138196       1  Subscriber         1.0       0.0   1.0     0.0
8138197       1  Subscriber         1.0       0.0   1.0     0.0
8138198       1  Subscriber         1.0       0.0   1.0     0.0
8138199       1  Subscriber         1.0       0.0   1.0     0.0
8138200       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
8158742       1  Subscriber         NaN       NaN   NaN     NaN
8158743       1  Subscriber         NaN       NaN   NaN     NaN
8158744       1  Subscriber         NaN       NaN   NaN     NaN
8158745       0    Customer         NaN       NaN   NaN     NaN
8158746       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8158747       1  Subscriber         1.0       0.0   1.0     0.0
8158748       2  Subscriber         1.0       0.0   0.0     1.0
8158749       1  Subscriber         1.0       0.0   1.0     0.0
8158750       1  Subscriber         1.0       0.0   1.0     0.0
8158751       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
8179293       1  Subscriber         NaN       NaN   NaN     NaN
8179294       1  Subscriber         NaN       NaN   NaN     NaN
8179295       1  Subscriber         NaN       NaN   NaN     NaN
8179296       1  Subscriber         NaN       NaN   NaN     NaN
8179297       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8179298       2  Subscriber         1.0       0.0   0.0     1.0
8179299       1  Subscriber         1.0       0.0   1.0     0.0
8179300       1  Subscriber         1.0       0.0   1.0     0.0
8179301       1  Subscriber         1.0       0.0   1.0     0.0
8179302       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
8199844       1  Subscriber         NaN       NaN   NaN     NaN
8199845       2  Subscriber         NaN       NaN   NaN     NaN
8199846       1  Subscriber         NaN       NaN   NaN     NaN
8199847       1  Subscriber         NaN       NaN   NaN     NaN
8199848       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8199849       1  Subscriber         1.0       0.0   1.0     0.0
8199850       1  Subscriber         1.0       0.0   1.0     0.0
8199851       1  Subscriber         1.0       0.0   1.0     0.0
8199852       1  Subscriber         1.0       0.0   1.0     0.0
8199853       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
8220395       1  Subscriber         NaN       NaN   NaN     NaN
8220396       2  Subscriber         NaN       NaN   NaN     NaN
8220397       2  Subscriber         NaN       NaN   NaN     NaN
8220398       2  Subscriber         NaN       NaN   NaN     NaN
8220399       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8220400       1  Subscriber         1.0       0.0   1.0     0.0
8220401       1  Subscriber         1.0       0.0   1.0     0.0
8220402       1  Subscriber         1.0       0.0   1.0     0.0
8220403       1  Subscriber         1.0       0.0   1.0     0.0
8220404       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
8240946       1  Subscriber         NaN       NaN   NaN     NaN
8240947       1  Subscriber         NaN       NaN   NaN     NaN
8240948       1  Subscriber         NaN       NaN   NaN     NaN
8240949       2    Customer         NaN       NaN   NaN     NaN
8240950       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8240951       1  Subscriber         1.0       0.0   1.0     0.0
8240952       1  Subscriber         1.0       0.0   1.0     0.0
8240953       1  Subscriber         1.0       0.0   1.0     0.0
8240954       2    Customer         0.0       1.0   0.0     1.0
8240955       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
8261497       1  Subscriber         NaN       NaN   NaN     NaN
8261498       1  Subscriber         NaN       NaN   NaN     NaN
8261499       0    Customer         NaN       NaN   NaN     NaN
8261500       1  Subscriber         NaN       NaN   NaN     NaN
8261501       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8261502       1  Subscriber         1.0       0.0   1.0     0.0
8261503       1    Customer         0.0       1.0   1.0     0.0
8261504       1  Subscriber         1.0       0.0   1.0     0.0
8261505       2  Subscriber         1.0       0.0   0.0     1.0
8261506       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
8282048       2  Subscriber         NaN       NaN   NaN     NaN
8282049       1  Subscriber         NaN       NaN   NaN     NaN
8282050       1  Subscriber         NaN       NaN   NaN     NaN
8282051       1  Subscriber         NaN       NaN   NaN     NaN
8282052       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8282053       1  Subscriber         1.0       0.0   1.0     0.0
8282054       1  Subscriber         1.0       0.0   1.0     0.0
8282055       1  Subscriber         1.0       0.0   1.0     0.0
8282056       1  Subscriber         1.0       0.0   1.0     0.0
8282057       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
8302599       1  Subscriber         NaN       NaN   NaN     NaN
8302600       1  Subscriber         NaN       NaN   NaN     NaN
8302601       0    Customer         NaN       NaN   NaN     NaN
8302602       1  Subscriber         NaN       NaN   NaN     NaN
8302603       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8302604       1  Subscriber         1.0       0.0   1.0     0.0
8302605       2  Subscriber         1.0       0.0   0.0     1.0
8302606       1  Subscriber         1.0       0.0   1.0     0.0
8302607       2  Subscriber         1.0       0.0   0.0     1.0
8302608       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
8323150       0  Subscriber         NaN       NaN   NaN     NaN
8323151       1  Subscriber         NaN       NaN   NaN     NaN
8323152       1  Subscriber         NaN       NaN   NaN     NaN
8323153       1  Subscriber         NaN       NaN   NaN     NaN
8323154       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8323155       1  Subscriber         1.0       0.0   1.0     0.0
8323156       2  Subscriber         1.0       0.0   0.0     1.0
8323157       1  Subscriber         1.0       0.0   1.0     0.0
8323158       2  Subscriber         1.0       0.0   0.0     1.0
8323159       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
8343701       1  Subscriber         NaN       NaN   NaN     NaN
8343702       1  Subscriber         NaN       NaN   NaN     NaN
8343703       0    Customer         NaN       NaN   NaN     NaN
8343704       1  Subscriber         NaN       NaN   NaN     NaN
8343705       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8343706       1  Subscriber         1.0       0.0   1.0     0.0
8343707       1  Subscriber         1.0       0.0   1.0     0.0
8343708       1  Subscriber         1.0       0.0   1.0     0.0
8343709       1  Subscriber         1.0       0.0   1.0     0.0
8343710       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
8364252       1    Customer         NaN       NaN   NaN     NaN
8364253       1  Subscriber         NaN       NaN   NaN     NaN
8364254       1  Subscriber         NaN       NaN   NaN     NaN
8364255       1  Subscriber         NaN       NaN   NaN     NaN
8364256       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8364257       1  Subscriber         1.0       0.0   1.0     0.0
8364258       1  Subscriber         1.0       0.0   1.0     0.0
8364259       1  Subscriber         1.0       0.0   1.0     0.0
8364260       1  Subscriber         1.0       0.0   1.0     0.0
8364261       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
8384803       1  Subscriber         NaN       NaN   NaN     NaN
8384804       1  Subscriber         NaN       NaN   NaN     NaN
8384805       1  Subscriber         NaN       NaN   NaN     NaN
8384806       1  Subscriber         NaN       NaN   NaN     NaN
8384807       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8384808       1  Subscriber         1.0       0.0   1.0     0.0
8384809       1    Customer         0.0       1.0   1.0     0.0
8384810       2  Subscriber         1.0       0.0   0.0     1.0
8384811       2  Subscriber         1.0       0.0   0.0     1.0
8384812       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
8405354       1  Subscriber         NaN       NaN   NaN     NaN
8405355       1  Subscriber         NaN       NaN   NaN     NaN
8405356       1  Subscriber         NaN       NaN   NaN     NaN
8405357       2  Subscriber         NaN       NaN   NaN     NaN
8405358       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8405359       1  Subscriber         1.0       0.0   1.0     0.0
8405360       1  Subscriber         1.0       0.0   1.0     0.0
8405361       0    Customer         0.0       1.0   0.0     0.0
8405362       2    Customer         0.0       1.0   0.0     1.0
8405363       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
8425905       1  Subscriber         NaN       NaN   NaN     NaN
8425906       1  Subscriber         NaN       NaN   NaN     NaN
8425907       1    Customer         NaN       NaN   NaN     NaN
8425908       0    Customer         NaN       NaN   NaN     NaN
8425909       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8425910       2  Subscriber         1.0       0.0   0.0     1.0
8425911       2  Subscriber         1.0       0.0   0.0     1.0
8425912       1  Subscriber         1.0       0.0   1.0     0.0
8425913       1  Subscriber         1.0       0.0   1.0     0.0
8425914       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
8446456       0    Customer         NaN       NaN   NaN     NaN
8446457       1  Subscriber         NaN       NaN   NaN     NaN
8446458       1  Subscriber         NaN       NaN   NaN     NaN
8446459       2  Subscriber         NaN       NaN   NaN     NaN
8446460       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8446461       1  Subscriber         1.0       0.0   1.0     0.0
8446462       1  Subscriber         1.0       0.0   1.0     0.0
8446463       1    Customer         0.0       1.0   1.0     0.0
8446464       1  Subscriber         1.0       0.0   1.0     0.0
8446465       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
8467007       1  Subscriber         NaN       NaN   NaN     NaN
8467008       1  Subscriber         NaN       NaN   NaN     NaN
8467009       1  Subscriber         NaN       NaN   NaN     NaN
8467010       2  Subscriber         NaN       NaN   NaN     NaN
8467011       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8467012       1  Subscriber         1.0       0.0   1.0     0.0
8467013       0    Customer         0.0       1.0   0.0     0.0
8467014       0    Customer         0.0       1.0   0.0     0.0
8467015       2  Subscriber         1.0       0.0   0.0     1.0
8467016       0    Customer         0.0       1.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
8487558       1  Subscriber         NaN       NaN   NaN     NaN
8487559       1  Subscriber         NaN       NaN   NaN     NaN
8487560       1  Subscriber         NaN       NaN   NaN     NaN
8487561       1  Subscriber         NaN       NaN   NaN     NaN
8487562       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8487563       2  Subscriber         1.0       0.0   0.0     1.0
8487564       1    Customer         0.0       1.0   1.0     0.0
8487565       1  Subscriber         1.0       0.0   1.0     0.0
8487566       1  Subscriber         1.0       0.0   1.0     0.0
8487567       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
8508109       1  Subscriber         NaN       NaN   NaN     NaN
8508110       1    Customer         NaN       NaN   NaN     NaN
8508111       1  Subscriber         NaN       NaN   NaN     NaN
8508112       2    Customer         NaN       NaN   NaN     NaN
8508113       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8508114       0    Customer         0.0       1.0   0.0     0.0
8508115       0    Customer         0.0       1.0   0.0     0.0
8508116       1  Subscriber         1.0       0.0   1.0     0.0
8508117       1    Customer         0.0       1.0   1.0     0.0
8508118       0  Subscriber         1.0       0.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
8528660       2  Subscriber         NaN       NaN   NaN     NaN
8528661       1    Customer         NaN       NaN   NaN     NaN
8528662       2  Subscriber         NaN       NaN   NaN     NaN
8528663       1  Subscriber         NaN       NaN   NaN     NaN
8528664       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8528665       2  Subscriber         1.0       0.0   0.0     1.0
8528666       1  Subscriber         1.0       0.0   1.0     0.0
8528667       1  Subscriber         1.0       0.0   1.0     0.0
8528668       0    Customer         0.0       1.0   0.0     0.0
8528669       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
8549211       1  Subscriber         NaN       NaN   NaN     NaN
8549212       1  Subscriber         NaN       NaN   NaN     NaN
8549213       1  Subscriber         NaN       NaN   NaN     NaN
8549214       2  Subscriber         NaN       NaN   NaN     NaN
8549215       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8549216       0    Customer         0.0       1.0   0.0     0.0
8549217       1  Subscriber         1.0       0.0   1.0     0.0
8549218       1  Subscriber         1.0       0.0   1.0     0.0
8549219       1  Subscriber         1.0       0.0   1.0     0.0
8549220       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
8569762       0    Customer         NaN       NaN   NaN     NaN
8569763       2  Subscriber         NaN       NaN   NaN     NaN
8569764       1  Subscriber         NaN       NaN   NaN     NaN
8569765       1  Subscriber         NaN       NaN   NaN     NaN
8569766       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8569767       0    Customer         0.0       1.0   0.0     0.0
8569768       0    Customer         0.0       1.0   0.0     0.0
8569769       1  Subscriber         1.0       0.0   1.0     0.0
8569770       1  Subscriber         1.0       0.0   1.0     0.0
8569771       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
8590313       1  Subscriber         NaN       NaN   NaN     NaN
8590314       1  Subscriber         NaN       NaN   NaN     NaN
8590315       2  Subscriber         NaN       NaN   NaN     NaN
8590316       1  Subscriber         NaN       NaN   NaN     NaN
8590317       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8590318       0    Customer         0.0       1.0   0.0     0.0
8590319       1  Subscriber         1.0       0.0   1.0     0.0
8590320       2  Subscriber         1.0       0.0   0.0     1.0
8590321       2  Subscriber         1.0       0.0   0.0     1.0
8590322       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
8610864       1  Subscriber         NaN       NaN   NaN     NaN
8610865       1  Subscriber         NaN       NaN   NaN     NaN
8610866       2  Subscriber         NaN       NaN   NaN     NaN
8610867       2  Subscriber         NaN       NaN   NaN     NaN
8610868       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8610869       1    Customer         0.0       1.0   1.0     0.0
8610870       1  Subscriber         1.0       0.0   1.0     0.0
8610871       2  Subscriber         1.0       0.0   0.0     1.0
8610872       0    Customer         0.0       1.0   0.0     0.0
8610873       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
8631415       2  Subscriber         NaN       NaN   NaN     NaN
8631416       2  Subscriber         NaN       NaN   NaN     NaN
8631417       1  Subscriber         NaN       NaN   NaN     NaN
8631418       1  Subscriber         NaN       NaN   NaN     NaN
8631419       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8631420       1  Subscriber         1.0       0.0   1.0     0.0
8631421       1  Subscriber         1.0       0.0   1.0     0.0
8631422       1  Subscriber         1.0       0.0   1.0     0.0
8631423       1  Subscriber         1.0       0.0   1.0     0.0
8631424       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
8651966       1  Subscriber         NaN       NaN   NaN     NaN
8651967       1  Subscriber         NaN       NaN   NaN     NaN
8651968       2  Subscriber         NaN       NaN   NaN     NaN
8651969       1  Subscriber         NaN       NaN   NaN     NaN
8651970       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8651971       2  Subscriber         1.0       0.0   0.0     1.0
8651972       1  Subscriber         1.0       0.0   1.0     0.0
8651973       2    Customer         0.0       1.0   0.0     1.0
8651974       1  Subscriber         1.0       0.0   1.0     0.0
8651975       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
8672517       1  Subscriber         NaN       NaN   NaN     NaN
8672518       2  Subscriber         NaN       NaN   NaN     NaN
8672519       1  Subscriber         NaN       NaN   NaN     NaN
8672520       2    Customer         NaN       NaN   NaN     NaN
8672521       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8672522       1  Subscriber         1.0       0.0   1.0     0.0
8672523       0  Subscriber         1.0       0.0   0.0     0.0
8672524       1  Subscriber         1.0       0.0   1.0     0.0
8672525       1  Subscriber         1.0       0.0   1.0     0.0
8672526       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
8693068       2    Customer         NaN       NaN   NaN     NaN
8693069       2  Subscriber         NaN       NaN   NaN     NaN
8693070       1  Subscriber         NaN       NaN   NaN     NaN
8693071       1    Customer         NaN       NaN   NaN     NaN
8693072       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8693073       2  Subscriber         1.0       0.0   0.0     1.0
8693074       2  Subscriber         1.0       0.0   0.0     1.0
8693075       1  Subscriber         1.0       0.0   1.0     0.0
8693076       1  Subscriber         1.0       0.0   1.0     0.0
8693077       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
8713619       1    Customer         NaN       NaN   NaN     NaN
8713620       2    Customer         NaN       NaN   NaN     NaN
8713621       1  Subscriber         NaN       NaN   NaN     NaN
8713622       1  Subscriber         NaN       NaN   NaN     NaN
8713623       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8713624       0    Customer         0.0       1.0   0.0     0.0
8713625       1    Customer         0.0       1.0   1.0     0.0
8713626       1  Subscriber         1.0       0.0   1.0     0.0
8713627       1    Customer         0.0       1.0   1.0     0.0
8713628       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
8734170       1  Subscriber         NaN       NaN   NaN     NaN
8734171       1  Subscriber         NaN       NaN   NaN     NaN
8734172       1  Subscriber         NaN       NaN   NaN     NaN
8734173       2  Subscriber         NaN       NaN   NaN     NaN
8734174       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8734175       1  Subscriber         1.0       0.0   1.0     0.0
8734176       1  Subscriber         1.0       0.0   1.0     0.0
8734177       1  Subscriber         1.0       0.0   1.0     0.0
8734178       1  Subscriber         1.0       0.0   1.0     0.0
8734179       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
8754721       1  Subscriber         NaN       NaN   NaN     NaN
8754722       2  Subscriber         NaN       NaN   NaN     NaN
8754723       1  Subscriber         NaN       NaN   NaN     NaN
8754724       1  Subscriber         NaN       NaN   NaN     NaN
8754725       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8754726       2  Subscriber         1.0       0.0   0.0     1.0
8754727       2  Subscriber         1.0       0.0   0.0     1.0
8754728       1    Customer         0.0       1.0   1.0     0.0
8754729       1  Subscriber         1.0       0.0   1.0     0.0
8754730       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
8775272       1  Subscriber         NaN       NaN   NaN     NaN
8775273       1  Subscriber         NaN       NaN   NaN     NaN
8775274       2  Subscriber         NaN       NaN   NaN     NaN
8775275       1  Subscriber         NaN       NaN   NaN     NaN
8775276       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8775277       2  Subscriber         1.0       0.0   0.0     1.0
8775278       1  Subscriber         1.0       0.0   1.0     0.0
8775279       1  Subscriber         1.0       0.0   1.0     0.0
8775280       2  Subscriber         1.0       0.0   0.0     1.0
8775281       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
8795823       1  Subscriber         NaN       NaN   NaN     NaN
8795824       1  Subscriber         NaN       NaN   NaN     NaN
8795825       1    Customer         NaN       NaN   NaN     NaN
8795826       0    Customer         NaN       NaN   NaN     NaN
8795827       2    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8795828       1    Customer         0.0       1.0   1.0     0.0
8795829       1  Subscriber         1.0       0.0   1.0     0.0
8795830       1  Subscriber         1.0       0.0   1.0     0.0
8795831       2  Subscriber         1.0       0.0   0.0     1.0
8795832       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
8816374       1  Subscriber         NaN       NaN   NaN     NaN
8816375       1  Subscriber         NaN       NaN   NaN     NaN
8816376       1  Subscriber         NaN       NaN   NaN     NaN
8816377       1  Subscriber         NaN       NaN   NaN     NaN
8816378       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8816379       1  Subscriber         1.0       0.0   1.0     0.0
8816380       2    Customer         0.0       1.0   0.0     1.0
8816381       1  Subscriber         1.0       0.0   1.0     0.0
8816382       1  Subscriber         1.0       0.0   1.0     0.0
8816383       0    Customer         0.0       1.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
8836925       2  Subscriber         NaN       NaN   NaN     NaN
8836926       1  Subscriber         NaN       NaN   NaN     NaN
8836927       0    Customer         NaN       NaN   NaN     NaN
8836928       1  Subscriber         NaN       NaN   NaN     NaN
8836929       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8836930       2  Subscriber         1.0       0.0   0.0     1.0
8836931       1  Subscriber         1.0       0.0   1.0     0.0
8836932       1  Subscriber         1.0       0.0   1.0     0.0
8836933       0    Customer         0.0       1.0   0.0     0.0
8836934       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
8857476       1  Subscriber         NaN       NaN   NaN     NaN
8857477       1  Subscriber         NaN       NaN   NaN     NaN
8857478       1  Subscriber         NaN       NaN   NaN     NaN
8857479       2  Subscriber         NaN       NaN   NaN     NaN
8857480       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8857481       2    Customer         0.0       1.0   0.0     1.0
8857482       1  Subscriber         1.0       0.0   1.0     0.0
8857483       2  Subscriber         1.0       0.0   0.0     1.0
8857484       1  Subscriber         1.0       0.0   1.0     0.0
8857485       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
8878027       1  Subscriber         NaN       NaN   NaN     NaN
8878028       1  Subscriber         NaN       NaN   NaN     NaN
8878029       2  Subscriber         NaN       NaN   NaN     NaN
8878030       1  Subscriber         NaN       NaN   NaN     NaN
8878031       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8878032       1  Subscriber         1.0       0.0   1.0     0.0
8878033       1  Subscriber         1.0       0.0   1.0     0.0
8878034       2  Subscriber         1.0       0.0   0.0     1.0
8878035       1  Subscriber         1.0       0.0   1.0     0.0
8878036       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
8898578       2  Subscriber         NaN       NaN   NaN     NaN
8898579       1    Customer         NaN       NaN   NaN     NaN
8898580       2    Customer         NaN       NaN   NaN     NaN
8898581       1  Subscriber         NaN       NaN   NaN     NaN
8898582       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8898583       2  Subscriber         1.0       0.0   0.0     1.0
8898584       2  Subscriber         1.0       0.0   0.0     1.0
8898585       1  Subscriber         1.0       0.0   1.0     0.0
8898586       1  Subscriber         1.0       0.0   1.0     0.0
8898587       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
8919129       2  Subscriber         NaN       NaN   NaN     NaN
8919130       1  Subscriber         NaN       NaN   NaN     NaN
8919131       2    Customer         NaN       NaN   NaN     NaN
8919132       1    Customer         NaN       NaN   NaN     NaN
8919133       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8919134       1  Subscriber         1.0       0.0   1.0     0.0
8919135       1  Subscriber         1.0       0.0   1.0     0.0
8919136       1    Customer         0.0       1.0   1.0     0.0
8919137       1  Subscriber         1.0       0.0   1.0     0.0
8919138       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
8939680       1  Subscriber         NaN       NaN   NaN     NaN
8939681       2    Customer         NaN       NaN   NaN     NaN
8939682       2    Customer         NaN       NaN   NaN     NaN
8939683       2    Customer         NaN       NaN   NaN     NaN
8939684       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8939685       2  Subscriber         1.0       0.0   0.0     1.0
8939686       2  Subscriber         1.0       0.0   0.0     1.0
8939687       2  Subscriber         1.0       0.0   0.0     1.0
8939688       1  Subscriber         1.0       0.0   1.0     0.0
8939689       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
8960231       0    Customer         NaN       NaN   NaN     NaN
8960232       0    Customer         NaN       NaN   NaN     NaN
8960233       1  Subscriber         NaN       NaN   NaN     NaN
8960234       1  Subscriber         NaN       NaN   NaN     NaN
8960235       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8960236       1  Subscriber         1.0       0.0   1.0     0.0
8960237       1  Subscriber         1.0       0.0   1.0     0.0
8960238       1  Subscriber         1.0       0.0   1.0     0.0
8960239       0    Customer         0.0       1.0   0.0     0.0
8960240       0    Customer         0.0       1.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
8980782       1  Subscriber         NaN       NaN   NaN     NaN
8980783       1  Subscriber         NaN       NaN   NaN     NaN
8980784       1  Subscriber         NaN       NaN   NaN     NaN
8980785       0    Customer         NaN       NaN   NaN     NaN
8980786       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
8980787       1  Subscriber         1.0       0.0   1.0     0.0
8980788       1  Subscriber         1.0       0.0   1.0     0.0
8980789       2  Subscriber         1.0       0.0   0.0     1.0
8980790       0  Subscriber         1.0       0.0   0.0     0.0
8980791       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
9001333       2  Subscriber         NaN       NaN   NaN     NaN
9001334       0    Customer         NaN       NaN   NaN     NaN
9001335       2  Subscriber         NaN       NaN   NaN     NaN
9001336       1  Subscriber         NaN       NaN   NaN     NaN
9001337       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9001338       1  Subscriber         1.0       0.0   1.0     0.0
9001339       2  Subscriber         1.0       0.0   0.0     1.0
9001340       1  Subscriber         1.0       0.0   1.0     0.0
9001341       1  Subscriber         1.0       0.0   1.0     0.0
9001342       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
9021884       1  Subscriber         NaN       NaN   NaN     NaN
9021885       1  Subscriber         NaN       NaN   NaN     NaN
9021886       1  Subscriber         NaN       NaN   NaN     NaN
9021887       1  Subscriber         NaN       NaN   NaN     NaN
9021888       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9021889       0    Customer         0.0       1.0   0.0     0.0
9021890       0    Customer         0.0       1.0   0.0     0.0
9021891       1  Subscriber         1.0       0.0   1.0     0.0
9021892       2  Subscriber         1.0       0.0   0.0     1.0
9021893       0    Customer         0.0       1.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
9042435       1  Subscriber         NaN       NaN   NaN     NaN
9042436       0    Customer         NaN       NaN   NaN     NaN
9042437       2    Customer         NaN       NaN   NaN     NaN
9042438       0    Customer         NaN       NaN   NaN     NaN
9042439       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9042440       1  Subscriber         1.0       0.0   1.0     0.0
9042441       1  Subscriber         1.0       0.0   1.0     0.0
9042442       2  Subscriber         1.0       0.0   0.0     1.0
9042443       2  Subscriber         1.0       0.0   0.0     1.0
9042444       2    Customer         0.0       1.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
9062986       2  Subscriber         NaN       NaN   NaN     NaN
9062987       1  Subscriber         NaN       NaN   NaN     NaN
9062988       1  Subscriber         NaN       NaN   NaN     NaN
9062989       1  Subscriber         NaN       NaN   NaN     NaN
9062990       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9062991       1  Subscriber         1.0       0.0   1.0     0.0
9062992       1  Subscriber         1.0       0.0   1.0     0.0
9062993       1  Subscriber         1.0       0.0   1.0     0.0
9062994       1  Subscriber         1.0       0.0   1.0     0.0
9062995       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
9083537       0    Customer         NaN       NaN   NaN     NaN
9083538       1  Subscriber         NaN       NaN   NaN     NaN
9083539       1  Subscriber         NaN       NaN   NaN     NaN
9083540       0    Customer         NaN       NaN   NaN     NaN
9083541       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9083542       1    Customer         0.0       1.0   1.0     0.0
9083543       0    Customer         0.0       1.0   0.0     0.0
9083544       1  Subscriber         1.0       0.0   1.0     0.0
9083545       1  Subscriber         1.0       0.0   1.0     0.0
9083546       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
9104088       1  Subscriber         NaN       NaN   NaN     NaN
9104089       1  Subscriber         NaN       NaN   NaN     NaN
9104090       1  Subscriber         NaN       NaN   NaN     NaN
9104091       2  Subscriber         NaN       NaN   NaN     NaN
9104092       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9104093       1  Subscriber         1.0       0.0   1.0     0.0
9104094       1  Subscriber         1.0       0.0   1.0     0.0
9104095       2  Subscriber         1.0       0.0   0.0     1.0
9104096       1  Subscriber         1.0       0.0   1.0     0.0
9104097       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
9124639       0    Customer         NaN       NaN   NaN     NaN
9124640       2    Customer         NaN       NaN   NaN     NaN
9124641       2  Subscriber         NaN       NaN   NaN     NaN
9124642       1  Subscriber         NaN       NaN   NaN     NaN
9124643       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9124644       1  Subscriber         1.0       0.0   1.0     0.0
9124645       1  Subscriber         1.0       0.0   1.0     0.0
9124646       0    Customer         0.0       1.0   0.0     0.0
9124647       1    Customer         0.0       1.0   1.0     0.0
9124648       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
9145190       1  Subscriber         NaN       NaN   NaN     NaN
9145191       1  Subscriber         NaN       NaN   NaN     NaN
9145192       1  Subscriber         NaN       NaN   NaN     NaN
9145193       0  Subscriber         NaN       NaN   NaN     NaN
9145194       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9145195       1  Subscriber         1.0       0.0   1.0     0.0
9145196       1  Subscriber         1.0       0.0   1.0     0.0
9145197       1  Subscriber         1.0       0.0   1.0     0.0
9145198       1  Subscriber         1.0       0.0   1.0     0.0
9145199       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
9165741       1  Subscriber         NaN       NaN   NaN     NaN
9165742       2  Subscriber         NaN       NaN   NaN     NaN
9165743       1  Subscriber         NaN       NaN   NaN     NaN
9165744       1  Subscriber         NaN       NaN   NaN     NaN
9165745       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9165746       0    Customer         0.0       1.0   0.0     0.0
9165747       2  Subscriber         1.0       0.0   0.0     1.0
9165748       1  Subscriber         1.0       0.0   1.0     0.0
9165749       2    Customer         0.0       1.0   0.0     1.0
9165750       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
9186292       1  Subscriber         NaN       NaN   NaN     NaN
9186293       1  Subscriber         NaN       NaN   NaN     NaN
9186294       1  Subscriber         NaN       NaN   NaN     NaN
9186295       1  Subscriber         NaN       NaN   NaN     NaN
9186296       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9186297       1  Subscriber         1.0       0.0   1.0     0.0
9186298       1  Subscriber         1.0       0.0   1.0     0.0
9186299       0    Customer         0.0       1.0   0.0     0.0
9186300       1  Subscriber         1.0       0.0   1.0     0.0
9186301       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
9206843       2  Subscriber         NaN       NaN   NaN     NaN
9206844       1  Subscriber         NaN       NaN   NaN     NaN
9206845       1  Subscriber         NaN       NaN   NaN     NaN
9206846       1  Subscriber         NaN       NaN   NaN     NaN
9206847       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9206848       1  Subscriber         1.0       0.0   1.0     0.0
9206849       0  Subscriber         1.0       0.0   0.0     0.0
9206850       1  Subscriber         1.0       0.0   1.0     0.0
9206851       1  Subscriber         1.0       0.0   1.0     0.0
9206852       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
9227394       0    Customer         NaN       NaN   NaN     NaN
9227395       1  Subscriber         NaN       NaN   NaN     NaN
9227396       1  Subscriber         NaN       NaN   NaN     NaN
9227397       1  Subscriber         NaN       NaN   NaN     NaN
9227398       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9227399       2  Subscriber         1.0       0.0   0.0     1.0
9227400       1  Subscriber         1.0       0.0   1.0     0.0
9227401       1  Subscriber         1.0       0.0   1.0     0.0
9227402       1  Subscriber         1.0       0.0   1.0     0.0
9227403       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
9247945       1  Subscriber         NaN       NaN   NaN     NaN
9247946       2  Subscriber         NaN       NaN   NaN     NaN
9247947       1  Subscriber         NaN       NaN   NaN     NaN
9247948       1  Subscriber         NaN       NaN   NaN     NaN
9247949       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9247950       1  Subscriber         1.0       0.0   1.0     0.0
9247951       0    Customer         0.0       1.0   0.0     0.0
9247952       2    Customer         0.0       1.0   0.0     1.0
9247953       1  Subscriber         1.0       0.0   1.0     0.0
9247954       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
9268496       2  Subscriber         NaN       NaN   NaN     NaN
9268497       1    Customer         NaN       NaN   NaN     NaN
9268498       1  Subscriber         NaN       NaN   NaN     NaN
9268499       1    Customer         NaN       NaN   NaN     NaN
9268500       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9268501       2  Subscriber         1.0       0.0   0.0     1.0
9268502       2    Customer         0.0       1.0   0.0     1.0
9268503       1  Subscriber         1.0       0.0   1.0     0.0
9268504       1    Customer         0.0       1.0   1.0     0.0
9268505       2    Customer         0.0       1.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
9289047       2  Subscriber         NaN       NaN   NaN     NaN
9289048       1  Subscriber         NaN       NaN   NaN     NaN
9289049       1    Customer         NaN       NaN   NaN     NaN
9289050       1  Subscriber         NaN       NaN   NaN     NaN
9289051       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9289052       0  Subscriber         1.0       0.0   0.0     0.0
9289053       2  Subscriber         1.0       0.0   0.0     1.0
9289054       2  Subscriber         1.0       0.0   0.0     1.0
9289055       1  Subscriber         1.0       0.0   1.0     0.0
9289056       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
9309598       1    Customer         NaN       NaN   NaN     NaN
9309599       2  Subscriber         NaN       NaN   NaN     NaN
9309600       1    Customer         NaN       NaN   NaN     NaN
9309601       2    Customer         NaN       NaN   NaN     NaN
9309602       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9309603       1  Subscriber         1.0       0.0   1.0     0.0
9309604       0    Customer         0.0       1.0   0.0     0.0
9309605       2  Subscriber         1.0       0.0   0.0     1.0
9309606       0  Subscriber         1.0       0.0   0.0     0.0
9309607       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
9330149       0    Customer         NaN       NaN   NaN     NaN
9330150       2  Subscriber         NaN       NaN   NaN     NaN
9330151       2  Subscriber         NaN       NaN   NaN     NaN
9330152       1  Subscriber         NaN       NaN   NaN     NaN
9330153       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9330154       1  Subscriber         1.0       0.0   1.0     0.0
9330155       1  Subscriber         1.0       0.0   1.0     0.0
9330156       1  Subscriber         1.0       0.0   1.0     0.0
9330157       1  Subscriber         1.0       0.0   1.0     0.0
9330158       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
9350700       1  Subscriber         NaN       NaN   NaN     NaN
9350701       1  Subscriber         NaN       NaN   NaN     NaN
9350702       2  Subscriber         NaN       NaN   NaN     NaN
9350703       1  Subscriber         NaN       NaN   NaN     NaN
9350704       2    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9350705       2  Subscriber         1.0       0.0   0.0     1.0
9350706       1  Subscriber         1.0       0.0   1.0     0.0
9350707       1  Subscriber         1.0       0.0   1.0     0.0
9350708       2  Subscriber         1.0       0.0   0.0     1.0
9350709       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
9371251       2  Subscriber         NaN       NaN   NaN     NaN
9371252       1  Subscriber         NaN       NaN   NaN     NaN
9371253       1    Customer         NaN       NaN   NaN     NaN
9371254       1  Subscriber         NaN       NaN   NaN     NaN
9371255       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9371256       1  Subscriber         1.0       0.0   1.0     0.0
9371257       1  Subscriber         1.0       0.0   1.0     0.0
9371258       1  Subscriber         1.0       0.0   1.0     0.0
9371259       1  Subscriber         1.0       0.0   1.0     0.0
9371260       2    Customer         0.0       1.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
9391802       1  Subscriber         NaN       NaN   NaN     NaN
9391803       1  Subscriber         NaN       NaN   NaN     NaN
9391804       2  Subscriber         NaN       NaN   NaN     NaN
9391805       1  Subscriber         NaN       NaN   NaN     NaN
9391806       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9391807       0    Customer         0.0       1.0   0.0     0.0
9391808       1  Subscriber         1.0       0.0   1.0     0.0
9391809       1  Subscriber         1.0       0.0   1.0     0.0
9391810       0    Customer         0.0       1.0   0.0     0.0
9391811       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
9412353       1  Subscriber         NaN       NaN   NaN     NaN
9412354       2    Customer         NaN       NaN   NaN     NaN
9412355       1  Subscriber         NaN       NaN   NaN     NaN
9412356       1  Subscriber         NaN       NaN   NaN     NaN
9412357       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9412358       1  Subscriber         1.0       0.0   1.0     0.0
9412359       1  Subscriber         1.0       0.0   1.0     0.0
9412360       1  Subscriber         1.0       0.0   1.0     0.0
9412361       1  Subscriber         1.0       0.0   1.0     0.0
9412362       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
9432904       2    Customer         NaN       NaN   NaN     NaN
9432905       2  Subscriber         NaN       NaN   NaN     NaN
9432906       2    Customer         NaN       NaN   NaN     NaN
9432907       1    Customer         NaN       NaN   NaN     NaN
9432908       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9432909       1    Customer         0.0       1.0   1.0     0.0
9432910       2  Subscriber         1.0       0.0   0.0     1.0
9432911       1    Customer         0.0       1.0   1.0     0.0
9432912       1  Subscriber         1.0       0.0   1.0     0.0
9432913       0    Customer         0.0       1.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
9453455       0    Customer         NaN       NaN   NaN     NaN
9453456       2  Subscriber         NaN       NaN   NaN     NaN
9453457       0    Customer         NaN       NaN   NaN     NaN
9453458       0    Customer         NaN       NaN   NaN     NaN
9453459       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9453460       2  Subscriber         1.0       0.0   0.0     1.0
9453461       0    Customer         0.0       1.0   0.0     0.0
9453462       1  Subscriber         1.0       0.0   1.0     0.0
9453463       2  Subscriber         1.0       0.0   0.0     1.0
9453464       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
9474006       0    Customer         NaN       NaN   NaN     NaN
9474007       1  Subscriber         NaN       NaN   NaN     NaN
9474008       1    Customer         NaN       NaN   NaN     NaN
9474009       1  Subscriber         NaN       NaN   NaN     NaN
9474010       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9474011       2    Customer         0.0       1.0   0.0     1.0
9474012       1  Subscriber         1.0       0.0   1.0     0.0
9474013       1  Subscriber         1.0       0.0   1.0     0.0
9474014       2  Subscriber         1.0       0.0   0.0     1.0
9474015       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
9494557       1  Subscriber         NaN       NaN   NaN     NaN
9494558       1  Subscriber         NaN       NaN   NaN     NaN
9494559       2  Subscriber         NaN       NaN   NaN     NaN
9494560       1  Subscriber         NaN       NaN   NaN     NaN
9494561       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9494562       2  Subscriber         1.0       0.0   0.0     1.0
9494563       1  Subscriber         1.0       0.0   1.0     0.0
9494564       1  Subscriber         1.0       0.0   1.0     0.0
9494565       0  Subscriber         1.0       0.0   0.0     0.0
9494566       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
9515108       1  Subscriber         NaN       NaN   NaN     NaN
9515109       1  Subscriber         NaN       NaN   NaN     NaN
9515110       1  Subscriber         NaN       NaN   NaN     NaN
9515111       2  Subscriber         NaN       NaN   NaN     NaN
9515112       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9515113       1  Subscriber         1.0       0.0   1.0     0.0
9515114       1  Subscriber         1.0       0.0   1.0     0.0
9515115       1  Subscriber         1.0       0.0   1.0     0.0
9515116       1  Subscriber         1.0       0.0   1.0     0.0
9515117       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
9535659       2  Subscriber         NaN       NaN   NaN     NaN
9535660       2  Subscriber         NaN       NaN   NaN     NaN
9535661       2  Subscriber         NaN       NaN   NaN     NaN
9535662       1  Subscriber         NaN       NaN   NaN     NaN
9535663       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9535664       1  Subscriber         1.0       0.0   1.0     0.0
9535665       2  Subscriber         1.0       0.0   0.0     1.0
9535666       1    Customer         0.0       1.0   1.0     0.0
9535667       2  Subscriber         1.0       0.0   0.0     1.0
9535668       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
9556210       2  Subscriber         NaN       NaN   NaN     NaN
9556211       2  Subscriber         NaN       NaN   NaN     NaN
9556212       1  Subscriber         NaN       NaN   NaN     NaN
9556213       1  Subscriber         NaN       NaN   NaN     NaN
9556214       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9556215       1  Subscriber         1.0       0.0   1.0     0.0
9556216       1  Subscriber         1.0       0.0   1.0     0.0
9556217       2  Subscriber         1.0       0.0   0.0     1.0
9556218       2  Subscriber         1.0       0.0   0.0     1.0
9556219       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
9576761       0    Customer         NaN       NaN   NaN     NaN
9576762       0  Subscriber         NaN       NaN   NaN     NaN
9576763       1  Subscriber         NaN       NaN   NaN     NaN
9576764       1    Customer         NaN       NaN   NaN     NaN
9576765       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9576766       1  Subscriber         1.0       0.0   1.0     0.0
9576767       1  Subscriber         1.0       0.0   1.0     0.0
9576768       2  Subscriber         1.0       0.0   0.0     1.0
9576769       1    Customer         0.0       1.0   1.0     0.0
9576770       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
9597312       1  Subscriber         NaN       NaN   NaN     NaN
9597313       1  Subscriber         NaN       NaN   NaN     NaN
9597314       1  Subscriber         NaN       NaN   NaN     NaN
9597315       1  Subscriber         NaN       NaN   NaN     NaN
9597316       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9597317       1  Subscriber         1.0       0.0   1.0     0.0
9597318       1  Subscriber         1.0       0.0   1.0     0.0
9597319       1  Subscriber         1.0       0.0   1.0     0.0
9597320       1  Subscriber         1.0       0.0   1.0     0.0
9597321       0  Subscriber         1.0       0.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
9617863       1    Customer         NaN       NaN   NaN     NaN
9617864       1  Subscriber         NaN       NaN   NaN     NaN
9617865       1  Subscriber         NaN       NaN   NaN     NaN
9617866       0    Customer         NaN       NaN   NaN     NaN
9617867       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9617868       0    Customer         0.0       1.0   0.0     0.0
9617869       1    Customer         0.0       1.0   1.0     0.0
9617870       2  Subscriber         1.0       0.0   0.0     1.0
9617871       2    Customer         0.0       1.0   0.0     1.0
9617872       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
9638414       1  Subscriber         NaN       NaN   NaN     NaN
9638415       1  Subscriber         NaN       NaN   NaN     NaN
9638416       2  Subscriber         NaN       NaN   NaN     NaN
9638417       1  Subscriber         NaN       NaN   NaN     NaN
9638418       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9638419       1    Customer         0.0       1.0   1.0     0.0
9638420       2  Subscriber         1.0       0.0   0.0     1.0
9638421       1  Subscriber         1.0       0.0   1.0     0.0
9638422       1  Subscriber         1.0       0.0   1.0     0.0
9638423       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
9658965       2  Subscriber         NaN       NaN   NaN     NaN
9658966       1  Subscriber         NaN       NaN   NaN     NaN
9658967       1  Subscriber         NaN       NaN   NaN     NaN
9658968       2  Subscriber         NaN       NaN   NaN     NaN
9658969       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9658970       1  Subscriber         1.0       0.0   1.0     0.0
9658971       2  Subscriber         1.0       0.0   0.0     1.0
9658972       1  Subscriber         1.0       0.0   1.0     0.0
9658973       1  Subscriber         1.0       0.0   1.0     0.0
9658974       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
9679516       1  Subscriber         NaN       NaN   NaN     NaN
9679517       1  Subscriber         NaN       NaN   NaN     NaN
9679518       0    Customer         NaN       NaN   NaN     NaN
9679519       1  Subscriber         NaN       NaN   NaN     NaN
9679520       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9679521       1  Subscriber         1.0       0.0   1.0     0.0
9679522       1  Subscriber         1.0       0.0   1.0     0.0
9679523       1    Customer         0.0       1.0   1.0     0.0
9679524       2  Subscriber         1.0       0.0   0.0     1.0
9679525       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
9700067       1  Subscriber         NaN       NaN   NaN     NaN
9700068       1  Subscriber         NaN       NaN   NaN     NaN
9700069       2  Subscriber         NaN       NaN   NaN     NaN
9700070       1  Subscriber         NaN       NaN   NaN     NaN
9700071       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9700072       1  Subscriber         1.0       0.0   1.0     0.0
9700073       1  Subscriber         1.0       0.0   1.0     0.0
9700074       2  Subscriber         1.0       0.0   0.0     1.0
9700075       2  Subscriber         1.0       0.0   0.0     1.0
9700076       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
9720618       1  Subscriber         NaN       NaN   NaN     NaN
9720619       2  Subscriber         NaN       NaN   NaN     NaN
9720620       1  Subscriber         NaN       NaN   NaN     NaN
9720621       2  Subscriber         NaN       NaN   NaN     NaN
9720622       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9720623       1  Subscriber         1.0       0.0   1.0     0.0
9720624       2  Subscriber         1.0       0.0   0.0     1.0
9720625       1  Subscriber         1.0       0.0   1.0     0.0
9720626       2  Subscriber         1.0       0.0   0.0     1.0
9720627       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
9741169       2    Customer         NaN       NaN   NaN     NaN
9741170       1  Subscriber         NaN       NaN   NaN     NaN
9741171       2  Subscriber         NaN       NaN   NaN     NaN
9741172       1  Subscriber         NaN       NaN   NaN     NaN
9741173       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9741174       1  Subscriber         1.0       0.0   1.0     0.0
9741175       2  Subscriber         1.0       0.0   0.0     1.0
9741176       1  Subscriber         1.0       0.0   1.0     0.0
9741177       1  Subscriber         1.0       0.0   1.0     0.0
9741178       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
9761720       2  Subscriber         NaN       NaN   NaN     NaN
9761721       1  Subscriber         NaN       NaN   NaN     NaN
9761722       1  Subscriber         NaN       NaN   NaN     NaN
9761723       2  Subscriber         NaN       NaN   NaN     NaN
9761724       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9761725       1  Subscriber         1.0       0.0   1.0     0.0
9761726       1  Subscriber         1.0       0.0   1.0     0.0
9761727       2  Subscriber         1.0       0.0   0.0     1.0
9761728       1  Subscriber         1.0       0.0   1.0     0.0
9761729       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
9782271       1  Subscriber         NaN       NaN   NaN     NaN
9782272       2  Subscriber         NaN       NaN   NaN     NaN
9782273       0  Subscriber         NaN       NaN   NaN     NaN
9782274       1  Subscriber         NaN       NaN   NaN     NaN
9782275       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9782276       1  Subscriber         1.0       0.0   1.0     0.0
9782277       1  Subscriber         1.0       0.0   1.0     0.0
9782278       1  Subscriber         1.0       0.0   1.0     0.0
9782279       1  Subscriber         1.0       0.0   1.0     0.0
9782280       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
9802822       1  Subscriber         NaN       NaN   NaN     NaN
9802823       1  Subscriber         NaN       NaN   NaN     NaN
9802824       1  Subscriber         NaN       NaN   NaN     NaN
9802825       2  Subscriber         NaN       NaN   NaN     NaN
9802826       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9802827       1  Subscriber         1.0       0.0   1.0     0.0
9802828       1  Subscriber         1.0       0.0   1.0     0.0
9802829       2  Subscriber         1.0       0.0   0.0     1.0
9802830       1  Subscriber         1.0       0.0   1.0     0.0
9802831       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
9823373       1  Subscriber         NaN       NaN   NaN     NaN
9823374       2    Customer         NaN       NaN   NaN     NaN
9823375       1  Subscriber         NaN       NaN   NaN     NaN
9823376       2  Subscriber         NaN       NaN   NaN     NaN
9823377       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9823378       1  Subscriber         1.0       0.0   1.0     0.0
9823379       2    Customer         0.0       1.0   0.0     1.0
9823380       1  Subscriber         1.0       0.0   1.0     0.0
9823381       2  Subscriber         1.0       0.0   0.0     1.0
9823382       0    Customer         0.0       1.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
9843924       2  Subscriber         NaN       NaN   NaN     NaN
9843925       2  Subscriber         NaN       NaN   NaN     NaN
9843926       1  Subscriber         NaN       NaN   NaN     NaN
9843927       2  Subscriber         NaN       NaN   NaN     NaN
9843928       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9843929       2  Subscriber         1.0       0.0   0.0     1.0
9843930       1  Subscriber         1.0       0.0   1.0     0.0
9843931       2  Subscriber         1.0       0.0   0.0     1.0
9843932       1  Subscriber         1.0       0.0   1.0     0.0
9843933       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
9864475       1  Subscriber         NaN       NaN   NaN     NaN
9864476       1  Subscriber         NaN       NaN   NaN     NaN
9864477       1  Subscriber         NaN       NaN   NaN     NaN
9864478       1  Subscriber         NaN       NaN   NaN     NaN
9864479       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9864480       1  Subscriber         1.0       0.0   1.0     0.0
9864481       2  Subscriber         1.0       0.0   0.0     1.0
9864482       2  Subscriber         1.0       0.0   0.0     1.0
9864483       2  Subscriber         1.0       0.0   0.0     1.0
9864484       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
9885026       1  Subscriber         NaN       NaN   NaN     NaN
9885027       1    Customer         NaN       NaN   NaN     NaN
9885028       1    Customer         NaN       NaN   NaN     NaN
9885029       2  Subscriber         NaN       NaN   NaN     NaN
9885030       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9885031       1  Subscriber         1.0       0.0   1.0     0.0
9885032       1  Subscriber         1.0       0.0   1.0     0.0
9885033       1  Subscriber         1.0       0.0   1.0     0.0
9885034       1  Subscriber         1.0       0.0   1.0     0.0
9885035       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
9905577       1  Subscriber         NaN       NaN   NaN     NaN
9905578       1    Customer         NaN       NaN   NaN     NaN
9905579       0    Customer         NaN       NaN   NaN     NaN
9905580       1  Subscriber         NaN       NaN   NaN     NaN
9905581       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9905582       2  Subscriber         1.0       0.0   0.0     1.0
9905583       2  Subscriber         1.0       0.0   0.0     1.0
9905584       2  Subscriber         1.0       0.0   0.0     1.0
9905585       1  Subscriber         1.0       0.0   1.0     0.0
9905586       0    Customer         0.0       1.0   0.0     0.0
...         ...         ...         ...       ...   ...     ...
9926128       1  Subscriber         NaN       NaN   NaN     NaN
9926129       0  Subscriber         NaN       NaN   NaN     NaN
9926130       1    Customer         NaN       NaN   NaN     NaN
9926131       2  Subscriber         NaN       NaN   NaN     NaN
9926132       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9926133       2  Subscriber         1.0       0.0   0.0     1.0
9926134       1  Subscriber         1.0       0.0   1.0     0.0
9926135       1  Subscriber         1.0       0.0   1.0     0.0
9926136       1  Subscriber         1.0       0.0   1.0     0.0
9926137       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
9946679       0    Customer         NaN       NaN   NaN     NaN
9946680       1  Subscriber         NaN       NaN   NaN     NaN
9946681       2  Subscriber         NaN       NaN   NaN     NaN
9946682       1  Subscriber         NaN       NaN   NaN     NaN
9946683       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9946684       2    Customer         0.0       1.0   0.0     1.0
9946685       2  Subscriber         1.0       0.0   0.0     1.0
9946686       1  Subscriber         1.0       0.0   1.0     0.0
9946687       2  Subscriber         1.0       0.0   0.0     1.0
9946688       1  Subscriber         1.0       0.0   1.0     0.0
...         ...         ...         ...       ...   ...     ...
9967230       1  Subscriber         NaN       NaN   NaN     NaN
9967231       2  Subscriber         NaN       NaN   NaN     NaN
9967232       2  Subscriber         NaN       NaN   NaN     NaN
9967233       2    Customer         NaN       NaN   NaN     NaN
9967234       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
         gender    usertype  subscriber  customer  male  female
9967235       1  Subscriber         1.0       0.0   1.0     0.0
9967236       1  Subscriber         1.0       0.0   1.0     0.0
9967237       1  Subscriber         1.0       0.0   1.0     0.0
9967238       2  Subscriber         1.0       0.0   0.0     1.0
9967239       2  Subscriber         1.0       0.0   0.0     1.0
...         ...         ...         ...       ...   ...     ...
9987781       1  Subscriber         NaN       NaN   NaN     NaN
9987782       1  Subscriber         NaN       NaN   NaN     NaN
9987783       1  Subscriber         NaN       NaN   NaN     NaN
9987784       2  Subscriber         NaN       NaN   NaN     NaN
9987785       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
9987786        0    Customer         0.0       1.0   0.0     0.0
9987787        2    Customer         0.0       1.0   0.0     1.0
9987788        2    Customer         0.0       1.0   0.0     1.0
9987789        1  Subscriber         1.0       0.0   1.0     0.0
9987790        1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10008332       1  Subscriber         NaN       NaN   NaN     NaN
10008333       0    Customer         NaN       NaN   NaN     NaN
10008334       1  Subscriber         NaN       NaN   NaN     NaN
10008335       0    Customer         NaN       NaN   NaN     NaN
10008336       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10008337       0    Customer         0.0       1.0   0.0     0.0
10008338       1  Subscriber         1.0       0.0   1.0     0.0
10008339       1  Subscriber         1.0       0.0   1.0     0.0
10008340       1  Subscriber         1.0       0.0   1.0     0.0
10008341       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
10028883       1  Subscriber         NaN       NaN   NaN     NaN
10028884       1  Subscriber         NaN       NaN   NaN     NaN
10028885       2  Subscriber         NaN       NaN   NaN     NaN
10028886       2  Subscriber         NaN       NaN   NaN     NaN
10028887       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10028888       1  Subscriber         1.0       0.0   1.0     0.0
10028889       1  Subscriber         1.0       0.0   1.0     0.0
10028890       1  Subscriber         1.0       0.0   1.0     0.0
10028891       1  Subscriber         1.0       0.0   1.0     0.0
10028892       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10049434       2  Subscriber         NaN       NaN   NaN     NaN
10049435       1  Subscriber         NaN       NaN   NaN     NaN
10049436       1  Subscriber         NaN       NaN   NaN     NaN
10049437       1  Subscriber         NaN       NaN   NaN     NaN
10049438       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10049439       1  Subscriber         1.0       0.0   1.0     0.0
10049440       1  Subscriber         1.0       0.0   1.0     0.0
10049441       0    Customer         0.0       1.0   0.0     0.0
10049442       1  Subscriber         1.0       0.0   1.0     0.0
10049443       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
10069985       1  Subscriber         NaN       NaN   NaN     NaN
10069986       2  Subscriber         NaN       NaN   NaN     NaN
10069987       1  Subscriber         NaN       NaN   NaN     NaN
10069988       2  Subscriber         NaN       NaN   NaN     NaN
10069989       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10069990       1  Subscriber         1.0       0.0   1.0     0.0
10069991       1  Subscriber         1.0       0.0   1.0     0.0
10069992       2  Subscriber         1.0       0.0   0.0     1.0
10069993       1  Subscriber         1.0       0.0   1.0     0.0
10069994       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10090536       1  Subscriber         NaN       NaN   NaN     NaN
10090537       2  Subscriber         NaN       NaN   NaN     NaN
10090538       1    Customer         NaN       NaN   NaN     NaN
10090539       1  Subscriber         NaN       NaN   NaN     NaN
10090540       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10090541       0    Customer         0.0       1.0   0.0     0.0
10090542       1  Subscriber         1.0       0.0   1.0     0.0
10090543       1  Subscriber         1.0       0.0   1.0     0.0
10090544       1  Subscriber         1.0       0.0   1.0     0.0
10090545       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10111087       2  Subscriber         NaN       NaN   NaN     NaN
10111088       1  Subscriber         NaN       NaN   NaN     NaN
10111089       1  Subscriber         NaN       NaN   NaN     NaN
10111090       1  Subscriber         NaN       NaN   NaN     NaN
10111091       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10111092       1  Subscriber         1.0       0.0   1.0     0.0
10111093       1  Subscriber         1.0       0.0   1.0     0.0
10111094       1  Subscriber         1.0       0.0   1.0     0.0
10111095       1  Subscriber         1.0       0.0   1.0     0.0
10111096       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
10131638       2  Subscriber         NaN       NaN   NaN     NaN
10131639       0  Subscriber         NaN       NaN   NaN     NaN
10131640       0    Customer         NaN       NaN   NaN     NaN
10131641       1  Subscriber         NaN       NaN   NaN     NaN
10131642       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10131643       1  Subscriber         1.0       0.0   1.0     0.0
10131644       1  Subscriber         1.0       0.0   1.0     0.0
10131645       1  Subscriber         1.0       0.0   1.0     0.0
10131646       1  Subscriber         1.0       0.0   1.0     0.0
10131647       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10152189       2  Subscriber         NaN       NaN   NaN     NaN
10152190       1  Subscriber         NaN       NaN   NaN     NaN
10152191       1  Subscriber         NaN       NaN   NaN     NaN
10152192       1  Subscriber         NaN       NaN   NaN     NaN
10152193       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10152194       2  Subscriber         1.0       0.0   0.0     1.0
10152195       2    Customer         0.0       1.0   0.0     1.0
10152196       2  Subscriber         1.0       0.0   0.0     1.0
10152197       0  Subscriber         1.0       0.0   0.0     0.0
10152198       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
10172740       1  Subscriber         NaN       NaN   NaN     NaN
10172741       2  Subscriber         NaN       NaN   NaN     NaN
10172742       1  Subscriber         NaN       NaN   NaN     NaN
10172743       1  Subscriber         NaN       NaN   NaN     NaN
10172744       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10172745       1  Subscriber         1.0       0.0   1.0     0.0
10172746       2  Subscriber         1.0       0.0   0.0     1.0
10172747       1  Subscriber         1.0       0.0   1.0     0.0
10172748       2  Subscriber         1.0       0.0   0.0     1.0
10172749       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10193291       1  Subscriber         NaN       NaN   NaN     NaN
10193292       2  Subscriber         NaN       NaN   NaN     NaN
10193293       1  Subscriber         NaN       NaN   NaN     NaN
10193294       1  Subscriber         NaN       NaN   NaN     NaN
10193295       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10193296       1  Subscriber         1.0       0.0   1.0     0.0
10193297       1  Subscriber         1.0       0.0   1.0     0.0
10193298       1  Subscriber         1.0       0.0   1.0     0.0
10193299       1  Subscriber         1.0       0.0   1.0     0.0
10193300       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10213842       1  Subscriber         NaN       NaN   NaN     NaN
10213843       1  Subscriber         NaN       NaN   NaN     NaN
10213844       1  Subscriber         NaN       NaN   NaN     NaN
10213845       1  Subscriber         NaN       NaN   NaN     NaN
10213846       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10213847       1  Subscriber         1.0       0.0   1.0     0.0
10213848       2  Subscriber         1.0       0.0   0.0     1.0
10213849       0  Subscriber         1.0       0.0   0.0     0.0
10213850       2  Subscriber         1.0       0.0   0.0     1.0
10213851       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10234393       0    Customer         NaN       NaN   NaN     NaN
10234394       1    Customer         NaN       NaN   NaN     NaN
10234395       2    Customer         NaN       NaN   NaN     NaN
10234396       0  Subscriber         NaN       NaN   NaN     NaN
10234397       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10234398       1  Subscriber         1.0       0.0   1.0     0.0
10234399       1  Subscriber         1.0       0.0   1.0     0.0
10234400       1  Subscriber         1.0       0.0   1.0     0.0
10234401       2  Subscriber         1.0       0.0   0.0     1.0
10234402       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
10254944       1  Subscriber         NaN       NaN   NaN     NaN
10254945       1  Subscriber         NaN       NaN   NaN     NaN
10254946       1  Subscriber         NaN       NaN   NaN     NaN
10254947       1  Subscriber         NaN       NaN   NaN     NaN
10254948       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10254949       1  Subscriber         1.0       0.0   1.0     0.0
10254950       2  Subscriber         1.0       0.0   0.0     1.0
10254951       1    Customer         0.0       1.0   1.0     0.0
10254952       1  Subscriber         1.0       0.0   1.0     0.0
10254953       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10275495       1  Subscriber         NaN       NaN   NaN     NaN
10275496       2  Subscriber         NaN       NaN   NaN     NaN
10275497       2  Subscriber         NaN       NaN   NaN     NaN
10275498       1  Subscriber         NaN       NaN   NaN     NaN
10275499       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10275500       1  Subscriber         1.0       0.0   1.0     0.0
10275501       1  Subscriber         1.0       0.0   1.0     0.0
10275502       2  Subscriber         1.0       0.0   0.0     1.0
10275503       1  Subscriber         1.0       0.0   1.0     0.0
10275504       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10296046       2  Subscriber         NaN       NaN   NaN     NaN
10296047       0    Customer         NaN       NaN   NaN     NaN
10296048       1  Subscriber         NaN       NaN   NaN     NaN
10296049       1  Subscriber         NaN       NaN   NaN     NaN
10296050       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10296051       1  Subscriber         1.0       0.0   1.0     0.0
10296052       1  Subscriber         1.0       0.0   1.0     0.0
10296053       1  Subscriber         1.0       0.0   1.0     0.0
10296054       2  Subscriber         1.0       0.0   0.0     1.0
10296055       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10316597       0    Customer         NaN       NaN   NaN     NaN
10316598       1  Subscriber         NaN       NaN   NaN     NaN
10316599       1  Subscriber         NaN       NaN   NaN     NaN
10316600       2  Subscriber         NaN       NaN   NaN     NaN
10316601       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10316602       1  Subscriber         1.0       0.0   1.0     0.0
10316603       0    Customer         0.0       1.0   0.0     0.0
10316604       1  Subscriber         1.0       0.0   1.0     0.0
10316605       2  Subscriber         1.0       0.0   0.0     1.0
10316606       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10337148       1    Customer         NaN       NaN   NaN     NaN
10337149       1  Subscriber         NaN       NaN   NaN     NaN
10337150       1  Subscriber         NaN       NaN   NaN     NaN
10337151       1  Subscriber         NaN       NaN   NaN     NaN
10337152       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10337153       1  Subscriber         1.0       0.0   1.0     0.0
10337154       2  Subscriber         1.0       0.0   0.0     1.0
10337155       0    Customer         0.0       1.0   0.0     0.0
10337156       1  Subscriber         1.0       0.0   1.0     0.0
10337157       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10357699       1  Subscriber         NaN       NaN   NaN     NaN
10357700       2  Subscriber         NaN       NaN   NaN     NaN
10357701       1  Subscriber         NaN       NaN   NaN     NaN
10357702       2    Customer         NaN       NaN   NaN     NaN
10357703       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10357704       1    Customer         0.0       1.0   1.0     0.0
10357705       2  Subscriber         1.0       0.0   0.0     1.0
10357706       1  Subscriber         1.0       0.0   1.0     0.0
10357707       2  Subscriber         1.0       0.0   0.0     1.0
10357708       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10378250       2  Subscriber         NaN       NaN   NaN     NaN
10378251       2  Subscriber         NaN       NaN   NaN     NaN
10378252       1  Subscriber         NaN       NaN   NaN     NaN
10378253       1  Subscriber         NaN       NaN   NaN     NaN
10378254       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10378255       1  Subscriber         1.0       0.0   1.0     0.0
10378256       1  Subscriber         1.0       0.0   1.0     0.0
10378257       1    Customer         0.0       1.0   1.0     0.0
10378258       2  Subscriber         1.0       0.0   0.0     1.0
10378259       2    Customer         0.0       1.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
10398801       1  Subscriber         NaN       NaN   NaN     NaN
10398802       1  Subscriber         NaN       NaN   NaN     NaN
10398803       1    Customer         NaN       NaN   NaN     NaN
10398804       1  Subscriber         NaN       NaN   NaN     NaN
10398805       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10398806       1  Subscriber         1.0       0.0   1.0     0.0
10398807       1  Subscriber         1.0       0.0   1.0     0.0
10398808       0    Customer         0.0       1.0   0.0     0.0
10398809       1  Subscriber         1.0       0.0   1.0     0.0
10398810       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10419352       2  Subscriber         NaN       NaN   NaN     NaN
10419353       0    Customer         NaN       NaN   NaN     NaN
10419354       2    Customer         NaN       NaN   NaN     NaN
10419355       2    Customer         NaN       NaN   NaN     NaN
10419356       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10419357       1  Subscriber         1.0       0.0   1.0     0.0
10419358       1  Subscriber         1.0       0.0   1.0     0.0
10419359       1    Customer         0.0       1.0   1.0     0.0
10419360       1  Subscriber         1.0       0.0   1.0     0.0
10419361       1    Customer         0.0       1.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10439903       0    Customer         NaN       NaN   NaN     NaN
10439904       1  Subscriber         NaN       NaN   NaN     NaN
10439905       2    Customer         NaN       NaN   NaN     NaN
10439906       1    Customer         NaN       NaN   NaN     NaN
10439907       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10439908       1  Subscriber         1.0       0.0   1.0     0.0
10439909       1    Customer         0.0       1.0   1.0     0.0
10439910       2  Subscriber         1.0       0.0   0.0     1.0
10439911       2  Subscriber         1.0       0.0   0.0     1.0
10439912       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10460454       1  Subscriber         NaN       NaN   NaN     NaN
10460455       2  Subscriber         NaN       NaN   NaN     NaN
10460456       1  Subscriber         NaN       NaN   NaN     NaN
10460457       1  Subscriber         NaN       NaN   NaN     NaN
10460458       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10460459       1  Subscriber         1.0       0.0   1.0     0.0
10460460       2  Subscriber         1.0       0.0   0.0     1.0
10460461       1  Subscriber         1.0       0.0   1.0     0.0
10460462       1    Customer         0.0       1.0   1.0     0.0
10460463       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
10481005       1  Subscriber         NaN       NaN   NaN     NaN
10481006       2    Customer         NaN       NaN   NaN     NaN
10481007       2  Subscriber         NaN       NaN   NaN     NaN
10481008       1  Subscriber         NaN       NaN   NaN     NaN
10481009       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10481010       1  Subscriber         1.0       0.0   1.0     0.0
10481011       1  Subscriber         1.0       0.0   1.0     0.0
10481012       2  Subscriber         1.0       0.0   0.0     1.0
10481013       1  Subscriber         1.0       0.0   1.0     0.0
10481014       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10501556       1  Subscriber         NaN       NaN   NaN     NaN
10501557       1  Subscriber         NaN       NaN   NaN     NaN
10501558       1  Subscriber         NaN       NaN   NaN     NaN
10501559       2  Subscriber         NaN       NaN   NaN     NaN
10501560       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10501561       1  Subscriber         1.0       0.0   1.0     0.0
10501562       2  Subscriber         1.0       0.0   0.0     1.0
10501563       2  Subscriber         1.0       0.0   0.0     1.0
10501564       1  Subscriber         1.0       0.0   1.0     0.0
10501565       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10522107       1  Subscriber         NaN       NaN   NaN     NaN
10522108       0    Customer         NaN       NaN   NaN     NaN
10522109       2    Customer         NaN       NaN   NaN     NaN
10522110       1  Subscriber         NaN       NaN   NaN     NaN
10522111       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10522112       1    Customer         0.0       1.0   1.0     0.0
10522113       2    Customer         0.0       1.0   0.0     1.0
10522114       2    Customer         0.0       1.0   0.0     1.0
10522115       1  Subscriber         1.0       0.0   1.0     0.0
10522116       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10542658       1  Subscriber         NaN       NaN   NaN     NaN
10542659       1  Subscriber         NaN       NaN   NaN     NaN
10542660       1  Subscriber         NaN       NaN   NaN     NaN
10542661       1  Subscriber         NaN       NaN   NaN     NaN
10542662       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10542663       1  Subscriber         1.0       0.0   1.0     0.0
10542664       1  Subscriber         1.0       0.0   1.0     0.0
10542665       1  Subscriber         1.0       0.0   1.0     0.0
10542666       1  Subscriber         1.0       0.0   1.0     0.0
10542667       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10563209       2  Subscriber         NaN       NaN   NaN     NaN
10563210       1  Subscriber         NaN       NaN   NaN     NaN
10563211       2  Subscriber         NaN       NaN   NaN     NaN
10563212       1  Subscriber         NaN       NaN   NaN     NaN
10563213       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10563214       2  Subscriber         1.0       0.0   0.0     1.0
10563215       2  Subscriber         1.0       0.0   0.0     1.0
10563216       1    Customer         0.0       1.0   1.0     0.0
10563217       1  Subscriber         1.0       0.0   1.0     0.0
10563218       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
10583760       1  Subscriber         NaN       NaN   NaN     NaN
10583761       2  Subscriber         NaN       NaN   NaN     NaN
10583762       1    Customer         NaN       NaN   NaN     NaN
10583763       0  Subscriber         NaN       NaN   NaN     NaN
10583764       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10583765       1  Subscriber         1.0       0.0   1.0     0.0
10583766       1  Subscriber         1.0       0.0   1.0     0.0
10583767       1  Subscriber         1.0       0.0   1.0     0.0
10583768       1  Subscriber         1.0       0.0   1.0     0.0
10583769       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10604311       2  Subscriber         NaN       NaN   NaN     NaN
10604312       1  Subscriber         NaN       NaN   NaN     NaN
10604313       2  Subscriber         NaN       NaN   NaN     NaN
10604314       1  Subscriber         NaN       NaN   NaN     NaN
10604315       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10604316       1  Subscriber         1.0       0.0   1.0     0.0
10604317       2  Subscriber         1.0       0.0   0.0     1.0
10604318       1  Subscriber         1.0       0.0   1.0     0.0
10604319       1  Subscriber         1.0       0.0   1.0     0.0
10604320       1    Customer         0.0       1.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10624862       2  Subscriber         NaN       NaN   NaN     NaN
10624863       2  Subscriber         NaN       NaN   NaN     NaN
10624864       1  Subscriber         NaN       NaN   NaN     NaN
10624865       1  Subscriber         NaN       NaN   NaN     NaN
10624866       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10624867       1  Subscriber         1.0       0.0   1.0     0.0
10624868       1  Subscriber         1.0       0.0   1.0     0.0
10624869       2  Subscriber         1.0       0.0   0.0     1.0
10624870       1  Subscriber         1.0       0.0   1.0     0.0
10624871       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
10645413       1    Customer         NaN       NaN   NaN     NaN
10645414       1  Subscriber         NaN       NaN   NaN     NaN
10645415       1  Subscriber         NaN       NaN   NaN     NaN
10645416       1  Subscriber         NaN       NaN   NaN     NaN
10645417       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10645418       1  Subscriber         1.0       0.0   1.0     0.0
10645419       2  Subscriber         1.0       0.0   0.0     1.0
10645420       1  Subscriber         1.0       0.0   1.0     0.0
10645421       1  Subscriber         1.0       0.0   1.0     0.0
10645422       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
10665964       1  Subscriber         NaN       NaN   NaN     NaN
10665965       1  Subscriber         NaN       NaN   NaN     NaN
10665966       1  Subscriber         NaN       NaN   NaN     NaN
10665967       1  Subscriber         NaN       NaN   NaN     NaN
10665968       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10665969       2  Subscriber         1.0       0.0   0.0     1.0
10665970       1  Subscriber         1.0       0.0   1.0     0.0
10665971       1  Subscriber         1.0       0.0   1.0     0.0
10665972       2  Subscriber         1.0       0.0   0.0     1.0
10665973       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10686515       1  Subscriber         NaN       NaN   NaN     NaN
10686516       1  Subscriber         NaN       NaN   NaN     NaN
10686517       1  Subscriber         NaN       NaN   NaN     NaN
10686518       2  Subscriber         NaN       NaN   NaN     NaN
10686519       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10686520       1  Subscriber         1.0       0.0   1.0     0.0
10686521       1  Subscriber         1.0       0.0   1.0     0.0
10686522       1  Subscriber         1.0       0.0   1.0     0.0
10686523       1  Subscriber         1.0       0.0   1.0     0.0
10686524       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10707066       1  Subscriber         NaN       NaN   NaN     NaN
10707067       0    Customer         NaN       NaN   NaN     NaN
10707068       2  Subscriber         NaN       NaN   NaN     NaN
10707069       2    Customer         NaN       NaN   NaN     NaN
10707070       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10707071       1  Subscriber         1.0       0.0   1.0     0.0
10707072       2  Subscriber         1.0       0.0   0.0     1.0
10707073       2  Subscriber         1.0       0.0   0.0     1.0
10707074       2  Subscriber         1.0       0.0   0.0     1.0
10707075       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
10727617       1  Subscriber         NaN       NaN   NaN     NaN
10727618       1  Subscriber         NaN       NaN   NaN     NaN
10727619       2  Subscriber         NaN       NaN   NaN     NaN
10727620       2  Subscriber         NaN       NaN   NaN     NaN
10727621       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10727622       0    Customer         0.0       1.0   0.0     0.0
10727623       1  Subscriber         1.0       0.0   1.0     0.0
10727624       1  Subscriber         1.0       0.0   1.0     0.0
10727625       2  Subscriber         1.0       0.0   0.0     1.0
10727626       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
10748168       1  Subscriber         NaN       NaN   NaN     NaN
10748169       2  Subscriber         NaN       NaN   NaN     NaN
10748170       1  Subscriber         NaN       NaN   NaN     NaN
10748171       1  Subscriber         NaN       NaN   NaN     NaN
10748172       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10748173       1  Subscriber         1.0       0.0   1.0     0.0
10748174       1  Subscriber         1.0       0.0   1.0     0.0
10748175       0    Customer         0.0       1.0   0.0     0.0
10748176       1  Subscriber         1.0       0.0   1.0     0.0
10748177       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10768719       1  Subscriber         NaN       NaN   NaN     NaN
10768720       0    Customer         NaN       NaN   NaN     NaN
10768721       1  Subscriber         NaN       NaN   NaN     NaN
10768722       0    Customer         NaN       NaN   NaN     NaN
10768723       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10768724       1  Subscriber         1.0       0.0   1.0     0.0
10768725       2  Subscriber         1.0       0.0   0.0     1.0
10768726       1  Subscriber         1.0       0.0   1.0     0.0
10768727       1  Subscriber         1.0       0.0   1.0     0.0
10768728       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10789270       1  Subscriber         NaN       NaN   NaN     NaN
10789271       2  Subscriber         NaN       NaN   NaN     NaN
10789272       1  Subscriber         NaN       NaN   NaN     NaN
10789273       1    Customer         NaN       NaN   NaN     NaN
10789274       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10789275       1    Customer         0.0       1.0   1.0     0.0
10789276       2  Subscriber         1.0       0.0   0.0     1.0
10789277       0    Customer         0.0       1.0   0.0     0.0
10789278       1  Subscriber         1.0       0.0   1.0     0.0
10789279       0    Customer         0.0       1.0   0.0     0.0
...          ...         ...         ...       ...   ...     ...
10809821       1  Subscriber         NaN       NaN   NaN     NaN
10809822       1  Subscriber         NaN       NaN   NaN     NaN
10809823       1  Subscriber         NaN       NaN   NaN     NaN
10809824       2  Subscriber         NaN       NaN   NaN     NaN
10809825       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10809826       1  Subscriber         1.0       0.0   1.0     0.0
10809827       1  Subscriber         1.0       0.0   1.0     0.0
10809828       2  Subscriber         1.0       0.0   0.0     1.0
10809829       1  Subscriber         1.0       0.0   1.0     0.0
10809830       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10830372       2  Subscriber         NaN       NaN   NaN     NaN
10830373       1  Subscriber         NaN       NaN   NaN     NaN
10830374       1  Subscriber         NaN       NaN   NaN     NaN
10830375       1  Subscriber         NaN       NaN   NaN     NaN
10830376       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10830377       2  Subscriber         1.0       0.0   0.0     1.0
10830378       0    Customer         0.0       1.0   0.0     0.0
10830379       1  Subscriber         1.0       0.0   1.0     0.0
10830380       1  Subscriber         1.0       0.0   1.0     0.0
10830381       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10850923       1  Subscriber         NaN       NaN   NaN     NaN
10850924       1  Subscriber         NaN       NaN   NaN     NaN
10850925       1  Subscriber         NaN       NaN   NaN     NaN
10850926       1  Subscriber         NaN       NaN   NaN     NaN
10850927       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10850928       1  Subscriber         1.0       0.0   1.0     0.0
10850929       1  Subscriber         1.0       0.0   1.0     0.0
10850930       1  Subscriber         1.0       0.0   1.0     0.0
10850931       1  Subscriber         1.0       0.0   1.0     0.0
10850932       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10871474       1  Subscriber         NaN       NaN   NaN     NaN
10871475       1  Subscriber         NaN       NaN   NaN     NaN
10871476       2  Subscriber         NaN       NaN   NaN     NaN
10871477       1  Subscriber         NaN       NaN   NaN     NaN
10871478       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10871479       0    Customer         0.0       1.0   0.0     0.0
10871480       2  Subscriber         1.0       0.0   0.0     1.0
10871481       1  Subscriber         1.0       0.0   1.0     0.0
10871482       2    Customer         0.0       1.0   0.0     1.0
10871483       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10892025       2  Subscriber         NaN       NaN   NaN     NaN
10892026       1  Subscriber         NaN       NaN   NaN     NaN
10892027       1  Subscriber         NaN       NaN   NaN     NaN
10892028       2  Subscriber         NaN       NaN   NaN     NaN
10892029       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10892030       0    Customer         0.0       1.0   0.0     0.0
10892031       0    Customer         0.0       1.0   0.0     0.0
10892032       0    Customer         0.0       1.0   0.0     0.0
10892033       2  Subscriber         1.0       0.0   0.0     1.0
10892034       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10912576       1  Subscriber         NaN       NaN   NaN     NaN
10912577       1  Subscriber         NaN       NaN   NaN     NaN
10912578       2  Subscriber         NaN       NaN   NaN     NaN
10912579       2  Subscriber         NaN       NaN   NaN     NaN
10912580       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10912581       1  Subscriber         1.0       0.0   1.0     0.0
10912582       2  Subscriber         1.0       0.0   0.0     1.0
10912583       1    Customer         0.0       1.0   1.0     0.0
10912584       1  Subscriber         1.0       0.0   1.0     0.0
10912585       0    Customer         0.0       1.0   0.0     0.0
...          ...         ...         ...       ...   ...     ...
10933127       1  Subscriber         NaN       NaN   NaN     NaN
10933128       1  Subscriber         NaN       NaN   NaN     NaN
10933129       2    Customer         NaN       NaN   NaN     NaN
10933130       1  Subscriber         NaN       NaN   NaN     NaN
10933131       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10933132       1  Subscriber         1.0       0.0   1.0     0.0
10933133       0    Customer         0.0       1.0   0.0     0.0
10933134       1  Subscriber         1.0       0.0   1.0     0.0
10933135       1  Subscriber         1.0       0.0   1.0     0.0
10933136       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10953678       0    Customer         NaN       NaN   NaN     NaN
10953679       0    Customer         NaN       NaN   NaN     NaN
10953680       0    Customer         NaN       NaN   NaN     NaN
10953681       1  Subscriber         NaN       NaN   NaN     NaN
10953682       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10953683       1  Subscriber         1.0       0.0   1.0     0.0
10953684       2  Subscriber         1.0       0.0   0.0     1.0
10953685       1  Subscriber         1.0       0.0   1.0     0.0
10953686       1  Subscriber         1.0       0.0   1.0     0.0
10953687       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
10974229       2    Customer         NaN       NaN   NaN     NaN
10974230       0  Subscriber         NaN       NaN   NaN     NaN
10974231       1    Customer         NaN       NaN   NaN     NaN
10974232       1  Subscriber         NaN       NaN   NaN     NaN
10974233       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10974234       0    Customer         0.0       1.0   0.0     0.0
10974235       1  Subscriber         1.0       0.0   1.0     0.0
10974236       1  Subscriber         1.0       0.0   1.0     0.0
10974237       1  Subscriber         1.0       0.0   1.0     0.0
10974238       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
10994780       1    Customer         NaN       NaN   NaN     NaN
10994781       1    Customer         NaN       NaN   NaN     NaN
10994782       1  Subscriber         NaN       NaN   NaN     NaN
10994783       1  Subscriber         NaN       NaN   NaN     NaN
10994784       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
10994785       1  Subscriber         1.0       0.0   1.0     0.0
10994786       1  Subscriber         1.0       0.0   1.0     0.0
10994787       0    Customer         0.0       1.0   0.0     0.0
10994788       1  Subscriber         1.0       0.0   1.0     0.0
10994789       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11015331       1  Subscriber         NaN       NaN   NaN     NaN
11015332       1  Subscriber         NaN       NaN   NaN     NaN
11015333       1  Subscriber         NaN       NaN   NaN     NaN
11015334       1  Subscriber         NaN       NaN   NaN     NaN
11015335       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11015336       1  Subscriber         1.0       0.0   1.0     0.0
11015337       1  Subscriber         1.0       0.0   1.0     0.0
11015338       2  Subscriber         1.0       0.0   0.0     1.0
11015339       1  Subscriber         1.0       0.0   1.0     0.0
11015340       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11035882       1  Subscriber         NaN       NaN   NaN     NaN
11035883       1  Subscriber         NaN       NaN   NaN     NaN
11035884       1  Subscriber         NaN       NaN   NaN     NaN
11035885       1  Subscriber         NaN       NaN   NaN     NaN
11035886       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11035887       0    Customer         0.0       1.0   0.0     0.0
11035888       1  Subscriber         1.0       0.0   1.0     0.0
11035889       1  Subscriber         1.0       0.0   1.0     0.0
11035890       1  Subscriber         1.0       0.0   1.0     0.0
11035891       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11056433       2  Subscriber         NaN       NaN   NaN     NaN
11056434       1  Subscriber         NaN       NaN   NaN     NaN
11056435       1  Subscriber         NaN       NaN   NaN     NaN
11056436       1  Subscriber         NaN       NaN   NaN     NaN
11056437       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11056438       2  Subscriber         1.0       0.0   0.0     1.0
11056439       1  Subscriber         1.0       0.0   1.0     0.0
11056440       1  Subscriber         1.0       0.0   1.0     0.0
11056441       1    Customer         0.0       1.0   1.0     0.0
11056442       0    Customer         0.0       1.0   0.0     0.0
...          ...         ...         ...       ...   ...     ...
11076984       2  Subscriber         NaN       NaN   NaN     NaN
11076985       1  Subscriber         NaN       NaN   NaN     NaN
11076986       2  Subscriber         NaN       NaN   NaN     NaN
11076987       1  Subscriber         NaN       NaN   NaN     NaN
11076988       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11076989       1  Subscriber         1.0       0.0   1.0     0.0
11076990       1    Customer         0.0       1.0   1.0     0.0
11076991       1  Subscriber         1.0       0.0   1.0     0.0
11076992       1  Subscriber         1.0       0.0   1.0     0.0
11076993       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11097535       2  Subscriber         NaN       NaN   NaN     NaN
11097536       2  Subscriber         NaN       NaN   NaN     NaN
11097537       2  Subscriber         NaN       NaN   NaN     NaN
11097538       1  Subscriber         NaN       NaN   NaN     NaN
11097539       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11097540       1  Subscriber         1.0       0.0   1.0     0.0
11097541       1  Subscriber         1.0       0.0   1.0     0.0
11097542       1  Subscriber         1.0       0.0   1.0     0.0
11097543       1  Subscriber         1.0       0.0   1.0     0.0
11097544       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11118086       1  Subscriber         NaN       NaN   NaN     NaN
11118087       1  Subscriber         NaN       NaN   NaN     NaN
11118088       1  Subscriber         NaN       NaN   NaN     NaN
11118089       2  Subscriber         NaN       NaN   NaN     NaN
11118090       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11118091       1  Subscriber         1.0       0.0   1.0     0.0
11118092       2  Subscriber         1.0       0.0   0.0     1.0
11118093       2  Subscriber         1.0       0.0   0.0     1.0
11118094       1  Subscriber         1.0       0.0   1.0     0.0
11118095       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11138637       2  Subscriber         NaN       NaN   NaN     NaN
11138638       1  Subscriber         NaN       NaN   NaN     NaN
11138639       1  Subscriber         NaN       NaN   NaN     NaN
11138640       1  Subscriber         NaN       NaN   NaN     NaN
11138641       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11138642       1  Subscriber         1.0       0.0   1.0     0.0
11138643       1  Subscriber         1.0       0.0   1.0     0.0
11138644       1  Subscriber         1.0       0.0   1.0     0.0
11138645       1  Subscriber         1.0       0.0   1.0     0.0
11138646       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
11159188       0    Customer         NaN       NaN   NaN     NaN
11159189       2  Subscriber         NaN       NaN   NaN     NaN
11159190       1  Subscriber         NaN       NaN   NaN     NaN
11159191       1  Subscriber         NaN       NaN   NaN     NaN
11159192       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11159193       1  Subscriber         1.0       0.0   1.0     0.0
11159194       2  Subscriber         1.0       0.0   0.0     1.0
11159195       1  Subscriber         1.0       0.0   1.0     0.0
11159196       1  Subscriber         1.0       0.0   1.0     0.0
11159197       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11179739       1  Subscriber         NaN       NaN   NaN     NaN
11179740       1  Subscriber         NaN       NaN   NaN     NaN
11179741       1  Subscriber         NaN       NaN   NaN     NaN
11179742       1  Subscriber         NaN       NaN   NaN     NaN
11179743       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11179744       2  Subscriber         1.0       0.0   0.0     1.0
11179745       1  Subscriber         1.0       0.0   1.0     0.0
11179746       1  Subscriber         1.0       0.0   1.0     0.0
11179747       1  Subscriber         1.0       0.0   1.0     0.0
11179748       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
11200290       1  Subscriber         NaN       NaN   NaN     NaN
11200291       0    Customer         NaN       NaN   NaN     NaN
11200292       1  Subscriber         NaN       NaN   NaN     NaN
11200293       1  Subscriber         NaN       NaN   NaN     NaN
11200294       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11200295       1  Subscriber         1.0       0.0   1.0     0.0
11200296       1  Subscriber         1.0       0.0   1.0     0.0
11200297       1  Subscriber         1.0       0.0   1.0     0.0
11200298       1  Subscriber         1.0       0.0   1.0     0.0
11200299       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11220841       1  Subscriber         NaN       NaN   NaN     NaN
11220842       2  Subscriber         NaN       NaN   NaN     NaN
11220843       1  Subscriber         NaN       NaN   NaN     NaN
11220844       1  Subscriber         NaN       NaN   NaN     NaN
11220845       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11220846       1  Subscriber         1.0       0.0   1.0     0.0
11220847       1  Subscriber         1.0       0.0   1.0     0.0
11220848       1  Subscriber         1.0       0.0   1.0     0.0
11220849       1  Subscriber         1.0       0.0   1.0     0.0
11220850       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
11241392       1  Subscriber         NaN       NaN   NaN     NaN
11241393       1  Subscriber         NaN       NaN   NaN     NaN
11241394       1  Subscriber         NaN       NaN   NaN     NaN
11241395       1  Subscriber         NaN       NaN   NaN     NaN
11241396       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11241397       2  Subscriber         1.0       0.0   0.0     1.0
11241398       1  Subscriber         1.0       0.0   1.0     0.0
11241399       1  Subscriber         1.0       0.0   1.0     0.0
11241400       2  Subscriber         1.0       0.0   0.0     1.0
11241401       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11261943       1  Subscriber         NaN       NaN   NaN     NaN
11261944       0    Customer         NaN       NaN   NaN     NaN
11261945       1  Subscriber         NaN       NaN   NaN     NaN
11261946       1  Subscriber         NaN       NaN   NaN     NaN
11261947       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11261948       1  Subscriber         1.0       0.0   1.0     0.0
11261949       0    Customer         0.0       1.0   0.0     0.0
11261950       1  Subscriber         1.0       0.0   1.0     0.0
11261951       1  Subscriber         1.0       0.0   1.0     0.0
11261952       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
11282494       1  Subscriber         NaN       NaN   NaN     NaN
11282495       2  Subscriber         NaN       NaN   NaN     NaN
11282496       2    Customer         NaN       NaN   NaN     NaN
11282497       1  Subscriber         NaN       NaN   NaN     NaN
11282498       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11282499       0    Customer         0.0       1.0   0.0     0.0
11282500       1  Subscriber         1.0       0.0   1.0     0.0
11282501       1  Subscriber         1.0       0.0   1.0     0.0
11282502       1    Customer         0.0       1.0   1.0     0.0
11282503       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11303045       1  Subscriber         NaN       NaN   NaN     NaN
11303046       1  Subscriber         NaN       NaN   NaN     NaN
11303047       0  Subscriber         NaN       NaN   NaN     NaN
11303048       0  Subscriber         NaN       NaN   NaN     NaN
11303049       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11303050       1  Subscriber         1.0       0.0   1.0     0.0
11303051       1  Subscriber         1.0       0.0   1.0     0.0
11303052       1  Subscriber         1.0       0.0   1.0     0.0
11303053       1  Subscriber         1.0       0.0   1.0     0.0
11303054       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
11323596       1  Subscriber         NaN       NaN   NaN     NaN
11323597       1  Subscriber         NaN       NaN   NaN     NaN
11323598       1  Subscriber         NaN       NaN   NaN     NaN
11323599       0    Customer         NaN       NaN   NaN     NaN
11323600       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11323601       0  Subscriber         1.0       0.0   0.0     0.0
11323602       2  Subscriber         1.0       0.0   0.0     1.0
11323603       1  Subscriber         1.0       0.0   1.0     0.0
11323604       2  Subscriber         1.0       0.0   0.0     1.0
11323605       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11344147       1  Subscriber         NaN       NaN   NaN     NaN
11344148       2  Subscriber         NaN       NaN   NaN     NaN
11344149       1    Customer         NaN       NaN   NaN     NaN
11344150       2  Subscriber         NaN       NaN   NaN     NaN
11344151       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11344152       0    Customer         0.0       1.0   0.0     0.0
11344153       1  Subscriber         1.0       0.0   1.0     0.0
11344154       1  Subscriber         1.0       0.0   1.0     0.0
11344155       2  Subscriber         1.0       0.0   0.0     1.0
11344156       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11364698       1  Subscriber         NaN       NaN   NaN     NaN
11364699       1  Subscriber         NaN       NaN   NaN     NaN
11364700       2  Subscriber         NaN       NaN   NaN     NaN
11364701       1  Subscriber         NaN       NaN   NaN     NaN
11364702       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11364703       0    Customer         0.0       1.0   0.0     0.0
11364704       0    Customer         0.0       1.0   0.0     0.0
11364705       1  Subscriber         1.0       0.0   1.0     0.0
11364706       1  Subscriber         1.0       0.0   1.0     0.0
11364707       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11385249       1  Subscriber         NaN       NaN   NaN     NaN
11385250       1  Subscriber         NaN       NaN   NaN     NaN
11385251       2  Subscriber         NaN       NaN   NaN     NaN
11385252       1  Subscriber         NaN       NaN   NaN     NaN
11385253       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11385254       1  Subscriber         1.0       0.0   1.0     0.0
11385255       1  Subscriber         1.0       0.0   1.0     0.0
11385256       1  Subscriber         1.0       0.0   1.0     0.0
11385257       0    Customer         0.0       1.0   0.0     0.0
11385258       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
11405800       1  Subscriber         NaN       NaN   NaN     NaN
11405801       2    Customer         NaN       NaN   NaN     NaN
11405802       1  Subscriber         NaN       NaN   NaN     NaN
11405803       1  Subscriber         NaN       NaN   NaN     NaN
11405804       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11405805       1  Subscriber         1.0       0.0   1.0     0.0
11405806       1    Customer         0.0       1.0   1.0     0.0
11405807       1    Customer         0.0       1.0   1.0     0.0
11405808       1  Subscriber         1.0       0.0   1.0     0.0
11405809       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11426351       0    Customer         NaN       NaN   NaN     NaN
11426352       1  Subscriber         NaN       NaN   NaN     NaN
11426353       1  Subscriber         NaN       NaN   NaN     NaN
11426354       1  Subscriber         NaN       NaN   NaN     NaN
11426355       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11426356       2  Subscriber         1.0       0.0   0.0     1.0
11426357       0    Customer         0.0       1.0   0.0     0.0
11426358       2    Customer         0.0       1.0   0.0     1.0
11426359       1  Subscriber         1.0       0.0   1.0     0.0
11426360       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11446902       0    Customer         NaN       NaN   NaN     NaN
11446903       1    Customer         NaN       NaN   NaN     NaN
11446904       1  Subscriber         NaN       NaN   NaN     NaN
11446905       2    Customer         NaN       NaN   NaN     NaN
11446906       2    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11446907       1    Customer         0.0       1.0   1.0     0.0
11446908       2    Customer         0.0       1.0   0.0     1.0
11446909       1  Subscriber         1.0       0.0   1.0     0.0
11446910       1  Subscriber         1.0       0.0   1.0     0.0
11446911       1    Customer         0.0       1.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11467453       1  Subscriber         NaN       NaN   NaN     NaN
11467454       1  Subscriber         NaN       NaN   NaN     NaN
11467455       1  Subscriber         NaN       NaN   NaN     NaN
11467456       1  Subscriber         NaN       NaN   NaN     NaN
11467457       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11467458       1  Subscriber         1.0       0.0   1.0     0.0
11467459       1    Customer         0.0       1.0   1.0     0.0
11467460       1  Subscriber         1.0       0.0   1.0     0.0
11467461       1    Customer         0.0       1.0   1.0     0.0
11467462       0    Customer         0.0       1.0   0.0     0.0
...          ...         ...         ...       ...   ...     ...
11488004       2  Subscriber         NaN       NaN   NaN     NaN
11488005       1  Subscriber         NaN       NaN   NaN     NaN
11488006       1  Subscriber         NaN       NaN   NaN     NaN
11488007       1  Subscriber         NaN       NaN   NaN     NaN
11488008       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11488009       2  Subscriber         1.0       0.0   0.0     1.0
11488010       2  Subscriber         1.0       0.0   0.0     1.0
11488011       1  Subscriber         1.0       0.0   1.0     0.0
11488012       1  Subscriber         1.0       0.0   1.0     0.0
11488013       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11508555       2    Customer         NaN       NaN   NaN     NaN
11508556       2  Subscriber         NaN       NaN   NaN     NaN
11508557       1  Subscriber         NaN       NaN   NaN     NaN
11508558       2  Subscriber         NaN       NaN   NaN     NaN
11508559       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11508560       1  Subscriber         1.0       0.0   1.0     0.0
11508561       0    Customer         0.0       1.0   0.0     0.0
11508562       1    Customer         0.0       1.0   1.0     0.0
11508563       1  Subscriber         1.0       0.0   1.0     0.0
11508564       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11529106       1    Customer         NaN       NaN   NaN     NaN
11529107       2  Subscriber         NaN       NaN   NaN     NaN
11529108       0    Customer         NaN       NaN   NaN     NaN
11529109       0    Customer         NaN       NaN   NaN     NaN
11529110       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11529111       1  Subscriber         1.0       0.0   1.0     0.0
11529112       1  Subscriber         1.0       0.0   1.0     0.0
11529113       1  Subscriber         1.0       0.0   1.0     0.0
11529114       2    Customer         0.0       1.0   0.0     1.0
11529115       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11549657       1  Subscriber         NaN       NaN   NaN     NaN
11549658       2  Subscriber         NaN       NaN   NaN     NaN
11549659       2  Subscriber         NaN       NaN   NaN     NaN
11549660       1  Subscriber         NaN       NaN   NaN     NaN
11549661       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11549662       1  Subscriber         1.0       0.0   1.0     0.0
11549663       1  Subscriber         1.0       0.0   1.0     0.0
11549664       2  Subscriber         1.0       0.0   0.0     1.0
11549665       1  Subscriber         1.0       0.0   1.0     0.0
11549666       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11570208       2  Subscriber         NaN       NaN   NaN     NaN
11570209       1  Subscriber         NaN       NaN   NaN     NaN
11570210       1  Subscriber         NaN       NaN   NaN     NaN
11570211       1  Subscriber         NaN       NaN   NaN     NaN
11570212       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11570213       1  Subscriber         1.0       0.0   1.0     0.0
11570214       1  Subscriber         1.0       0.0   1.0     0.0
11570215       1  Subscriber         1.0       0.0   1.0     0.0
11570216       2  Subscriber         1.0       0.0   0.0     1.0
11570217       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11590759       1  Subscriber         NaN       NaN   NaN     NaN
11590760       1  Subscriber         NaN       NaN   NaN     NaN
11590761       1  Subscriber         NaN       NaN   NaN     NaN
11590762       1    Customer         NaN       NaN   NaN     NaN
11590763       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11590764       1  Subscriber         1.0       0.0   1.0     0.0
11590765       1  Subscriber         1.0       0.0   1.0     0.0
11590766       0    Customer         0.0       1.0   0.0     0.0
11590767       2  Subscriber         1.0       0.0   0.0     1.0
11590768       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11611310       0    Customer         NaN       NaN   NaN     NaN
11611311       1  Subscriber         NaN       NaN   NaN     NaN
11611312       1  Subscriber         NaN       NaN   NaN     NaN
11611313       1  Subscriber         NaN       NaN   NaN     NaN
11611314       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11611315       2  Subscriber         1.0       0.0   0.0     1.0
11611316       2  Subscriber         1.0       0.0   0.0     1.0
11611317       1  Subscriber         1.0       0.0   1.0     0.0
11611318       1    Customer         0.0       1.0   1.0     0.0
11611319       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11631861       1    Customer         NaN       NaN   NaN     NaN
11631862       2  Subscriber         NaN       NaN   NaN     NaN
11631863       1  Subscriber         NaN       NaN   NaN     NaN
11631864       0    Customer         NaN       NaN   NaN     NaN
11631865       0  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11631866       2    Customer         0.0       1.0   0.0     1.0
11631867       0    Customer         0.0       1.0   0.0     0.0
11631868       1  Subscriber         1.0       0.0   1.0     0.0
11631869       1    Customer         0.0       1.0   1.0     0.0
11631870       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
11652412       2    Customer         NaN       NaN   NaN     NaN
11652413       2  Subscriber         NaN       NaN   NaN     NaN
11652414       1  Subscriber         NaN       NaN   NaN     NaN
11652415       1  Subscriber         NaN       NaN   NaN     NaN
11652416       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11652417       1  Subscriber         1.0       0.0   1.0     0.0
11652418       1  Subscriber         1.0       0.0   1.0     0.0
11652419       2  Subscriber         1.0       0.0   0.0     1.0
11652420       2  Subscriber         1.0       0.0   0.0     1.0
11652421       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11672963       1  Subscriber         NaN       NaN   NaN     NaN
11672964       0    Customer         NaN       NaN   NaN     NaN
11672965       0    Customer         NaN       NaN   NaN     NaN
11672966       1    Customer         NaN       NaN   NaN     NaN
11672967       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11672968       2  Subscriber         1.0       0.0   0.0     1.0
11672969       2  Subscriber         1.0       0.0   0.0     1.0
11672970       0    Customer         0.0       1.0   0.0     0.0
11672971       1  Subscriber         1.0       0.0   1.0     0.0
11672972       2    Customer         0.0       1.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
11693514       2  Subscriber         NaN       NaN   NaN     NaN
11693515       1  Subscriber         NaN       NaN   NaN     NaN
11693516       1  Subscriber         NaN       NaN   NaN     NaN
11693517       2  Subscriber         NaN       NaN   NaN     NaN
11693518       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11693519       1  Subscriber         1.0       0.0   1.0     0.0
11693520       1  Subscriber         1.0       0.0   1.0     0.0
11693521       1  Subscriber         1.0       0.0   1.0     0.0
11693522       1  Subscriber         1.0       0.0   1.0     0.0
11693523       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
11714065       2  Subscriber         NaN       NaN   NaN     NaN
11714066       1  Subscriber         NaN       NaN   NaN     NaN
11714067       0    Customer         NaN       NaN   NaN     NaN
11714068       1  Subscriber         NaN       NaN   NaN     NaN
11714069       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11714070       1  Subscriber         1.0       0.0   1.0     0.0
11714071       1  Subscriber         1.0       0.0   1.0     0.0
11714072       2  Subscriber         1.0       0.0   0.0     1.0
11714073       0  Subscriber         1.0       0.0   0.0     0.0
11714074       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11734616       1  Subscriber         NaN       NaN   NaN     NaN
11734617       1  Subscriber         NaN       NaN   NaN     NaN
11734618       1  Subscriber         NaN       NaN   NaN     NaN
11734619       1  Subscriber         NaN       NaN   NaN     NaN
11734620       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11734621       1  Subscriber         1.0       0.0   1.0     0.0
11734622       1  Subscriber         1.0       0.0   1.0     0.0
11734623       1  Subscriber         1.0       0.0   1.0     0.0
11734624       1  Subscriber         1.0       0.0   1.0     0.0
11734625       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
11755167       2  Subscriber         NaN       NaN   NaN     NaN
11755168       1  Subscriber         NaN       NaN   NaN     NaN
11755169       2  Subscriber         NaN       NaN   NaN     NaN
11755170       1    Customer         NaN       NaN   NaN     NaN
11755171       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11755172       1  Subscriber         1.0       0.0   1.0     0.0
11755173       2    Customer         0.0       1.0   0.0     1.0
11755174       1  Subscriber         1.0       0.0   1.0     0.0
11755175       2  Subscriber         1.0       0.0   0.0     1.0
11755176       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11775718       1  Subscriber         NaN       NaN   NaN     NaN
11775719       1  Subscriber         NaN       NaN   NaN     NaN
11775720       1  Subscriber         NaN       NaN   NaN     NaN
11775721       0    Customer         NaN       NaN   NaN     NaN
11775722       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11775723       1  Subscriber         1.0       0.0   1.0     0.0
11775724       1  Subscriber         1.0       0.0   1.0     0.0
11775725       1  Subscriber         1.0       0.0   1.0     0.0
11775726       1  Subscriber         1.0       0.0   1.0     0.0
11775727       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11796269       1  Subscriber         NaN       NaN   NaN     NaN
11796270       2  Subscriber         NaN       NaN   NaN     NaN
11796271       1  Subscriber         NaN       NaN   NaN     NaN
11796272       1  Subscriber         NaN       NaN   NaN     NaN
11796273       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11796274       2  Subscriber         1.0       0.0   0.0     1.0
11796275       2  Subscriber         1.0       0.0   0.0     1.0
11796276       1    Customer         0.0       1.0   1.0     0.0
11796277       2  Subscriber         1.0       0.0   0.0     1.0
11796278       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
11816820       1  Subscriber         NaN       NaN   NaN     NaN
11816821       1  Subscriber         NaN       NaN   NaN     NaN
11816822       1  Subscriber         NaN       NaN   NaN     NaN
11816823       1  Subscriber         NaN       NaN   NaN     NaN
11816824       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11816825       1  Subscriber         1.0       0.0   1.0     0.0
11816826       1  Subscriber         1.0       0.0   1.0     0.0
11816827       2  Subscriber         1.0       0.0   0.0     1.0
11816828       1  Subscriber         1.0       0.0   1.0     0.0
11816829       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11837371       0    Customer         NaN       NaN   NaN     NaN
11837372       2  Subscriber         NaN       NaN   NaN     NaN
11837373       1  Subscriber         NaN       NaN   NaN     NaN
11837374       2    Customer         NaN       NaN   NaN     NaN
11837375       2    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11837376       1  Subscriber         1.0       0.0   1.0     0.0
11837377       1  Subscriber         1.0       0.0   1.0     0.0
11837378       1  Subscriber         1.0       0.0   1.0     0.0
11837379       1  Subscriber         1.0       0.0   1.0     0.0
11837380       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11857922       2    Customer         NaN       NaN   NaN     NaN
11857923       2  Subscriber         NaN       NaN   NaN     NaN
11857924       1  Subscriber         NaN       NaN   NaN     NaN
11857925       1  Subscriber         NaN       NaN   NaN     NaN
11857926       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11857927       1  Subscriber         1.0       0.0   1.0     0.0
11857928       1  Subscriber         1.0       0.0   1.0     0.0
11857929       1  Subscriber         1.0       0.0   1.0     0.0
11857930       2  Subscriber         1.0       0.0   0.0     1.0
11857931       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11878473       1  Subscriber         NaN       NaN   NaN     NaN
11878474       2  Subscriber         NaN       NaN   NaN     NaN
11878475       0    Customer         NaN       NaN   NaN     NaN
11878476       2  Subscriber         NaN       NaN   NaN     NaN
11878477       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11878478       1  Subscriber         1.0       0.0   1.0     0.0
11878479       1  Subscriber         1.0       0.0   1.0     0.0
11878480       1  Subscriber         1.0       0.0   1.0     0.0
11878481       2    Customer         0.0       1.0   0.0     1.0
11878482       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11899024       1  Subscriber         NaN       NaN   NaN     NaN
11899025       1    Customer         NaN       NaN   NaN     NaN
11899026       2  Subscriber         NaN       NaN   NaN     NaN
11899027       2  Subscriber         NaN       NaN   NaN     NaN
11899028       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11899029       2  Subscriber         1.0       0.0   0.0     1.0
11899030       2  Subscriber         1.0       0.0   0.0     1.0
11899031       1  Subscriber         1.0       0.0   1.0     0.0
11899032       1    Customer         0.0       1.0   1.0     0.0
11899033       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11919575       1  Subscriber         NaN       NaN   NaN     NaN
11919576       0    Customer         NaN       NaN   NaN     NaN
11919577       1  Subscriber         NaN       NaN   NaN     NaN
11919578       1  Subscriber         NaN       NaN   NaN     NaN
11919579       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11919580       1  Subscriber         1.0       0.0   1.0     0.0
11919581       1  Subscriber         1.0       0.0   1.0     0.0
11919582       1  Subscriber         1.0       0.0   1.0     0.0
11919583       1  Subscriber         1.0       0.0   1.0     0.0
11919584       1    Customer         0.0       1.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11940126       1  Subscriber         NaN       NaN   NaN     NaN
11940127       2  Subscriber         NaN       NaN   NaN     NaN
11940128       1  Subscriber         NaN       NaN   NaN     NaN
11940129       0    Customer         NaN       NaN   NaN     NaN
11940130       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11940131       1  Subscriber         1.0       0.0   1.0     0.0
11940132       2  Subscriber         1.0       0.0   0.0     1.0
11940133       1  Subscriber         1.0       0.0   1.0     0.0
11940134       2    Customer         0.0       1.0   0.0     1.0
11940135       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
11960677       2  Subscriber         NaN       NaN   NaN     NaN
11960678       0    Customer         NaN       NaN   NaN     NaN
11960679       1    Customer         NaN       NaN   NaN     NaN
11960680       1  Subscriber         NaN       NaN   NaN     NaN
11960681       2    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11960682       1  Subscriber         1.0       0.0   1.0     0.0
11960683       1  Subscriber         1.0       0.0   1.0     0.0
11960684       2    Customer         0.0       1.0   0.0     1.0
11960685       2    Customer         0.0       1.0   0.0     1.0
11960686       2    Customer         0.0       1.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
11981228       1  Subscriber         NaN       NaN   NaN     NaN
11981229       1  Subscriber         NaN       NaN   NaN     NaN
11981230       0    Customer         NaN       NaN   NaN     NaN
11981231       0    Customer         NaN       NaN   NaN     NaN
11981232       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
11981233       2    Customer         0.0       1.0   0.0     1.0
11981234       1  Subscriber         1.0       0.0   1.0     0.0
11981235       0    Customer         0.0       1.0   0.0     0.0
11981236       2  Subscriber         1.0       0.0   0.0     1.0
11981237       0    Customer         0.0       1.0   0.0     0.0
...          ...         ...         ...       ...   ...     ...
12001779       1  Subscriber         NaN       NaN   NaN     NaN
12001780       2    Customer         NaN       NaN   NaN     NaN
12001781       1  Subscriber         NaN       NaN   NaN     NaN
12001782       1  Subscriber         NaN       NaN   NaN     NaN
12001783       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12001784       1  Subscriber         1.0       0.0   1.0     0.0
12001785       1  Subscriber         1.0       0.0   1.0     0.0
12001786       0    Customer         0.0       1.0   0.0     0.0
12001787       1  Subscriber         1.0       0.0   1.0     0.0
12001788       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
12022330       1  Subscriber         NaN       NaN   NaN     NaN
12022331       1  Subscriber         NaN       NaN   NaN     NaN
12022332       0    Customer         NaN       NaN   NaN     NaN
12022333       1  Subscriber         NaN       NaN   NaN     NaN
12022334       2    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12022335       2  Subscriber         1.0       0.0   0.0     1.0
12022336       1  Subscriber         1.0       0.0   1.0     0.0
12022337       1  Subscriber         1.0       0.0   1.0     0.0
12022338       2    Customer         0.0       1.0   0.0     1.0
12022339       2    Customer         0.0       1.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
12042881       1    Customer         NaN       NaN   NaN     NaN
12042882       0    Customer         NaN       NaN   NaN     NaN
12042883       1  Subscriber         NaN       NaN   NaN     NaN
12042884       2  Subscriber         NaN       NaN   NaN     NaN
12042885       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12042886       0    Customer         0.0       1.0   0.0     0.0
12042887       1    Customer         0.0       1.0   1.0     0.0
12042888       1  Subscriber         1.0       0.0   1.0     0.0
12042889       1    Customer         0.0       1.0   1.0     0.0
12042890       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
12063432       1  Subscriber         NaN       NaN   NaN     NaN
12063433       1  Subscriber         NaN       NaN   NaN     NaN
12063434       1    Customer         NaN       NaN   NaN     NaN
12063435       0  Subscriber         NaN       NaN   NaN     NaN
12063436       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12063437       1  Subscriber         1.0       0.0   1.0     0.0
12063438       1  Subscriber         1.0       0.0   1.0     0.0
12063439       1  Subscriber         1.0       0.0   1.0     0.0
12063440       1  Subscriber         1.0       0.0   1.0     0.0
12063441       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
12083983       1  Subscriber         NaN       NaN   NaN     NaN
12083984       1  Subscriber         NaN       NaN   NaN     NaN
12083985       1  Subscriber         NaN       NaN   NaN     NaN
12083986       1  Subscriber         NaN       NaN   NaN     NaN
12083987       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12083988       1  Subscriber         1.0       0.0   1.0     0.0
12083989       1  Subscriber         1.0       0.0   1.0     0.0
12083990       2  Subscriber         1.0       0.0   0.0     1.0
12083991       1  Subscriber         1.0       0.0   1.0     0.0
12083992       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
12104534       1  Subscriber         NaN       NaN   NaN     NaN
12104535       1  Subscriber         NaN       NaN   NaN     NaN
12104536       1  Subscriber         NaN       NaN   NaN     NaN
12104537       1  Subscriber         NaN       NaN   NaN     NaN
12104538       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12104539       0    Customer         0.0       1.0   0.0     0.0
12104540       0    Customer         0.0       1.0   0.0     0.0
12104541       2  Subscriber         1.0       0.0   0.0     1.0
12104542       1  Subscriber         1.0       0.0   1.0     0.0
12104543       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
12125085       1  Subscriber         NaN       NaN   NaN     NaN
12125086       0  Subscriber         NaN       NaN   NaN     NaN
12125087       2  Subscriber         NaN       NaN   NaN     NaN
12125088       2    Customer         NaN       NaN   NaN     NaN
12125089       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12125090       1  Subscriber         1.0       0.0   1.0     0.0
12125091       1  Subscriber         1.0       0.0   1.0     0.0
12125092       2  Subscriber         1.0       0.0   0.0     1.0
12125093       1    Customer         0.0       1.0   1.0     0.0
12125094       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
12145636       2  Subscriber         NaN       NaN   NaN     NaN
12145637       1  Subscriber         NaN       NaN   NaN     NaN
12145638       1  Subscriber         NaN       NaN   NaN     NaN
12145639       2  Subscriber         NaN       NaN   NaN     NaN
12145640       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12145641       2  Subscriber         1.0       0.0   0.0     1.0
12145642       1  Subscriber         1.0       0.0   1.0     0.0
12145643       1  Subscriber         1.0       0.0   1.0     0.0
12145644       2  Subscriber         1.0       0.0   0.0     1.0
12145645       1    Customer         0.0       1.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
12166187       2  Subscriber         NaN       NaN   NaN     NaN
12166188       1    Customer         NaN       NaN   NaN     NaN
12166189       0  Subscriber         NaN       NaN   NaN     NaN
12166190       1  Subscriber         NaN       NaN   NaN     NaN
12166191       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12166192       1  Subscriber         1.0       0.0   1.0     0.0
12166193       1  Subscriber         1.0       0.0   1.0     0.0
12166194       1  Subscriber         1.0       0.0   1.0     0.0
12166195       1  Subscriber         1.0       0.0   1.0     0.0
12166196       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
12186738       1  Subscriber         NaN       NaN   NaN     NaN
12186739       1  Subscriber         NaN       NaN   NaN     NaN
12186740       1  Subscriber         NaN       NaN   NaN     NaN
12186741       1    Customer         NaN       NaN   NaN     NaN
12186742       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12186743       0  Subscriber         1.0       0.0   0.0     0.0
12186744       1  Subscriber         1.0       0.0   1.0     0.0
12186745       2  Subscriber         1.0       0.0   0.0     1.0
12186746       1  Subscriber         1.0       0.0   1.0     0.0
12186747       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
12207289       1  Subscriber         NaN       NaN   NaN     NaN
12207290       1  Subscriber         NaN       NaN   NaN     NaN
12207291       2  Subscriber         NaN       NaN   NaN     NaN
12207292       1  Subscriber         NaN       NaN   NaN     NaN
12207293       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12207294       1  Subscriber         1.0       0.0   1.0     0.0
12207295       1  Subscriber         1.0       0.0   1.0     0.0
12207296       1  Subscriber         1.0       0.0   1.0     0.0
12207297       0    Customer         0.0       1.0   0.0     0.0
12207298       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
12227840       1  Subscriber         NaN       NaN   NaN     NaN
12227841       1  Subscriber         NaN       NaN   NaN     NaN
12227842       2    Customer         NaN       NaN   NaN     NaN
12227843       1  Subscriber         NaN       NaN   NaN     NaN
12227844       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12227845       2  Subscriber         1.0       0.0   0.0     1.0
12227846       1  Subscriber         1.0       0.0   1.0     0.0
12227847       1  Subscriber         1.0       0.0   1.0     0.0
12227848       1  Subscriber         1.0       0.0   1.0     0.0
12227849       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
12248391       1  Subscriber         NaN       NaN   NaN     NaN
12248392       2  Subscriber         NaN       NaN   NaN     NaN
12248393       1  Subscriber         NaN       NaN   NaN     NaN
12248394       1  Subscriber         NaN       NaN   NaN     NaN
12248395       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12248396       1  Subscriber         1.0       0.0   1.0     0.0
12248397       2  Subscriber         1.0       0.0   0.0     1.0
12248398       2  Subscriber         1.0       0.0   0.0     1.0
12248399       1  Subscriber         1.0       0.0   1.0     0.0
12248400       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
12268942       1  Subscriber         NaN       NaN   NaN     NaN
12268943       1  Subscriber         NaN       NaN   NaN     NaN
12268944       1  Subscriber         NaN       NaN   NaN     NaN
12268945       1    Customer         NaN       NaN   NaN     NaN
12268946       0  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12268947       1  Subscriber         1.0       0.0   1.0     0.0
12268948       1  Subscriber         1.0       0.0   1.0     0.0
12268949       2  Subscriber         1.0       0.0   0.0     1.0
12268950       1  Subscriber         1.0       0.0   1.0     0.0
12268951       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
12289493       1  Subscriber         NaN       NaN   NaN     NaN
12289494       0    Customer         NaN       NaN   NaN     NaN
12289495       1  Subscriber         NaN       NaN   NaN     NaN
12289496       1    Customer         NaN       NaN   NaN     NaN
12289497       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12289498       1  Subscriber         1.0       0.0   1.0     0.0
12289499       1  Subscriber         1.0       0.0   1.0     0.0
12289500       1    Customer         0.0       1.0   1.0     0.0
12289501       2  Subscriber         1.0       0.0   0.0     1.0
12289502       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
12310044       1  Subscriber         NaN       NaN   NaN     NaN
12310045       1  Subscriber         NaN       NaN   NaN     NaN
12310046       1  Subscriber         NaN       NaN   NaN     NaN
12310047       2  Subscriber         NaN       NaN   NaN     NaN
12310048       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12310049       2  Subscriber         1.0       0.0   0.0     1.0
12310050       1  Subscriber         1.0       0.0   1.0     0.0
12310051       1  Subscriber         1.0       0.0   1.0     0.0
12310052       1  Subscriber         1.0       0.0   1.0     0.0
12310053       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
12330595       1  Subscriber         NaN       NaN   NaN     NaN
12330596       0    Customer         NaN       NaN   NaN     NaN
12330597       1  Subscriber         NaN       NaN   NaN     NaN
12330598       1  Subscriber         NaN       NaN   NaN     NaN
12330599       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12330600       2  Subscriber         1.0       0.0   0.0     1.0
12330601       1  Subscriber         1.0       0.0   1.0     0.0
12330602       1  Subscriber         1.0       0.0   1.0     0.0
12330603       0    Customer         0.0       1.0   0.0     0.0
12330604       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
12351146       0    Customer         NaN       NaN   NaN     NaN
12351147       1  Subscriber         NaN       NaN   NaN     NaN
12351148       2    Customer         NaN       NaN   NaN     NaN
12351149       1  Subscriber         NaN       NaN   NaN     NaN
12351150       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12351151       1  Subscriber         1.0       0.0   1.0     0.0
12351152       1  Subscriber         1.0       0.0   1.0     0.0
12351153       0  Subscriber         1.0       0.0   0.0     0.0
12351154       2    Customer         0.0       1.0   0.0     1.0
12351155       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
12371697       2    Customer         NaN       NaN   NaN     NaN
12371698       1  Subscriber         NaN       NaN   NaN     NaN
12371699       1  Subscriber         NaN       NaN   NaN     NaN
12371700       1  Subscriber         NaN       NaN   NaN     NaN
12371701       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12371702       1  Subscriber         1.0       0.0   1.0     0.0
12371703       1  Subscriber         1.0       0.0   1.0     0.0
12371704       2    Customer         0.0       1.0   0.0     1.0
12371705       1  Subscriber         1.0       0.0   1.0     0.0
12371706       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
12392248       1  Subscriber         NaN       NaN   NaN     NaN
12392249       1  Subscriber         NaN       NaN   NaN     NaN
12392250       1  Subscriber         NaN       NaN   NaN     NaN
12392251       1  Subscriber         NaN       NaN   NaN     NaN
12392252       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12392253       1  Subscriber         1.0       0.0   1.0     0.0
12392254       1  Subscriber         1.0       0.0   1.0     0.0
12392255       1  Subscriber         1.0       0.0   1.0     0.0
12392256       1  Subscriber         1.0       0.0   1.0     0.0
12392257       0    Customer         0.0       1.0   0.0     0.0
...          ...         ...         ...       ...   ...     ...
12412799       1  Subscriber         NaN       NaN   NaN     NaN
12412800       1  Subscriber         NaN       NaN   NaN     NaN
12412801       2  Subscriber         NaN       NaN   NaN     NaN
12412802       1  Subscriber         NaN       NaN   NaN     NaN
12412803       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12412804       1  Subscriber         1.0       0.0   1.0     0.0
12412805       1  Subscriber         1.0       0.0   1.0     0.0
12412806       2  Subscriber         1.0       0.0   0.0     1.0
12412807       1  Subscriber         1.0       0.0   1.0     0.0
12412808       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
12433350       1  Subscriber         NaN       NaN   NaN     NaN
12433351       2  Subscriber         NaN       NaN   NaN     NaN
12433352       1  Subscriber         NaN       NaN   NaN     NaN
12433353       1  Subscriber         NaN       NaN   NaN     NaN
12433354       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12433355       2  Subscriber         1.0       0.0   0.0     1.0
12433356       1  Subscriber         1.0       0.0   1.0     0.0
12433357       1  Subscriber         1.0       0.0   1.0     0.0
12433358       1  Subscriber         1.0       0.0   1.0     0.0
12433359       1    Customer         0.0       1.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
12453901       2  Subscriber         NaN       NaN   NaN     NaN
12453902       1  Subscriber         NaN       NaN   NaN     NaN
12453903       2    Customer         NaN       NaN   NaN     NaN
12453904       1  Subscriber         NaN       NaN   NaN     NaN
12453905       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12453906       1  Subscriber         1.0       0.0   1.0     0.0
12453907       1  Subscriber         1.0       0.0   1.0     0.0
12453908       1  Subscriber         1.0       0.0   1.0     0.0
12453909       1  Subscriber         1.0       0.0   1.0     0.0
12453910       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
12474452       2    Customer         NaN       NaN   NaN     NaN
12474453       1  Subscriber         NaN       NaN   NaN     NaN
12474454       0    Customer         NaN       NaN   NaN     NaN
12474455       1  Subscriber         NaN       NaN   NaN     NaN
12474456       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12474457       1  Subscriber         1.0       0.0   1.0     0.0
12474458       1  Subscriber         1.0       0.0   1.0     0.0
12474459       0    Customer         0.0       1.0   0.0     0.0
12474460       1  Subscriber         1.0       0.0   1.0     0.0
12474461       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
12495003       1  Subscriber         NaN       NaN   NaN     NaN
12495004       2  Subscriber         NaN       NaN   NaN     NaN
12495005       1  Subscriber         NaN       NaN   NaN     NaN
12495006       0    Customer         NaN       NaN   NaN     NaN
12495007       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12495008       2  Subscriber         1.0       0.0   0.0     1.0
12495009       2  Subscriber         1.0       0.0   0.0     1.0
12495010       2    Customer         0.0       1.0   0.0     1.0
12495011       1  Subscriber         1.0       0.0   1.0     0.0
12495012       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
12515554       0    Customer         NaN       NaN   NaN     NaN
12515555       1  Subscriber         NaN       NaN   NaN     NaN
12515556       1  Subscriber         NaN       NaN   NaN     NaN
12515557       1    Customer         NaN       NaN   NaN     NaN
12515558       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12515559       1  Subscriber         1.0       0.0   1.0     0.0
12515560       1    Customer         0.0       1.0   1.0     0.0
12515561       1  Subscriber         1.0       0.0   1.0     0.0
12515562       2  Subscriber         1.0       0.0   0.0     1.0
12515563       0    Customer         0.0       1.0   0.0     0.0
...          ...         ...         ...       ...   ...     ...
12536105       1  Subscriber         NaN       NaN   NaN     NaN
12536106       1  Subscriber         NaN       NaN   NaN     NaN
12536107       1  Subscriber         NaN       NaN   NaN     NaN
12536108       2  Subscriber         NaN       NaN   NaN     NaN
12536109       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12536110       0    Customer         0.0       1.0   0.0     0.0
12536111       1  Subscriber         1.0       0.0   1.0     0.0
12536112       1  Subscriber         1.0       0.0   1.0     0.0
12536113       1  Subscriber         1.0       0.0   1.0     0.0
12536114       1    Customer         0.0       1.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
12556656       0    Customer         NaN       NaN   NaN     NaN
12556657       0    Customer         NaN       NaN   NaN     NaN
12556658       1  Subscriber         NaN       NaN   NaN     NaN
12556659       2  Subscriber         NaN       NaN   NaN     NaN
12556660       2    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12556661       2    Customer         0.0       1.0   0.0     1.0
12556662       1    Customer         0.0       1.0   1.0     0.0
12556663       0    Customer         0.0       1.0   0.0     0.0
12556664       1  Subscriber         1.0       0.0   1.0     0.0
12556665       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
12577207       2  Subscriber         NaN       NaN   NaN     NaN
12577208       1  Subscriber         NaN       NaN   NaN     NaN
12577209       0    Customer         NaN       NaN   NaN     NaN
12577210       2  Subscriber         NaN       NaN   NaN     NaN
12577211       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12577212       0    Customer         0.0       1.0   0.0     0.0
12577213       1  Subscriber         1.0       0.0   1.0     0.0
12577214       1  Subscriber         1.0       0.0   1.0     0.0
12577215       2    Customer         0.0       1.0   0.0     1.0
12577216       0  Subscriber         1.0       0.0   0.0     0.0
...          ...         ...         ...       ...   ...     ...
12597758       1  Subscriber         NaN       NaN   NaN     NaN
12597759       1  Subscriber         NaN       NaN   NaN     NaN
12597760       1  Subscriber         NaN       NaN   NaN     NaN
12597761       1  Subscriber         NaN       NaN   NaN     NaN
12597762       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12597763       0    Customer         0.0       1.0   0.0     0.0
12597764       2  Subscriber         1.0       0.0   0.0     1.0
12597765       0    Customer         0.0       1.0   0.0     0.0
12597766       1  Subscriber         1.0       0.0   1.0     0.0
12597767       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
12618309       1  Subscriber         NaN       NaN   NaN     NaN
12618310       2  Subscriber         NaN       NaN   NaN     NaN
12618311       1  Subscriber         NaN       NaN   NaN     NaN
12618312       1  Subscriber         NaN       NaN   NaN     NaN
12618313       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12618314       2  Subscriber         1.0       0.0   0.0     1.0
12618315       1  Subscriber         1.0       0.0   1.0     0.0
12618316       1  Subscriber         1.0       0.0   1.0     0.0
12618317       2  Subscriber         1.0       0.0   0.0     1.0
12618318       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
12638860       1    Customer         NaN       NaN   NaN     NaN
12638861       1    Customer         NaN       NaN   NaN     NaN
12638862       2  Subscriber         NaN       NaN   NaN     NaN
12638863       1  Subscriber         NaN       NaN   NaN     NaN
12638864       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12638865       1  Subscriber         1.0       0.0   1.0     0.0
12638866       2  Subscriber         1.0       0.0   0.0     1.0
12638867       1  Subscriber         1.0       0.0   1.0     0.0
12638868       1  Subscriber         1.0       0.0   1.0     0.0
12638869       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
12659411       1  Subscriber         NaN       NaN   NaN     NaN
12659412       1    Customer         NaN       NaN   NaN     NaN
12659413       1  Subscriber         NaN       NaN   NaN     NaN
12659414       1  Subscriber         NaN       NaN   NaN     NaN
12659415       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12659416       1  Subscriber         1.0       0.0   1.0     0.0
12659417       2  Subscriber         1.0       0.0   0.0     1.0
12659418       1    Customer         0.0       1.0   1.0     0.0
12659419       1  Subscriber         1.0       0.0   1.0     0.0
12659420       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
12679962       1  Subscriber         NaN       NaN   NaN     NaN
12679963       1  Subscriber         NaN       NaN   NaN     NaN
12679964       1  Subscriber         NaN       NaN   NaN     NaN
12679965       1  Subscriber         NaN       NaN   NaN     NaN
12679966       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12679967       1  Subscriber         1.0       0.0   1.0     0.0
12679968       1    Customer         0.0       1.0   1.0     0.0
12679969       1  Subscriber         1.0       0.0   1.0     0.0
12679970       0    Customer         0.0       1.0   0.0     0.0
12679971       1    Customer         0.0       1.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
12700513       1  Subscriber         NaN       NaN   NaN     NaN
12700514       1  Subscriber         NaN       NaN   NaN     NaN
12700515       1  Subscriber         NaN       NaN   NaN     NaN
12700516       2  Subscriber         NaN       NaN   NaN     NaN
12700517       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12700518       1  Subscriber         1.0       0.0   1.0     0.0
12700519       1  Subscriber         1.0       0.0   1.0     0.0
12700520       0  Subscriber         1.0       0.0   0.0     0.0
12700521       1  Subscriber         1.0       0.0   1.0     0.0
12700522       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
12721064       0    Customer         NaN       NaN   NaN     NaN
12721065       1  Subscriber         NaN       NaN   NaN     NaN
12721066       2    Customer         NaN       NaN   NaN     NaN
12721067       2  Subscriber         NaN       NaN   NaN     NaN
12721068       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12721069       1  Subscriber         1.0       0.0   1.0     0.0
12721070       0    Customer         0.0       1.0   0.0     0.0
12721071       2  Subscriber         1.0       0.0   0.0     1.0
12721072       1  Subscriber         1.0       0.0   1.0     0.0
12721073       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
12741615       2  Subscriber         NaN       NaN   NaN     NaN
12741616       1  Subscriber         NaN       NaN   NaN     NaN
12741617       1  Subscriber         NaN       NaN   NaN     NaN
12741618       1  Subscriber         NaN       NaN   NaN     NaN
12741619       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12741620       1  Subscriber         1.0       0.0   1.0     0.0
12741621       1  Subscriber         1.0       0.0   1.0     0.0
12741622       1  Subscriber         1.0       0.0   1.0     0.0
12741623       2  Subscriber         1.0       0.0   0.0     1.0
12741624       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
12762166       0    Customer         NaN       NaN   NaN     NaN
12762167       1  Subscriber         NaN       NaN   NaN     NaN
12762168       1  Subscriber         NaN       NaN   NaN     NaN
12762169       1  Subscriber         NaN       NaN   NaN     NaN
12762170       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12762171       1  Subscriber         1.0       0.0   1.0     0.0
12762172       1  Subscriber         1.0       0.0   1.0     0.0
12762173       1  Subscriber         1.0       0.0   1.0     0.0
12762174       1  Subscriber         1.0       0.0   1.0     0.0
12762175       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
12782717       1  Subscriber         NaN       NaN   NaN     NaN
12782718       1  Subscriber         NaN       NaN   NaN     NaN
12782719       2  Subscriber         NaN       NaN   NaN     NaN
12782720       1  Subscriber         NaN       NaN   NaN     NaN
12782721       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12782722       1  Subscriber         1.0       0.0   1.0     0.0
12782723       1  Subscriber         1.0       0.0   1.0     0.0
12782724       1  Subscriber         1.0       0.0   1.0     0.0
12782725       1  Subscriber         1.0       0.0   1.0     0.0
12782726       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
12803268       1    Customer         NaN       NaN   NaN     NaN
12803269       1  Subscriber         NaN       NaN   NaN     NaN
12803270       1  Subscriber         NaN       NaN   NaN     NaN
12803271       2    Customer         NaN       NaN   NaN     NaN
12803272       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12803273       1  Subscriber         1.0       0.0   1.0     0.0
12803274       1  Subscriber         1.0       0.0   1.0     0.0
12803275       2  Subscriber         1.0       0.0   0.0     1.0
12803276       0    Customer         0.0       1.0   0.0     0.0
12803277       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
12823819       1    Customer         NaN       NaN   NaN     NaN
12823820       1  Subscriber         NaN       NaN   NaN     NaN
12823821       1  Subscriber         NaN       NaN   NaN     NaN
12823822       1  Subscriber         NaN       NaN   NaN     NaN
12823823       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12823824       1  Subscriber         1.0       0.0   1.0     0.0
12823825       1  Subscriber         1.0       0.0   1.0     0.0
12823826       1  Subscriber         1.0       0.0   1.0     0.0
12823827       1  Subscriber         1.0       0.0   1.0     0.0
12823828       1    Customer         0.0       1.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
12844370       0    Customer         NaN       NaN   NaN     NaN
12844371       1  Subscriber         NaN       NaN   NaN     NaN
12844372       2  Subscriber         NaN       NaN   NaN     NaN
12844373       1  Subscriber         NaN       NaN   NaN     NaN
12844374       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12844375       0    Customer         0.0       1.0   0.0     0.0
12844376       2  Subscriber         1.0       0.0   0.0     1.0
12844377       2  Subscriber         1.0       0.0   0.0     1.0
12844378       0  Subscriber         1.0       0.0   0.0     0.0
12844379       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
12864921       1  Subscriber         NaN       NaN   NaN     NaN
12864922       1  Subscriber         NaN       NaN   NaN     NaN
12864923       1  Subscriber         NaN       NaN   NaN     NaN
12864924       1  Subscriber         NaN       NaN   NaN     NaN
12864925       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12864926       1  Subscriber         1.0       0.0   1.0     0.0
12864927       1  Subscriber         1.0       0.0   1.0     0.0
12864928       2  Subscriber         1.0       0.0   0.0     1.0
12864929       1  Subscriber         1.0       0.0   1.0     0.0
12864930       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
12885472       1  Subscriber         NaN       NaN   NaN     NaN
12885473       0    Customer         NaN       NaN   NaN     NaN
12885474       1  Subscriber         NaN       NaN   NaN     NaN
12885475       2  Subscriber         NaN       NaN   NaN     NaN
12885476       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12885477       1  Subscriber         1.0       0.0   1.0     0.0
12885478       1  Subscriber         1.0       0.0   1.0     0.0
12885479       1  Subscriber         1.0       0.0   1.0     0.0
12885480       1  Subscriber         1.0       0.0   1.0     0.0
12885481       1    Customer         0.0       1.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
12906023       1  Subscriber         NaN       NaN   NaN     NaN
12906024       1  Subscriber         NaN       NaN   NaN     NaN
12906025       1  Subscriber         NaN       NaN   NaN     NaN
12906026       1  Subscriber         NaN       NaN   NaN     NaN
12906027       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12906028       2  Subscriber         1.0       0.0   0.0     1.0
12906029       1  Subscriber         1.0       0.0   1.0     0.0
12906030       1  Subscriber         1.0       0.0   1.0     0.0
12906031       1  Subscriber         1.0       0.0   1.0     0.0
12906032       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
12926574       2  Subscriber         NaN       NaN   NaN     NaN
12926575       2  Subscriber         NaN       NaN   NaN     NaN
12926576       1  Subscriber         NaN       NaN   NaN     NaN
12926577       1  Subscriber         NaN       NaN   NaN     NaN
12926578       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12926579       1  Subscriber         1.0       0.0   1.0     0.0
12926580       1  Subscriber         1.0       0.0   1.0     0.0
12926581       1  Subscriber         1.0       0.0   1.0     0.0
12926582       1  Subscriber         1.0       0.0   1.0     0.0
12926583       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
12947125       1  Subscriber         NaN       NaN   NaN     NaN
12947126       1  Subscriber         NaN       NaN   NaN     NaN
12947127       2  Subscriber         NaN       NaN   NaN     NaN
12947128       0    Customer         NaN       NaN   NaN     NaN
12947129       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12947130       1  Subscriber         1.0       0.0   1.0     0.0
12947131       2  Subscriber         1.0       0.0   0.0     1.0
12947132       0    Customer         0.0       1.0   0.0     0.0
12947133       1  Subscriber         1.0       0.0   1.0     0.0
12947134       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
12967676       0  Subscriber         NaN       NaN   NaN     NaN
12967677       0    Customer         NaN       NaN   NaN     NaN
12967678       1  Subscriber         NaN       NaN   NaN     NaN
12967679       1  Subscriber         NaN       NaN   NaN     NaN
12967680       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12967681       1  Subscriber         1.0       0.0   1.0     0.0
12967682       1  Subscriber         1.0       0.0   1.0     0.0
12967683       1  Subscriber         1.0       0.0   1.0     0.0
12967684       1  Subscriber         1.0       0.0   1.0     0.0
12967685       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
12988227       0    Customer         NaN       NaN   NaN     NaN
12988228       1  Subscriber         NaN       NaN   NaN     NaN
12988229       0    Customer         NaN       NaN   NaN     NaN
12988230       2  Subscriber         NaN       NaN   NaN     NaN
12988231       2    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
12988232       0  Subscriber         1.0       0.0   0.0     0.0
12988233       1  Subscriber         1.0       0.0   1.0     0.0
12988234       0    Customer         0.0       1.0   0.0     0.0
12988235       1    Customer         0.0       1.0   1.0     0.0
12988236       0    Customer         0.0       1.0   0.0     0.0
...          ...         ...         ...       ...   ...     ...
13008778       2  Subscriber         NaN       NaN   NaN     NaN
13008779       1  Subscriber         NaN       NaN   NaN     NaN
13008780       2  Subscriber         NaN       NaN   NaN     NaN
13008781       2  Subscriber         NaN       NaN   NaN     NaN
13008782       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
13008783       1  Subscriber         1.0       0.0   1.0     0.0
13008784       0    Customer         0.0       1.0   0.0     0.0
13008785       2    Customer         0.0       1.0   0.0     1.0
13008786       2    Customer         0.0       1.0   0.0     1.0
13008787       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
13029329       2  Subscriber         NaN       NaN   NaN     NaN
13029330       0    Customer         NaN       NaN   NaN     NaN
13029331       1  Subscriber         NaN       NaN   NaN     NaN
13029332       1  Subscriber         NaN       NaN   NaN     NaN
13029333       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
13029334       2  Subscriber         1.0       0.0   0.0     1.0
13029335       1  Subscriber         1.0       0.0   1.0     0.0
13029336       2    Customer         0.0       1.0   0.0     1.0
13029337       1  Subscriber         1.0       0.0   1.0     0.0
13029338       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
13049880       1  Subscriber         NaN       NaN   NaN     NaN
13049881       1  Subscriber         NaN       NaN   NaN     NaN
13049882       1    Customer         NaN       NaN   NaN     NaN
13049883       1  Subscriber         NaN       NaN   NaN     NaN
13049884       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
13049885       1  Subscriber         1.0       0.0   1.0     0.0
13049886       1  Subscriber         1.0       0.0   1.0     0.0
13049887       2  Subscriber         1.0       0.0   0.0     1.0
13049888       1  Subscriber         1.0       0.0   1.0     0.0
13049889       0    Customer         0.0       1.0   0.0     0.0
...          ...         ...         ...       ...   ...     ...
13070431       2  Subscriber         NaN       NaN   NaN     NaN
13070432       1  Subscriber         NaN       NaN   NaN     NaN
13070433       2    Customer         NaN       NaN   NaN     NaN
13070434       0    Customer         NaN       NaN   NaN     NaN
13070435       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
13070436       2  Subscriber         1.0       0.0   0.0     1.0
13070437       2  Subscriber         1.0       0.0   0.0     1.0
13070438       1  Subscriber         1.0       0.0   1.0     0.0
13070439       1  Subscriber         1.0       0.0   1.0     0.0
13070440       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
13090982       1  Subscriber         NaN       NaN   NaN     NaN
13090983       1    Customer         NaN       NaN   NaN     NaN
13090984       2    Customer         NaN       NaN   NaN     NaN
13090985       1    Customer         NaN       NaN   NaN     NaN
13090986       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
13090987       1  Subscriber         1.0       0.0   1.0     0.0
13090988       1  Subscriber         1.0       0.0   1.0     0.0
13090989       1  Subscriber         1.0       0.0   1.0     0.0
13090990       1  Subscriber         1.0       0.0   1.0     0.0
13090991       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
13111533       0    Customer         NaN       NaN   NaN     NaN
13111534       1    Customer         NaN       NaN   NaN     NaN
13111535       0    Customer         NaN       NaN   NaN     NaN
13111536       1  Subscriber         NaN       NaN   NaN     NaN
13111537       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
13111538       1  Subscriber         1.0       0.0   1.0     0.0
13111539       1  Subscriber         1.0       0.0   1.0     0.0
13111540       1    Customer         0.0       1.0   1.0     0.0
13111541       0    Customer         0.0       1.0   0.0     0.0
13111542       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
13132084       2  Subscriber         NaN       NaN   NaN     NaN
13132085       2  Subscriber         NaN       NaN   NaN     NaN
13132086       1  Subscriber         NaN       NaN   NaN     NaN
13132087       1    Customer         NaN       NaN   NaN     NaN
13132088       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
13132089       1  Subscriber         1.0       0.0   1.0     0.0
13132090       1  Subscriber         1.0       0.0   1.0     0.0
13132091       2  Subscriber         1.0       0.0   0.0     1.0
13132092       1  Subscriber         1.0       0.0   1.0     0.0
13132093       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
13152635       1  Subscriber         NaN       NaN   NaN     NaN
13152636       1  Subscriber         NaN       NaN   NaN     NaN
13152637       2  Subscriber         NaN       NaN   NaN     NaN
13152638       1  Subscriber         NaN       NaN   NaN     NaN
13152639       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
13152640       2  Subscriber         1.0       0.0   0.0     1.0
13152641       1  Subscriber         1.0       0.0   1.0     0.0
13152642       2  Subscriber         1.0       0.0   0.0     1.0
13152643       1  Subscriber         1.0       0.0   1.0     0.0
13152644       0    Customer         0.0       1.0   0.0     0.0
...          ...         ...         ...       ...   ...     ...
13173186       1  Subscriber         NaN       NaN   NaN     NaN
13173187       0  Subscriber         NaN       NaN   NaN     NaN
13173188       1  Subscriber         NaN       NaN   NaN     NaN
13173189       2    Customer         NaN       NaN   NaN     NaN
13173190       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
13173191       1    Customer         0.0       1.0   1.0     0.0
13173192       0    Customer         0.0       1.0   0.0     0.0
13173193       1  Subscriber         1.0       0.0   1.0     0.0
13173194       1  Subscriber         1.0       0.0   1.0     0.0
13173195       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
13193737       1  Subscriber         NaN       NaN   NaN     NaN
13193738       1  Subscriber         NaN       NaN   NaN     NaN
13193739       1  Subscriber         NaN       NaN   NaN     NaN
13193740       0    Customer         NaN       NaN   NaN     NaN
13193741       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
13193742       0    Customer         0.0       1.0   0.0     0.0
13193743       1  Subscriber         1.0       0.0   1.0     0.0
13193744       0    Customer         0.0       1.0   0.0     0.0
13193745       2  Subscriber         1.0       0.0   0.0     1.0
13193746       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
13214288       1  Subscriber         NaN       NaN   NaN     NaN
13214289       1  Subscriber         NaN       NaN   NaN     NaN
13214290       1  Subscriber         NaN       NaN   NaN     NaN
13214291       1  Subscriber         NaN       NaN   NaN     NaN
13214292       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
13214293       1  Subscriber         1.0       0.0   1.0     0.0
13214294       1  Subscriber         1.0       0.0   1.0     0.0
13214295       1    Customer         0.0       1.0   1.0     0.0
13214296       1  Subscriber         1.0       0.0   1.0     0.0
13214297       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
13234839       1  Subscriber         NaN       NaN   NaN     NaN
13234840       2  Subscriber         NaN       NaN   NaN     NaN
13234841       2  Subscriber         NaN       NaN   NaN     NaN
13234842       1  Subscriber         NaN       NaN   NaN     NaN
13234843       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
13234844       1    Customer         0.0       1.0   1.0     0.0
13234845       2  Subscriber         1.0       0.0   0.0     1.0
13234846       1  Subscriber         1.0       0.0   1.0     0.0
13234847       1  Subscriber         1.0       0.0   1.0     0.0
13234848       0    Customer         0.0       1.0   0.0     0.0
...          ...         ...         ...       ...   ...     ...
13255390       1  Subscriber         NaN       NaN   NaN     NaN
13255391       1  Subscriber         NaN       NaN   NaN     NaN
13255392       1  Subscriber         NaN       NaN   NaN     NaN
13255393       1  Subscriber         NaN       NaN   NaN     NaN
13255394       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
13255395       1  Subscriber         1.0       0.0   1.0     0.0
13255396       0    Customer         0.0       1.0   0.0     0.0
13255397       2  Subscriber         1.0       0.0   0.0     1.0
13255398       1  Subscriber         1.0       0.0   1.0     0.0
13255399       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
13275941       2  Subscriber         NaN       NaN   NaN     NaN
13275942       1  Subscriber         NaN       NaN   NaN     NaN
13275943       1  Subscriber         NaN       NaN   NaN     NaN
13275944       1  Subscriber         NaN       NaN   NaN     NaN
13275945       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
13275946       1    Customer         0.0       1.0   1.0     0.0
13275947       1  Subscriber         1.0       0.0   1.0     0.0
13275948       1  Subscriber         1.0       0.0   1.0     0.0
13275949       1    Customer         0.0       1.0   1.0     0.0
13275950       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
13296492       1  Subscriber         NaN       NaN   NaN     NaN
13296493       1  Subscriber         NaN       NaN   NaN     NaN
13296494       1  Subscriber         NaN       NaN   NaN     NaN
13296495       1  Subscriber         NaN       NaN   NaN     NaN
13296496       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
13296497       1  Subscriber         1.0       0.0   1.0     0.0
13296498       2  Subscriber         1.0       0.0   0.0     1.0
13296499       1  Subscriber         1.0       0.0   1.0     0.0
13296500       1  Subscriber         1.0       0.0   1.0     0.0
13296501       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
13317043       1  Subscriber         NaN       NaN   NaN     NaN
13317044       2  Subscriber         NaN       NaN   NaN     NaN
13317045       1  Subscriber         NaN       NaN   NaN     NaN
13317046       1  Subscriber         NaN       NaN   NaN     NaN
13317047       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
13317048       1  Subscriber         1.0       0.0   1.0     0.0
13317049       1  Subscriber         1.0       0.0   1.0     0.0
13317050       1    Customer         0.0       1.0   1.0     0.0
13317051       2  Subscriber         1.0       0.0   0.0     1.0
13317052       0  Subscriber         1.0       0.0   0.0     0.0
...          ...         ...         ...       ...   ...     ...
13337594       0  Subscriber         NaN       NaN   NaN     NaN
13337595       1  Subscriber         NaN       NaN   NaN     NaN
13337596       2  Subscriber         NaN       NaN   NaN     NaN
13337597       0    Customer         NaN       NaN   NaN     NaN
13337598       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
13337599       2  Subscriber         1.0       0.0   0.0     1.0
13337600       1  Subscriber         1.0       0.0   1.0     0.0
13337601       1  Subscriber         1.0       0.0   1.0     0.0
13337602       1  Subscriber         1.0       0.0   1.0     0.0
13337603       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
13358145       2  Subscriber         NaN       NaN   NaN     NaN
13358146       1  Subscriber         NaN       NaN   NaN     NaN
13358147       1    Customer         NaN       NaN   NaN     NaN
13358148       1  Subscriber         NaN       NaN   NaN     NaN
13358149       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
13358150       1  Subscriber         1.0       0.0   1.0     0.0
13358151       1  Subscriber         1.0       0.0   1.0     0.0
13358152       2  Subscriber         1.0       0.0   0.0     1.0
13358153       2  Subscriber         1.0       0.0   0.0     1.0
13358154       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
13378696       1  Subscriber         NaN       NaN   NaN     NaN
13378697       1  Subscriber         NaN       NaN   NaN     NaN
13378698       2  Subscriber         NaN       NaN   NaN     NaN
13378699       1  Subscriber         NaN       NaN   NaN     NaN
13378700       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
13378701       1  Subscriber         1.0       0.0   1.0     0.0
13378702       0    Customer         0.0       1.0   0.0     0.0
13378703       2  Subscriber         1.0       0.0   0.0     1.0
13378704       1  Subscriber         1.0       0.0   1.0     0.0
13378705       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
13399247       0    Customer         NaN       NaN   NaN     NaN
13399248       0    Customer         NaN       NaN   NaN     NaN
13399249       1  Subscriber         NaN       NaN   NaN     NaN
13399250       2  Subscriber         NaN       NaN   NaN     NaN
13399251       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
13399252       2  Subscriber         1.0       0.0   0.0     1.0
13399253       1  Subscriber         1.0       0.0   1.0     0.0
13399254       1  Subscriber         1.0       0.0   1.0     0.0
13399255       1    Customer         0.0       1.0   1.0     0.0
13399256       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
13419798       1  Subscriber         NaN       NaN   NaN     NaN
13419799       1  Subscriber         NaN       NaN   NaN     NaN
13419800       1  Subscriber         NaN       NaN   NaN     NaN
13419801       2  Subscriber         NaN       NaN   NaN     NaN
13419802       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
13419803       1  Subscriber         1.0       0.0   1.0     0.0
13419804       0    Customer         0.0       1.0   0.0     0.0
13419805       1  Subscriber         1.0       0.0   1.0     0.0
13419806       1  Subscriber         1.0       0.0   1.0     0.0
13419807       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
13440349       1  Subscriber         NaN       NaN   NaN     NaN
13440350       1  Subscriber         NaN       NaN   NaN     NaN
13440351       2  Subscriber         NaN       NaN   NaN     NaN
13440352       2  Subscriber         NaN       NaN   NaN     NaN
13440353       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]

i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
13440354       1  Subscriber         1.0       0.0   1.0     0.0
13440355       1  Subscriber         1.0       0.0   1.0     0.0
13440356       2    Customer         0.0       1.0   0.0     1.0
13440357       0  Subscriber         1.0       0.0   0.0     0.0
13440358       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
13460900       0    Customer         NaN       NaN   NaN     NaN
13460901       1  Subscriber         NaN       NaN   NaN     NaN
13460902       0    Customer         NaN       NaN   NaN     NaN
13460903       1  Subscriber         NaN       NaN   NaN     NaN
13460904       0    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
13460905       2  Subscriber         1.0       0.0   0.0     1.0
13460906       1  Subscriber         1.0       0.0   1.0     0.0
13460907       1  Subscriber         1.0       0.0   1.0     0.0
13460908       1  Subscriber         1.0       0.0   1.0     0.0
13460909       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
13481451       1  Subscriber         NaN       NaN   NaN     NaN
13481452       0    Customer         NaN       NaN   NaN     NaN
13481453       1  Subscriber         NaN       NaN   NaN     NaN
13481454       0    Customer         NaN       NaN   NaN     NaN
13481455       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
13481456       1  Subscriber         1.0       0.0   1.0     0.0
13481457       1  Subscriber         1.0       0.0   1.0     0.0
13481458       1  Subscriber         1.0       0.0   1.0     0.0
13481459       2    Customer         0.0       1.0   0.0     1.0
13481460       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
13502002       1  Subscriber         NaN       NaN   NaN     NaN
13502003       0    Customer         NaN       NaN   NaN     NaN
13502004       2  Subscriber         NaN       NaN   NaN     NaN
13502005       1  Subscriber         NaN       NaN   NaN     NaN
13502006       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
13502007       2    Customer         0.0       1.0   0.0     1.0
13502008       1  Subscriber         1.0       0.0   1.0     0.0
13502009       1  Subscriber         1.0       0.0   1.0     0.0
13502010       1  Subscriber         1.0       0.0   1.0     0.0
13502011       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
13522553       2  Subscriber         NaN       NaN   NaN     NaN
13522554       1  Subscriber         NaN       NaN   NaN     NaN
13522555       2    Customer         NaN       NaN   NaN     NaN
13522556       2  Subscriber         NaN       NaN   NaN     NaN
13522557       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
13522558       1  Subscriber         1.0       0.0   1.0     0.0
13522559       2    Customer         0.0       1.0   0.0     1.0
13522560       1  Subscriber         1.0       0.0   1.0     0.0
13522561       1  Subscriber         1.0       0.0   1.0     0.0
13522562       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
13543104       1  Subscriber         NaN       NaN   NaN     NaN
13543105       1    Customer         NaN       NaN   NaN     NaN
13543106       1  Subscriber         NaN       NaN   NaN     NaN
13543107       1  Subscriber         NaN       NaN   NaN     NaN
13543108       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
13543109       1  Subscriber         1.0       0.0   1.0     0.0
13543110       1  Subscriber         1.0       0.0   1.0     0.0
13543111       1    Customer         0.0       1.0   1.0     0.0
13543112       1  Subscriber         1.0       0.0   1.0     0.0
13543113       2  Subscriber         1.0       0.0   0.0     1.0
...          ...         ...         ...       ...   ...     ...
13563655       1  Subscriber         NaN       NaN   NaN     NaN
13563656       1  Subscriber         NaN       NaN   NaN     NaN
13563657       1    Customer         NaN       NaN   NaN     NaN
13563658       1  Subscriber         NaN       NaN   NaN     NaN
13563659       2  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
13563660       2    Customer         0.0       1.0   0.0     1.0
13563661       2  Subscriber         1.0       0.0   0.0     1.0
13563662       0    Customer         0.0       1.0   0.0     0.0
13563663       1  Subscriber         1.0       0.0   1.0     0.0
13563664       1    Customer         0.0       1.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
13584206       1  Subscriber         NaN       NaN   NaN     NaN
13584207       0    Customer         NaN       NaN   NaN     NaN
13584208       1  Subscriber         NaN       NaN   NaN     NaN
13584209       2  Subscriber         NaN       NaN   NaN     NaN
13584210       1  Subscriber         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000
i= 10000
          gender    usertype  subscriber  customer  male  female
13584211       1  Subscriber         1.0       0.0   1.0     0.0
13584212       1  Subscriber         1.0       0.0   1.0     0.0
13584213       1    Customer         0.0       1.0   1.0     0.0
13584214       1  Subscriber         1.0       0.0   1.0     0.0
13584215       1  Subscriber         1.0       0.0   1.0     0.0
...          ...         ...         ...       ...   ...     ...
13604757       2  Subscriber         NaN       NaN   NaN     NaN
13604758       0    Customer         NaN       NaN   NaN     NaN
13604759       1  Subscriber         NaN       NaN   NaN     NaN
13604760       1  Subscriber         NaN       NaN   NaN     NaN
13604761       1    Customer         NaN       NaN   NaN     NaN

[20551 rows x 6 columns]
i= 10000

KeyboardInterrupt:

In [110]:
gender_subscription_df_list[0].loc[20500:20549, :]

       gender    usertype  subscriber  customer  male  female
20500       0    Customer         NaN       NaN   NaN     NaN
20501       1  Subscriber         NaN       NaN   NaN     NaN
20502       0    Customer         NaN       NaN   NaN     NaN
20503       0    Customer         NaN       NaN   NaN     NaN
20504       1  Subscriber         NaN       NaN   NaN     NaN
20505       0    Customer         NaN       NaN   NaN     NaN
20506       0    Customer         NaN       NaN   NaN     NaN
20507       1  Subscriber         NaN       NaN   NaN     NaN
20508       2  Subscriber         NaN       NaN   NaN     NaN
20509       1  Subscriber         NaN       NaN   NaN     NaN
20510       1  Subscriber         NaN       NaN   NaN     NaN
20511       1  Subscriber         NaN       NaN   NaN     NaN
20512       1  Subscriber         NaN       NaN   NaN     NaN
20513       2  Subscriber         NaN       NaN   NaN     NaN
20514       1  Subscriber         NaN       NaN   NaN     NaN
20515       1  Subscriber         NaN       NaN   NaN     NaN
20516       2  Subscriber         NaN       NaN   NaN     NaN
20517       1  Subscriber         NaN       NaN   NaN     NaN
20518       2  Subscriber         NaN       NaN   NaN     NaN
20519       1  Subscriber         NaN       NaN   NaN     NaN
20520       1  Subscriber         NaN       NaN   NaN     NaN
20521       1  Subscriber         NaN       NaN   NaN     NaN
20522       1  Subscriber         NaN       NaN   NaN     NaN
20523       1  Subscriber         NaN       NaN   NaN     NaN
20524       1    Customer         NaN       NaN   NaN     NaN
20525       1  Subscriber         NaN       NaN   NaN     NaN
20526       1  Subscriber         NaN       NaN   NaN     NaN
20527       0    Customer         NaN       NaN   NaN     NaN
20528       1  Subscriber         NaN       NaN   NaN     NaN
20529       1  Subscriber         NaN       NaN   NaN     NaN
20530       1  Subscriber         NaN       NaN   NaN     NaN
20531       1  Subscriber         NaN       NaN   NaN     NaN
20532       2  Subscriber         NaN       NaN   NaN     NaN
20533       1  Subscriber         NaN       NaN   NaN     NaN
20534       1  Subscriber         NaN       NaN   NaN     NaN
20535       1  Subscriber         NaN       NaN   NaN     NaN
20536       1  Subscriber         NaN       NaN   NaN     NaN
20537       1  Subscriber         NaN       NaN   NaN     NaN
20538       1  Subscriber         NaN       NaN   NaN     NaN
20539       1  Subscriber         NaN       NaN   NaN     NaN
20540       1  Subscriber         NaN       NaN   NaN     NaN
20541       0    Customer         NaN       NaN   NaN     NaN
20542       2  Subscriber         NaN       NaN   NaN     NaN
20543       1  Subscriber         NaN       NaN   NaN     NaN
20544       1  Subscriber         NaN       NaN   NaN     NaN
20545       1  Subscriber         NaN       NaN   NaN     NaN
20546       1  Subscriber         NaN       NaN   NaN     NaN
20547       1    Customer         NaN       NaN   NaN     NaN
20548       2    Customer         NaN       NaN   NaN     NaN
20549       2  Subscriber         NaN       NaN   NaN     NaN

In [111]:
gender_subscription_df_list[0].to_csv(path+'first_part_of_df.csv')

In [103]:
gender_subscription_df_list

[       gender    usertype  subscriber  customer  male  female
 0           1  Subscriber         1.0       0.0   1.0     0.0
 1           1  Subscriber         1.0       0.0   1.0     0.0
 2           1  Subscriber         1.0       0.0   1.0     0.0
 3           1  Subscriber         1.0       0.0   1.0     0.0
 4           1  Subscriber         1.0       0.0   1.0     0.0
 ...       ...         ...         ...       ...   ...     ...
 20547       1    Customer         NaN       NaN   NaN     NaN
 20548       2    Customer         NaN       NaN   NaN     NaN
 20549       2  Subscriber         NaN       NaN   NaN     NaN
 20550       1  Subscriber         NaN       NaN   NaN     NaN
 20551       1    Customer         NaN       NaN   NaN     NaN

 [20552 rows x 6 columns],
        gender    usertype  subscriber  customer  male  female
 20551       1    Customer         NaN       NaN   NaN     NaN
 20552       0    Customer         NaN       NaN   NaN     NaN
 20553       1    Customer         NaN       NaN   NaN     NaN
 20554       2  Subscriber         NaN       NaN   NaN     NaN
 20555       1  Subscriber         NaN       NaN   NaN     NaN
 ...       ...         ...         ...       ...   ...     ...
 41098       2  Subscriber         NaN       NaN   NaN     NaN
 41099       1  Subscriber         NaN       NaN   NaN     NaN
 41100       1  Subscriber         NaN       NaN   NaN     NaN
 41101       2  Subscriber         NaN       NaN   NaN     NaN
 41102       1  Subscriber         NaN       NaN   NaN     NaN

 [20552 rows x 6 columns],
        gender    usertype  subscriber  customer  male  female
 41102       1  Subscriber         NaN       NaN   NaN     NaN
 41103       1  Subscriber         NaN       NaN   NaN     NaN
 41104       2  Subscriber         NaN       NaN   NaN     NaN
 41105       2  Subscriber         NaN       NaN   NaN     NaN
 41106       0    Customer         NaN       NaN   NaN     NaN
 ...       ...         ...         ...       ...   ...     ...
 61649       2  Subscriber         NaN       NaN   NaN     NaN
 61650       1  Subscriber         NaN       NaN   NaN     NaN
 61651       1  Subscriber         NaN       NaN   NaN     NaN
 61652       2  Subscriber         NaN       NaN   NaN     NaN
 61653       1  Subscriber         NaN       NaN   NaN     NaN

 [20552 rows x 6 columns],
        gender    usertype  subscriber  customer  male  female
 61653       1  Subscriber         NaN       NaN   NaN     NaN
 61654       2  Subscriber         NaN       NaN   NaN     NaN
 61655       1  Subscriber         NaN       NaN   NaN     NaN
 61656       1  Subscriber         NaN       NaN   NaN     NaN
 61657       1  Subscriber         NaN       NaN   NaN     NaN
 ...       ...         ...         ...       ...   ...     ...
 82200       2  Subscriber         NaN       NaN   NaN     NaN
 82201       1  Subscriber         NaN       NaN   NaN     NaN
 82202       1  Subscriber         NaN       NaN   NaN     NaN
 82203       2  Subscriber         NaN       NaN   NaN     NaN
 82204       1  Subscriber         NaN       NaN   NaN     NaN

 [20552 rows x 6 columns],
         gender    usertype  subscriber  customer  male  female
 82204        1  Subscriber         NaN       NaN   NaN     NaN
 82205        1  Subscriber         NaN       NaN   NaN     NaN
 82206        2    Customer         NaN       NaN   NaN     NaN
 82207        1  Subscriber         NaN       NaN   NaN     NaN
 82208        1  Subscriber         NaN       NaN   NaN     NaN
 ...        ...         ...         ...       ...   ...     ...
 102751       2  Subscriber         NaN       NaN   NaN     NaN
 102752       1  Subscriber         NaN       NaN   NaN     NaN
 102753       2  Subscriber         NaN       NaN   NaN     NaN
 102754       1  Subscriber         NaN       NaN   NaN     NaN
 102755       1  Subscriber         NaN       NaN   NaN     NaN

 [20552 rows x 6 columns],
         gender    usertype  subscriber  customer  male  female
 102755       1  Subscriber         NaN       NaN   NaN     NaN
 102756       2  Subscriber         NaN       NaN   NaN     NaN
 102757       1  Subscriber         NaN       NaN   NaN     NaN
 102758       1  Subscriber         NaN       NaN   NaN     NaN
 102759       1  Subscriber         NaN       NaN   NaN     NaN
 ...        ...         ...         ...       ...   ...     ...
 123302       1    Customer         NaN       NaN   NaN     NaN
 123303       1  Subscriber         NaN       NaN   NaN     NaN
 123304       1  Subscriber         NaN       NaN   NaN     NaN
 123305       2  Subscriber         NaN       NaN   NaN     NaN
 123306       2  Subscriber         NaN       NaN   NaN     NaN

 [20552 rows x 6 columns],
         gender    usertype  subscriber  customer  male  female
 123306       2  Subscriber         NaN       NaN   NaN     NaN
 123307       1  Subscriber         NaN       NaN   NaN     NaN
 123308       1  Subscriber         NaN       NaN   NaN     NaN
 123309       1  Subscriber         NaN       NaN   NaN     NaN
 123310       2  Subscriber         NaN       NaN   NaN     NaN
 ...        ...         ...         ...       ...   ...     ...
 143853       1  Subscriber         NaN       NaN   NaN     NaN
 143854       1  Subscriber         NaN       NaN   NaN     NaN
 143855       1  Subscriber         NaN       NaN   NaN     NaN
 143856       2  Subscriber         NaN       NaN   NaN     NaN
 143857       1  Subscriber         NaN       NaN   NaN     NaN

 [20552 rows x 6 columns],
         gender    usertype  subscriber  customer  male  female
 143857       1  Subscriber         NaN       NaN   NaN     NaN
 143858       1  Subscriber         NaN       NaN   NaN     NaN
 143859       2  Subscriber         NaN       NaN   NaN     NaN
 143860       2  Subscriber         NaN       NaN   NaN     NaN
 143861       1  Subscriber         NaN       NaN   NaN     NaN
 ...        ...         ...         ...       ...   ...     ...
 164404       2  Subscriber         NaN       NaN   NaN     NaN
 164405       1  Subscriber         NaN       NaN   NaN     NaN
 164406       1    Customer         NaN       NaN   NaN     NaN
 164407       2  Subscriber         NaN       NaN   NaN     NaN
 164408       2  Subscriber         NaN       NaN   NaN     NaN

 [20552 rows x 6 columns],
         gender    usertype  subscriber  customer  male  female
 164408       2  Subscriber         NaN       NaN   NaN     NaN
 164409       1  Subscriber         NaN       NaN   NaN     NaN
 164410       1  Subscriber         NaN       NaN   NaN     NaN
 164411       1  Subscriber         NaN       NaN   NaN     NaN
 164412       2  Subscriber         NaN       NaN   NaN     NaN
 ...        ...         ...         ...       ...   ...     ...
 184955       1  Subscriber         NaN       NaN   NaN     NaN
 184956       1  Subscriber         NaN       NaN   NaN     NaN
 184957       1  Subscriber         NaN       NaN   NaN     NaN
 184958       1  Subscriber         NaN       NaN   NaN     NaN
 184959       1  Subscriber         NaN       NaN   NaN     NaN

 [20552 rows x 6 columns],
         gender    usertype  subscriber  customer  male  female
 184959       1  Subscriber         NaN       NaN   NaN     NaN
 184960       1  Subscriber         NaN       NaN   NaN     NaN
 184961       1  Subscriber         NaN       NaN   NaN     NaN
 184962       1    Customer         NaN       NaN   NaN     NaN
 184963       1  Subscriber         NaN       NaN   NaN     NaN
 ...        ...         ...         ...       ...   ...     ...
 205506       1  Subscriber         NaN       NaN   NaN     NaN
 205507       1  Subscriber         NaN       NaN   NaN     NaN
 205508       1  Subscriber         NaN       NaN   NaN     NaN
 205509       2  Subscriber         NaN       NaN   NaN     NaN
 205510       1  Subscriber         NaN       NaN   NaN     NaN

 [20552 rows x 6 columns],
         gender    usertype  subscriber  customer  male  female
 205510       1  Subscriber         NaN       NaN   NaN     NaN
 205511       2  Subscriber         NaN       NaN   NaN     NaN
 205512       1  Subscriber         NaN       NaN   NaN     NaN
 205513       2  Subscriber         NaN       NaN   NaN     NaN
 205514       1  Subscriber         NaN       NaN   NaN     NaN
 ...        ...         ...         ...       ...   ...     ...
 226057       1  Subscriber         NaN       NaN   NaN     NaN
 226058       1  Subscriber         NaN       NaN   NaN     NaN
 226059       1  Subscriber         NaN       NaN   NaN     NaN
 226060       1  Subscriber         NaN       NaN   NaN     NaN
 226061       1  Subscriber         NaN       NaN   NaN     NaN

 [20552 rows x 6 columns],
         gender    usertype  subscriber  customer  male  female
 226061       1  Subscriber         NaN       NaN   NaN     NaN
 226062       1  Subscriber         NaN       NaN   NaN     NaN
 226063       1  Subscriber         NaN       NaN   NaN     NaN
 226064       1  Subscriber         NaN       NaN   NaN     NaN
 226065       0    Customer         NaN       NaN   NaN     NaN
 ...        ...         ...         ...       ...   ...     ...
 246608       1  Subscriber         NaN       NaN   NaN     NaN
 246609       2  Subscriber         NaN       NaN   NaN     NaN
 246610       1  Subscriber         NaN       NaN   NaN     NaN
 246611       1  Subscriber         NaN       NaN   NaN     NaN
 246612       1  Subscriber         NaN       NaN   NaN     NaN

 [20552 rows x 6 columns],
         gender    usertype  subscriber  customer  male  female
 246612       1  Subscriber         NaN       NaN   NaN     NaN
 246613       1  Subscriber         NaN       NaN   NaN     NaN
 246614       1  Subscriber         NaN       NaN   NaN     NaN
 246615       1  Subscriber         NaN       NaN   NaN     NaN
 246616       1  Subscriber         NaN       NaN   NaN     NaN
 ...        ...         ...         ...       ...   ...     ...
 267159       1  Subscriber         NaN       NaN   NaN     NaN
 267160       2  Subscriber         NaN       NaN   NaN     NaN
 267161       2  Subscriber         NaN       NaN   NaN     NaN
 267162       1  Subscriber         NaN       NaN   NaN     NaN
 267163       1  Subscriber         NaN       NaN   NaN     NaN

 [20552 rows x 6 columns],
         gender    usertype  subscriber  customer  male  female
 267163       1  Subscriber         NaN       NaN   NaN     NaN
 267164       1  Subscriber         NaN       NaN   NaN     NaN
 267165       1  Subscriber         NaN       NaN   NaN     NaN
 267166       1  Subscriber         NaN       NaN   NaN     NaN
 267167       1  Subscriber         NaN       NaN   NaN     NaN
 ...        ...         ...         ...       ...   ...     ...
 287710       2  Subscriber         NaN       NaN   NaN     NaN
 287711       1  Subscriber         NaN       NaN   NaN     NaN
 287712       2  Subscriber         NaN       NaN   NaN     NaN
 287713       1  Subscriber         NaN       NaN   NaN     NaN
 287714       2  Subscriber         NaN       NaN   NaN     NaN

 [20552 rows x 6 columns],
         gender    usertype  subscriber  customer  male  female
 287714       2  Subscriber         NaN       NaN   NaN     NaN
 287715       1  Subscriber         NaN       NaN   NaN     NaN
 287716       1  Subscriber         NaN       NaN   NaN     NaN
 287717       1  Subscriber         NaN       NaN   NaN     NaN
 287718       1  Subscriber         NaN       NaN   NaN     NaN
 ...        ...         ...         ...       ...   ...     ...
 308261       1  Subscriber         NaN       NaN   NaN     NaN
 308262       2  Subscriber         NaN       NaN   NaN     NaN
 308263       1  Subscriber         NaN       NaN   NaN     NaN
 308264       1  Subscriber         NaN       NaN   NaN     NaN
 308265       1  Subscriber         NaN       NaN   NaN     NaN

 [20552 rows x 6 columns],
         gender    usertype  subscriber  customer  male  female
 308265       1  Subscriber         NaN       NaN   NaN     NaN
 308266       0    Customer         NaN       NaN   NaN     NaN
 308267       1  Subscriber         NaN       NaN   NaN     NaN
 308268       1  Subscriber         NaN       NaN   NaN     NaN
 308269       1  Subscriber         NaN       NaN   NaN     NaN
 ...        ...         ...         ...       ...   ...     ...
 328812       1  Subscriber         NaN       NaN   NaN     NaN
 328813       2  Subscriber         NaN       NaN   NaN     NaN
 328814       1  Subscriber         NaN       NaN   NaN     NaN
 328815       1  Subscriber         NaN       NaN   NaN     NaN
 328816       1  Subscriber         NaN       NaN   NaN     NaN

 [20552 rows x 6 columns],
         gender    usertype  subscriber  customer  male  female
 328816       1  Subscriber         NaN       NaN   NaN     NaN
 328817       1  Subscriber         NaN       NaN   NaN     NaN
 328818       1  Subscriber         NaN       NaN   NaN     NaN
 328819       2  Subscriber         NaN       NaN   NaN     NaN
 328820       1  Subscriber         NaN       NaN   NaN     NaN
 ...        ...         ...         ...       ...   ...     ...
 349363       1  Subscriber         NaN       NaN   NaN     NaN
 349364       1  Subscriber         NaN       NaN   NaN     NaN
 349365       2  Subscriber         NaN       NaN   NaN     NaN
 349366       1  Subscriber         NaN       NaN   NaN     NaN
 349367       1  Subscriber         NaN       NaN   NaN     NaN

 [20552 rows x 6 columns],
         gender    usertype  subscriber  customer  male  female
 349367       1  Subscriber         NaN       NaN   NaN     NaN
 349368       1  Subscriber         NaN       NaN   NaN     NaN
 349369       1  Subscriber         NaN       NaN   NaN     NaN
 349370       1  Subscriber         NaN       NaN   NaN     NaN
 349371       1  Subscriber         NaN       NaN   NaN     NaN
 ...        ...         ...         ...       ...   ...     ...
 369914       1  Subscriber         NaN       NaN   NaN     NaN
 369915       1  Subscriber         NaN       NaN   NaN     NaN
 369916       1  Subscriber         NaN       NaN   NaN     NaN
 369917       1  Subscriber         NaN       NaN   NaN     NaN
 369918       2  Subscriber         NaN       NaN   NaN     NaN

 [20552 rows x 6 columns],
         gender    usertype  subscriber  customer  male  female
 369918       2  Subscriber         NaN       NaN   NaN     NaN
 369919       1  Subscriber         NaN       NaN   NaN     NaN
 369920       1  Subscriber         NaN       NaN   NaN     NaN
 369921       1  Subscriber         NaN       NaN   NaN     NaN
 369922       1  Subscriber         NaN       NaN   NaN     NaN
 ...        ...         ...         ...       ...   ...     ...
 390465       1  Subscriber         NaN       NaN   NaN     NaN
 390466       1  Subscriber         NaN       NaN   NaN     NaN
 390467       2  Subscriber         NaN       NaN   NaN     NaN
 390468       1  Subscriber         NaN       NaN   NaN     NaN
 390469       2  Subscriber         NaN       NaN   NaN     NaN

 [20552 rows x 6 columns],
         gender    usertype  subscriber  customer  male  female
 390469       2  Subscriber         NaN       NaN   NaN     NaN
 390470       0    Customer         NaN       NaN   NaN     NaN
 390471       1  Subscriber         NaN       NaN   NaN     NaN
 390472       1  Subscriber         NaN       NaN   NaN     NaN
 390473       1  Subscriber         NaN       NaN   NaN     NaN
 ...        ...         ...         ...       ...   ...     ...
 411016       1  Subscriber         NaN       NaN   NaN     NaN
 411017       2  Subscriber         NaN       NaN   NaN     NaN
 411018       2  Subscriber         NaN       NaN   NaN     NaN
 411019       1  Subscriber         NaN       NaN   NaN     NaN
 411020       1  Subscriber         NaN       NaN   NaN     NaN

 [20552 rows x 6 columns],
         gender    usertype  subscriber  customer  male  female
 411020       1  Subscriber         NaN       NaN   NaN     NaN
 411021       1  Subscriber         NaN       NaN   NaN     NaN
 411022       1  Subscriber         NaN       NaN   NaN     NaN
 411023       1  Subscriber         NaN       NaN   NaN     NaN
 411024       1  Subscriber         NaN       NaN   NaN     NaN
 ...        ...         ...         ...       ...   ...     ...
 431567       1  Subscriber         NaN       NaN   NaN     NaN
 431568       1  Subscriber         NaN       NaN   NaN     NaN
 431569       1  Subscriber         NaN       NaN   NaN     NaN
 431570       2  Subscriber         NaN       NaN   NaN     NaN
 431571       2    Customer         NaN       NaN   NaN     NaN

 [20552 rows x 6 columns],
         gender    usertype  subscriber  customer  male  female
 431571       2    Customer         NaN       NaN   NaN     NaN
 431572       1  Subscriber         NaN       NaN   NaN     NaN
 431573       1  Subscriber         NaN       NaN   NaN     NaN
 431574       2  Subscriber         NaN       NaN   NaN     NaN
 431575       1  Subscriber         NaN       NaN   NaN     NaN
 ...        ...         ...         ...       ...   ...     ...
 452118       1  Subscriber         NaN       NaN   NaN     NaN
 452119       1  Subscriber         NaN       NaN   NaN     NaN
 452120       1  Subscriber         NaN       NaN   NaN     NaN
 452121       1  Subscriber         NaN       NaN   NaN     NaN
 452122       1  Subscriber         NaN       NaN   NaN     NaN

 [20552 rows x 6 columns],
         gender    usertype  subscriber  customer  male  female
 452122       1  Subscriber         NaN       NaN   NaN     NaN
 452123       1  Subscriber         NaN       NaN   NaN     NaN
 452124       1  Subscriber         NaN       NaN   NaN     NaN
 452125       1  Subscriber         NaN       NaN   NaN     NaN
 452126       1  Subscriber         NaN       NaN   NaN     NaN
 ...        ...         ...         ...       ...   ...     ...
 472669       2  Subscriber         NaN       NaN   NaN     NaN
 472670       1  Subscriber         NaN       NaN   NaN     NaN
 472671       1  Subscriber         NaN       NaN   NaN     NaN
 472672       1  Subscriber         NaN       NaN   NaN     NaN
 472673       1  Subscriber         NaN       NaN   NaN     NaN

 [20552 rows x 6 columns],
         gender    usertype  subscriber  customer  male  female
 472673       1  Subscriber         NaN       NaN   NaN     NaN
 472674       1  Subscriber         NaN       NaN   NaN     NaN
 472675       1  Subscriber         NaN       NaN   NaN     NaN
 472676       1  Subscriber         NaN       NaN   NaN     NaN
 472677       1  Subscriber         NaN       NaN   NaN     NaN
 ...        ...         ...         ...       ...   ...     ...
 493220       2  Subscriber         NaN       NaN   NaN     NaN
 493221       1  Subscriber         NaN       NaN   NaN     NaN
 493222       1  Subscriber         NaN       NaN   NaN     NaN
 493223       1  Subscriber         NaN       NaN   NaN     NaN
 493224       1  Subscriber         NaN       NaN   NaN     NaN

 [20552 rows x 6 columns],
         gender    usertype  subscriber  customer  male  female
 493224       1  Subscriber         NaN       NaN   NaN     NaN
 493225       1  Subscriber         NaN       NaN   NaN     NaN
 493226       1  Subscriber         NaN       NaN   NaN     NaN
 493227       1  Subscriber         NaN       NaN   NaN     NaN
 493228       1  Subscriber         NaN       NaN   NaN     NaN
 ...        ...         ...         ...       ...   ...     ...
 513771       1  Subscriber         NaN       NaN   NaN     NaN
 513772       1  Subscriber         NaN       NaN   NaN     NaN
 513773       2  Subscriber         NaN       NaN   NaN     NaN
 513774       1  Subscriber         NaN       NaN   NaN     NaN
 513775       1  Subscriber         NaN       NaN   NaN     NaN

 [20552 rows x 6 columns],
         gender    usertype  subscriber  customer  male  female
 513775       1  Subscriber         NaN       NaN   NaN     NaN

In [72]:
len(bike_df['gender'])

20551697

In [84]:
# iterate over rows with iterrows()
i = 0
for index, row in gender_subscriber_df.head(100).iterrows():
    i=i+1
    #print(row)
    #print(index)
    #print('usertype', bike_df.loc[index, 'usertype'])
    #print('gender', bike_df.loc[index, 'gender'])
    if row['usertype'] == 'Subscriber':
        gender_subscriber_df.loc[index, 'subscriber'] = 1
        gender_subscriber_df.loc[index, 'customer'] = 0
    elif row['usertype'] == 'Customer':
        gender_subscriber_df.loc[index, 'subscriber'] = 0
        gender_subscriber_df.loc[index, 'customer'] = 1
    else:
        gender_subscriber_df.loc[index, 'subscriber'] = 0
        gender_subscriber_df.loc[index, 'customer'] = 0
        
    if row['gender'] == 1:
        gender_subscriber_df.loc[index, 'male'] = 1
        gender_subscriber_df.loc[index, 'female'] = 0
    elif row['gender'] == 2:
        gender_subscriber_df.loc[index, 'female'] = 1
        gender_subscriber_df.loc[index, 'male'] = 0
    else:
        gender_subscriber_df.loc[index, 'female'] = 0
        gender_subscriber_df.loc[index, 'male'] = 0
        
    if i == 10:
        print('i=', i)
        i = 0
        
    #print('male', bike_df.loc[index, 'male'])
    #print('female', bike_df.loc[index, 'female'])
    #print('subscriber', bike_df.loc[index, 'subscriber'])
    #print('customer', bike_df.loc[index, 'customer'])

C:\Users\thead\anaconda3\lib\site-packages\pandas\core\indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\thead\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

i= 10
i= 10
i= 10
i= 10
i= 10
i= 10
i= 10
i= 10
i= 10
i= 10

In [62]:
bike_df.head(25)

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,...,birth year,gender,date,duration(hr),subscriber,customer,male,female,"(0, subscriber)","(0, customer)"
0,2019-01-01 00:01:47.401,2019-01-01 00:07:07.581,3160,Central Park West & W 76 St,40.778968,-73.973747,3283,W 89 St & Columbus Ave,40.788221,-73.970416,...,1971,1,2019-01-01,0.088889,1,0,0,0,1,0
1,2019-01-01 00:04:43.736,2019-01-01 00:10:00.608,519,Pershing Square North,40.751873,-73.977706,518,E 39 St & 2 Ave,40.747804,-73.973442,...,1964,1,2019-01-01,0.087778,1,0,0,0,1,0
2,2019-01-01 00:06:03.997,2019-01-01 00:15:55.438,3171,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154,E 77 St & 3 Ave,40.773142,-73.958562,...,1987,1,2019-01-01,0.164167,1,0,0,0,1,0
3,2019-01-01 00:07:03.545,2019-01-01 00:52:22.650,504,1 Ave & E 16 St,40.732219,-73.981656,3709,W 15 St & 6 Ave,40.738046,-73.996430,...,1990,1,2019-01-01,0.755278,1,0,0,0,1,0
4,2019-01-01 00:07:35.945,2019-01-01 00:12:39.502,229,Great Jones St,40.727434,-73.993790,503,E 20 St & Park Ave,40.738274,-73.987520,...,1979,1,2019-01-01,0.084167,1,0,0,0,1,0
5,2019-01-01 00:08:33.179,2019-01-01 00:17:28.354,3630,Frederick Douglass Blvd & W 115 St,40.803865,-73.955931,3529,Lenox Ave & W 130 St,40.810792,-73.943068,...,1989,2,2019-01-01,0.148611,1,0,0,1,1,0
6,2019-01-01 00:09:21.006,2019-01-01 00:14:01.151,3675,3 Ave & E 95 St,40.784597,-73.949685,3288,E 88 St & 1 Ave,40.778301,-73.948813,...,1987,1,2019-01-01,0.077778,1,0,0,0,1,0
7,2019-01-01 00:11:22.907,2019-01-01 00:37:10.055,285,Broadway & E 14 St,40.734546,-73.990741,3358,Garfield Pl & 8 Ave,40.671198,-73.974841,...,1981,1,2019-01-01,0.429722,1,0,0,0,1,0
8,2019-01-01 00:12:17.931,2019-01-01 00:17:18.830,3394,Columbia St & W 9 St,40.676999,-74.006471,3398,Smith St & 9 St,40.674696,-73.997858,...,1990,2,2019-01-01,0.083333,1,0,0,1,1,0
9,2019-01-01 00:12:19.603,2019-01-01 00:14:23.104,432,E 7 St & Avenue A,40.726218,-73.983799,3656,E 2 St & Avenue A,40.723077,-73.985836,...,1987,1,2019-01-01,0.034167,1,0,0,0,1,0
10,2019-01-01 00:14:02.797,2019-01-01 00:29:35.045,379,W 31 St & 7 Ave,40.749156,-73.991600,336,Sullivan St & Washington Sq,40.730477,-73.999061,...,1986,1,2019-01-01,0.258889,1,0,0,0,1,0
11,2019-01-01 00:15:09.973,2019-01-01 00:18:39.011,438,St Marks Pl & 1 Ave,40.727791,-73.985649,301,E 2 St & Avenue B,40.722174,-73.983688,...,1998,2,2019-01-01,0.058056,1,0,0,1,1,0
12,2019-01-01 00:15:12.889,2019-01-01 00:31:29.145,3452,Bayard St & Leonard St,40.719156,-73.948854,251,Mott St & Prince St,40.723180,-73.994800,...,1994,1,2019-01-01,0.271111,1,0,0,0,1,0
13,2019-01-01 00:15:40.014,2019-01-01 00:17:17.312,3430,Richardson St & N Henry St,40.719079,-73.942237,3095,Graham Ave & Herbert St,40.719293,-73.945004,...,1988,1,2019-01-01,0.026944,1,0,0,0,1,0
14,2019-01-01 00:16:22.948,2019-01-01 00:24:10.543,507,E 25 St & 2 Ave,40.739126,-73.979738,492,W 33 St & 7 Ave,40.750200,-73.990931,...,1989,1,2019-01-01,0.129722,1,0,0,0,1,0
15,2019-01-01 00:17:28.982,2019-01-01 00:23:17.608,3095,Graham Ave & Herbert St,40.719293,-73.945004,3101,N 12 St & Bedford Ave,40.720798,-73.954847,...,1988,1,2019-01-01,0.096667,1,0,0,0,1,0
16,2019-01-01 00:18:45.118,2019-01-01 00:27:10.599,3132,E 59 St & Madison Ave,40.763505,-73.971092,359,E 47 St & Park Ave,40.755103,-73.974987,...,1981,1,2019-01-01,0.140278,1,0,0,0,1,0
17,2019-01-01 00:18:57.564,2019-01-01 01:17:11.570,3171,Amsterdam Ave & W 82 St,40.785247,-73.976673,3164,Columbus Ave & W 72 St,40.777057,-73.978985,...,1954,1,2019-01-01,0.970556,1,0,0,0,1,0
18,2019-01-01 00:19:08.103,2019-01-01 00:32:57.388,3165,Central Park West & W 72 St,40.775794,-73.976206,3295,Central Park W & W 96 St,40.791270,-73.964839,...,1969,0,2019-01-01,0.230278,1,0,0,0,1,0
19,2019-01-01 00:21:00.632,2019-01-01 00:28:31.945,403,E 2 St & 2 Ave,40.725029,-73.990697,545,E 23 St & 1 Ave,40.736502,-73.978095,...,1985,1,2019-01-01,0.125278,1,0,0,0,1,0
20,2019-01-01 00:21:02.957,2019-01-01 00:33:19.411,3165,Central Park West & W 72 St,40.775794,-73.976206,3295,Central Park W & W 96 St,40.791270,-73.964839,...,1989,2,2019-01-01,0.204444,0,1,0,1,1,0
21,2019-01-01 00:21:25.840,2019-01-01 00:31:42.992,3159,W 67 St & Broadway,40.774925,-73.982666,3142,1 Ave & E 62 St,40.761227,-73.960940,...,1998,1,2019-01-01,0.171389,1,0,0,0,1,0
22,2019-01-01 00:21:42.748,2019-01-01 00:30:40.441,3231,E 67 St & Park Ave,40.767801,-73.965921,519,Pershing Square North,40.751873,-73.977706,...,1996,1,2019-01-01,0.149167,1,0,0,0,1,0
23,2019-01-01 00:23:26.472,2019-01-01 00:29:43.634,435,W 21 St & 6 Ave,40.741740,-73.994156,509,9 Ave & W 22 St,40.745497,-74.001971,...,1968,2,2019-01-01,0.104722,1,0,0,1,1,0
24,2019-01-01 00:24:10.907,2019-01-01 00:34:54.295,484,W 44 St & 5 Ave,40.755003,-73.980144,484,W 44 St & 5 Ave,40.755003,-73.980144,...,1975,1,2019-01-01,0.178611,1,0,0,0,1,0

In [53]:
bike_df.columns

Index([              'starttime',                'stoptime',
              'start station id',      'start station name',
        'start station latitude', 'start station longitude',
                'end station id',        'end station name',
          'end station latitude',   'end station longitude',
                        'bikeid',                'usertype',
                    'birth year',                  'gender',
                          'date',            'duration(hr)',
                    'subscriber',                'customer',
                          'male',                  'female',
               (0, 'subscriber'),           (0, 'customer')],
      dtype='object')

In [76]:
bike_df.drop(columns = [(0, 'subscriber')])

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,...,usertype,birth year,gender,date,duration(hr),subscriber,customer,male,female,"(0, customer)"
0,2019-01-01 00:01:47.401,2019-01-01 00:07:07.581,3160,Central Park West & W 76 St,40.778968,-73.973747,3283,W 89 St & Columbus Ave,40.788221,-73.970416,...,Subscriber,1971,1,2019-01-01,0.088889,1,0,1,0,0
1,2019-01-01 00:04:43.736,2019-01-01 00:10:00.608,519,Pershing Square North,40.751873,-73.977706,518,E 39 St & 2 Ave,40.747804,-73.973442,...,Subscriber,1964,1,2019-01-01,0.087778,1,0,1,0,0
2,2019-01-01 00:06:03.997,2019-01-01 00:15:55.438,3171,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154,E 77 St & 3 Ave,40.773142,-73.958562,...,Subscriber,1987,1,2019-01-01,0.164167,1,0,1,0,0
3,2019-01-01 00:07:03.545,2019-01-01 00:52:22.650,504,1 Ave & E 16 St,40.732219,-73.981656,3709,W 15 St & 6 Ave,40.738046,-73.996430,...,Subscriber,1990,1,2019-01-01,0.755278,1,0,1,0,0
4,2019-01-01 00:07:35.945,2019-01-01 00:12:39.502,229,Great Jones St,40.727434,-73.993790,503,E 20 St & Park Ave,40.738274,-73.987520,...,Subscriber,1979,1,2019-01-01,0.084167,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20551692,2019-12-31 23:58:18.016,2019-12-31 23:59:51.636,3141,1 Ave & E 68 St,40.765005,-73.958185,3142,1 Ave & E 62 St,40.761227,-73.960940,...,Subscriber,1985,2,2019-12-31,0.025833,0,0,0,0,0
20551693,2019-12-31 23:58:59.896,2020-01-01 00:12:06.346,490,8 Ave & W 33 St,40.751551,-73.993934,513,W 56 St & 10 Ave,40.768254,-73.988639,...,Subscriber,1991,1,2019-12-31,0.218333,0,0,0,0,0
20551694,2019-12-31 23:59:03.695,2020-01-01 00:04:54.873,3349,Grand Army Plaza & Plaza St West,40.672968,-73.970880,3368,5 Ave & 3 St,40.672816,-73.983524,...,Subscriber,1935,2,2019-12-31,0.097500,0,0,0,0,0
20551695,2019-12-31 23:59:21.361,2020-01-01 00:25:32.942,252,MacDougal St & Washington Sq,40.732264,-73.998522,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,...,Subscriber,1980,1,2019-12-31,0.436389,0,0,0,0,0
20551696,2019-12-31 23:59:55.296,2020-01-01 00:05:05.727,3351,E 102 St & 1 Ave,40.786995,-73.941648,3379,E 103 St & Lexington Ave,40.790305,-73.947558,...,Subscriber,1969,0,2019-12-31,0.086111,0,0,0,0,0

In [77]:
bike_df.drop(columns = [(0, 'customer')])

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,...,usertype,birth year,gender,date,duration(hr),subscriber,customer,male,female,"(0, subscriber)"
0,2019-01-01 00:01:47.401,2019-01-01 00:07:07.581,3160,Central Park West & W 76 St,40.778968,-73.973747,3283,W 89 St & Columbus Ave,40.788221,-73.970416,...,Subscriber,1971,1,2019-01-01,0.088889,1,0,1,0,1
1,2019-01-01 00:04:43.736,2019-01-01 00:10:00.608,519,Pershing Square North,40.751873,-73.977706,518,E 39 St & 2 Ave,40.747804,-73.973442,...,Subscriber,1964,1,2019-01-01,0.087778,1,0,1,0,1
2,2019-01-01 00:06:03.997,2019-01-01 00:15:55.438,3171,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154,E 77 St & 3 Ave,40.773142,-73.958562,...,Subscriber,1987,1,2019-01-01,0.164167,1,0,1,0,1
3,2019-01-01 00:07:03.545,2019-01-01 00:52:22.650,504,1 Ave & E 16 St,40.732219,-73.981656,3709,W 15 St & 6 Ave,40.738046,-73.996430,...,Subscriber,1990,1,2019-01-01,0.755278,1,0,1,0,1
4,2019-01-01 00:07:35.945,2019-01-01 00:12:39.502,229,Great Jones St,40.727434,-73.993790,503,E 20 St & Park Ave,40.738274,-73.987520,...,Subscriber,1979,1,2019-01-01,0.084167,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20551692,2019-12-31 23:58:18.016,2019-12-31 23:59:51.636,3141,1 Ave & E 68 St,40.765005,-73.958185,3142,1 Ave & E 62 St,40.761227,-73.960940,...,Subscriber,1985,2,2019-12-31,0.025833,0,0,0,0,1
20551693,2019-12-31 23:58:59.896,2020-01-01 00:12:06.346,490,8 Ave & W 33 St,40.751551,-73.993934,513,W 56 St & 10 Ave,40.768254,-73.988639,...,Subscriber,1991,1,2019-12-31,0.218333,0,0,0,0,1
20551694,2019-12-31 23:59:03.695,2020-01-01 00:04:54.873,3349,Grand Army Plaza & Plaza St West,40.672968,-73.970880,3368,5 Ave & 3 St,40.672816,-73.983524,...,Subscriber,1935,2,2019-12-31,0.097500,0,0,0,0,1
20551695,2019-12-31 23:59:21.361,2020-01-01 00:25:32.942,252,MacDougal St & Washington Sq,40.732264,-73.998522,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,...,Subscriber,1980,1,2019-12-31,0.436389,0,0,0,0,1
20551696,2019-12-31 23:59:55.296,2020-01-01 00:05:05.727,3351,E 102 St & 1 Ave,40.786995,-73.941648,3379,E 103 St & Lexington Ave,40.790305,-73.947558,...,Subscriber,1969,0,2019-12-31,0.086111,0,0,0,0,1